<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">
            <div class="col-sm-3">
              <app-busidebar></app-busidebar>     
            </div>
            <div class="col-sm-9">
                    <div class="dashboard-page-content"> 
     
                            <div class="animated fadeIn">
    
                                    <form #f="ngForm" action=""></form>
                                    <div class="card">
                                        <div class="card-header">
                                          <i class="nav-icon icon-note"></i> Blogs
                                          <div class="card-head-right-block">
                                                 <div class="input-group">
                                                    <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
                                                    <span class="input-group-prepend">
                                                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div> 
                                          </div>
                                        </div>
                                
                                        <div class="card-body">
                                            <button  (click)="Adblog()" class="btn edit-btn" > + Add New Blog</button>
                                            <button [routerLink]="['/blog']" class="btn btn-sm btn-primary" style="float:right" title="Approved Blogs"><i class="fa fa-info-circle" aria-hidden="true"></i> View on Website </button>
                                            <br><br>
                                            <div class="table-responsive">
                                              <div class="table-box">
                                                <table class="table table-bordered table-striped table-sm">
                                                  <thead>
                                                    <tr>
                                
                                          
                                              
                                                      <!--<th style="width:10%">Blog Image</th>-->
                                
                                                      <th style="width:30%" [class.active]="order === 'title'"
                                                          (click)="setOrder('title')"
                                                      >
                                                        Title <span class="sort-icon" [hidden]="reverse">▼</span>
                                                        <span class="sort-icon" [hidden]="!reverse">▲</span> 
                                                      </th>
                                                      <th style="width:10%" [class.active]="order === 'isVisible'"
                                                      (click)="setOrder('isVisible')">
                                                       Status <span class="sort-icon" [hidden]="reverse">▼</span>
                                                       <span class="sort-icon" [hidden]="!reverse">▲</span>
                                                      </th>
                                               <!-- <th [class.active]="order === 'info.description'"
                                                          (click)="setOrder('info.description')"
                                                      >
                                                      Description <span class="sort-icon" [hidden]="reverse">▼</span>
                                                        <span class="sort-icon" [hidden]="!reverse">▲</span>
                                                      </th> -->
                                
                                                      <!-- <th>Created By <span class="caret"></span></th> -->
                                                      <!-- <th>Status <span class="caret"></span></th> -->
                                                      <th style="width:10%" [class.active]="order === 'createdDate'"
                                                          (click)="setOrder('createdDate')">
                                                      Posted On <span class="sort-icon" [hidden]="reverse">▼</span>
                                                      <span class="sort-icon" [hidden]="!reverse">▲</span> 
                                                      </th>
                                                      <th style="width:10%" [class.active]="order === 'validFromDate'"
                                                      (click)="setOrder('validFromDate')"
                                                      class="mdl-data-table__cell--non-numeric"
                                                  >
                                                  Valid From<span class="sort-icon" [hidden]="reverse">▼</span
                                                    ><span class="sort-icon" [hidden]="!reverse">▲</span>
                                                  </th>
                                                  <th style="width:10%" [class.active]="order === 'validTillDate'"
                                                      (click)="setOrder('validTillDate')"
                                                      class="mdl-data-table__cell--non-numeric"
                                                  >
                                                  Valid Till<span class="sort-icon" [hidden]="reverse">▼</span
                                                    ><span class="sort-icon" [hidden]="!reverse">▲</span>
                                                  </th>
                                             
                                                     
                                                      <!-- <th style="width:10%">Status <span class="caret"></span></th>  -->
                                                      <!-- <th>Posted On <span class="caret"></span></th> -->
                                                      <th style="width:10%">Action</th>
                                
                                                    </tr>
                                                  </thead>
                                                  <tbody>


                                                    <tr *ngFor="let manageblog of manageblogs | filter:filter |orderBy: order:reverse:'case-insensitive'   |  paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                                                      <!-- <td><button  (click)="gotoBlogDetails(manageblog)" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>{{manageblog.blogId}}</td> -->
                                                      <!-- <td>{{manageblog.blogId}}</td> -->
                                                      <!-- <td>{{manageblog.imageUrl}}</td>  -->
                                                      <!--<td>
      <a [routerLink]="['/bublogdetailsview']" [queryParams]="{id:manageblog.blogId}" queryParamsHandling="merge" class="ad-btn" style="cursor:pointer;float:left;width:100%" >
          <img title="View Details" [src]="getPicUrl(manageblog.imageUrl,manageblog.blogId)" class="img-responsive ad-logo-img" height="50" width="50" />
      </a>
    </td>-->
                                                      <td style="padding:0;">
                                                        <a class="topic-title" [routerLink]="['/bublogdetailsview']" [queryParams]="{id:manageblog.blogId}" queryParamsHandling="merge">{{manageblog.title}}</a>
                                                      </td>
                                                      <!--<td>{{manageblog.title}}</td>-->
                                                      <td>
                                                        <div [ngClass]="getStatus(manageblog.status)">
                                                          <span>{{statusText}}</span>
                                                        </div>

                                                        <br>

                                                      </td>
                                                      <td>{{manageblog.createdDate| date:'dd-MMM-yyyy'}}</td>
                                                      <td>{{manageblog.validFromDate| date:'dd-MMM-yyyy'}}</td>
                                                      <td>{{manageblog.validTillDate| date:'dd-MMM-yyyy'}}</td>


                                                      <td>
                                                        <button (click)="bublogDetailsView(manageblog.blogId)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                        <button class="btn edit-btn" (click)="updateBlog(manageblog)" href="" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o"></i></button>
                                                        <button class="btn delete-btn" (click)="onDelete(manageblog.blogId,$event)" data-toggle="modal" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash"></i></button>
                                                      </td>
                                                      <!-- <td><button  data-toggle="modal" (click)="ActionOnApprove(manageblog.blogId,$event)" class="btn btn-outline-success" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Approve</button></td>
    <td><button  data-toggle="modal" (click)="ActionOnReject(manageblog.blogId,$event)" class="btn btn-outline-danger"  data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Reject</button></td>
      -->
                                                    </tr>

                                                    <tr *ngIf="manageblogs && manageblogs.length == 0">
                                                      <td colspan="9">No Blogs found!</td>
                                                    </tr>
                                                    <div class="modal fade custom-modal" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-body">
                                                            <div class="form-group">
                                                              <label class="col-form-label" for="remark">Remark</label>
                                                              <textarea class="form-control" id="remark" [(ngModel)]="remark" name="remark" placeholder="" type="text" rows="4"></textarea>
                                                            </div>
                                                            <button type="submit" (click)="ActionOnPost(remark)" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Save</button>
                                                            <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-body">
                                                            <div class="row">
                                                              <div class="col-md-12">
                                                                <div class="form-group">
                                                                  <label class="col-form-label" for="remark">{{actionmessage}}</label>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                                                            <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </tbody>
                                              </table>
                                                  </div>
                                                     <div class="col-md-offset-5" style="text-align:right">
                                                      <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
                                                         <option [ngValue]="10">10 items per page</option>
                                                         <option [ngValue]="20">20 items per page</option>
                                                         <option [ngValue]="30">30 items per page</option>
                                                      </select>
                                
                                                      <div class="" style="margin-top: -3%; text-align:left">
                                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                                      </div>
                                                    </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                


                        
                </div>                    
            </div>
               </div>
               </div>                   
</section>	

<app-mainfooter></app-mainfooter>
