<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">

    <div class="category-bottom-section">
        <div class="row row-stretch">
          <!-- <div class="col-sm-3">
            <app-popular-category></app-popular-category>
            <div class="popular-categories">
              <h2 class="main-title">{{ 'HOME.POPULARCATEGORIES' | translate }}</h2>
              <div class="">
                <nav class="navbar">
                  <div class="collapse navbar-collapse" id="popular-category-list">
                    <ul class="nav navbar-nav category-list" *ngFor="let Category of categories">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="getSubCategoryList(Category.categoryId,Category.categoryName)">{{Category.categoryName}}</a>
                        <ul class="dropdown-menu">
                          <li *ngFor="let SubCategory of Subcategories">
                            <a href="#" [routerLink]="['/ads-subcategorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubCategory:SubCategory.subCategoryName}"  queryParamsHandling="merge">{{SubCategory.subCategoryName}}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div> -->

          <div class="col-sm-8">
            <div class="page-content">
              <input type="hidden" formControlName="mailfor" placeholder="mailfor" name="mailfor" class="form-control" id="mailfor">

              <h2 class="main-title">
                {{adpost.Title}}<br>
                    <span><i class="fa fa-calendar"></i> {{ 'HOME.POSTEDON' | translate }} {{adpost.CreatedDate| date:'dd-MMM-yyyy'}}</span> 
                    <span class="detail-text"> Category : {{navigateTo}}</span>
                    <span class="detail-text" *ngIf="subCatName!='' && subCatName!=null"> Sub Category : {{subCatName}}</span>
              </h2>
              <!--Reply for Jobs-->
              <div [ngClass]="showRreplyButton">
                <button data-toggle="modal" data-target="#reply" id="btnReply" class="btn edit-btn"><i class="fa fa-reply"></i> {{ 'HOME.REPLY' | translate }}</button>
              </div>
              <div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{adpost.Title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <div class="contact-form">
                        <form [formGroup]="JobContactForm" action="">
                          <div class="row">
                            <!--<div class="col-sm-12">
                    <div class="form-group">

                      <input type="text" formControlName="reason" name="reason" value="{{adpost.Title}}" disabled="true">
                    </div>
                  </div>-->
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" formControlName="Name" name="Name" placeholder="{{ 'CONTACTUS.NAME' | translate }}" [ngClass]="{ 'is-invalid': submitted && JobContactForm.controls.Name.errors}">
                                <div *ngIf="submitted &amp;&amp; JobContactForm.controls.Name.errors" class="text-danger">
                                  <div *ngIf="JobContactForm.controls.Name.errors.required">Name is Required</div>
                                  <!-- <div *ngIf="JobContactForm.controls.Name.errors.pattern">Enter text only</div> -->
                                </div>
                              </div>
                            </div>


                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="text" formControlName="Phone" name="Phone" placeholder="{{ 'CONTACTUS.PHONE' | translate }}" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && JobContactForm.controls.Phone.errors}">
                                <div *ngIf="submitted &amp;&amp; JobContactForm.controls.Phone.errors" class="text-danger">
                                  <div *ngIf="JobContactForm.controls.Phone.errors.required">Contact Number is Required</div>
                                  <div *ngIf="JobContactForm.controls.Phone.errors.minlength">Please Enter minimum 10 Numbers</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <input type="email" formControlName="Email" name="Email" placeholder="{{ 'CONTACTUS.EMAIL' | translate }}" [ngClass]="{ 'is-invalid': submitted && JobContactForm.controls.Email.errors}">
                                <div *ngIf="submitted &amp;&amp; JobContactForm.controls.Email.errors" class="text-danger">
                                  <div *ngIf="JobContactForm.controls.Email.errors.required">Email Id is Required</div>
                                  <div *ngIf="JobContactForm.controls.Email.errors.pattern">Enter Valid Format of Email</div>
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-12">
                              <div class="form-group">
                                <textarea rows="4" formControlName="Comments" name="Comments" placeholder="{{ 'CONTACTUS.DESCRIPTION' | translate }} *" [ngClass]="{ 'is-invalid': submitted && JobContactForm.controls.Comments.errors}"></textarea>
                                <div *ngIf="submitted &amp;&amp; JobContactForm.controls.Comments.errors" class="text-danger">
                                  <div *ngIf="JobContactForm.controls.Comments.errors.required">Description is Required</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <app-fileupload class="" (onuploadFinishedFile)="uploadFinishedFile($event)"></app-fileupload>
                                <input type="hidden" formControlName="fileUrl" placeholder="fileUrl" name="fileUrl" class="form-control" id="fileUrl">

                              </div>
                            </div>
                          </div>
                          <button type="submit" (click)="Submit()" class="contact-submit"><i class="fa fa-check"></i> {{ 'CONTACTUS.SUBMIT' | translate }}</button>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
<div class="ad-img-banner">
  <ngx-slick [ngClasss]="bannerSlickcss" #slickModal="slick-modal" [config]="bannerConfig">
    <div ngxSlickItem *ngFor="let imageurl of imageurls;let i=index" [ngClass]="showImage">
      <img [src]="imageurl" class="img-fluid img-100" style="width:100%; height:28vw; object-fit: cover;">
    </div>
  </ngx-slick>
</div>
              
              <br />
              <div class="col-sm-4" *ngIf ="jobhidden" [ngClass]="showServiceOfferd">
                <div class="form-group">
                  <label class="col-form-label" for="Title"><strong>{{'ADDETAILS.POSITIONOFFERED'| translate}}</strong> {{ adpost.ServicesOffered}}</label>
                </div>
              </div>
              <div class="col-sm-4" *ngIf ="jobhidden" [ngClass]="showtagline">
                <div class="form-group">
                  <label class="col-form-label" for="Title"><strong>{{'ADDETAILS.COMPANYNAME'| translate}} </strong> {{ adpost.TagLine}}</label>
                </div>
              </div>
              <div class="col-sm-4" *ngIf ="adhidden" [ngClass]="showServiceOfferd">
                <div class="form-group">
                  <label class="col-form-label" for="Title"><strong>{{'ADDETAILS.SERVICESOFFERED'| translate}}  </strong> {{ adpost.ServicesOffered}}</label>
                </div>
              </div>
              <div class="col-sm-4" *ngIf ="adhidden" [ngClass]="showtagline">
                <div class="form-group">
                  <label class="col-form-label" for="Title"><strong>{{'ADDETAILS.TAGLINE'| translate}}  </strong> {{adpost.TagLine}}</label>
                </div>
              </div>
              <br/>
              <div class="col-sm-12" [ngClass]="showDescription">
                <strong> <label> {{'JOB.DESCRIPTION'| translate}} : </label></strong>
                 <div class="description-box" [ngClass]="readmore ? 'read-all' : 'read-less'">
                   <p>
                     <!--{{adpost.Description}}-->
                     <span [innerHTML]="description"> </span>
                   </p>
                </div>
                <p class="read-more" (click)="readMore()" [ngClass]="readmore ? 'read-all' : 'read-less'">{{'ADDETAILS.READ'| translate}} </p>
              </div>
              <br />
              
            </div>
            <div class="ribbon ribbon-top-right" *ngIf=PremiumtagAd><span>{{ 'BANNERLIST.PREMIUM' | translate }}</span></div>
          </div>  

            <div class="col-sm-4">
              <div class="page-content contact-deail-block">
                <!--<h3><button class="add-btn" (click)="btnPostNew()">+ {{ 'BANNERLIST.POSTNEW' | translate }}</button> </h3>-->
                <div *ngIf="businessButton">
                  <h3><button class="add-btn" (click)="btnPostNew()">{{ 'ADDETAILS.POSTNEWBUSINESS' | translate }}</button> </h3>
                </div>
                <div *ngIf="jobsButton">
                  <h3><button class="add-btn" (click)="btnPostNew()">{{ 'ADDETAILS.POSTNEWJOBS' | translate }}</button> </h3>
                </div>
                <br>
                <br>

                <h3 class="sub-title">{{'ADDETAILS.CONTACTDETAILS'| translate}} </h3>
                <ul class="ad-address">
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i>{{'ADDETAILS.PHONENUMBER'| translate}} </span>{{adpost.ContactNumber}}</li>
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'ADDETAILS.ALTERNATECONTACTNUMBER'| translate}} </span>{{adpost.AlternateContactNumber}}</li>
                  <!--<li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'ADDETAILS.EMAILID'| translate}} </span>{{adpost.Email}}</li>-->
                  <li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'ADDETAILS.EMAILID'| translate}} </span><u><a [href]="mailto" style="color:#1a73e8;"> {{adpost.Email}}</a></u></li>
                  <li><span><i class="fa fa-fax" aria-hidden="true"></i> {{'ADDETAILS.FAXNUMBER'| translate}}</span>{{adpost.FaxNumber}}</li>
                  <li><span><i class="fa fa-globe" aria-hidden="true"></i> {{'ADDETAILS.WEBSITE'| translate}}</span> {{adpost.Website}}</li>
                  <li><span><i class="fa fa-eye" aria-hidden="true"></i> {{'ADDETAILS.VIEWED'| translate}}</span> {{adpost.visitorCount}} {{ 'HOME.TIMES' | translate }}</li>
                 
                
                </ul>
                <h3 class="sub-title">{{'ADDETAILS.ADDRESS'| translate}}</h3>
                <div class="address-logo">
                  <div *ngFor="let logourl of logourls;let i=index" [ngClass]="showLogo">
                    <img [src]="logourl" class="img-responsive ad-logo" height="100" width="100" />
                  </div>
                  <div *ngIf=showAddress>
                    <p>
                      {{adpost.AddressStreet1 +" " + adpost.AddressStreet2}}<br>{{adpost.CityName}} {{adpost.StateName}} USA<br>
                      {{'ADDETAILS.ZIPCODE'| translate}} {{adpost.ZipCode}}
                    </p>
                  </div>
                </div>
                <br />
                <div *ngIf=showMap>
                  <!--<app-gmap [addressforMap]="addressforMap" ></app-gmap>-->
                  <div id="map" style="width:100%;height:400px;"></div>
                </div>

              </div>          
            </div>          
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
