/* Commom css */
.card-head-right-block {
  float: right;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e4e7ea;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 10px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: #c8ced3;
  float: right;
}

.list-profile-pic {
  max-width: 20px;
  border: 1px solid #c8ced3;
}

.category-icon {
  max-width: 30px;
  margin-right: 20px;
}

.form-bg-section {
  border: 1px solid #e4e7ea;
  border-radius: 2px;
  padding: 20px 0;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
}

.card-body .form-bg-section:last-child {
  margin-bottom: 0;
}

.form-bg-title {
  position: absolute;
  top: -18px;
  left: 18px;
  background: #f5f5f5;
  padding: 5px 10px;
}

.profile-pic {
  max-width: 150px;
  margin-right: 20px;
}
