<div class="animated fadeIn">


  <form [formGroup]="FormUserAdd"  autocomplete="off">
    <div class="hidden">
      <input type="hidden" placeholder="userId" name="userId" class="form-control" id="userId">
    </div>
    <div class="card">
      <div class="card-header" #AddUser><i class="fa fa-user-plus"></i> {{AddUserText}}</div>
      <input type="hidden" formControlName="userId" placeholder="userId" name="userId" class="form-control" id="userId">
      <input type="hidden" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
      <div class="card-body">
        <div class="table-responsive">
          <div class="form-bg-section">

            <span class="form-bg-title"><b>Primary Details</b></span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="FirstName">First Name<span class ="asterisk">*</span></label>
                    <input class="form-control" id="FirstName" formControlName="firstName" name="FirstName" placeholder="" type="text" maxlength="15" minlength="2" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="text-danger">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      <!-- <div *ngIf="f.firstName.errors.pattern">Enter text only</div> -->
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="LastName">Last Name<span class ="asterisk">*</span></label>
                    <input class="form-control" formControlName="lastName" id="LastName" name="LastName" placeholder="" type="text" maxlength="15" minlength="2" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="text-danger">
                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      <!-- <div *ngIf="f.lastName.errors.pattern">Enter text only</div> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="roleName">User Type<span class ="asterisk">*</span></label>
                    <select class="form-control" formControlName="roleName" id="roleName" name="roleName" [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }">
                      <option value="">--Select User Type--</option>
                      <option *ngFor="let role of _allUserRole | async" [value]="role.roleName">{{role.roleName}}</option>
                    </select>
                    <div *ngIf="submitted && f.roleName.errors" class="text-danger">
                      <div *ngIf="f.roleName.errors.required">Selection of User is Required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Gender">Gender<span class ="asterisk">*</span></label><br>
                    <div class="form-check mr-1" id="Gender">
                      <div class="row">
                        <div class="col-sm-6">
                          <input  formControlName="gender" id="Male" type="radio" value="1" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                          <label class="form-check-label" for="Male">Male</label>
                        </div>
                        <div class="col-sm-6">
                          <input  formControlName="gender" id="Female" type="radio" value="2" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                          <label class="form-check-label" for="Female">Female</label>
                        </div>
                        <div *ngIf="submitted && f.gender.errors" class="text-danger">
                          <div *ngIf="f.gender.errors.required">Gender is Required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-bg-section">
            <span class="form-bg-title"><b>Contact Details</b></span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <label class="col-form-label" for="countryCodeContact">Country Code <span class="asterisk"></span></label><br>

                        <ng-select [items]="countrycode"
                                   bindLabel="name"
                                   bindValue="countryCodeContact"
                                   placeholder=""
                                   class="form-control" id="countryCodeContact" formControlName="countryCodeContact" name="countryCodeContact">
                          <span class="ng-arrow-zone">
                            <span class="ng-arrow"></span>
                          </span>
                        </ng-select>
                        <div *ngIf="submitted && f.countryCodeContact.errors" class="text-danger">
                          <div *ngIf="f.countryCodeContact.errors.required">Country Code is required</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label class="col-form-label" for="ContactNumber">Contact Number <span class="asterisk">*</span></label>
                        <input class="form-control" id="ContactNumber" formControlName="contactNumber" name="ContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                        <div *ngIf="submitted && f.contactNumber.errors" class="text-danger">
                          <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                          <div *ngIf="f.contactNumber.errors.minlength">Please Enter minimum 10 Numbers</div>
                          <!-- <div *ngIf="f.contactNumber.errors.pattern"> Please Enter numbers only</div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="ContactNumber">Contact Number<span class="asterisk">*</span></label>
                <input class="form-control" formControlName="contactNumber" id="contactNumber" name="contactNumber" placeholder="" type="text" maxlength="10" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                <div *ngIf="submitted && f.contactNumber.errors" class="text-danger">
                  <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                  <div *ngIf="f.contactNumber.errors.pattern"> Please Enter numbers only</div>
                </div>
              </div>
            </div> -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="alternateContactNumber">Alternate Contact Number</label>
                    <input class="form-control" formControlName="alternateContactNumber" id="alternateContactNumber" name="alternateContactNumber" placeholder="" type="text" maxlength="12" minlength="10">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Email">Email Id<span class ="asterisk">*</span></label>
                    <input class="form-control" formControlName="email" id="email" name="email" placeholder="" type="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="text-danger">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.pattern">Enter Valid Format of Email</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="FaxNumber">Fax Number</label>
                    <input class="form-control" formControlName="faxNumber" id="FaxNumber" name="FaxNumber" placeholder="" type="text" maxlength="12" minlength="10">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-bg-section">
            <span class="form-bg-title"><b>Address Details</b></span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="AddressStreet1">Street 1<span class ="asterisk"></span></label>
                    <input class="form-control" formControlName="addressStreet1" id="addressStreet1" name="addressStreet1" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && f.addressStreet1.errors }">
                    <!-- <div *ngIf="submitted && f.addressStreet1.errors" class="text-danger">
                  <div *ngIf="f.addressStreet1.errors.required">Address Street1 is required</div>
                </div> -->
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="AddressStreet2">Street 2<span class ="asterisk"></span></label>
                    <input class="form-control" formControlName="addressStreet2" id="AddressStreet2" name="AddressStreet2" placeholder="" type="text" >
                    <!-- <div *ngIf="submitted && f.addressStreet2.errors" class="invalid-feedback">
                  <div *ngIf="f.addressStreet2.errors.required">Address Street 2 is required</div>
                </div> -->
                  </div>


                </div>
                       <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="ZipCode">Zip Code<span class ="asterisk"></span></label>
                    <input class="form-control" formControlName="zipCode" id="ZipCode" name="ZipCode" placeholder="" type="text" maxlength="6" minlength="5" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }">
                    <!-- <div *ngIf="submitted && f.zipCode.errors" class="text-danger">
                  <div *ngIf="f.zipCode.errors.required">ZipCode is required</div>
                  <div *ngIf="f.zipCode.errors.pattern">Enter Number only</div>
                </div> -->
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="CountryId">Country<span class ="asterisk"></span></label><br>
                    <select class="form-control" formControlName="countryId" id="countryId" name="countryId" (change)="FillStateDDL($event);" [ngClass]="{ 'is-invalid': submitted && f.countryId.errors }">
                      <option value="">--Select Country--</option>
                      <option *ngFor="let ctry of _allCountry | async" [value]="ctry.countryId">{{ctry.countryName}}</option>
                    </select>
                    <!-- <div *ngIf="submitted && f.countryId.errors" class="text-danger">
                  <div *ngIf="f.countryId.errors.required">Country is required</div>
                </div> -->
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="StateId">State<span class ="asterisk"></span></label><br>
                    <ng-select [items]="states"
                               bindLabel="stateName"
                               bindValue="stateId"
                               placeholder=""
                               class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);" [ngClass]="{ 'is-invalid': submitted && f.stateId.errors }">
                    </ng-select>
                    <!--<select class="form-control" formControlName="stateId" id="StateId" name="stateId" (change)="FillCityDDL($event);" [ngClass]="{ 'is-invalid': submitted && f.stateId.errors }">
    <option value="">--Select State--</option>
    <option *ngFor="let state of _allState | async" [value]="state.stateId">{{state.stateName}}</option>
  </select>-->
                    <!-- <div *ngIf="submitted && f.stateId.errors" class="text-danger">
    <div *ngIf="f.stateId.errors.required">State is required</div>
  </div> -->
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="cityId">City<span class ="asterisk"></span></label><br>
                    <ng-select [items]="cities"
                               bindLabel="cityName"
                               bindValue="cityId"
                               placeholder=""
                               class="form-control" id="CityId" formControlName="cityId" name="cityId" (change)="FillCityName($event);"[ngClass]="{ 'is-invalid': submitted && f.cityId.errors }">

                      <span class="ng-arrow-zone">
                        <span class="ng-arrow"></span>
                      </span>
                    </ng-select>
                    <!--<select class="form-control" formControlName="cityId" id="cityId" name="cityId" [ngClass]="{ 'is-invalid': submitted && f.cityId.errors }">
    <option value="">--Select City--</option>
    <option *ngFor="let City of _allCity | async" [value]="City.cityId">{{City.cityName}}</option>
  </select>-->
                    <!-- <div *ngIf="submitted && f.cityId.errors" class="text-danger">
    <div *ngIf="f.cityId.errors.required">City is required</div>
  </div> -->
                  </div>
                </div>
         
              </div>
            </div>
          </div>
          <div class="form-bg-section">
            <span class="form-bg-title"><b>Comment</b></span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <!-- <label class="col-form-label" for="description">Comment</label> -->
                    <textarea class="form-control" formControlName="description" id="description" name="description" placeholder="" type="textarea" rows="4"></textarea>
                  </div>
                </div>

              </div>
            </div>


          </div>
          <!-- <div class="form-bg-section" formGroupName="LoginDetailsDTO">
        <span class="form-bg-title"><b>Login Details</b></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="Email">Email Id<span class="asterisk">*</span></label>
                <input class="form-control" formControlName="email" id="email" name="email" placeholder="" type="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="text-danger">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.pattern">Enter Valid Format of Email</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="description">Password</label>
                <input class="form-control" formControlName="password" id="password" name="password" placeholder="" type="passord" >
              </div>
            </div>

          </div>
        </div>


      </div> -->
          <!-- Existing Images section on Edit action -->
          <div class="form-bg-section">
            <span class="form-bg-title">Upload Profile Picture</span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div [ngClass]="displayNewLogo" #dvNewupload>

                    <theme-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></theme-upload>
                    <input type="hidden" formControlName="profilePicUrl" placeholder="profilePicUrl" name="profilePicUrl" class="form-control" id="profilePicUrl">
                  </div>
                  <div [ngClass]="displayExtLogo" #dvExtLogo>
                    <div class="form-group">
                      <div *ngFor="let extLogoUrl of extLogoUrls;let i=index">
                        <div style="float:left;max-width:100px; margin:10px; text-align: center">
                          <img [src]="extLogoUrl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                          <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="btn-section">
            <button type="submit" #Save (click)="adduser()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{saveButtonText}}</button>
            <button type="cancel" (click)="Navigatetomanageuser()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
            <button type="reset" (click)="reset()"  [ngClass]="displayText"><i class="fa fa-refresh"></i> Reset</button>
          </div>
        </div>
      </div>
    </div>
</form>
</div>

