.grey-bg {
    margin-top: 20px;
    background-image: linear-gradient(0deg, #f5f5f5, #ffffff, #ffffff);
}
.grey-bg .form-group .form-check.grey {
    background: #f88900;
    color:#fff;
    padding: 10px;
    padding-left: 30px;
    box-shadow: 0 -6px 5px #dadada;
    transform: translateY(-20px);
}
input#finalamount {
  font-size: 20px;
  background: #f88900;
}

.larger {
  transform: scale(2);
  margin: 5px;
  box-shadow: 0 -6px 5px #dadada;
} 

/*new css for address*/

