<div class="animated fadeIn">

  <div class="card">
    <div class="card-header">
      <i class="fa fa-tag"></i> {{Title}}
    </div>

    <!--div below used to add new  plan details and to pay after save-->
    <div class="card-body" *ngIf=createplan>
      <form [formGroup]="assignPlanForm" autocomplete="off" action="">
        <div class="form-bg-section">
          <div class="container-fluid">
            <fieldset id="description">

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="userId">User<span class ="asterisk">*</span></label>
                    <!--<select class="form-control" formGroupName="userId" id="userId" name="userId" (change)="selectedEmailId($event);" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }">
                      <option value="">--Select User--</option>
                      <option *ngFor="let userList of _allUser | async" [value]="userList.userId">{{userList.firstName + ' ' + userList.lastName}}</option>
                    </select>-->
                    <ng-select [items]="users"
                               bindLabel="userFullName"
                               bindValue="userId"
                               placeholder=""
                               class="form-control" id="userId" formControlName="userId" name="userId" (change)="selectedEmailId($event);" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }">
                      <span class="ng-arrow-zone">
                        <span class="ng-arrow"></span>
                      </span>
                    </ng-select>
                    <div *ngIf="submitted && f.userId.errors" class="text-danger"><div *ngIf="f.userId.errors.required">Selection of User is required</div></div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Email">User Email Id<span class ="asterisk">*</span></label>
                    <input class="form-control" id="email" formControlName="email" name="email" placeholder="" value="{{email}}" readonly>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Name">Plan Name</label>
                    <input class="form-control" id="planName" formControlName="planName" type="text" placeholder="Plan Name" value="" readonly="readonly">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="form-check grey">
                        <input class="form-check-input" id="Logocheckbox" (change)="CheckBoxClicked($event);" formControlName="Logocheckbox" type="checkbox" value="">
                        <label class="form-check-label" for="Logocheckbox">Logo</label>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="col-form-label" for="LogoImageCount">Logo Count</label>
                          <div class="input-prepend input-group">
                            <input class="form-control" id="LogoImageCount" (change)="Calculation($event);" disabled="disabled" formControlName="LogoImageCount" type="text" maxlength="2" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.LogoImageCount.errors }">
                            <div *ngIf="submitted && f.LogoImageCount.errors" class="text-danger">
                              <div *ngIf="f.LogoImageCount.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label class="col-form-label" for="LogoImagePrice">Price Per Image</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="LogoImagePrice" (change)="Calculation($event);" disabled="disabled" formControlName="LogoImagePrice" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.LogoImagePrice.errors }">
                            <div *ngIf="submitted && f.LogoImagePrice.errors" class="text-danger">
                              <div *ngIf="f.LogoImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="LogoImageTotal">Calculated Price</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="LogoImageTotal" type="text" placeholder="0" formControlName="LogoImageTotal" value="0" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="form-check grey">
                        <input class="form-check-input" id="Adcheckbox" (change)="CheckBoxClicked($event);" formControlName="Adcheckbox" type="checkbox" value="">
                        <label class="form-check-label" for="Adcheckbox"> Business Listing</label>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="col-form-label" for="AdImageCount">Image Count</label>
                          <div class="input-prepend input-group">
                            <input class="form-control" id="AdImageCount" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="AdImageCount" type="text" maxlength="3" [ngClass]="{ 'is-invalid': submitted && f.AdImageCount.errors }">
                            <div *ngIf="submitted && f.AdImageCount.errors" class="text-danger">
                              <div *ngIf="f.AdImageCount.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="AdImagePrice">Price Per Image</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="AdImagePrice" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="AdImagePrice" type="text" [ngClass]="{ 'is-invalid': submitted && f.AdImagePrice.errors }">
                            <div *ngIf="submitted && f.AdImagePrice.errors" class="text-danger">
                              <div *ngIf="f.AdImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="AdImageTotal">Calculated Price</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="AdImageTotal" formControlName="AdImageTotal" type="text" placeholder="0" value="0" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="form-check grey">
                        <input class="form-check-input" id="Bannercheckbox" (change)="CheckBoxClicked($event);" formControlName="Bannercheckbox" type="checkbox" value="">
                        <label class="form-check-label" for="Bannercheckbox"> Banners</label>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="col-form-label" for="BannerImageCount">Image Count</label>
                          <div class="input-prepend input-group">
                            <input class="form-control" id="BannerImageCount" (change)="Calculation($event);" disabled="disabled" formControlName="BannerImageCount" type="text" maxlength="3" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.BannerImageCount.errors }">
                            <div *ngIf="submitted && f.BannerImageCount.errors" class="text-danger">
                              <div *ngIf="f.BannerImageCount.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="BannerImagePrice">Price Per Image</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="BannerImagePrice" (change)="Calculation($event);" disabled="disabled" formControlName="BannerImagePrice" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.BannerImagePrice.errors }">
                            <div *ngIf="submitted && f.BannerImagePrice.errors" class="text-danger">
                              <div *ngIf="f.BannerImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="BannerImageTotal">Calculated Price</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="BannerImageTotal" formControlName="BannerImageTotal" type="text" placeholder="0" value="0" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="form-check grey">
                        <input class="form-check-input" id="Eventcheckbox" (change)="CheckBoxClicked($event);" formControlName="Eventcheckbox" type="checkbox" value="">
                        <label class="form-check-label" for="Eventcheckbox"> Events</label>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="col-form-label" for="EventImageCount">Image Count</label>
                          <div class="input-prepend input-group">
                            <input class="form-control" id="EventImageCount" (change)="Calculation($event);" disabled="disabled" formControlName="EventImageCount" type="text" maxlength="3" value="0" [ngClass]="{ 'is-invalid': submitted && f.EventImageCount.errors }">
                            <div *ngIf="submitted && f.EventImageCount.errors" class="text-danger">
                              <div *ngIf="f.EventImageCount.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label class="col-form-label" for="EventImagePrice">Price Per Image</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="EventImagePrice" (change)="Calculation($event);" disabled="disabled" formControlName="EventImagePrice" type="text" value="0" [ngClass]="{ 'is-invalid': submitted && f.EventImagePrice.errors }">
                            <div *ngIf="submitted && f.EventImagePrice.errors" class="text-danger">
                              <div *ngIf="f.EventImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="EventImageTotal">Calculated Price</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="EventImageTotal" formControlName="EventImageTotal" type="text" placeholder="0" value="0" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="form-check grey">
                        <input class="form-check-input" id="SmallAdscheckbox" (change)="CheckBoxClicked($event);" formControlName="SmallAdscheckbox" type="checkbox" value="">
                        <label class="form-check-label" for="SmallAdscheckbox"> Advertisement</label>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="col-form-label" for="SmallAdsImageCount">Image Count</label>
                          <div class="input-prepend input-group">
                            <input class="form-control" id="SmallAdsImageCount" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="SmallAdsImageCount" type="text" maxlength="3" [ngClass]="{ 'is-invalid': submitted && f.SmallAdsImageCount.errors }">
                            <div *ngIf="submitted && f.SmallAdsImageCount.errors" class="text-danger">
                              <div *ngIf="f.SmallAdsImageCount.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="SmallAdsImagePrice">Price Per Image</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="SmallAdsImagePrice" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="SmallAdsImagePrice" type="text" [ngClass]="{ 'is-invalid': submitted && f.SmallAdsImagePrice.errors }">
                            <div *ngIf="submitted && f.SmallAdsImagePrice.errors" class="text-danger">
                              <div *ngIf="f.SmallAdsImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="SmallAdsImageTotal">Calculated Price</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="SmallAdsImageTotal" formControlName="SmallAdsImageTotal" type="text" placeholder="0" value="0" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="form-check grey">
                        <input class="form-check-input" id="BuySellcheckbox" (change)="CheckBoxClicked($event);" formControlName="BuySellcheckbox" type="checkbox" value="">
                        <label class="form-check-label" for="BuySellcheckbox">Buy/Sell</label>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="col-form-label" for="BuySellImageCount">Image Count</label>
                          <div class="input-prepend input-group">
                            <input class="form-control" id="BuySellImageCount" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="BuySellImageCount" type="text" maxlength="3" [ngClass]="{ 'is-invalid': submitted && f.BuySellImageCount.errors }">
                            <div *ngIf="submitted && f.BuySellImageCount.errors" class="text-danger">
                              <div *ngIf="f.BuySellImageCount.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="BuySellImagePrice">Price Per Image</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="BuySellImagePrice" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="BuySellImagePrice" type="text" [ngClass]="{ 'is-invalid': submitted && f.BuySellImagePrice.errors }">
                            <div *ngIf="submitted && f.BuySellImagePrice.errors" class="text-danger">
                              <div *ngIf="f.BuySellImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="BuySellImageTotal">Calculated Price</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="BuySellImageTotal" formControlName="BuySellImageTotal" type="text" placeholder="0" value="0" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="form-check grey">
                        <input class="form-check-input" id="JobsAdvcheckbox" (change)="CheckBoxClicked($event);" formControlName="JobsAdvcheckbox" type="checkbox" value="">
                        <label class="form-check-label" for="JobsAdvcheckbox"> Jobs</label>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label class="col-form-label" for="JobsAdvCount">Job Count</label>
                          <div class="input-prepend input-group">
                            <input class="form-control" id="JobsAdvCount" (change)="Calculation($event);" disabled="disabled" formControlName="JobsAdvCount" type="text" maxlength="2" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.JobsAdvCount.errors }">
                            <div *ngIf="submitted && f.JobsAdvCount.errors" class="text-danger">
                              <div *ngIf="f.LogoImageCount.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label class="col-form-label" for="JobsAdvPrice">Price Per Job</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="JobsAdvPrice" (change)="Calculation($event);" disabled="disabled" formControlName="JobsAdvPrice" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.JobsAdvPrice.errors }">
                            <div *ngIf="submitted && f.JobsAdvPrice.errors" class="text-danger">
                              <div *ngIf="f.JobsAdvPrice.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="col-form-label" for="JobsAdvTotal">Calculated Price</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="JobsAdvTotal" type="text" placeholder="0" formControlName="JobsAdvTotal" value="0" readonly>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="grey-bg">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-check grey">
                            <input class="form-check-input" id="Miscellaneiouscheckbox" (change)="CheckBoxClicked($event);" formControlName="Miscellaneiouscheckbox" type="checkbox" value="">
                            <label class="form-check-label" for="Miscellaneiouscheckbox"> Miscellaneous</label>
                          </div>
                          <div class="clearfix"></div>
                          <label class="col-form-label" for="MiscellaneiousTotal">Amount</label>
                          <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" id="MiscellaneiousTotal" (change)="Calculation($event);" disabled="disabled" formControlName="MiscellaneiousTotal" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.MiscellaneiousTotal.errors }">
                            <div *ngIf="submitted && f.MiscellaneiousTotal.errors" class="text-danger">
                              <div *ngIf="f.MiscellaneiousTotal.errors.pattern"> Please Enter Numbers Only</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-8">
                          <textarea class="form-control" id="Description" formControlName="description" name="Description" placeholder="Description" type="text" rows="4"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="amount">Amount</label>
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input class="form-control" id="amount" formControlName="amount" type="text" placeholder="0" value="0" readonly>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="discount">Discount</label>
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input class="form-control" id="discount" type="text" (change)="Calculation($event);" formControlName="discount" placeholder="" value="0" [ngClass]="{ 'is-invalid': submitted && f.discount.errors }">
                      <div *ngIf="submitted && f.discount.errors" class="text-danger">
                        <div *ngIf="f.discount.errors.pattern"> Please Enter Numbers Only</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="finalamount">Final Amount</label>
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input class="form-control" id="finalamount" formControlName="finalamount" type="text" placeholder="0" value="0" readonly>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="validfrom">Valid From</label>
                    <!--<input type="date" ng-model="validTillDate" id="validfrom" name="validfrom" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}" formControlName="validfrom" [ngClass]="{ 'is-invalid': submitted && f.validfrom.errors }">-->
                    <!--<input type="date" (change)="onvalidFromDateSelect($event)" [min]="minDate" [max]="maxValidFromDate" #modalvalidFrom ng-model="validfrom" [(ngModel)]="validFrom" id="validfrom" name="validfrom" class="form-control" formControlName="validfrom" value="{{ validfrom | date: 'MM-dd-yyyy' }}">-->
                    <div class="inp-cal">
                      <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDateModel" [maxDate]="maxValidFromDate"
                             formControlName="validfrom" [(ngModel)]="modelValidFrom" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onvalidFromDateSelect($event)" readonly>
                      <!--<div class="input-group-append">-->
                      <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                    <div *ngIf="submitted && f.validfrom.errors" class="text-danger"><div *ngIf="f.validfrom.errors.required">Valid From Date is Required</div></div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="validtill">Valid Till</label>
                    <!--<input type="date" ng-model="validTillDate" id="validtill" name="validtill" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}" formControlName="validtill" [ngClass]="{ 'is-invalid': submitted && f.validtill.errors }">-->
                    <!--<input type="date" (change)="onvalidTillDateSelect($event)" [min]="minValidTillDate" #modalvalidTill [(ngModel)]="validtill" ng-model="validtill" id="validtill" formControlName="validtill" name="validtill" class="form-control" value="{{ validtill | date: 'MM-dd-yyyy' }}">-->
                    <!--<input type="date" (change)="onvalidTillDateSelect($event)" [min]="minValidTillDate" [max]="maxValidFromDate" #modalvalidFrom ng-model="validfrom" [(ngModel)]="validtill" id="validtill" name="validtill" class="form-control" formControlName="validtill" value="{{ validtill | date: 'yyyy-MM-dd' }}">-->
                    <div class="inp-cal">
                      <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minValidTillDate"
                             formControlName="validtill" [(ngModel)]="modelValidTill" ngbDatepicker #d3="ngbDatepicker" (dateSelect)="onvalidTillDateSelect($event)" readonly>
                      <!--<div class="input-group-append">-->
                      <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                    <div *ngIf="submitted && f.validtill.errors" class="text-danger"><div *ngIf="f.validtill.errors.required">Valid Till Date is Required</div></div>
                  </div>
                </div>
              </div>
            </fieldset>

          </div>
          <div class="col-sm-6">
            <input class="larger" id="checkbox" (change)="confirmPlan($event);" formControlName="checkbox" type="checkbox" value=""> Confirm Plan
            <div style="font-size: 12px; color: #eb2126;margin-top:5px">
              *check to confirm plan and uncheck to edit plan. <!--Without checked, plan cannot be saved.-->
            </div>
            <!--<input type="checkbox" (click)="confirmPlan(event)" id="checkbox" formControlName="checkbox" /> Confirm Plan-->
            <br />
            <button type="submit" (click)="addPlan()" id="checkout" formControlName="checkout" disabled="disabled" class="btn btn-primary">Save Plan</button>
            <button type="cancel" [routerLink]="['/dashboard']" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
            <button type="reset" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
            <div style="font-size: 12px; color: #eb2126;margin-top:5px">
              *Click on "Confirm Plan" to enable "Save Plan" button.
              <br />
              Once a plan is saved, modification not allowed later.
            </div>

            <!--<button type="submit" (click)="editPlan()" id="checkout" formControlName="checkout" class="btn btn-primary">Edit Plan.</button>-->
          </div>
        </div>

        <div _ngcontent-pbx-c5="" class="form-bg-section" *ngIf=paymentsection>
          <!--<div _ngcontent-pbx-c5="" class="form-bg-section">-->
          <span _ngcontent-pbx-c5="" class="form-bg-title"><b>Payment Section</b></span>
          <!--<div class="btn-section" *ngIf=paymentsection>-->
          <div class="btn-section">
            <div class="btn-section">
              <!--<div class="form-bg-section" >-->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="form-check mr-1" id="postplan">
                        <div class="row">

                          <div class="col-sm-12">
                            <input class="form-check-input" id="Paid" name="paymentMode" type="radio" value="Paid" (change)="selected('Online')">
                            <label class="form-check-label" for="Paid">Online Payment</label>
                            <div class="btn-section" *ngIf=OnlineDiv>
                              <theme-stripe [finalAmount]="finalAmount" [UserEmail]="CustomerEmail" [UserName]="CustomerName" [PlanIdForStripe]="PlanIdForStripe" (stripeResponse)="onlinePaymentResponse($event)"></theme-stripe>
                            </div>
                          </div>

                          <div class="col-sm-12">
                            <input class="form-check-input" id="Free" name="paymentMode" type="radio" value="Free" (change)="selected('Offline')">
                            <label class="form-check-label" for="Free">Offline payment</label>
                            <div class="btn-section" *ngIf=offlineDiv>

                              <div class="col-md-12">
                                <div class="cell example example5" id="example-5">
                                  <!--<form [formGroup]="stripepaymentForm" action="">-->

                                  <fieldset>
                                    <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay Offline</legend>
                                    <!--<legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card details</legend>-->                                   
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="field">
                                          <input class="input" id="billingName" formControlName="billingName" type="text" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.billingName.errors }">
                                          <div *ngIf="submitted && f.billingEmail.errors" class="text-danger">
                                                  <div *ngIf="f.billingName.errors.required">Name is required</div>
                                           </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="field">
                                          <input class="input" id="billingEmail" formControlName="billingEmail" type="text" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.billingEmail.errors }">
                                          <div *ngIf="submitted && f.billingEmail.errors" class="text-danger">
                                                  <div *ngIf="f.billingEmail.errors.required">Email is required</div>
                                                  <div *ngIf="f.billingEmail.errors.email"> Please enter valid email id</div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="field">
                                          <input class="input" id="name" formControlName="billingPhone" type="text" placeholder="Phone" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.billingPhone.errors }">
                                          <div *ngIf="submitted && f.billingPhone.errors" class="text-danger">
                                            <div *ngIf="f.billingPhone.errors.required"> Contact number is required</div>
                                            <!-- <div *ngIf="f.billingPhone.errors.pattern"> Please enter numbers only</div>
                                            <div *ngIf="f.billingPhone.errors.maxlength"> Max 10 digits allowed</div> -->
                                            <div *ngIf="f.billingPhone.errors.minlength">Please Enter minimum 10 Numbers</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="field">
                                          <input class="input" id="name" formControlName="billingAddress1" type="text" placeholder="Address1" [ngClass]="{ 'is-invalid': submitted && f.billingAddress1.errors }">
                                          <div *ngIf="submitted && f.billingAddress1.errors" class="text-danger">
                                            <div *ngIf="f.billingAddress1.errors.required">Address is required</div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="field">
                                          <input class="input" id="name" formControlName="billingAddress2" type="text" placeholder="Address2" [ngClass]="{ 'is-invalid': submitted && f.billingAddress1.errors }">
                                          <div *ngIf="submitted && f.billingAddress2.errors" class="text-danger">
                                            <div *ngIf="f.billingAddress2.errors.required">Address is required</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="field">
                                          <input class="input" id="name" formControlName="billingState" type="text" placeholder="State" [ngClass]="{ 'is-invalid': submitted && f.billingState.errors }">
                                          <div *ngIf="submitted && f.billingState.errors" class="text-danger">
                                            <div *ngIf="f.billingState.errors.required">State is required</div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="field">
                                          <input class="input" id="billingZIP" formControlName="billingZIP" type="text" placeholder="ZIP" maxlength="6" minlength="6"  [ngClass]="{ 'is-invalid': submitted && f.billingZIP.errors }">
                                          <div *ngIf="submitted && f.billingZIP.errors" class="text-danger">
                                            <div *ngIf="f.billingZIP.errors.required">Zip code is required</div>
                                            <!--<div *ngIf="f.billingZIP.errors.pattern"> Please enter numbers only</div>
                                            <div *ngIf="f.billingZIP.errors.maxlength"> Max 6 digits allowed</div>
                                            <div *ngIf="f.billingZIP.errors.mainlength"> Min 6 digits allowed</div>-->
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="field">
                                          <input class="input" id="ReceiptNo" formControlName="ReceiptNo" type="text" placeholder="Offline Payment Receipt Number" [ngClass]="{ 'is-invalid': submitted && f.ReceiptNo.errors }">
                                          <div *ngIf="submitted && f.ReceiptNo.errors" class="text-danger">
                                            <div *ngIf="f.ReceiptNo.errors.required">Receipt number is required</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    
                                    <div class="row">
                                      <div class="col-md-12">
                                        <button type="submit" (click)="OfflinePayment();" class="btn btn-sm btn-success" style="width: auto;padding: 0 30px;">Confirm Offline Payment</button>
                                      </div>
                                    </div>
                                    <!--<div class="col-md-3">
                                      <button type="submit" (click)="pay()">Pay ${{this.finalAmountToPay}}</button>
                                    </div>-->                                    

                                  </fieldset>

                                  <!--</form>-->

                                </div>
                              </div>

                              <!--<input class="form-control" id="ReceiptNo" formControlName="ReceiptNo" type="text" placeholder="Receipt Number">-->
                              <br />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--</div>-->
            </div>
          </div>

        </div>
        <div class="btn-section">
          <!--<button type="submit" (click)="addPlan($event);" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>-->
          <!--<button type="cancel" [routerLink]="['/dashboard']" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
          <button type="reset" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>-->
        </div>
      </form>
    </div>
    <!--div above used to add new  plan details and to pay after save-->

    <!--div below used to display plan details and to update if not paid-->
    <div class="card-body" *ngIf=planDetails>
      <div class="btn-section">
        <button type="cancel" (click)="planDetailCancel()" class="btn btn-primary back-btn"><i class="fa fa-arrow-left"></i> Back</button>
      </div>
      <form [formGroup]="assignPlanForm" autocomplete="off" action="">
        <div class="form-bg-section">
          <div class="container-fluid">

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="userId">User<span class ="asterisk">*</span></label>
                  <input class="form-control" id="userId" formControlName="userId" name="userId" placeholder="" value="{{userId}}" readonly>

                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="Email">User Email Id<span class ="asterisk">*</span></label>
                  <input class="form-control" id="email" formControlName="email" name="email" placeholder="" value="{{email}}" readonly>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="Name">Plan Name</label>
                  <input class="form-control" id="planName" formControlName="planName" type="text" placeholder="Plan Name" value="" readonly="readonly">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="Adcheckbox">Logo</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="col-form-label" for="LogoImageCount">Logo Count</label>
                        <div class="input-prepend input-group">
                          <input class="form-control" id="LogoImageCount" disabled="disabled" formControlName="LogoImageCount" type="text" maxlength="2" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.LogoImageCount.errors }">
                          <div *ngIf="submitted && f.LogoImageCount.errors" class="text-danger">
                            <div *ngIf="f.LogoImageCount.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label class="col-form-label" for="LogoImagePrice">Price Per Image</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="LogoImagePrice" disabled="disabled" formControlName="LogoImagePrice" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.LogoImagePrice.errors }">
                          <div *ngIf="submitted && f.LogoImagePrice.errors" class="text-danger">
                            <div *ngIf="f.LogoImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="LogoImageTotal">Calculated Price</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="LogoImageTotal" type="text" placeholder="0" formControlName="LogoImageTotal" value="0" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="Adcheckbox"> Ad Images</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="col-form-label" for="AdImageCount">Image Count</label>
                        <div class="input-prepend input-group">
                          <input class="form-control" id="AdImageCount" placeholder="0" disabled="disabled" formControlName="AdImageCount" type="text" maxlength="3" [ngClass]="{ 'is-invalid': submitted && f.AdImageCount.errors }">
                          <div *ngIf="submitted && f.AdImageCount.errors" class="text-danger">
                            <div *ngIf="f.AdImageCount.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="AdImagePrice">Price Per Image</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="AdImagePrice" placeholder="0" disabled="disabled" formControlName="AdImagePrice" type="text" [ngClass]="{ 'is-invalid': submitted && f.AdImagePrice.errors }">
                          <div *ngIf="submitted && f.AdImagePrice.errors" class="text-danger">
                            <div *ngIf="f.AdImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="AdImageTotal">Calculated Price</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="AdImageTotal" formControlName="AdImageTotal" type="text" placeholder="0" value="0" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="Adcheckbox">Banner</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="col-form-label" for="BannerImageCount">Image Count</label>
                        <div class="input-prepend input-group">
                          <input class="form-control" id="BannerImageCount" disabled="disabled" formControlName="BannerImageCount" type="text" maxlength="3" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.BannerImageCount.errors }">
                          <div *ngIf="submitted && f.BannerImageCount.errors" class="text-danger">
                            <div *ngIf="f.BannerImageCount.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="BannerImagePrice">Price Per Image</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="BannerImagePrice" disabled="disabled" formControlName="BannerImagePrice" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.BannerImagePrice.errors }">
                          <div *ngIf="submitted && f.BannerImagePrice.errors" class="text-danger">
                            <div *ngIf="f.BannerImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="BannerImageTotal">Calculated Price</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="BannerImageTotal" formControlName="BannerImageTotal" type="text" placeholder="0" value="0" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="Adcheckbox">Events</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="col-form-label" for="EventImageCount">Image Count</label>
                        <div class="input-prepend input-group">
                          <input class="form-control" id="EventImageCount" disabled="disabled" formControlName="EventImageCount" type="text" maxlength="3" value="0" [ngClass]="{ 'is-invalid': submitted && f.EventImageCount.errors }">
                          <div *ngIf="submitted && f.EventImageCount.errors" class="text-danger">
                            <div *ngIf="f.EventImageCount.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label class="col-form-label" for="EventImagePrice">Price Per Image</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="EventImagePrice" disabled="disabled" formControlName="EventImagePrice" type="text" value="0" [ngClass]="{ 'is-invalid': submitted && f.EventImagePrice.errors }">
                          <div *ngIf="submitted && f.EventImagePrice.errors" class="text-danger">
                            <div *ngIf="f.EventImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="EventImageTotal">Calculated Price</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="EventImageTotal" formControlName="EventImageTotal" type="text" placeholder="0" value="0" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="SmallAdscheckbox"> Advertisement</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="col-form-label" for="SmallAdsImageCount">Image Count</label>
                        <div class="input-prepend input-group">
                          <input class="form-control" id="SmallAdsImageCount" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="SmallAdsImageCount" type="text" maxlength="3" [ngClass]="{ 'is-invalid': submitted && f.SmallAdsImageCount.errors }">
                          <div *ngIf="submitted && f.SmallAdsImageCount.errors" class="text-danger">
                            <div *ngIf="f.SmallAdsImageCount.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="SmallAdsImagePrice">Price Per Image</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="SmallAdsImagePrice" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="SmallAdsImagePrice" type="text" [ngClass]="{ 'is-invalid': submitted && f.SmallAdsImagePrice.errors }">
                          <div *ngIf="submitted && f.SmallAdsImagePrice.errors" class="text-danger">
                            <div *ngIf="f.SmallAdsImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="SmallAdsImageTotal">Calculated Price</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="SmallAdsImageTotal" formControlName="SmallAdsImageTotal" type="text" placeholder="0" value="0" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="BuySellcheckbox">Buy&Sell</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="col-form-label" for="BuySellImageCount">Image Count</label>
                        <div class="input-prepend input-group">
                          <input class="form-control" id="BuySellImageCount" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="BuySellImageCount" type="text" maxlength="3" [ngClass]="{ 'is-invalid': submitted && f.BuySellImageCount.errors }">
                          <div *ngIf="submitted && f.BuySellImageCount.errors" class="text-danger">
                            <div *ngIf="f.BuySellImageCount.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="BuySellImagePrice">Price Per Image</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="BuySellImagePrice" placeholder="0" (change)="Calculation($event);" disabled="disabled" formControlName="BuySellImagePrice" type="text" [ngClass]="{ 'is-invalid': submitted && f.BuySellImagePrice.errors }">
                          <div *ngIf="submitted && f.BuySellImagePrice.errors" class="text-danger">
                            <div *ngIf="f.BuySellImagePrice.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="BuySellImageTotal">Calculated Price</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="BuySellImageTotal" formControlName="BuySellImageTotal" type="text" placeholder="0" value="0" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="Adcheckbox">Jobs</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="col-form-label" for="JobsAdvCount">Job Count</label>
                        <div class="input-prepend input-group">
                          <input class="form-control" id="JobsAdvCount" disabled="disabled" formControlName="JobsAdvCount" type="text" maxlength="2" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.JobsAdvCount.errors }">
                          <div *ngIf="submitted && f.JobsAdvCount.errors" class="text-danger">
                            <div *ngIf="f.LogoImageCount.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label class="col-form-label" for="JobsAdvPrice">Price Per Job</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="JobsAdvPrice" disabled="disabled" formControlName="JobsAdvPrice" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.JobsAdvPrice.errors }">
                          <div *ngIf="submitted && f.JobsAdvPrice.errors" class="text-danger">
                            <div *ngIf="f.JobsAdvPrice.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <label class="col-form-label" for="JobsAdvTotal">Calculated Price</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="JobsAdvTotal" type="text" placeholder="0" formControlName="JobsAdvTotal" value="0" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="grey-bg">
                  <div class="form-group">
                    <div class="form-check grey">
                      <label class="form-check-label" for="Adcheckbox">Miscellaneious</label>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="clearfix"></div>
                        <label class="col-form-label" for="MiscellaneiousTotal">Amount</label>
                        <div class="input-prepend input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                          </div>
                          <input class="form-control" id="MiscellaneiousTotal" disabled="disabled" formControlName="MiscellaneiousTotal" type="text" placeholder="0" value="0" [ngClass]="{ 'is-invalid': submitted && f.MiscellaneiousTotal.errors }">
                          <div *ngIf="submitted && f.MiscellaneiousTotal.errors" class="text-danger">
                            <div *ngIf="f.MiscellaneiousTotal.errors.pattern"> Please Enter Numbers Only</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <textarea class="form-control" id="Description" formControlName="description" name="Description" placeholder="Description" type="text" rows="4" readonly></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="amount">Amount</label>
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input class="form-control" id="amount" formControlName="amount" type="text" placeholder="0" value="0" readonly>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="discount">Discount</label>
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input class="form-control" id="discount" type="text" formControlName="discount" placeholder="" value="0" readonly>

                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="finalamount">Final Amount</label>
                  <div class="input-prepend input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input class="form-control" id="finalamount" formControlName="finalamount" type="text" placeholder="0" value="0" readonly>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="validfrom">Valid From</label>
                  <input type="date" ng-model="validTillDate" id="validfrom" name="validfrom" class="form-control" value="{{ validFromDate | date: 'MM-dd-yyyy' }}" formControlName="validfrom" readonly>
                  <div *ngIf="submitted && f.validfrom.errors" class="text-danger"><div *ngIf="f.validfrom.errors.required">Valid From Date is Required</div></div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="validtill">Valid Till</label>
                  <input type="date" ng-model="validTillDate" id="validtill" name="validtill" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}" formControlName="validtill" readonly>
                  <div *ngIf="submitted && f.validtill.errors" class="text-danger"><div *ngIf="f.validtill.errors.required">Valid Till Date is Required</div></div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="IsPlanPaid">
              <button (click)="paymentForPlanAfterSave()" id="checkoutAfterSave" class="btn btn-primary">Pay ${{finalAmountAfterSave}}</button>
            </div>

            <div _ngcontent-pbx-c5="" class="form-bg-section" *ngIf=paymentsectionaftersave style="padding: 20px;">
              <span _ngcontent-pbx-c5="" class="form-bg-title"><b>Payment Section</b></span>
              <div class="row" *ngIf="paymentsectionaftersave">
                <!--<div class="row">-->
                <div class="btn-section">
                  <!--<div class="btn-section">-->
                  <div class="btn-section">
                    <!--<div class="form-bg-section" >-->
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="form-check mr-1" id="postplan">
                              <div class="row">

                                <div class="col-sm-12">
                                  <input class="form-check-input" id="Paid" name="paymentMode" type="radio" value="Paid" (change)="selectedAfterSave('Online')">
                                  <label class="form-check-label" for="Paid">Online Payment</label>
                                  <div class="btn-section" *ngIf=OnlineDivAfterSave>
                                    <theme-stripe [finalAmount]="finalAmount" [UserEmail]="CustomerEmail" [UserName]="CustomerName" [PlanIdForStripe]="PlanIdForStripe" (stripeResponse)="onlinePaymentResponse($event)"></theme-stripe>
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <input class="form-check-input" id="Free" name="paymentMode" type="radio" value="Free" (change)="selectedAfterSave('Offline')">
                                  <label class="form-check-label" for="Free">Offline payment</label>
                                  <div class="btn-section" *ngIf=offlineDivAfterSave>
                                    <div class="col-md-12">
                                      <div class="cell example example5" id="example-5">
                                        <!--<form [formGroup]="stripepaymentForm" action="">-->

                                        <fieldset>
                                          <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay Offline</legend>
                                          <!--<legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card details</legend>-->
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="field">
                                                <input class="input" id="name" formControlName="billingName" type="text" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.billingName.errors }">
                                                <div *ngIf="submitted && f.billingEmail.errors" class="text-danger">
                                                  <div *ngIf="f.billingName.errors.required">Name is required</div>
                                                  <!--<div *ngIf="f.billingName.errors.email"> Please Enter email id</div>-->
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="field">
                                                <input class="input" id="billingEmail" formControlName="billingEmail" type="text" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.billingEmail.errors }">
                                                <div *ngIf="submitted && f.billingEmail.errors" class="text-danger">
                                                  <div *ngIf="f.billingEmail.errors.required">Email is required</div>
                                                  <div *ngIf="f.billingEmail.errors.email"> Please enter valid email id</div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="field">
                                                <input class="input" id="name" formControlName="billingPhone" type="text" placeholder="Phone" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.billingPhone.errors }">
                                                <div *ngIf="submitted && f.billingPhone.errors" class="text-danger">
                                                  <div *ngIf="f.billingPhone.errors.required">Contact number is required</div>
                                                  <!-- <div *ngIf="f.billingPhone.errors.pattern"> Please enter numbers only</div>
                                                  <div *ngIf="f.billingPhone.errors.maxlength"> Max 10 digits allowed</div> -->
                                                  <div *ngIf="f.billingPhone.errors.minlength">Please Enter minimum 10 Numbers</div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="field">
                                                <input class="input" id="name" formControlName="billingAddress1" type="text" placeholder="Address1" [ngClass]="{ 'is-invalid': submitted && f.billingAddress1.errors }">
                                                <div *ngIf="submitted && f.billingAddress1.errors" class="text-danger">
                                                  <div *ngIf="f.billingAddress1.errors.required">Address is required</div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="field">
                                                <input class="input" id="name" formControlName="billingAddress2" type="text" placeholder="Address2" [ngClass]="{ 'is-invalid': submitted && f.billingAddress1.errors }">
                                                <div *ngIf="submitted && f.billingAddress2.errors" class="text-danger">
                                                  <div *ngIf="f.billingAddress2.errors.required">Address is required</div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="field">
                                                <input class="input" id="name" formControlName="billingState" type="text" placeholder="State" [ngClass]="{ 'is-invalid': submitted && f.billingState.errors }">
                                                <div *ngIf="submitted && f.billingState.errors" class="text-danger">
                                                  <div *ngIf="f.billingState.errors.required">State is required</div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="field">
                                                <input class="input" id="name" formControlName="billingZIP" type="text" placeholder="ZIP" maxlength="6" minlength="6"  [ngClass]="{ 'is-invalid': submitted && f.billingZIP.errors }">
                                                <div *ngIf="submitted && f.billingZIP.errors" class="text-danger">
                                                  <div *ngIf="f.billingZIP.errors.required">Zip code is required</div>
                                                  <div *ngIf="f.billingZIP.errors.pattern"> Please enter numbers only</div>
                                                  <div *ngIf="f.billingZIP.errors.maxlength"> Max 6 digits allowed</div>
                                                  <div *ngIf="f.billingZIP.errors.mainlength"> Min 6 digits allowed</div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="field">
                                                <input class="input" id="ReceiptNo" formControlName="ReceiptNo" type="text" placeholder="Offline Payment Receipt Number" [ngClass]="{ 'is-invalid': submitted && f.ReceiptNo.errors }">
                                                <div *ngIf="submitted && f.ReceiptNo.errors" class="text-danger">
                                                  <div *ngIf="f.ReceiptNo.errors.required">Receipt number is required</div>
                                                </div>
                                                <!--<div id="card-element" class="field"></div>-->
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-12">
                                              <button type="submit" (click)="OfflinePayment();" class="btn btn-sm btn-success" style="width: auto;padding: 0 30px;">Confirm Offline Payment</button>
                                            </div>
                                          </div>
                                          <!--<div class="col-md-3">
                                            <button type="submit" (click)="pay()">Pay ${{this.finalAmountToPay}}</button>
                                          </div>-->


                                        </fieldset>

                                        <!--</form>-->

                                      </div>
                                    </div>

                                    <!--<input class="form-control" id="ReceiptNo" formControlName="ReceiptNo" type="text" placeholder="Receipt Number">-->
                                    <br />
                                    <!--<button type="submit" (click)="OfflinePayment();" class="btn btn-sm btn-success"><i class="fa fa-check"></i>Confirm Offline Payment</button>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div>
    <!--div above used to display plan details and to update if not paid-->

  </div>
</div>

<!--below div is to display lsit of plans-->
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-tag"></i> Plan List
      <div class="card-head-right-block">
        <div class="input-group">
          <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="text">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>

      </div>
    </div>
    <div class="card-body">
      <div class="table-box">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th style="width:15%" [class.active]="order === 'FirstName'"
                  (click)="setOrder('FirstName')">
                User Name<span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:15%" [class.active]="order === 'Email'"
                  (click)="setOrder('Email')">
                Email Id <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

              <th style="width:22.5%" [class.active]="order === 'PlanName'">
                Plan Name 
              </th>

              <th style="width:7.5%" [class.active]="order === 'FinalAmount'"
                  (click)="setOrder('FinalAmount')">
                Final Amount <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:10%" [class.active]="order === 'isPaid'"
                  (click)="setOrder('isPaid')">
                Paid <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:15%" [class.active]="order === 'ValidFrom'"
                  (click)="setOrder('ValidFrom')">
                Valid From <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:15%" [class.active]="order === 'ValidTill'"
                  (click)="setOrder('ValidFrom')">
                Valid Till <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

            </tr>
          </thead>
          <tbody>
            <!--<tr *ngFor="let paymentplan of paymentplans| orderBy: order:reverse:'case-insensitive'   |  filter:filter | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">-->
            <tr *ngFor="let plandetail of allpaymentplanList| orderBy: order:reverse:'case-insensitive'  |  filter:filter | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">

              <!--<td style="width:10%"><img class="img-responsive ad-logo-img" src="assets/img/default/dp_placeholder.jpg"></td>-->
              <td>
                <a (click)="showPlanDetails(plandetail)"  class="topic-title"  >
                  {{plandetail.FirstName + " " + plandetail.LastName }}
                </a>

              </td>
              <td>{{plandetail.Email}}</td>
              <td>{{plandetail.PlanName}}</td>
              <td>$ {{plandetail.FinalAmount}}</td>

              <td > 
                   <div [ngClass]="getStatus(plandetail.IsPaid)">
                    <span>{{plandetail.IsPaid}}</span>
                  </div>
              </td>

              <td> {{plandetail.ValidFrom }}</td>
              <td> {{plandetail.ValidTill }}</td>


            <tr *ngIf="allpaymentplanList == null">
              <td colspan="8">No records found!</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>


        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>
      <!--<div class="clearfix"></div>
      <nav>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>-->
      <!--<div class="col-md-offset-5" style="text-align:right">
      <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="30">30 items per page</option>
      </select>
      <div class="" style="margin-top: -3%; text-align:left">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>-->
    </div>
  </div>
