<input type="file" #file placeholder="Choose file" (change)="onSelectFile($event)" style="display:none;"    >
<button type="button" class="btn btn-success" (click)="file.click($event)" ><i class="fa fa-file-word-o" aria-hidden="true"></i> {{'ADDETAILS.ATTACHCV'| translate}} </button>
<span style="font-size:10px">({{'ADDETAILS.MaxSize'| translate}}) </span>
<div *ngFor="let url of urls;let i=index">
  <div style="float:left;max-width:100px; margin:10px; text-align: center">
    <!-- <img  [src]="url" style="width:100px; height:100px; object-fit: cover;"  > -->
    <span [innerHTML]="url">{{url}}</span>
    <!-- <img [src]="url" height="100" *ngIf="imgURL">    <br/> --> &nbsp;&nbsp;
    <button type="submit" title="Delete" class="btn delete-btn" (click)="onfiledelete(i)"> <i class="fa fa-trash"></i> </button><br>
    <!-- <span class="upload" *ngIf="progress > 0">
    {{progress}}%
  </span>
  <span class="upload" *ngIf="message"><br>
    {{message}}
  </span> -->
  </div>

</div>

