<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-busidebar></app-busidebar>
      </div>


      <div class="col-sm-9">
        <div class="dashboard-page-content">
          <div class="animated fadeIn">
            <form>
              <div class="card">
                <div class="card-header"> <i class="nav-icon icon-calendar"></i> Event Details</div>

                <div class="card-body">
                  <button [routerLink]="['/bumanageevent']" class="btn btn-primary back-btn" type="button"><i class="fa fa-arrow-left"></i> Back</button><br /><br />
                  <div class="table-responsive">
                    <div class="form-bg-section">
                      <span class="form-bg-title">Event Content</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label"><strong>Title: </strong>{{eventpostdetail.Title}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label"><strong>Category: </strong>{{eventpostdetail.CategoryName}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="subCategoryId"><strong>Event Date: </strong>{{eventpostdetail.EventDate | date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title"><strong>Website: </strong> {{ eventpostdetail.Website}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AdStatusForDetailsView"><strong>Status: </strong> {{eventpostdetail.EventStatusForDetailsView}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title"><strong>Type: </strong> {{ eventpostdetail.IsPaidad}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title"><strong>Valid From: </strong> {{ eventpostdetail.validFromDate | date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title"><strong>Valid Till: </strong> {{ eventpostdetail.validTillDate | date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label" for="TagLine">
                                <strong>Description: </strong>
                                <!--{{eventpostdetail.Description}}-->
                                <p>
                                  <span [innerHTML]="description"> </span>
                                </p>
                              </label>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div [ngClass]="showImages">
                      <div class="form-bg-section">
                        <span class="form-bg-title">Event Image</span>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <!--<label class="col-form-label" for="file-input"><strong>Image: </strong></label><br>-->
                                <div *ngFor="let logourl of logourls;let i=index">
                                  <img [src]="logourl" class="img-responsive " style="float:left; margin-right:200px;height:300px;width:300px;object-fit: cover" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-bg-section">
                      <span class="form-bg-title">Contact</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="User"><strong>User: </strong>{{eventpostdetail.PostedForName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CcontactPersonName"><strong>Contact Person Name: </strong> {{eventpostdetail.PostedForName}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Email"><strong>Contact Email Id: </strong> {{eventpostdetail.Email}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ContactNumber"><strong>Contact Number: </strong> {{eventpostdetail.ContactNumber}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AlternateContactNumber"><strong>Alternate Contact Number: </strong> {{eventpostdetail.AlternateContactNumber}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Website"><strong>Fax number: </strong> {{eventpostdetail.FaxNumber}}</label>
                            </div>
                          </div>


                          <!-- <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-form-label" for="FaxNumber"><strong>Fax Number: </strong>{{userDetails.Email}}</label>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-form-label" for="ServicesOffered"><strong>Services Offered: </strong> {{userDetails.Email}}</label>
                          </div>
                        </div> -->
                        </div>
                      </div>
                    </div>

                    <div class="form-bg-section">
                      <span class="form-bg-title">Address</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet1"><strong>Street 1: </strong> {{eventpostdetail.AddressStreet1}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet2"><strong>Street 2: </strong> {{eventpostdetail.AddressStreet2}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CountryId"><strong>Country: </strong> USA</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="StateId"><strong>State: </strong> {{eventpostdetail.StateName}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CityId"><strong>City: </strong> {{eventpostdetail.CityName}}</label>
                            </div>
                          </div>
                          <div [ngClass]="showOtherCity">
                            <div class="form-group">
                              <label class="col-form-label" for="CityId"><strong>Other City: </strong> {{eventpostdetail.OtherCity}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ZipCode"><strong>Zip Code: </strong> {{eventpostdetail.ZipCode}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <app-workflowdetails [workflow]="workflow"></app-workflowdetails>
                  </div>
                </div>
              </div>
            </form>





          </div>
        </div>
      </div>
    </div>
  </div>
</section>

