<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>
<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <!--<div class="col-sm-3">
    <app-popular-category></app-popular-category>
  </div>-->
      <div class="col-sm-8">
        <div class="page-content">
          <h2 class="main-title">
            {{eventpost.Title}}<br>
            <span><i class="fa fa-calendar"></i> {{'EVENTDETAILS.EVENTDATE'| translate}} : {{eventpost.EventDate| date:'dd-MMM-yyyy'}}</span>
          </h2>

          <!-- <ngx-slick class="carousel ad-img-banner" #slickModal="slick-modal" [config]="bannerConfig" >
    <div ngxSlickItem *ngFor="let imageurl of Imageurls;let i=index">
      <img [src]="imageurl" class="img-fluid img-100">
    </div>
  </ngx-slick> -->
          <!--<div [ngClass]="showImage">
            <div *ngfor="let imageurl of imageurls;let i=index">
      <img [src]="imageurl" style="max-width: 100%;" />
    </div></div>-->
          
           <div [ngClass]="showImage">

              <!--<ngx-slick [ngClass]="bannerSlickcss" #slickModal="slick-modal" [config]="bannerConfig">-->
                <div  *ngFor="let imageurl of Imageurls;let i=index">
                  <img [src]="imageurl" class="img-fluid img-100" style="width:100%; height:28vw; object-fit: cover;">
                </div>
      
            </div>
          <br />
            <div class="description-box" [ngClass]="readmore ? 'read-all' : 'read-less'">
              <!--<p> {{eventpost.Description}}</p>-->
              <p>
                <span [innerHTML]="description"> </span>
              </p>
            </div>

            <p class="read-more" (click)="readMore()" [ngClass]="readmore ? 'read-all' : 'read-less'">{{'EVENTDETAILS.READ'| translate}} </p>

          </div>
          <div class="ribbon ribbon-top-right" *ngIf=Premiumtag><span>{{'BUYSELLDETAILVIEW.PREMIUM'|translate }}</span></div>
        </div>
     
      <div class="col-sm-4">
        <div class="page-content contact-deail-block">
          <h3><button class="add-btn" (click)="btnPostNew()">{{ 'EVENTS.POSTNEW' | translate }}</button> </h3>
          <br>
          <br>
          <h3 class="sub-title">{{'EVENTDETAILS.CONTACTDETAILS'| translate}} </h3>
          <ul class="ad-address">
            <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'EVENTDETAILS.PHONENUMBER'| translate}} </span>{{eventpost.ContactNumber}}</li>
            <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'EVENTDETAILS.ALTERNATECONTACTNUMBER'| translate}}  </span>{{eventpost.AlternateContactNumber}}</li>
            <!--<li><span><i class="fa fa-envelope" aria-hidden="true"></i>  {{'EVENTDETAILS.EMAILID'| translate}}  </span>{{eventpost.Email}}</li>-->
            <li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'EVENTDETAILS.EMAILID'| translate}} </span><u><a [href]="mailto" style="color:#1a73e8;">{{eventpost.Email}}</a></u></li>
            <li><span><i class="fa fa-fax" aria-hidden="true"></i>{{'EVENTDETAILS.FAXNUMBER'| translate}} </span>{{eventpost.FaxNumber}}</li>
            <li><span><i class="fa fa-globe" aria-hidden="true"></i> {{'EVENTDETAILS.WEBSITE'| translate}} </span> {{eventpost.Website}}</li>
            <li><span><i class="fa fa-eye" aria-hidden="true"></i> {{'EVENTDETAILS.VIEWED'| translate}} </span> {{eventpost.visitorCount}} {{'EVENTDETAILS.TIMES'| translate}} </li>
          </ul>
          <h3 class="sub-title">{{'EVENTDETAILS.ADDRESS'| translate}}</h3>
          <div class="address-logo">
            <div *ngFor="let logourl of logourls;let i=index">
              <img [src]="logourl" class="img-responsive ad-logo-img" height="100" width="100" />
            </div>
            <div *ngIf=showAddress>
              <p>{{eventpost.AddressStreet1 +" " + eventpost.AddressStreet2}}<br>{{eventpost.CityName}}  {{eventpost.StateName}}  USA.<br>{{'EVENTDETAILS.ZIPCODE'| translate}} {{eventpost.ZipCode}}</p>
            </div>
          </div>
          <br />
          <div *ngIf=showMap>
            <app-gmap [addressforMap]="addressforMap"></app-gmap>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
