<app-mainhead (changeLanguage)="changeCategoryContent()"></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <!-- <div class="col-sm-3">
        <app-popular-category></app-popular-category>
      </div> -->

      <div class="col-sm-12">
        <div class="page-content">
          <h2 class="main-title">{{ 'EVENTS.TITLENAME' | translate }} <button class="add-btn" (click)="btnPostNew()">{{ 'EVENTS.POSTNEW' | translate }}</button></h2> 

          <!-- <div>
            <ul class="event-filter">
              <li><button type="button" (click)="btnPostNew()">Post New</button></li>
            </ul>
          </div> -->

          <div class="btn-group right-switch right-btn" role="group" aria-label="Basic example">
            <button id="free" type="button" (click)="btnchanged($event,'free')">{{ 'EVENTS.ALL' | translate }}</button>
            <button id="premium" type="button" (click)="btnchanged($event,'premium')">{{ 'EVENTS.PREMIUM' | translate }}</button>
          </div>

          <div [ngClass]="showCatEng">
            <ul class="event-filter">
              <li><button id="0"(click)="getEventsbycategory(0)">All Events</button></li>
              <li *ngFor="let Category of categories" (click)="getEventsbycategory(Category.categoryId)"><button id="{{Category.categoryId}}">{{Category.categoryName}}</button> <br></li>
            </ul>
          </div>
          <div [ngClass]="showCatArb">
            <ul class="event-filter">
              <li><button (click)="getEventsbycategory(0)">الكل</button></li>
              <li *ngFor="let Category of categories" (click)="getEventsbycategory(Category.categoryId)"><button id="{{Category.categoryId}}">{{Category.arabicName}}</button> <br></li>
            </ul>

          </div>


          <div class="row" *ngIf=PremiumList>
            <div class="col-sm-12"><h4 class="ad-sub-title">{{ 'EVENTS.PREMIUMEVENTS' | translate }}</h4></div>
            <div class="col-sm-3" *ngFor="let eventpost of PremiumEventdetails; let i = index">
              <a [routerLink]="['/event-detail']" [queryParams]="{eventId:eventpost.eventId}" queryParamsHandling="merge" class="ad-btn">
                <div class="ad-block" [ngClass]="getpremiumtag(eventpost.isPremium)">
                  <div class="event-block">
                    <img   [src]="getPicUrl(eventpost.imageUrl,eventpost.eventId)" class="img-fluid img-100" />
                    <br />
                    <div class="ad-right-data">
                      <h3 class="event-title">{{eventpost.title}}</h3>
                      <!--<div class="ad-sub-details buy-sell-sideblock">-->
                        <div class=""><i class="fa fa-eye" aria-hidden="true"></i> Viewed: {{eventpost.visitorCount}}</div>
                        <div class="event-date">{{ 'EVENTS.EVENTDATE' | translate }} : <i class="fa fa-calendar" aria-hidden="true"></i>   {{ eventpost.eventDate| date:'dd-MMM-yyyy'}}</div>
                      <!--</div>-->
                      
                    </div>
                    <!--<div class="ribbon ribbon-top-right" *ngIf=PremiumtagList><span>Premium</span></div>-->
                  </div>
                </div>
              </a>

            </div>

            <div class="col-sm-4"><span [ngClass]="eventsNoRecords">{{ 'EVENTS.NOEVENTSFOUND' | translate }} !!!</span></div>
      
          </div>
      


          <div class="row" *ngIf=FreeList>
            <div class="col-sm-12"><h4 class="ad-sub-title">{{ 'EVENTS.FREEEVENTS' | translate }}</h4></div>
            <div class="col-sm-3" *ngFor="let Freepost of Freeposts; let i = index">
              <a [routerLink]="['/event-detail']" [queryParams]="{eventId:Freepost.eventId}" queryParamsHandling="merge" class="ad-btn">
                <div class="event-block">

                  <div class="ad-right-data">
                    <h3 class="event-title">{{Freepost.title}}</h3>
                    <div class="ad-sub-details buy-sell-sideblock">
                      <div class=""><i class="fa fa-eye" aria-hidden="true"></i> Viewed: {{Freepost.visitorCount}}</div>
                      <div class="event-date">{{ 'EVENTS.EVENTDATE' | translate }} : <i class="fa fa-calendar" aria-hidden="true"></i>   {{ Freepost.eventDate| date:'dd-MMM-yyyy'}}</div>
                    </div>

                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-4"><span [ngClass]="eventsfreeRecords">{{ 'EVENTS.NOEVENTSFOUND' | translate }} !!!</span></div>
          </div>



          <!--<div class="row">
        
            <div class="col-sm-3" *ngFor="let eventpost of eventposts">
              <a [routerLink] ="['/event-detail']"  [queryParams]="{eventId:eventpost.eventId}"  queryParamsHandling="merge">
                <div class="event-block">
                  <img   [src]="getPicUrl(eventpost.imageUrl,eventpost.eventId)" class="img-fluid img-100" />
                  <h4 class="event-title">{{eventpost.title}}</h4>
                  <p class="event-date">Event Date : <i class="fa fa-calendar" aria-hidden="true"></i>   {{ eventpost.eventDate| date:'dd-MMM-yyyy'}}</p>
                </div>
                </a>
            </div>



            <div class="col-sm-4"><span [ngClass]="eventsNoRecords">No Records Found !!!</span></div>
          </div>-->

        </div>
      </div>
    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
