<div class="animated fadeIn">

  <div class="card">
    <div class="card-header">
      <i class="nav-icon icon-list"></i>Sub Category
      <div class="card-head-right-block">
        <div class="input-group">
          <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="form-bg-section">
        <span class="form-bg-title">Add Sub Category</span>
        <div class="container-fluid">
          <form [formGroup]="FormSubcategoryAdd" autocomplete="off">
            <!--<div class="hidden">
                <input type="hidden" placeholder="subCategoryId" name="subCategoryId" class="form-control" id="subCategoryId">
              </div>-->
            <div class="row">

              <div class="col-md-7">
                <div class="form-group">
                  <label class="col-form-label" for="categoryId">Category <span class ="asterisk">*</span></label><br>
                  <!--<select class="form-control" formControlName="categoryId" id="categoryId" name="categoryId" (change)="FillCategoryName($event);" [ngClass]="{ 'is-invalid': submitted && FormSubcategoryAdd.controls.categoryId.errors }">
                    <option value="">--Select Category--</option>
                    <option *ngFor="let Category of _allCategory | async" [ngValue]="Category.categoryId">
                      {{Category.categoryName}}
                  </select>-->
                  <ng-select [items]="categories"
                             bindLabel="categoryName"
                             bindValue="categoryId"
                             placeholder=""
                             class="form-control" id="categoryId" formControlName="categoryId" name="categoryId" (change)="FillCategoryName($event);" [ngClass]="{ 'is-invalid': submitted && FormSubcategoryAdd.controls.categoryId.errors }">
                    <span class="ng-arrow-zone">
                      <span class="ng-arrow"></span>
                    </span>
                  </ng-select>
                  <div *ngIf="submitted &amp;&amp; FormSubcategoryAdd.controls.categoryId.errors" class="text-danger">
                    <div *ngIf="FormSubcategoryAdd.controls.categoryId.errors.required">Category Selection is Required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="SubCategoryName">Sub Category Name(English)  <span class ="asterisk">*</span></label>
                  <input class="form-control" formControlName="SubCategoryName" id="SubCategoryName" maxLength="50" name="SubCategoryName" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && FormSubcategoryAdd.controls.SubCategoryName.errors }">
                  <div *ngIf="submitted &amp;&amp; FormSubcategoryAdd.controls.SubCategoryName.errors" class="text-danger">

                    <div *ngIf="FormSubcategoryAdd.controls.SubCategoryName.errors.required">Sub Category Name is Required</div>
                    <!-- <div *ngIf="FormSubcategoryAdd.controls.SubCategoryName.errors.pattern">Please Enter Characters Only</div> -->
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="arabicName"> Sub Category Name(Arabic) <span class ="asterisk">*</span></label>
                  <input class="form-control" formControlName="arabicName" id="arabicName" maxLength="50" name="arabicName" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && FormSubcategoryAdd.controls.arabicName.errors }">
                  <div *ngIf="submitted &amp;&amp; FormSubcategoryAdd.controls.arabicName.errors" class="text-danger">

                    <div *ngIf="FormSubcategoryAdd.controls.arabicName.errors.required">Arabic Name is Required</div>
                    <!-- <div *ngIf="FormSubcategoryAdd.controls.arabicName.errors.pattern">Please Enter Characters Only</div> -->

                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label" for="Description">Description </label>
                  <textarea class="form-control" formControlName="Description" id="Description" maxLength="500" name="Description" placeholder="" type="text" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="btn-section">
              <button type="submit" (click)="addSubCategory()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>
              <button type="cancel" (click)="ngOnInit()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
              <button type="reset" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
            </div>
          </form>
        </div>
      </div>
      <div class="table-box">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th style="width:20%" [class.active]="order === 'subCategoryName'"
                  (click)="setOrder('subCategoryName')"
                  class="mdl-data-table__cell--non-numeric">
                Sub Category Name(English)<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

              <th style="width:20%" [class.active]="order === 'arabicName'"
                  (click)="setOrder('arabicName')"
                  class="mdl-data-table__cell--non-numeric">
                Sub Category Name(Arabic)<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:20%" [class.active]="order === 'categoryName'"
                  (click)="setOrder('categoryName')"
                  class="mdl-data-table__cell--non-numeric">
                Category Name <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>


              <!--<th style="width:30%" [class.active]="order === 'description'"
                  (click)="setOrder('description')"
                  class="mdl-data-table__cell--non-numeric">
                Description<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>-->

              <th style="width:10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Subcategory of Subcategories | filter:filter | orderBy: order:'case-insensitive'  | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
              <td>{{Subcategory.subCategoryName}}</td>
              <td>{{Subcategory.arabicName}}</td>
              <td>{{Subcategory.categoryName}}</td>

              <!--<td>{{Subcategory.description}}</td>-->
              <td>
                <button (click)="updateSubCategory(Subcategory)" class="btn edit-btn" data-toggle="tooltip" title="Edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button (click)="onDelete(Subcategory.subCategoryId,Subcategory.subCategoryName,$event)" class="btn delete-btn" data-toggle="modal" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash"></i></button>
              </td>
              <!-- <td><button (click)="onDelete(user.categoryId)" class="fa fa-trash"></button></td>  -->
            </tr>
            <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-form-label" for="DeletePopUp">{{actionMessage}}</label>
                        </div>
                      </div>
                    </div>
                    <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                    <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                  </div>
                </div>
              </div>
            </div>
            <tr *ngIf="Subcategories == null">
              <td colspan="4">No records found!</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>
        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
