<app-mainhead (changeLanguage)="changeFaqData()"></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">
            <!-- <div class="col-sm-3">
              <app-popular-category></app-popular-category>     
            </div> -->
            
            <div class="col-sm-12">
              <div class="page-content faq-section">
                <h2 class="main-title">{{ 'FAQ.TITLENAME' | translate }}</h2>
                <span [ngClass]="showEng" [innerHTML]="FAQData"> </span>
                <span [ngClass]="showArb" [innerHTML]="FAQArabicData"> </span>
                <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How do I register as user?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do I register as a business owner?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How do I contact the admin of the website?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What is Free Business Listing?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            What is the difference between Paid Banners and Premium Ads?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How do I post an Ad under Buy/Sell?
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            How do I delete my posting from Buy/Sell?
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Can I edit my posting?
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingNine">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            How do I advertise my business with you?
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTen">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Can I add my company logo when I advertise with you?
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEleven">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            How do I pay for my ad?
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
        <div class="panel-body">
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..
        </div>
      </div>
    </div>

  </div>                            -->
              </div>
            </div>          
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
