<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>
<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">

          <div class="col-sm-8">
            <div class="page-content">
              <h2 class="main-title">
                {{bannerpost.title}}<br>
                <span><i class="fa fa-calendar"></i> {{ 'HOME.POSTEDON' | translate }} {{ bannerpost.createdDate | date:'dd-MMM-yyyy'}}</span>
              </h2>
              <div *ngFor="let imageurl of Imageurls;let i=index">
                <img [src]="imageurl" style="max-width: 100%;" />
              </div>
              <div class="description-box" [ngClass]="readmore ? 'read-all' : 'read-less'">
                <br>
                <br>
                <!--<p> {{bannerpost.description}}</p>-->
                <p>
                  <span [innerHTML]="description"> </span>
                </p>
              </div>
              <p class="read-more" (click)="readMore()" [ngClass]="readmore ? 'read-all' : 'read-less'">{{'BANNERDETAILVIEW.READMORE'|translate }} </p>
            </div>
            <div class="ribbon ribbon-top-right" *ngIf=PremiumtagAd><span>{{ 'BANNERLIST.PREMIUM' | translate }}</span></div>
            <div class="ribbon ribbon-top-right" *ngIf=FeaturedtagAd style="right:5px;"><span style="background-image: linear-gradient(45deg, #006a4e, #ffcd00);">{{ 'BANNERLIST.FEATURED' | translate }}</span></div>
            
          </div>  

            <div class="col-sm-4">
              <div class="page-content contact-deail-block">
                <!--<h3><button class="add-btn" (click)="btnPostNew()">+ {{ 'BANNERLIST.POSTNEW' | translate }}</button> </h3>-->
                <h3><button class="add-btn" (click)="btnPostNew()">{{ 'BANNERLIST.POSTNEW' | translate }}</button> </h3>
                <br>
                <br>

                <h3 class="sub-title">{{'BANNERDETAILVIEW.CONTACTDETAILS'|translate }}</h3>
                <ul class="ad-address">
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'BANNERDETAILVIEW.PHONENUMBER'|translate }} </span>{{bannerpost.ContactNumber}}</li>
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'BANNERDETAILVIEW.ALTERNATECONTACTNUMBER'|translate }}  </span>{{bannerpost.AlternateContactNumber}}</li>
                  <!--<li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'BANNERDETAILVIEW.EMAILID'|translate }} </span>{{bannerpost.Email}}</li>-->
                  <li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'BANNERDETAILVIEW.EMAILID'| translate}} </span><u><a [href]="mailto" style="color:#1a73e8;">{{bannerpost.Email}}</a></u></li>
                  <li><span><i class="fa fa-fax" aria-hidden="true"></i>{{'BANNERDETAILVIEW.FAXNUMBER'|translate }}</span>{{bannerpost.FaxNumber}}</li>
                  <li><span><i class="fa fa-globe" aria-hidden="true"></i>{{'BANNERDETAILVIEW.WEBSITE'|translate }}</span> {{bannerpost.website}}</li>
                  <li><span><i class="fa fa-eye" aria-hidden="true"></i> {{'BANNERDETAILVIEW.VIEWED'|translate }} </span> {{bannerpost.visitorCount}} Times</li>
                </ul>
                <h3 class="sub-title">{{'BANNERDETAILVIEW.ADDRESS'|translate }}</h3>
                <div class="address-logo">
                  <div *ngFor="let logourl of logourls;let i=index">
                    <img [src]="logourl" class="img-responsive ad-logo" height="100" width="100" />
                  </div>
                  <div *ngIf=showAddress>
                    <p>{{bannerpost.AddressStreet1 +" " + bannerpost.AddressStreet2}}<br>{{bannerpost.CityName}}  {{bannerpost.StateName}}  USA.<br>{{'BANNERDETAILVIEW.ZIPCODE'| translate}} {{bannerpost.ZipCode}}</p>
                  </div>
                </div>
                <br />
                <div *ngIf=showMap>
                  <!--<app-gmap [addressforMap]="addressforMap"></app-gmap>-->
                  <div id="map" style="width:100%;height:400px;"></div>
                </div>
              </div>          
            </div>             
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
