@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #383838;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.t-roboto {
  font-family: 'Roboto', sans-serif;
}

a:hover,
a:focus {
  text-decoration: none !important;
  cursor: pointer !important;
}

.img-100 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
}

.pad-0 {
  padding: 0;
}

.row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.for-mobile {
  display: none;
}

.header-container {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  -webkit-box-shadow: 0px -3px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -3px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #383838;
}

.header-top {
  background: #f5f5f5;
  background-image: -o-linear-gradient(45deg, #ffffff, #f8f8f8);
  background-image: linear-gradient(45deg, #ffffff, #f8f8f8);
  text-align: right;
  padding: 5px 0;
  float: left;
  width: 100%;
}

  .header-top p {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

    .header-top p span {
      margin: 0 20px;
    }

    .header-top p a {
      color: #383838;
    }

    .header-top p .postnow {
      background: #f88a00;
      padding: 8px 20px;
      margin: 0 15px;
      color: #fff;
      border-radius: 8px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }

      .header-top p .postnow:hover {
        background: #eb2126;
        color: #fff;
      }

  .header-top .right-block-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

    .header-top .right-block-links select {
      background: transparent;
      border: 0;
    }

      .header-top .right-block-links select:focus {
        outline: none;
      }

  .header-top .user-icon {
    margin: 0 20px;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 50%;
  }

    .header-top .user-icon .user-dp {
      max-width: 30px;
      -o-object-fit: cover;
      object-fit: cover;
      height: 30px;
      -o-object-position: center;
      object-position: center;
      border-radius: 50%;
    }

    .header-top .user-icon .dropdown-menu {
      position: absolute;
      will-change: transform;
      border: 0px solid rgb(255, 255, 255);
      border-radius: 0 0 15px 15px;
      margin-top: 12px;
      top: 0px;
      left: 0px;
      -webkit-transform: translate3d(-100px, 23px, 0px);
      transform: translate3d(-100px, 23px, 0px);
      background: white;
      -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    }

      .header-top .user-icon .dropdown-menu li a {
        padding: 10px 15px;
        width: 100%;
        display: block;
        color: #666;
        border-bottom: 1px solid #c8ced3;
      }

      .header-top .user-icon .dropdown-menu li:last-child a {
        border-bottom: 0 solid #000;
      }

      .header-top .user-icon .dropdown-menu li a:hover {
        color: #f88a00;
      }

      .header-top .user-icon .dropdown-menu li a .fa {
        display: inline-block;
        width: 20px;
        margin-right: 10px;
        color: #c8ced3;
        text-align: center;
      }

.custom-popup .fade {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  background: #fff url(../images/main-bg.svg) no-repeat;
  background-position: right top;
  background-size: 75vw;
}

.custom-popup .modal-dialog {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.custom-popup .modal-content {
  border: 0;
}

.custom-popup .modal-body {
  padding: 0;
}

.logo-container {
  width: 250px;
  text-align: center;
  margin-top: -34px;
  padding: 4px;
  float: left;
  position: relative;
  padding-right: 25px;
  z-index: 1;
}

.web-logo {
  max-width: 150px;
  margin: auto;
}

.menu-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  margin-right: 35px;
}

.menu-container .navbar {
  margin-bottom: 0;
  margin-top: 12px;
}

.menu-container .nav > li > a {
  color: #383838;
  padding: 15px 15px;
  text-transform: uppercase;
}

.menu-container .nav > li:last-child > a {
  padding-right: 0;
}

.menu-container .nav > li > a:focus,
.menu-container .nav > li > a.active,
.menu-container .nav > li > a.is-active,
.menu-container .nav > li > a:hover {
  background: transparent;
  color: #ed3422;
}

.banner-section {
  padding: calc(2.5vw - 20px);
  padding-bottom: 8vw;
  background: #212121 url(../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  padding-top: 115px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #383838;
}

  .banner-section:after {
    position: absolute;
    content: "";
    background-image: -o-linear-gradient(bottom, #f8f8f8, transparent);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f8f8f8), to(transparent));
    background-image: linear-gradient(0deg, #f8f8f8, transparent);
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
  }

.ban-caption {
  position: relative;
  color: #ffffff;
  font-size: 36px;
  text-transform: capitalize;
  text-shadow: 0 3px 6px #000;
}

.banner-section .slick-initialized .slick-slide {
  display: block;
  position: relative;
}

.banner-section .slick-slide .banner-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
  background: #1c1c1c;
  padding: 15px;
  width: 50%;
  float: left;
  border-radius: 8px;
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.banner-section .slick-slide.slick-current.slick-active .banner-text {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.banner-section .banner-text h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}

.banner-section .banner-text p {
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
}

.banner-detail-img {
  width: 50%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.banner-search-filter {
  margin: 50px 0;
}

.search-box {
  color: #6a6a6a;
  padding: 0px 10px;
  max-width: 500px;
  margin-top: 20px;
}

  .search-box .custom-padding {
    padding: 5px;
  }

  .search-box input,
  .search-box button,
  .search-box select {
    width: 100%;
    padding: 10px;
    height: 45px;
    border: 0;
    border-radius: 10px;
  }

    .search-box input:focus,
    .search-box button:focus,
    .search-box select:focus {
      outline: none;
    }

  .search-box .filter-submit {
    color: #fff;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-image: -o-linear-gradient(45deg, #ffcd00, #eb2126);
    background-image: linear-gradient(45deg, #ffcd00, #eb2126);
    transition: all 0.2s;
  }

    .search-box .filter-submit:hover {
      background-image: -o-linear-gradient(45deg, #ffcd00, #006a4e);
      background-image: linear-gradient(45deg, #ffcd00, #006a4e);
    }

.slider-section {
  margin: 50px 0;
}

  .slider-section .banner-slider {
    margin: 50px 0;
    border-radius: 10px;
    position: relative;
  }

    .slider-section .banner-slider .slick-slide img {
      height: 20vw;
      width: 100%;
      background: #212121;
    }

    .slider-section .banner-slider:before {
      position: absolute;
      content: "";
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
      border: 10px solid #fff;
      border-radius: 10px;
    }

    .slider-section .banner-slider .slick-dots {
      width: auto;
      right: 15px;
      bottom: 20px;
      z-index: 2;
    }

      .slider-section .banner-slider .slick-dots li button {
        border: 2px solid #fff;
        border-radius: 10px;
      }

        .slider-section .banner-slider .slick-dots li button:before {
          width: 10px;
          height: 10px;
          content: '';
          background: #fff;
          border-radius: 10px;
          top: 5px;
          left: 5px;
        }

      .slider-section .banner-slider .slick-dots li.slick-active button:before {
        background: #f00;
      }

  .slider-section .slick-prev,
  .slider-section .slick-next {
    background: #fff url(../images/green-left-arrow.svg) no-repeat;
    background-size: 20px;
    background-position: center center;
    z-index: 1;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    top: auto;
    bottom: 100px;
  }

  .slider-section .banner-slider .slick-next {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 20px;
  }

    .slider-section .banner-slider .slick-prev:hover,
    .slider-section .banner-slider .slick-next:hover {
      background: #fff url(../images/red-left-arrow.svg) no-repeat;
      background-size: 20px;
      background-position: center center;
      z-index: 1;
      padding: 10px;
      height: 40px;
      width: 40px;
      border-radius: 5px;
    }

.slick-prev:before,
.slick-next:before {
  display: none;
}

.clientele-logos .slick-prev,
.clientele-logos .slick-next {
  background: #fff url(../images/green-left-arrow.svg) no-repeat;
  background-size: 20px;
  background-position: center center;
  z-index: 1;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  top: auto;
  bottom: 5px;
}

.clientele-logos .slick-slide img {
  margin: 0 auto;
}

.clientele-logos .slick-next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 20px;
}

  .clientele-logos .slick-prev:hover,
  .clientele-logos .slick-next:hover {
    background: #fff url(../images/red-left-arrow.svg) no-repeat;
    background-size: 20px;
    background-position: center center;
    z-index: 1;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }

.content-section {
  padding: 0 0 50px;
  background: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #383838;
}

  .content-section .main-title {
    position: relative;
    color: #161616;
    font-size: 24px;
    margin-bottom: 50px;
  }

    .content-section .main-title:after {
      position: absolute;
      content: "";
      background: #006a4e;
      left: -20px;
      height: 3px;
      width: 100px;
      bottom: -20px;
    }

    .content-section .main-title span {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      color: #f88a00;
      font-weight: normal;
    }

  .content-section .category-section .collapse:not(.show),
  .content-section .popular-categories .collapse:not(.show) {
    display: block;
  }

.category-section {
  background: #fff;
  width: 95vw;
  margin: auto;
  margin-top: -8vw;
  position: relative;
  min-height: 10vw;
  text-align: center;
  border-radius: 8px;
  -webkit-box-shadow: 0px -3px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -3px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 40px;
}

  .category-section .category-list {
    overflow: hidden;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-word;
  }

  .category-section.show-all .category-list {
    -webkit-line-clamp: 100;
    overflow: visible;
  }

  .category-section .show-all {
    -webkit-transform: translateY(35px) rotate(0deg);
    -ms-transform: translateY(35px) rotate(0deg);
    transform: translateY(35px) rotate(0deg);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border: 0;
    background: #006a4e;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

    .category-section .show-all:hover {
      background: #ed3122;
    }

    .category-section .show-all:focus,
    .category-section .show-all:active {
      outline: none;
    }

    .category-section.show-all .show-all {
      -webkit-transform: translateY(35px) rotate(180deg);
      -ms-transform: translateY(35px) rotate(180deg);
      transform: translateY(35px) rotate(180deg);
    }

  /*.category-section .navbar-nav .dropdown.show .dropdown-menu {
    display: block;
}*/

  .category-section .navbar-nav > li {
    float: unset;
    width: 150px;
    display: inline-block;
    margin-bottom: 0px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
  }

    .category-section .navbar-nav > li:hover {
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    }

    .category-section .navbar-nav > li.dropdown {
      position: unset;
    }

    .category-section .navbar-nav > li .category-icon {
      max-width: 60px;
      margin: auto;
      padding: 10px;
      border-radius: 0px;
    }

    .category-section .navbar-nav > li > a {
      color: #383838;
      background: transparent;
      font-size: 14px;
      display: block;
      cursor: pointer;
      position: relative;
    }

      .category-section .navbar-nav > li > a:hover {
        background: #f5f5f5;
      }

      .category-section .navbar-nav > li > a:hover,
      .category-section .navbar-nav > li > a:focus {
        color: #383838;
        background: transparent;
      }

      .category-section .navbar-nav > li > a.dropdown-toggle::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transform: translate(-50%, 10px);
        -ms-transform: translate(-50%, 10px);
        transform: translate(-50%, 10px);
      }

    .category-section .navbar-nav > li:hover > a.dropdown-toggle::after {
      opacity: 1;
    }

    .category-section .navbar-nav > li.dropdown.show > a.dropdown-toggle::after {
      -webkit-transform: rotate(180deg) translate(50%, 0px) scale(2);
      -ms-transform: rotate(180deg) translate(50%, 0px) scale(2);
      transform: rotate(180deg) translate(50%, 0px) scale(2);
      color: #eb6d00;
      opacity: 1;
    }

    .category-section .navbar-nav > li > .dropdown-menu {
      top: calc(100% - 5px);
      position: absolute;
      border: 0;
      background: #ffffff;
      text-align: center;
      padding: 20px;
      top: auto !important;
      left: auto !important;
      right: auto !important;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
      -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    }

      .category-section .navbar-nav > li > .dropdown-menu li {
        float: left;
        padding: 2px;
      }

        .category-section .navbar-nav > li > .dropdown-menu li a {
          color: #212121;
          padding: 5px 10px;
          display: block;
          background: rgb(245, 245, 245);
          border: 2px solid #f5f5f5;
          border-radius: 8px;
        }

          .category-section .navbar-nav > li > .dropdown-menu li a:hover {
            color: #f88a00;
            background: #fff;
          }

.content-section .category-section .main-title:after {
  display: none;
}

.category-bottom-section {
  width: 95vw;
  margin: auto;
}

.popular-categories,
.recent-ads,
.banner-ads,
.clientele-logos,
.page-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.banner-ads,
.page-content {
  height: calc(100% - 30px);
}

.popular-categories .navbar {
  margin-bottom: 0;
}

.popular-categories .navbar-collapse {
  padding: 0;
}

.popular-categories .navbar-nav > li > a {
  padding: 0;
  background: transparent;
}

  .popular-categories .navbar-nav > li > a:hover,
  .popular-categories .navbar-nav > li > a:focus {
    background: transparent;
  }

.popular-categories .category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

  .popular-categories .category-list li {
    padding: 0;
    border: 1px solid #f5f5f5;
    background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
    background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
    margin-bottom: 4px;
    border-radius: 8px;
    position: relative;
    width: 100%;
    cursor: pointer !important;
  }

    .popular-categories .category-list li:before {
      position: absolute;
      content: "";
      background: url(../images/green-right-arrow.svg) no-repeat;
      height: 12px;
      width: 12px;
      left: 20px;
      top: 15px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }

    .popular-categories .category-list li:hover:before {
      position: absolute;
      content: "";
      background: url(../images/green-right-arrow.svg) no-repeat;
      height: 12px;
      width: 12px;
      left: 30px;
      top: 15px;
    }

.popular-categories .navbar-nav .dropdown-menu {
  position: absolute;
  margin-top: 0px;
  left: 20px;
  right: 20px;
  background: #f8f8f8;
  border: 0;
  max-height: 50vh;
  overflow: auto;
  -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
  padding-left: 12px;
}

  .popular-categories .navbar-nav .dropdown-menu li:before {
    position: absolute;
    content: "";
    background: #eb2126;
    height: 2px;
    width: 30px;
    left: 10px;
    top: 21px;
  }

  .popular-categories .navbar-nav .dropdown-menu li:hover:before {
    position: absolute;
    content: "";
    background: #eb2126;
    height: 2px;
    width: 10px;
    left: 30px;
    top: 21px;
  }

.popular-categories .dropdown-toggle::after {
  display: none;
}

.popular-categories .navbar-nav .dropdown.show .dropdown-menu {
  display: block;
}

.popular-categories .navbar-nav .dropdown-menu li {
  background: transparent;
  border: 0;
  margin-bottom: 0;
}

  .popular-categories .navbar-nav .dropdown-menu li a {
    padding: 10px;
    padding-left: 50px;
    border-bottom: 1px solid #fff;
  }

  .popular-categories .navbar-nav .dropdown-menu li:last-child a {
    border-bottom: 0;
  }

  .popular-categories .navbar-nav .dropdown-menu li a {
    background: transparent;
  }

.popular-categories .category-list li.dropdown:after {
  position: absolute;
  content: "+";
  right: 20px;
  top: 11px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  pointer-events: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.popular-categories .category-list li.dropdown.show:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popular-categories .category-list li a {
  width: 100%;
  display: inline-block;
  color: #6a6a6a;
  padding: 10px;
  padding-left: 50px;
}

  .popular-categories .category-list li a:hover,
  .popular-categories .category-list li:hover {
    color: #f89518;
  }

  .popular-categories .category-list li a:hover,
  .popular-categories .category-list li:hover {
    color: #eb2126;
  }

.popular-categories .category-list .sub-category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.popular-categories .category-list li:hover .sub-category-list {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.popular-categories .category-list li .sub-category-list li {
  height: 0px;
  padding: 0px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: 0;
  background: transparent;
  margin-bottom: 0;
  border-radius: 0;
}

.popular-categories .category-list li:hover .sub-category-list li {
  height: 34px;
  padding: 5px;
}

.popular-categories .category-list .sub-category-list li:before {
  position: absolute;
  content: "";
  background: #f89518;
  height: 5px;
  width: 5px;
  left: -8px;
  top: 14px;
}

.recent-ads .ad-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f8f8;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

  .recent-ads .ad-block .ad-left-img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 5px;
    position: relative;
  }

    .recent-ads .ad-block .ad-left-img .premium-icon {
      max-width: 30px;
      position: absolute;
      top: -6px;
      right: -6px;
    }

  .recent-ads .ad-block .ad-right-data {
    width: 100%;
  }

    .recent-ads .ad-block .ad-right-data .ad-sub-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
      color: #bfbfbf;
      font-size: 12px;
    }

  .recent-ads .ad-block.premium .ad-right-data .ad-sub-details {
    padding-right: 60px;
  }

  .recent-ads .ad-block .ad-left-img .ad-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
  }

.ad-contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.recent-ads .ad-block:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.recent-ads .ad-block .ad-title {
  position: relative;
  color: #ed2d24;
  font-size: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
}

  .recent-ads .ad-block .ad-title.bottom-border {
    border-bottom: 1px solid #c4bfbf;
  }

.recent-ads .ad-block.premium .ad-title.bottom-border {
  padding-right: 70px;
}

h4.ad-sub-title {
  padding: 10px;
  border-bottom: 4px solid #f88a00;
  margin-bottom: 20px;
}

.verified-icon {
  color: #f88a00;
  background: white;
  padding-right: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

  .verified-icon .fa {
    background: #006a4e;
    padding: 5px;
    border-radius: 20px;
    color: #fff;
  }

.ad-contact-details .fa {
  color: #f88a00;
}

.recent-ads .ad-block p {
  color: #383838;
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
}

  .recent-ads .ad-block p.ad-info {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #b7b7b7;
    font-weight: normal;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
    margin-bottom: 8px;
  }

  .recent-ads .ad-block p:hover {
    /*color:#f88a00;*/
  }

.view-more-btn {
  background: #f5f5f5;
  border: 0;
  padding: 10px;
  width: 100%;
  color: #666;
  text-transform: uppercase;
  border-radius: 8px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

  .view-more-btn:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  }

.banner-ads .static-ban-img {
  margin: 10px 0;
  border-radius: 8px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.0);
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #212121;
}

  .banner-ads .static-ban-img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  }

.clientele-logo-slider {
  padding: 0 20px;
}

.logo.logo-img.slick-slide .info-patch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #92d8d8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 5px;
}

.dashboard-page-content .clientele-logo-slider .logo-img {
  padding: 0 20px;
}

.dashboard-page-content .clientele-logos {
  background: #f4f4f4;
  padding: 20px 0px;
}

  .dashboard-page-content .clientele-logos .slick-prev,
  .dashboard-page-content .clientele-logos .slick-next {
    bottom: 25%;
  }

  .dashboard-page-content .clientele-logos .logo.logo-img.slick-slide .info-patch i {
    padding: 0px 20px;
    font-size: 30px;
    color: #fff;
  }

  .dashboard-page-content .clientele-logos .logo.logo-img.slick-slide .info-patch .right-patch {
    background: white;
    padding: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

    .dashboard-page-content .clientele-logos .logo.logo-img.slick-slide .info-patch .right-patch p {
      margin: 0;
    }

  .dashboard-page-content .clientele-logos .slick-slide img {
    margin: 0 auto;
    padding: 10px;
  }

.footer-section {
  background: #212121;
  padding: 50px 0 0;
  border-top: 10px solid #eb2126;
  color: #c3c3c3;
}

  .footer-section a {
    color: #c3c3c3 !important;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

    .footer-section a:hover {
      color: #006a4e;
    }

  .footer-section .custom-container {
    width: 95vw;
    margin: auto;
    padding: 0 15px;
  }

  .footer-section .main-title {
    position: relative;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-weight: 300;
  }

    .footer-section .main-title:after {
      position: absolute;
      content: "";
      background: #006a4e;
      left: 0px;
      height: 3px;
      width: 50px;
      bottom: -10px;
    }

  .footer-section .quick-links {
    padding: 0;
    margin: 0;
    list-style: none;
  }

    .footer-section .quick-links li {
      position: relative;
      padding-left: 20px;
    }

      .footer-section .quick-links li a {
        color: #c3c3c3;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }

        .footer-section .quick-links li a:hover {
          color: #006a4e;
        }

        .footer-section .quick-links li a:after {
          font-family: FontAwesome;
          content: '\f105';
          position: absolute;
          left: 0;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
        }

        .footer-section .quick-links li a:hover:after {
          left: 5px;
          color: #006a4e;
        }

  .footer-section .social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    float: left;
  }

    .footer-section .social-media li {
      display: inline-block;
    }

      .footer-section .social-media li a {
        font-size: 16px;
        color: #fff;
        background: #006a4e;
        height: 40px;
        width: 40px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 50px;
        margin-right: 5px;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }

        .footer-section .social-media li a:hover {
          color: #fff;
          background: #eb2126;
        }

  .footer-section .browser-support {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    color: #676767;
  }

  .footer-section .copyright {
    background: #1c1c1c;
    padding: 10px 0 1px;
    margin-top: 20px;
    text-align: center;
    color: #6f6f6f;
    font-size: 14px;
  }


/*.fade {
    background: #f5f5f5;
}*/

.modal.in .modal-dialog {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.custom-modal .modal-content {
  border: 0px solid #fafafa;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.custom-modal .modal-header {
  padding: 15px;
  border: 0;
  background: #f88a00;
  color: #fff;
}

.custom-modal .close {
  /*color: #fff;*/
  opacity: 1;
}

.custom-modal label {
  font-weight: normal;
  color: #383838;
}

.custom-modal input {
  line-height: normal;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  height: auto;
}

  .custom-modal input:focus {
    outline: none;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

.custom-modal .popup-submit {
  margin-bottom: 15px;
  background: #f88a00;
  border: 0;
  padding: 10px 50px;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
}

  .custom-modal .popup-submit:focus {
    outline: none;
  }

.custom-modal .psw {
  float: right;
}


/* ==============================================================================================================================================================================
Login Css
============================================================================================================================================================================== */

.home-icon {
  float: right;
  width: 125px;
  margin-top: -20px;
  position: relative;
  z-index: 20;
}

.login-container {
  background: #fff;
  color: #161616;
  padding: 50px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  max-width: 1000px;
  margin: auto;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

  .login-container .main-title {
    position: relative;
    color: #161616;
    font-size: 24px;
    margin-bottom: 50px;
  }

    .login-container .main-title:after {
      position: absolute;
      content: "";
      background: #006a4e;
      left: -50px;
      height: 3px;
      width: 100px;
      bottom: -20px;
    }

.left-block {
  border: 1px solid #dadde0;
  padding: 30px;
  border-radius: 8px;
}

  .left-block .form-group {
    margin-bottom: 25px;
  }

    .left-block .form-group input,
    .left-block .form-group select {
      height: auto;
      padding: 15px;
    }

      .left-block .form-group input::-webkit-input-placeholder {
        color: #161616;
        font-size: 15px;
      }

      .left-block .form-group input::-moz-placeholder {
        color: #161616;
        font-size: 15px;
      }

      .left-block .form-group input:-ms-input-placeholder {
        color: #161616;
        font-size: 15px;
      }

      .left-block .form-group input::-ms-input-placeholder {
        color: #161616;
        font-size: 15px;
      }

      .left-block .form-group input::placeholder {
        color: #161616;
        font-size: 15px;
      }

.login-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
}

.login-container .submit-btn {
  width: 100%;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-image: -o-linear-gradient(45deg, #ffcd00, #eb2126);
  background-image: linear-gradient(45deg, #ffcd00, #eb2126);
  transition: all 0.2s;
}

  .login-container .submit-btn:hover {
    background-image: -o-linear-gradient(45deg, #ffcd00, #006a4e);
    background-image: linear-gradient(45deg, #ffcd00, #006a4e);
  }

.login-container button:disabled.submit-btn {
  opacity: 0.5;
}

  .login-container button:disabled.submit-btn:hover {
    background-image: -o-linear-gradient(45deg, #ffcd00, #eb2126);
    background-image: linear-gradient(45deg, #ffcd00, #eb2126);
  }

.or {
  display: inline-block;
  position: relative;
  z-index: 2;
}

  .or span {
    display: inline-block;
    background: #fff;
    color: #006a4e;
    padding: 10px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    position: relative;
    z-index: 2;
  }

  .or:before {
    width: 2px;
    height: 300px;
    background: #dadde0;
    position: absolute;
    content: "";
    top: -130px;
    left: 20px;
    z-index: -1;
  }

.social-btn {
  padding: 15px;
  text-align: center;
  width: 100%;
  margin: 5px 0;
  border-radius: 8px;
  border: 0;
  background: #f88a00;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

  .social-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .social-btn.fb {
    background: #3c579a;
  }

  .social-btn.google {
    background: #de4b39;
  }


/* ==============================================================================================================================================================================
Website Dashboard CSS
============================================================================================================================================================================== */

.dashboard-banner-section {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: -150px;
  background: -o-linear-gradient(top, #6b97cc, transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(#6b97cc), to(transparent));
  background: linear-gradient(180deg, #6b97cc, transparent);
  background-size: cover;
}

.website-sidebar {
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  height: calc(100% - 30px);
  overflow: hidden;
}

  .website-sidebar .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5px;
  color: #fff;
  background-image: -o-linear-gradient(45deg, #eb2126, #ffcd00);
  background-image: linear-gradient(45deg, #eb2126, #ffcd00);
}

  .user-info img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  .user-info .user-name p {
    margin-bottom: 0;
    font-family: "Roboto Slab", serif;
  }

.website-sidebar .navbar-expand-lg .navbar-nav .nav-link {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
  margin-bottom: 4px;
  border-radius: 8px;
}

  .website-sidebar .navbar-expand-lg .navbar-nav .nav-link .nav-icon {
    margin-right: 10px;
    color: #f88a00;
    font-weight: bolder;
  }

  .website-sidebar .navbar-expand-lg .navbar-nav .nav-link:hover,
  .website-sidebar .navbar-expand-lg .navbar-nav .nav-link.is-active {
    color: #fff;
    background-image: -o-linear-gradient(135deg, #ffcd00, #eb2126);
    background-image: linear-gradient(-45deg, #ffcd00, #eb2126);
    background: #f88a00;
  }

    .website-sidebar .navbar-expand-lg .navbar-nav .nav-link:hover .nav-icon,
    .website-sidebar .navbar-expand-lg .navbar-nav .nav-link.is-active .nav-icon {
      color: #fff;
    }


/*.website-sidebar .navbar-expand-lg .navbar-nav .nav-link:after {
    position: absolute;
    content: "";
    background: #fafafa;
    height: 2px;
    width: 20px;
    left: calc(0% - 20px);
    top: 20px;
    opacity:0;
    transition: all 0.2s;
}
.website-sidebar .navbar-expand-lg .navbar-nav .nav-link:hover:after {
    position: absolute;
    content: "";
    background: #fafafa;
    height: 2px;
    width: 20px;
    left: calc(100% - 20px);
    top: 20px;
    opacity:1;
}*/

.dashboard-page-content {
  min-height: 50vh;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  height: calc(100% - 30px);
  overflow: hidden;
}

  .dashboard-page-content .card {
    border-radius: 8px;
    min-height: 50px;
  }

  .dashboard-page-content .btn {
    border-radius: 8px;
  }

  .dashboard-page-content .card .manage-btn {
    float: right;
  }

.plan-details {
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  padding: 10px;
  height: 100%;
  background: #fff;
  line-height: 30px;
  font-size: 15px
}

  .plan-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

    .plan-details ul li {
      background: #f5f5f5;
      padding: 5px 15px;
      margin-bottom: 2px;
      border-radius: 4px;
    }


/* ==============================================================================================================================================================================
About Us CSS
============================================================================================================================================================================== */

.inner-banner-section {
  width: 100%;
  height: 150px;
  background-image: -o-linear-gradient(135deg, #eb2126, #ffcd00);
  background-image: linear-gradient(-45deg, #eb2126, #ffcd00);
  background: #212121 url(../images/banner-bg.jpg) no-repeat;
  position: relative;
}

  .inner-banner-section:after {
    position: absolute;
    content: "";
    background-image: -o-linear-gradient(bottom, #f8f8f8, transparent);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f8f8f8), to(transparent));
    background-image: linear-gradient(0deg, #f8f8f8, transparent);
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
  }


/* ==============================================================================================================================================================================
Event CSS
============================================================================================================================================================================== */

.event-block {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

  .event-block:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .event-block img {
    border-radius: 8px;
    height: 7.5vw;
    -o-object-fit: cover;
    object-fit: cover;
  }

.event-title {
  color: #f88a00;
  font-size: 20px;
  margin: 10px 0;
  line-height: normal;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
}

.event-date {
  color: #9c9c9c;
  font-size: 14px;
}

.event-description {
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  margin-bottom: 0px;
  color: #666;
  font-size: 15px;
}

ul.event-filter {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
}

  ul.event-filter li {
    display: inline-block;
    margin-right: 2px;
  }

    ul.event-filter li button {
      cursor: pointer;
      color: #fff;
      background-image: -o-linear-gradient(top, #ffcd00, #eb6d00);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd00), to(#eb6d00));
      background-image: linear-gradient(180deg, #ffcd00, #eb6d00);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      border: 0;
      padding: 6px 25px;
      border-radius: 9px;
    }

      ul.event-filter li button.active {
        color: #fff;
        background-image: -o-linear-gradient(top, #ffcd00, #006a4e);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd00), to(#006a4e));
        background-image: linear-gradient(180deg, #ffcd00, #006a4e);
      }

      ul.event-filter li button:hover,
      ul.event-filter li button:active,
      ul.event-filter li button:focus {
        color: #fff;
        background-image: -o-linear-gradient(top, #ffcd00, #006a4e);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd00), to(#006a4e));
        background-image: linear-gradient(180deg, #ffcd00, #006a4e);
      }


/* ==============================================================================================================================================================================
FAQ's CSS
============================================================================================================================================================================== */

.faq-section .panel-default {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1.5px solid #f5f5f5;
  border-radius: 0;
}

  .faq-section .panel-default:last-child {
    border-bottom: 0;
  }

.faq-section .panel-group .panel + .panel {
  margin: 0;
}

.faq-section .panel-default > .panel-heading {
  background-color: transparent;
  border: 0;
  padding: 20px;
}

  .faq-section .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    padding-top: 0;
    padding-left: 55px;
    padding-bottom: 30px;
    color: #969696;
    font-size: 15px;
    position: relative;
  }

.faq-section .panel-title a {
  padding-left: 40px;
  position: relative;
  font-size: 16px;
}

  .faq-section .panel-title a:after {
    content: "";
    position: absolute;
    left: 0;
    font-size: 24px;
    top: 10px;
    background: #eb2126;
    width: 30px;
    height: 2px;
  }

  .faq-section .panel-title a.collapsed:after {
    content: "+";
    position: absolute;
    left: 0;
    font-size: 24px;
    top: -3px;
    color: #eb2126;
    background: transparent;
  }


/* ===========================================================================================================
Ad Detail Page css
=========================================================================================================== */

.img-gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 15px;
  float: left;
}

  .img-gallery li {
    width: 20%;
    float: left;
    padding: 5px;
  }

    .img-gallery li img {
      border-radius: 10px;
    }

.contact-deail-block .sub-title {
  margin-bottom: 10px;
  font-size: 20px;
  background: #F88A00;
  padding: 10px;
  color: #fff;
  position: relative;
  z-index: 1;
}

  .contact-deail-block .sub-title:before {
    position: absolute;
    content: "";
    background: #F88A00;
    left: -20px;
    right: -35px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .contact-deail-block .sub-title:after {
    position: absolute;
    content: "";
    background: url(../images/red-triangle.svg) no-repeat;
    right: -35px;
    bottom: -15px;
    height: 15px;
    width: 15px;
    z-index: -1;
  }

.ad-address {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .ad-address li {
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
  }

    .ad-address li span {
    }

      .ad-address li span .fa {
        padding: 5px;
      }

.ad-img-banner .slick-dots {
  width: auto;
  bottom: 15px;
  background: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50px;
  padding: 0 10px;
}

  .ad-img-banner .slick-dots li {
    margin: 8px;
  }

    .ad-img-banner .slick-dots li button {
      border: 2px solid #212121;
      border-radius: 10px;
    }

      .ad-img-banner .slick-dots li button:before {
        width: 10px;
        height: 10px;
        content: '';
        background: #212121;
        opacity: 1;
        border-radius: 10px;
        top: 5px;
        left: 5px;
      }

    .ad-img-banner .slick-dots li.slick-active button:before {
      background: #f00;
    }

.ad-img-banner .slick-prev,
.ad-img-banner .slick-next {
  background: #fff url(../images/green-left-arrow.svg) no-repeat;
  background-size: 20px;
  background-position: center center;
  z-index: 1;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  top: auto;
  bottom: 10%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.ad-img-banner .slick-next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 20px;
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
}

  .ad-img-banner .slick-prev:hover,
  .ad-img-banner .slick-next:hover {
    background: #fff url(../images/red-left-arrow.svg) no-repeat;
    background-size: 20px;
    background-position: center center;
    z-index: 1;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }

.page-content .description-box {
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-word;
}

  .page-content .description-box.read-all {
    -webkit-line-clamp: 100;
  }

  .page-content .description-box p {
    margin: 0;
  }

.read-more {
  color: #eb2126;
  position: relative;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

  .read-more:after {
    position: absolute;
    content: "More..";
    left: 100%;
    top: 0;
    padding-left: 5px;
  }

  .read-more.read-all:after {
    content: "Less..";
  }

.address-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

  .address-logo .ad-logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .address-logo p {
    margin-bottom: 0;
  }

.btn-group.right-switch.right-btn button {
  background: #f88a00;
  background-image: -o-linear-gradient(top, #ffcd00, #eb6d00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd00), to(#eb6d00));
  background-image: linear-gradient(180deg, #ffcd00, #eb6d00);
  margin-right: 3px;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

  .btn-group.right-switch.right-btn button.active {
    background: #f88a00;
    color: #fff;
    background-image: -o-linear-gradient(top, #ffcd00, #006a4e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd00), to(#006a4e));
    background-image: linear-gradient(180deg, #ffcd00, #006a4e);
  }

  .btn-group.right-switch.right-btn button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }


/* ==============================================================================================================================================================================
Blog CSS
============================================================================================================================================================================== */

.blog-block {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: calc(100% - 20px);
}

  .blog-block:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .blog-block .img-block {
    overflow: hidden;
    border-radius: 8px;
  }

    .blog-block .img-block img {
      height: 7.5vw;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

  .blog-block:hover .img-block img {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }

.blog-title {
  color: #f88a00;
  font-size: 20px;
  margin: 10px 0;
  line-height: normal;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
}

.blog-desc {
  color: #6a6a6a;
  margin: 10px 0;
  line-height: normal;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-word;
}


/* ==============================================================================================================================================================================
Login-Register slide
============================================================================================================================================================================== */

.login-slide {
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  .login-slide.show-login {
    top: 0%;
  }

.register-slide {
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  .register-slide.show-login {
    top: 0%;
  }

.dashboard-plan-content ul {
  list-style: none;
  padding: 0;
}

  .dashboard-plan-content ul li {
    border: 1px solid #e4e7ea;
    border-bottom: 0;
    padding: 0 10px;
    font-size: 14px;
  }

    .dashboard-plan-content ul li:last-child {
      border-bottom: 1px solid #e4e7ea;
    }

    .dashboard-plan-content ul li span {
      float: right;
      border-left: 1px solid #e4e7ea;
      width: 85px;
      text-align: center;
    }

/* .popular-categories .navbar-nav .dropdown:hover .dropdown-menu,
.category-section .navbar-nav .dropdown:hover .dropdown-menu {
    display: block
} */

.bu-credit .credit-card {
  padding: 10px 20px !important;
  width: 370px !important;
}

.right-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  /* margin-top: -60px; */
}

  .right-switch .switch {
    margin-left: 20px;
  }

.dashboard-plan-content.mar15 {
  margin: -15px;
}

.buy-sell-tabs .nav-tabs .nav-link {
  padding: 10px 60px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

  .buy-sell-tabs .nav-tabs .nav-link.active {
    color: #ec2924;
  }


/*AutoComplete CSS*/

.ng-select.opened > .ng-control .ng-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.ng-select .ng-arrow-zone .ng-arrow {
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
}

.ng-select .ng-arrow-zone .ng-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.ng-arrow-wrapper {
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-select .ng-arrow-wrapper {
  width: 25px;
  padding-right: 5px;
}

.ng-select.ng-select-opened > .ng-select-container {
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9
}

  .ng-select.ng-select-opened > .ng-select-container:hover {
    -webkit-box-shadow: none;
    box-shadow: none
  }

  .ng-select.ng-select-opened > .ng-select-container .ng-arrow {
    top: -2px;
    border-color: transparent transparent #999;
    border-width: 0 5px 5px
  }

    .ng-select.ng-select-opened > .ng-select-container .ng-arrow:hover {
      border-color: transparent transparent #333
    }

.ng-select.ng-select-opened.ng-select-bottom > .ng-select-container {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.ng-select.ng-select-opened.ng-select-top > .ng-select-container {
  border-top-right-radius: 0;
  border-top-left-radius: 0
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #007eff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1)
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #f9f9f9
}


/*.ng-select .ng-has-value .ng-placeholder {
  display: none
}*/

.ng-select .ng-select-container {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

  .ng-select .ng-select-container:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06)
  }

  .ng-select .ng-select-container .ng-value-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px
  }

[dir="rtl"] .ng-select .ng-select-container .ng-value-container {
  padding-right: 10px;
  padding-left: 0
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #999
}

.ng-select.ng-select-single .ng-select-container {
  height: 36px
}

  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 5px;
    left: 0;
    padding-left: 10px;
    padding-right: 50px
  }

[dir="rtl"] .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-right: 10px;
  padding-left: 50px
}

.ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6
}

  .ng-select.ng-select-multiple.ng-select-disabled > .ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding: 0 5px
  }

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 5px;
  padding-left: 7px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-right: 7px;
  padding-left: 0
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: 0.9em;
  margin-bottom: 5px;
  background-color: #ebf5ff;
  border-radius: 2px;
  margin-right: 5px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-right: 0;
  margin-left: 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled {
  background-color: #f9f9f9
}

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
    padding-left: 5px
  }

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
  padding-left: 0;
  padding-right: 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  display: inline-block;
  padding: 1px 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: inline-block;
  padding: 1px 5px
}

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: #d1e8ff
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: 1px solid #b8dbff
  }

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-left: 1px solid #b8dbff;
  border-right: none
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
  border-left: 1px solid #b8dbff
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
  border-left: 0;
  border-right: 1px solid #b8dbff
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
  padding: 0 0 3px 3px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
  padding: 0 3px 3px 0
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 5px;
  padding-bottom: 5px;
  padding-left: 3px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  padding-right: 3px;
  padding-left: 0
}

.ng-select .ng-clear-wrapper {
  color: #999
}

  .ng-select .ng-clear-wrapper:hover .ng-clear {
    color: #D0021B
  }

.ng-select .ng-spinner-zone {
  padding: 5px 5px 0 0
}

[dir="rtl"] .ng-select .ng-spinner-zone {
  padding: 5px 0 0 5px
}

.ng-select .ng-arrow-wrapper {
  width: 25px;
  padding-right: 5px
}

[dir="rtl"] .ng-select .ng-arrow-wrapper {
  padding-left: 5px;
  padding-right: 0
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
  border-top-color: #666
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px
}

.ng-dropdown-panel {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  left: 0
}

  .ng-dropdown-panel.ng-select-bottom {
    top: 100%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-color: #e6e6e6;
    margin-top: -1px
  }

    .ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px
    }

  .ng-dropdown-panel.ng-select-top {
    bottom: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-color: #e6e6e6;
    margin-bottom: -1px
  }

    .ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px
    }

  .ng-dropdown-panel .ng-dropdown-header {
    border-bottom: 1px solid #ccc;
    padding: 5px 7px
  }

  .ng-dropdown-panel .ng-dropdown-footer {
    border-top: 1px solid #ccc;
    padding: 5px 7px
  }

  .ng-dropdown-panel .ng-dropdown-panel-items {
    margin-bottom: 1px
  }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: 8px 10px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);
      cursor: pointer
    }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
        cursor: default
      }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
        background-color: #f5faff
      }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
      .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
        background-color: #ebf5ff;
        font-weight: 600
      }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.87);
      padding: 8px 10px
    }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
        color: #333;
        background-color: #ebf5ff
      }

        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
          font-weight: 600
        }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
        background-color: #f5faff;
        color: #333
      }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
        color: #ccc
      }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
        padding-left: 22px
      }

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
  padding-right: 22px;
  padding-left: 0
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
  font-size: 80%;
  font-weight: 400;
  padding-right: 5px
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
  padding-left: 5px;
  padding-right: 0
}

[dir="rtl"] .ng-dropdown-panel {
  direction: rtl;
  text-align: right
}

.ng-select .ng-control .ng-value-container .ng-input > input {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: none transparent;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  cursor: default;
  width: 100%;
  padding: 0;
  height: auto;
}


/* top right*/

.ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}

  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #c71200;
  }

  .ribbon span {
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    display: block;
    width: 181px;
    padding: 4px 0;
    background-image: -o-linear-gradient(45deg, #ffcd00, #eb2126);
    background-image: linear-gradient(45deg, #ffcd00, #eb2126);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    left: -28px;
    top: 37px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    letter-spacing: 1px;
  }

.ribbon-top-right {
  top: -10px;
  right: -10px;
}

  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }

  .ribbon-top-right::before {
    top: 0;
    left: 0;
    border: 5px solid #ff9e00;
  }

  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }

a.topic-title {
  padding: 8px 15px;
  position: relative;
  color: #006a4e !important;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

  a.topic-title:hover {
    color: #eb2126 !important;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  }

.custom-padding .form-control {
  padding: 10px;
  border-radius: 10px;
  height: auto;
}

.left-block .col-md-12.ng-star-inserted {
  text-align: center;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 18px;
  color: #006a4e;
}

.inp-cal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

  .inp-cal input {
    width: calc(100% - 53px);
    float: left;
  }

  .inp-cal button {
    background: #f88a00;
    border-radius: 4PX;
    color: #ffffff;
  }

.no-record {
  padding: 10px;
  background: #f5f5f5;
  padding-left: 40px;
  position: relative;
  margin-bottom: 30px;
  display: inline-block;
}

  .no-record:after {
    position: absolute;
    content: "i";
    background: #e67477;
    left: 8px;
    padding-top: 2px;
    top: 7px;
    font-weight: 900;
    color: #fff;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    text-align: center;
  }

.free-paid-listing {
  margin-top: 10px;
}

.free-paid-btn {
  background-image: -o-linear-gradient(45deg, #eb2126, #ffcd00);
  background-image: linear-gradient(45deg, #eb2126, #ffcd00);
  padding: 5px 30px;
  color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
}

  .free-paid-btn:hover {
    background-image: -o-linear-gradient(45deg, #006a4e, #ffcd00);
    background-image: linear-gradient(45deg, #006a4e, #ffcd00);
  }

  .free-paid-btn input[type=radio] {
    opacity: 0;
    left: 0;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
  }

    .free-paid-btn input[type=radio] ~ .option-label {
      opacity: 0;
      color: #0f7049;
      padding: 0px 5px;
      margin-right: 2px;
      pointer-events: none;
      background: #fbfbfb;
      border: 2px solid;
      border-radius: 4px;
      position: relative;
      z-index: 1;
    }

    .free-paid-btn input[type=radio]:checked ~ .option-label {
      opacity: 1;
    }

    .free-paid-btn input[type=radio]:checked ~ .option-bg {
      position: absolute;
      content: "";
      background-image: -o-linear-gradient(45deg, #006a4e, #ffcd00);
      background-image: linear-gradient(45deg, #006a4e, #ffcd00);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 4px;
    }

.info-text {
  margin-top: 8px;
  display: block;
  font-size: 12px;
  color: #999;
  position: relative;
  padding-left: 25px;
}

  .info-text:after {
    position: absolute;
    content: "i";
    background: #e67477;
    left: 0;
    padding-top: 2px;
    top: -2px;
    font-weight: 900;
    color: #fff;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    text-align: center;
  }

.free-paid-btn .form-check-label {
  z-index: 2;
  position: relative;
}

.btn {
  margin-right: 2px;
}

.card .text-value {
  border-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-size: 26px !important;
  font-weight: 400 !important;
}

.card .text-muted {
  font-weight: 500;
  font-size: 13px;
}

.cust-fa {
  position: absolute;
  top: -30px;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

  .cust-fa.blue {
    background: #63c2de;
  }

  .cust-fa.dblue {
    background: #20a8d8;
  }

  .cust-fa.yellow {
    background: #ffc107;
  }

  .cust-fa.red {
    background: #f86c6b;
  }

.cust-card-block {
  margin-bottom: 3.5rem !important;
}

.text-value.active {
  color: #4dbd74;
}

.text-value.pending {
  color: #ffc107;
}

.cust-fa span {
  font-family: 'Roboto', sans-serif;
}


/* stripe payment*/

.example.example5 * {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.example.example5 form {
}

#example5-paymentRequest {
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.example.example5 fieldset {
  border: 1px solid #b5a4ed;
  padding: 15px;
  border-radius: 6px;
}

  .example.example5 fieldset legend {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #cdd0f8;
    background-color: #9169d8;
  }

    .example.example5 fieldset legend + * {
      clear: both;
    }

.example.example5 .card-only {
  display: block;
}

.example.example5 .payment-request-available {
  display: none;
}

.example.example5 .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin: 0 0 10px;
}

.example.example5 .field {
  position: relative;
  width: 100%;
}

  .example.example5 .field + .field {
    margin-left: 10px;
  }

.example.example5 label {
  width: 100%;
  color: #cdd0f8;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example.example5 .input {
  width: 100%;
  color: #fff;
  /*color: #f4670d;*/
  background: transparent;
  padding: 5px 0 6px 0;
  border-bottom: 1px solid #a988ec;
  -webkit-transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

  .example.example5 .input::-webkit-input-placeholder {
    color: #666;
  }

  .example.example5 .input::-moz-placeholder {
    color: #666;
  }

  .example.example5 .input:-ms-input-placeholder {
    color: #666;
  }

  .example.example5 .input.StripeElement--focus,
  .example.example5 .input:focus {
    border-color: #000;
  }

  .example.example5 .input.StripeElement--invalid {
    border-color: #ffc7ee;
  }

.example.example5 input:-webkit-autofill,
.example.example5 select:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  -webkit-transition: background-color 100000000s;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example5 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example5 input,
.example.example5 button,
.example.example5 select {
  -webkit-animation: 1ms void-animation-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  border-radius: 0;
}

  .example.example5 select.input,
  .example.example5 select:-webkit-autofill {
    background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M5.35355339,4.64644661 L9.14644661,0.853553391 L9.14644661,0.853553391 C9.34170876,0.658291245 9.34170876,0.341708755 9.14644661,0.146446609 C9.05267842,0.0526784202 8.92550146,-2.43597394e-17 8.79289322,0 L1.20710678,0 L1.20710678,0 C0.930964406,5.07265313e-17 0.707106781,0.223857625 0.707106781,0.5 C0.707106781,0.632608245 0.759785201,0.759785201 0.853553391,0.853553391 L4.64644661,4.64644661 L4.64644661,4.64644661 C4.84170876,4.84170876 5.15829124,4.84170876 5.35355339,4.64644661 Z" id="shape"></path></svg>');
    background-position: 100%;
    background-size: 10px 5px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }

.example.example5 button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0 0;
  background-color: #fff;
  border-radius: 6px;
  color: #9169d8;
  font-weight: 500;
  cursor: pointer;
}

  .example.example5 button:active {
    background-color: #666;
  }

.example.example5 .error svg .base {
  fill: #666;
}

.example.example5 .error svg .glyph {
  fill: #666;
}

.example.example5 .error .message {
  color: #666;
}

.example.example5 .success .icon .border {
  stroke: #666;
}

.example.example5 .success .icon .checkmark {
  stroke: #666;
}

.example.example5 .success .title {
  color: #666;
}

.example.example5 .success .message {
  color: #666;
}

.example.example5 .success .reset path {
  fill: #666;
}

.example.example5 {
  background-color: transparent;
  margin: 20px 0;
}

  .example.example5 .input {
    color: #666;
    border-bottom: 1px solid #8e969e;
  }

  .example.example5 button {
    background-color: #f88a00;
    color: #ffffff;
  }

  .example.example5 fieldset legend {
    color: #666;
    background-color: #f5f5f5;
    padding: 10px;
  }

  .example.example5 fieldset {
    border: 1px solid #e4e7ea;
    padding: 15px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    min-width: 700px;
    max-width: 700px;
  }

.add-btn {
  float: right;
  color: #fff !important;
  background-image: -o-linear-gradient(45deg, #ffcd00, #eb2126);
  background-image: linear-gradient(45deg, #ffcd00, #eb2126);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  border: 0;
}

  .add-btn:hover {
    background-image: -o-linear-gradient(45deg, #ffcd00, #006a4e);
    background-image: linear-gradient(45deg, #ffcd00, #006a4e);
  }

@media (max-width:1440px) {
  .menu-container .nav > li > a {
    padding: 15px 8px;
  }

  .dashboard-page-content .clientele-logos .logo.logo-img.slick-slide .info-patch .right-patch {
    min-height: 240px;
  }
}

@media (max-width:991px) {
  .banner-search-filter {
    text-align: center;
  }

  .search-box {
    margin: 0 auto;
  }

  .banner-search-filter {
    margin: 20px 0 0px;
  }

  .slider-section {
    margin: 0 30px;
  }

    .slider-section .banner-slider .slick-slide img {
      height: 40vw;
    }
}

@media (max-width:767px) {
  .content-section .main-title {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .header-container {
    min-height: 61px;
  }

  .header-top {
    display: none;
  }

  .logo-container {
    width: 120px;
    position: absolute;
    margin-top: 0;
  }

  .web-logo {
    max-width: 100%;
  }

  .navbar {
    display: unset;
    float: left;
    width: 100%;
  }

  .navbar-toggler {
    float: right;
    /*background-color: #e9e9e9 !important;*/
    position: absolute;
    right: 10px;
    top: 0px;
  }

    .navbar-toggler:before {
      position: absolute;
      content: "";
      left: 5px;
      height: 3px;
      right: 5px;
      background: #ed3422;
      top: 5px;
    }

    .navbar-toggler:after {
      position: absolute;
      content: "";
      left: 5px;
      height: 3px;
      right: 5px;
      background: #ed3422;
      bottom: 5px;
    }

  .navbar-toggler-icon:after {
    position: absolute;
    content: "";
    left: 5px;
    height: 3px;
    right: 5px;
    background: #ed3422;
    bottom: 16px;
  }

  .menu-container .nav {
    margin-top: 50px;
    display: block;
    text-align: center;
  }

    .menu-container .nav > li > a {
      padding: 5px;
      background: #f5f5f5;
      margin-bottom: 2px;
      text-align: center;
      width: 100%;
      display: block;
    }

      .menu-container .nav > li > a:focus,
      .menu-container .nav > li > a.active,
      .menu-container .nav > li > a.is-active,
      .menu-container .nav > li > a:hover {
        background: #ed3422;
        color: #fff;
      }

  .feedback-form {
    width: 100% !important;
    right: -100% !important;
  }

    .feedback-form.show-all {
      right: 0 !important;
    }

  .banner-section {
    padding: 61px 0px 50px;
  }

  .ban-caption {
    font-size: 20px;
  }

  .slider-section .slick-prev, .slider-section .slick-next {
    bottom: 30px;
  }

  .search-box {
    padding: 0px 50px;
  }

  .slider-section .banner-slider {
    margin: 30px 0 0;
  }

    .slider-section .banner-slider .slick-dots {
      display: none;
    }

  .content-section {
    padding: 0 0 0px;
  }

  .category-section .navbar-nav > li {
    width: 100px;
    text-align: center;
  }

    .category-section .navbar-nav > li .category-icon {
      max-width: 50px;
    }

  .recent-ads .ad-block.premium .ad-title.bottom-border {
    padding-right: 0;
  }

  .ad-right-data .ad-title {
    margin-bottom: 5px !important;
    font-size: 16px !important;
    height: 22px !important;
  }

  .ad-contact-details {
    display: block;
  }

  .recent-ads .ad-block .ad-left-img {
    height: 120px;
  }

  .footer-section {
    padding: 20px 0 0;
  }

    .footer-section .quick-links {
      margin-bottom: 20px;
    }

    .footer-section .social-media {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 0px;
      float: left;
    }

  #myBtn {
    display: none !important;
  }

  .inner-banner-section {
    height: 70px;
  }

  .add-btn {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    display: none;
  }

  .right-switch {
    float: unset;
  }

  .buy-sell-custom.tab-container {
    margin-top: 20px;
    display: block;
  }

  .buy-sell-tabs .nav-tabs .nav-link {
    padding: 5px 40px;
    font-size: 16px;
  }

  .event-filter {
    display: none !important;
  }

  .event-block img,
  .blog-block .img-block img {
    height: 150px;
  }

  .table-box {
    border-radius: 4px;
    overflow: auto;
  }

    .table-box .table {
      width: 1270px;
    }

  ul.comment-box li:first-child label.posted-by,
  span.posted-on {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
  }

  ul.comment-box li:nth-child(even) {
    margin-right: 0 !important;
    display: block !important;
  }

  ul.comment-box li:nth-child(odd) {
    margin-left: 0 !important;
    display: block !important;
  }

  ul.comment-box li .comment-text:after {
    left: 50% !important;
    bottom: -20px !important;
    margin-top: 0 !important;
    margin-left: -10px !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
  }

  .comment-icon {
    margin: 0 auto !important;
  }

  .login-container {
    padding: 20px;
  }

    .login-container .main-title:after {
      left: -20px;
    }

  .left-block {
    padding: 10px;
  }

    .left-block .form-group {
      margin-bottom: 8px;
    }

  .for-mobile {
    display: block;
  }

  #langSelect {
    width: 200px;
    margin-top: 8px;
    padding: 10px;
    border-radius: 8px;
    background: #f5f5f5;
    border: 0;
  }
}
