<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">
            <div class="col-sm-3">
              <app-busidebar></app-busidebar>     
            </div>


            <div class="col-sm-9">
                <div class="dashboard-page-content">                	
					
                    <div class="animated fadeIn"> <!-- Please dont mess with above divs -->
                        <form [formGroup]="FormResetPassword"  autocomplete="off">
                            <div class="hidden">
                              <input type="hidden" placeholder="userId" name="userId" class="form-control" id="userId">
                            </div>
                            <div class="card">
                              <div class="card-header"><i class="nav-icon icon-reload"></i> Reset Password</div>
                              <input type="hidden" formControlName="userId" placeholder="userId" name="userId" class="form-control" id="userId">
                              <div class="card-body">
                                <div class="table-responsive">
                                  <div class="form-bg-section">
                                    <span class="form-bg-title"><b>Reset Password</b></span>
                                    <div class="container-fluid">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label class="col-form-label" for="email">Email Id<span class="asterisk">*</span></label>
                                            <input class="form-control" id="email" formControlName="email" name="email" placeholder="" type="text" readonly >                  
                   
                                          </div>
                                        </div>           
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label class="col-form-label" for="password">New Password<span class="asterisk">*</span></label>
                                            <input class="form-control" id="password" formControlName="password" maxlength="20" minlength="8" name="password" placeholder="" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                            <div *ngIf="submitted && f.password.errors" class="text-danger">
                                                <div *ngIf="f.password.errors.required">Password is Required</div>
                                                <div *ngIf="f.password.errors.pattern">Passwords must contain at least 8 characters,one uppercase,one special character and one number</div>
                                              </div>
                                          </div>
                                        </div>           
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label class="col-form-label" for="confirmpassword">Confirm Password<span class="asterisk">*</span></label>
                                            <input class="form-control" id="confirmpassword" formControlName="confirmpassword"  maxlength="20" minlength="8" name="confirmpassword" placeholder="" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                                            <div *ngIf="submitted && f.confirmpassword.errors" class="text-danger">
                                                <div *ngIf="f.confirmpassword.errors.required">Confirm Password is Required</div>
                                                <div *ngIf="f.password.errors.pattern">Passwords must contain at least 8 characters,one uppercase,one special character and one number</div>
                                              </div>
                                          </div>
                                        </div>           
                                      </div>
                                    </div>
                                  </div>
                        
                                  <div class="btn-section">
                                    <button type="submit" (click)="ResetPassword()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>    
                            
                                
                                    <button type="cancel" (click)="Navigatetodashboard()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                                
                                  </div>
                                </div>
                              </div>
                            </div>
                        </form>
                        <!-- <form action="">
                            <div class="card">
                                <div class="card-header"><i class="nav-icon icon-reload"></i> Reset Password</div>

                                <div class="card-body">                                    
                                    <div class="table-responsive"> 
                                        <div class="form-bg-section">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="Email">Contact Email Id</label>
                                                            <input class="form-control" id="Email" name="Email" placeholder="" type="email"> 
                                                        </div>   

                                                        <div class="form-group">
                                                            <label class="col-form-label" for="ContactNumber">Password</label>
                                                            <input class="form-control" id="ContactNumber" name="ContactNumber" placeholder="" type="text"> 
                                                        </div>   
                                                        
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="AlternateContactNumber">Confirm Password</label>
                                                            <input class="form-control" id="AlternateContactNumber" name="AlternateContactNumber" placeholder="" type="text"> 
                                                        </div>   
                                                    </div> 
                                                </div>  
                                            </div>
                                        </div>   
                                        <div class="btn-section">
                                            <button type="submit" class="btn btn-sm btn-success"><i class="nav-icon icon-reload"></i> Reset Passwoord</button>
                                            <button type="cancel" class="btn btn-sm btn-danger" ><i class="fa fa-ban"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form> -->
                        <!-- Please dont mess with below divs -->
                    </div>
                </div>
            </div>            
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
