<div class="animated fadeIn">
    <form [formGroup]="FormPostBuySell" action="">
      <div class="card">
        <div class="card-header" #dvTitle><i [ngClass]="titlecss"></i>{{titleText}}</div>  
        <input type="hidden" formControlName="buySellId" placeholder="buySellId" name="buySellId" class="form-control" id="buySellId">
        <input type="hidden" formControlName="createdBy" placeholder="createdBy" name="createdBy" class="form-control" id="createdBy">
        <input type="hidden" formControlName="isPaidAd" placeholder="isPaidAd" name="isPaidAd" class="form-control" id="isPaidAd">
  
  
        <div class="card-body">
          <div class="table-responsive">
  
       
  
            <div class="form-bg-section" >
                <span class="form-bg-title">Buy/Sell Listing Content</span>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="form-check mr-1" id="postplan">
                          <div _ngcontent-sgb-c3="" class="row free-paid-listing">
                            <div _ngcontent-sgb-c3="" class="col-md-4">
                              <div _ngcontent-sgb-c3="" class="free-paid-btn">
                                <input _ngcontent-sgb-c3="" class="form-check-input" id="Free" name="postplan" type="radio" value="Free" [checked]="adTypeFree" (change)="selected('Free')" [disabled]="RadioFree">
                                <span class="option-bg"></span>
                                <span class="option-label"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <label _ngcontent-sgb-c3="" class="form-check-label" for="Free">Free Listing</label>
                              </div>
                              <span class="info-text">Only one image allowed</span>
                            </div>
                            <div _ngcontent-sgb-c3="" class="col-md-4">
                              <div _ngcontent-sgb-c3="" class="free-paid-btn">
                                <input _ngcontent-sgb-c3="" class="form-check-input" id="Paid" name="postplan" type="radio" value="Paid" [checked]="adTypePaid" (change)="selected('Paid')" [disabled]="RadioPaid">
                                <span class="option-bg"></span>
                                <span class="option-label"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <label _ngcontent-sgb-c3="" class="form-check-label" for="Paid">Premium Listing</label>
                              </div>
                              <span class="info-text">Mutliple images allowed</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="col-form-label" for="postedFor">User <span class="asterisk">*</span></label><br>
                        
    
                        <ng-select [items]="users"
                                   bindLabel="userFullName"
                                   bindValue="postedFor"
                                   placeholder=""
                                   class="form-control" id="postedFor" formControlName="postedFor" name="postedFor" (change)="GetUserDetails($event);" [ngClass]="{ 'is-invalid': submitted && f.postedFor.errors }">
                          <span class="ng-arrow-zone">
                            <span class="ng-arrow"></span>
                          </span>
                        </ng-select>
                        <div *ngIf="submitted && f.postedFor.errors" class="text-danger"><div *ngIf="f.postedFor.errors.required">Selection of User is required</div></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="col-form-label" for="CategoryId">Category</label><br>
                       
                        <!-- <ng-select [items]="categories"
                                   bindLabel="categoryName"
                                   bindValue="categoryId"
                                   placeholder=""
                                   class="form-control" id="CategoryId" formControlName="categoryId" disabled name="CategoryId" readonly >
                          <span class="ng-arrow-zone">
                            <span class="ng-arrow"></span>
                          </span>
                        </ng-select> -->
                        <select class="form-control" id="categoryId" formControlName="categoryId" name="categoryId" disabled [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }" readonly>
                            <option value="">--Select Category--</option>
                          <option *ngFor="let Category of _allCategory | async" [value]="Category.categoryId">{{Category.categoryName}}</option>
                        </select>
                        <!-- <div *ngIf="submitted && f.categoryId.errors" class="text-danger"><div *ngIf="f.categoryId.errors.required">Selection of Category is required</div></div> -->
                      </div>
                    </div>
    
    
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="col-form-label" for="SubCategoryId">Sub Category <span class="asterisk">*</span></label><br>
                       
                        <ng-select [items]="subcategories"
                                   bindLabel="subCategoryName"
                                   bindValue="subCategoryId"
                                   placeholder=""
                                   class="form-control" id="subCategoryId" formControlName="subCategoryId" name="subCategoryId">
    
                          <span class="ng-arrow-zone">
                            <span class="ng-arrow"></span>
                          </span>
                        </ng-select>
                        <div *ngIf="submitted && f.subCategoryId.errors" class="text-danger"><div *ngIf="f.subCategoryId.errors.required">Selection of SubCategory is required</div></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="col-form-label" for="Title">Title <span class="asterisk">*</span></label>
                        <input class="form-control" id="Title" formControlName="title" name="Title" placeholder="" type="text" maxlength="100" minlength="5" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <div *ngIf="submitted && f.title.errors" class="text-danger">
                          <div *ngIf="f.title.errors.required">Title Name is required</div>
                          <!-- <div *ngIf="f.title.errors.pattern"> Please Enter Text only</div> -->
                          <div *ngIf="f.title.errors.pattern">Blank spaces not allowed</div>
                        </div>
                      </div>
                    </div>
    
               
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="col-form-label" for="expectedPrice">Expected Price</label>
                        <input class="form-control" id="expectedPrice" formControlName="expectedPrice" name="expectedPrice" placeholder="" type="text">
                        </div>
                      
                    </div>
                    <!-- <div class="col-md-4 d-none">
                      <div class="form-group">
                        <label class="col-form-label" for="validTillDate">Valid Till <span class="asterisk">*</span></label>
                        <input type="date" ng-model="validTillDate" id="validTillDate" name="validTillDate" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}" formControlName="validTillDate" [ngClass]="{ 'is-invalid': submitted && f.validTillDate.errors }">
                       
                        <div *ngIf="submitted && f.validTillDate.errors" class="text-danger">
                          <div *ngIf="f.validTillDate.errors.required">Valid Till Date is required</div>
                        </div>
                      </div>
                    </div> -->
                   
    
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-form-label" for="Description">Description</label>
                      
                        <textarea class="form-control" id="Description" formControlName="description" name="Description" placeholder="" type="text" rows="4"></textarea>
                      </div>
                    </div>
                   
                  </div>
                </div>
    
    
    
    
    
                <!-- Upload Images section -->
                <div class="container-fluid">
                  <div class="row">
    
    
                  </div>
                </div>
                <div #dvFreeSection *ngIf="displayFreeSection">
                <div class="col-md-6" *ngIf="showImageUrl">
                    <div class="form-group"> 
                        <label class="col-form-label" for="file-multiple-input">Image</label><br>                    
                      <theme-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></theme-upload>
                      <input type="hidden" formControlName="ImageUrl" placeholder="ImageUrl" name="ImageUrl" class="form-control" id="ImageUrl">
                    </div>
                  </div>
                </div>

                <div  #dvExtLogo *ngIf="ShowextImageUrl">
                    <!-- <div class="form-group">
                        <div style="float:left;max-width:100px; margin:10px; text-align: center">
                          <img [src]="extImageUrl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                          <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>

                      </div>

                    </div> -->
                    <div *ngFor="let extImageurl of extImageurls;let i=index">
                      <div style="float:left;max-width:100px; margin:10px; text-align: center">
                        <img [src]="extImageurl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                        <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>
                      </div>

                    </div>
                  </div>
                <div #dvPaidSection *ngIf="displayPaidSection">
    
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-form-label" for="">Subscription Plan <span class="asterisk">*</span></label><br>
                          <select class="form-control" id="" formControlName="" name="" (change)="subscriptionPlanDetails($event)">
                            <option *ngFor="let plan of _allPlan | async" [value]="plan.planId">{{plan.planName}}</option>
                          </select>
    
                        </div>
                      </div>
    
                  
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-form-label" for="BuySellCount">Remaining  Count</label>
                          <input class="form-control" id="BuySellCount" formControlName="BuySellCount" name="BuySellCount" placeholder="" type="text" readonly>
                        </div>
                      </div>
                    
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-form-label" for="file-multiple-input">Image</label><br>
                          <!-- <theme-multiupload class="" formControlName="dvImages" name="dvImages" id="dvImages" (onuploadFinishedImage)="uploadFinishedImage($event)"></theme-multiupload> -->
                          <theme-multiupload class="" (onuploadFinishedImage)="uploadFinishedImage($event)"></theme-multiupload>
                          <input type="hidden" formControlName="ImageUrl" placeholder="ImageUrl" name="ImageUrl" class="form-control" id="ImageUrl">
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <!-- Existing Images section on Edit action -->
                  <div [ngClass]="displayExtUploads" #dvExtUploads *ngIf="showextuploads">
                    <span class="form-bg-title">Existing Uploads</span>
                    <div class="container-fluid">
                      <div class="row">
    
    
                        <div [ngClass]="displayExtImages" #dvExtImages>
                          <div class="form-group">
                            <label class="col-form-label" for="file-multiple-input">Image</label><br>
                            <div *ngFor="let extImageurl of extImageurls;let i=index">
                              <div style="float:left;max-width:100px; margin:10px; text-align: center">
                                <img [src]="extImageurl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                                <button type="submit" title="Delete" class="btn delete-btn" (click)="onextextImageurldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>
                              </div>
    
                            </div>
                            <!-- <input type="hidden" formControlName="adextImageUrl" placeholder="adextImageUrl" name="adextImageUrl" class="form-control" id="adextImageUrl"> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
    
                <!-- Existing Images section on Edit action -->
                <!-- <div [ngClass]="displayExtUploads" #dvExtUploads>
                  <span class="form-bg-title">Existing Uploads</span>
                  <div class="container-fluid">
                    <div class="row">
                     
                      <div [ngClass]="displayExtImages" #dvExtImages>
                        <div class="form-group">
                          <label class="col-form-label" for="file-multiple-input">Image</label><br>
                          <div *ngFor="let extImageurl of extImageurls;let i=index">
                            <div style="float:left;max-width:100px; margin:10px; text-align: center">
                              <img [src]="extImageurl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                              <button type="submit" title="Delete" class="btn delete-btn" (click)="onextextImageurldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>
                            </div>
    
                          </div>
                          <input type="hidden" formControlName="adextImageUrl" placeholder="adextImageUrl" name="adextImageUrl" class="form-control" id="adextImageUrl">
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            <div class="form-bg-section">
              <span class="form-bg-title">Contact</span>
              <div class="container-fluid">
                <div class="row">
  
                  
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="ContactPersonName">Contact Person Name <span class="asterisk">*</span></label>
                      <input class="form-control" id="ContactPersonName" formControlName="contactPersonName" name="ContactPersonName" placeholder="" type="text" maxlength="50" minlength="2" [ngClass]="{'is-invalid': submitted && f.contactPersonName.errors }">
                      <div *ngIf="submitted && f.contactPersonName.errors" class="text-danger">
                        <div *ngIf="f.contactPersonName.errors.required">Contact Person Name is required</div>
                        <!-- <div *ngIf="f.contactPersonName.errors.pattern">Please Enter text only</div> -->
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="Email">Email Id <span class="asterisk">*</span></label>
                      <input class="form-control" id="Email" formControlName="email" name="Email" placeholder="" maxlength="50" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="submitted && f.email.errors" class="text-danger">
                        <div *ngIf="f.email.errors.required">Email Id is required</div>
                        <div *ngIf="f.email.errors.pattern">Enter Valid Format of Email</div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label class="col-form-label" for="countryCodeContact">Country Code <span class="asterisk"></span></label><br>
                              <ng-select [items]="countrycode"
                                     bindLabel="name"
                                     bindValue="countryCodeContact"
                                     placeholder=""
                                     class="form-control" id="countryCodeContact" formControlName="countryCodeContact" name="countryCodeContact">
                            <span class="ng-arrow-zone">
                              <span class="ng-arrow"></span>
                            </span>
                          </ng-select>
                        </div>
  
                        <div class="col-md-6">
                          <label class="col-form-label" for="ContactNumber">Contact Number <span class="asterisk">*</span></label>
                          <input class="form-control" id="ContactNumber" formControlName="contactNumber" name="ContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                          <div *ngIf="submitted && f.contactNumber.errors" class="text-danger">
                            <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                            <!-- <div *ngIf="f.contactNumber.errors.pattern"> Please Enter numbers only</div> -->
                            <div *ngIf="f.contactNumber.errors.minlength">Please Enter minimum 10 Numbers</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="AlternateContactNumber">Alternate Contact Number</label>
                      <input class="form-control" id="AlternateContactNumber" formControlName="alternateContactNumber" name="AlternateContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.alternateContactNumber.errors }">
                      <!--<div *ngIf="submitted && f.alternateContactNumber.errors" class="text-danger">
                      <div *ngIf="f.alternateContactNumber.errors.pattern"> Please Enter numbers only</div>
                      </div>-->
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="FaxNumber">Fax Number</label>
                      <input class="form-control" id="FaxNumber" formControlName="faxNumber" name="FaxNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.faxNumber.errors }">
                      <!-- <div *ngIf="submitted && f.faxNumber.errors" class="text-danger" >
                      <div *ngIf="f.faxNumber.errors.pattern"> Please Enter numbers only</div>
                       </div>   -->
                    </div>
                  </div>
  
  
                </div>
              </div>
            </div>
            <div class="form-bg-section">
              <span class="form-bg-title">Address</span>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="AddressStreet1">Street 1 <span class="asterisk"></span></label>
                      <input class="form-control" id="AddressStreet1" formControlName="addressStreet1" name="AddressStreet1" placeholder="" type="text">
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="AddressStreet2">Street 2</label>
                      <input class="form-control" id="AddressStreet2" formControlName="addressStreet2" name="AddressStreet2" placeholder="" type="text">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="ZipCode">Zip Code <span class="asterisk"></span></label>
                      <input class="form-control" id="ZipCode" formControlName="zipCode" name="ZipCode" maxlength="6" minlength="5" placeholder="" type="text">

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="countryId">Country <span class="asterisk"></span></label><br>
                      <select class="form-control" id="countryId" formControlName="countryId" name="CountryId" (change)="FillStateDDL($event);">
                        <option value="">--Select Country--</option>
                        <option *ngFor="let ctry of _allCountry | async" [value]="ctry.countryId">{{ctry.countryName}}</option>
                      </select>

                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="stateId">State <span class="asterisk"></span></label><br>
                     
                      <ng-select [items]="states"
                                 bindLabel="stateName"
                                 bindValue="stateId"
                                 placeholder=""
                                 class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);" [ngClass]="{ 'is-invalid': submitted && f.stateId.errors }">
                      </ng-select>
                   
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label" for="CityId">City <span class="asterisk"></span></label><br>
                      <ng-select [items]="cities"
                                 bindLabel="cityName"
                                 bindValue="cityId"
                                 placeholder=""
                                 class="form-control" id="CityId" formControlName="cityId" name="cityId" (change)="FillCityName($event);" [ngClass]="{ 'is-invalid': submitted && f.cityId.errors }">
  
                        <span class="ng-arrow-zone">
                          <span class="ng-arrow"></span>
                        </span>
                      </ng-select>
                     
                    </div>
                  </div>
  
  
                </div>
              </div>
            </div>
  
  
  
            <div class="btn-section">
           
              <button type="submit" #SaveAd (click)="postBuySell()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{saveButtonText}}</button>
              <button type="cancel" (click)="NavigatetoManagebuysell()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>          
              <button type="reset" (click)="reset()"  [ngClass]="displayText"><i class="fa fa-refresh"></i> Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
