<section class="content-section">
  <!--<app-category></app-category>-->
  <div id="CatEng" [ngClass]="showCatEng">
    <div class="category-section" [ngClass]="catstatus ? 'show-all' : 'show-less'">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav category-list">
          <li class="dropdown" *ngFor="let Category of categories">
            <a [ngClass]="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="getSubCategoryList(Category.categoryId)">
              <img class="img-responsive category-icon" [src]="imagepath+Category.CategoryImageUrl " [routerLink]="['/ads-categorywise']" [queryParams]="{categoryId:Category.categoryId,categoryName:Category.categoryName}"  queryParamsHandling="merge" /><br>{{Category.categoryName}}
            </a>
            <ul [ngClass]="showdropdownmenu">
              <li *ngFor="let SubCategory of Subcategories">
                <a [routerLink]="['/ads-subcategorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubcategoryName:SubCategory.subCategoryName}"  queryParamsHandling="merge">{{SubCategory.subCategoryName}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
        <button class="show-all" (click)="viewAll()">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="CatArb" [ngClass]="showCatArb">
    <div class="category-section" [ngClass]="catstatus ? 'show-all' : 'show-less'">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav category-list">
          <li class="dropdown" *ngFor="let Category of categories">
            <a [ngClass]="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="getSubCategoryList(Category.categoryId)">
              <img class="img-responsive category-icon" [src]="imagepath+Category.CategoryImageUrl " [routerLink]="['/ads-categorywise']" [queryParams]="{categoryId:Category.categoryId,categoryName:Category.categoryName}"  queryParamsHandling="merge" /><br>{{Category.arabicName}}
            </a>
            <ul [ngClass]="showdropdownmenu">
              <li *ngFor="let SubCategory of Subcategories">
                <a [routerLink]="['/ads-subcategorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubcategoryName:SubCategory.subCategoryName}"  queryParamsHandling="merge">{{SubCategory.arabicName}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
        <button class="show-all" (click)="viewAll()">
          <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <!--Popular Categories Section -->
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <!--<div class="ribbon ribbon-top-right" style="right:5px;"  *ngIf=PremiumtagList ><span>Premium</span></div>-->
          <div class="popular-categories">
            <h2 class="main-title">{{ 'HOME.BUYSELL' | translate }} </h2>
            <!-- <a [routerLink]="['/buyselldetails/']" [queryParams]="{buysellId:Premiumpost.BuySellId}" queryParamsHandling="merge" class="ad-btn"> -->
            <div *ngFor="let buypost of buysellcontents; let i = index" class="buy-sell-home-block">
              <a [routerLink]="['/buyselldetails/']" [queryParams]="{buysellId:buypost.BuySellId}" queryParamsHandling="merge" class="ad-btn">
                <div class="ad-block" [ngClass]="getpremiumtag(buypost.IsPremium)">
                  <div class="ad-right-data">
                    <h3 class="ad-title">{{buypost.Title}}</h3>
                    <img class="buy-sell-sideblock-img" [src]="buypost.ImageUrl">
                    <div class="ad-sub-details buy-sell-sideblock">
                      <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{buypost.VisitorCount}}</div>
                      <div><i aria-hidden="true" class="fa fa-calendar"></i> {{ 'HOME.POSTEDON' | translate }}: {{buypost.CreatedDate}}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

             <button class="view-more-btn" style="color: #f89518;" (click)="NavigateToBuySellisting()">{{ 'HOME.VIEWMORE' | translate }}</button>
          </div>
        <!--<app-popular-category></app-popular-category>-->
        <!-- <div id="popularCatEng" [ngClass]="showCatEng">
          <div class="popular-categories">
            <h2 class="main-title">{{ 'HOME.POPULARCATEGORIES' | translate }}</h2>
            <div class="">
              <nav class="navbar">
                <div class="collapse navbar-collapse" id="popular-category-list">
                  <ul class="nav navbar-nav category-list" *ngFor="let Category of popularcategories">
                    <li class="dropdown">
                      <a href="#" [routerLink]="['/ads-categorywise']" [queryParams]="{categoryId:Category.categoryId,categoryName:Category.categoryName}"  queryParamsHandling="merge" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (mouseover)="getSubCategoryList(Category.categoryId)">{{Category.categoryName}}</a>
                      <ul class="dropdown-menu">
                        <li *ngFor="let SubCategory of Subcategories">
                          <a href="#" [routerLink]="['/ads-subcategorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubcategoryName:SubCategory.subCategoryName}"  queryParamsHandling="merge">{{SubCategory.subCategoryName}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div> -->
        <!-- <div id="popularCatArb" [ngClass]="showCatArb">
          <div class="popular-categories">
            <h2 class="main-title">{{ 'HOME.POPULARCATEGORIES' | translate }}</h2>
            <div class="">
              <nav class="navbar">
                <div class="collapse navbar-collapse" id="popular-category-list">
                  <ul class="nav navbar-nav category-list" *ngFor="let Category of popularcategories">
                    <li class="dropdown">
                      <a href="#" [routerLink]="['/ads-categorywise']" [queryParams]="{categoryId:Category.categoryId,categoryName:Category.categoryName}"  queryParamsHandling="merge" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (mouseover)="getSubCategoryList(Category.categoryId)">{{Category.arabicName}}</a>
                      <ul [ngClass]="showdropdownmenu">
                        <li *ngFor="let SubCategory of Subcategories">
                          <a href="#" [routerLink]="['/ads-subcategorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubCategory:SubCategory.subCategoryName}"  queryParamsHandling="merge">{{SubCategory.arabicName}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div> -->

        <div class="recent-ads job-ads">
          <h2 class="main-title"> {{ 'HOME.RECENTJOBS' | translate }} </h2>
          <div class="ad-block job" *ngFor="let jobpost of jobcontents; let i = index">
            <input type="hidden" formControlName="mailfor" placeholder="mailfor" name="mailfor" class="form-control" id="mailfor">
            <!-- <button  (click)="gotoAdDetails(adpost)" >  {{adpost.title}}</button> -->
            <a [routerLink]="['/ad-detail/']" [queryParams]="{adId:jobpost.AdId}" queryParamsHandling="merge" class="ad-btn">
              <h3 class="ad-title">{{jobpost.Title}}</h3>

              <div class="ad-sub-details">
                <div class="view-posted">
                  <div><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{jobpost.VisitorCount}}</div>
                  <div><i class="fa fa-calendar" style="color:#bfcbde" aria-hidden="true"></i>  {{ 'HOME.POSTEDON' | translate }} {{jobpost.CreatedDate| date:'dd-MMM-yyyy'}}</div>
                </div>
                <div style="color:#bfcbde;margin-top: 10px;"><i class="fa fa-user-circle" style="color:#bfcbde" aria-hidden="true"></i>  {{jobpost.UserName}}</div>
              </div>
              <!-- <p>{{jobpost.Description}}</p> -->
              
            </a>
          </div>

          <!-- <div class="ad-block">
        <a [routerLink]="['/ad-detail/']" class="ad-btn">
          <h3 class="ad-title">Jobs in IT</h3>
          <p>Jobs in IT How Do You Write a Job Description? Download a job description template. Add the official internal job title. Summarize the role in the opening paragraph. Detail the essential job duties and job responsibilities. Detail the essential requirements and qualifications. Define success in the role. State who the role reports to.</p>
        </a>
      </div>
      <div class="ad-block">
        <a [routerLink]="['/ad-detail/']" class="ad-btn">
          <h3 class="ad-title">Jobs in IT</h3>
          <p>Jobs in IT How Do You Write a Job Description? Download a job description template. Add the official internal job title. Summarize the role in the opening paragraph. Detail the essential job duties and job responsibilities. Detail the essential requirements and qualifications. Define success in the role. State who the role reports to.</p>
        </a>
      </div>
      <div class="ad-block">
        <a [routerLink]="['/ad-detail/']" class="ad-btn">
          <h3 class="ad-title">Jobs in IT</h3>
          <p>Jobs in IT How Do You Write a Job Description? Download a job description template. Add the official internal job title. Summarize the role in the opening paragraph. Detail the essential job duties and job responsibilities. Detail the essential requirements and qualifications. Define success in the role. State who the role reports to.</p>
        </a>
      </div>
      <div class="ad-block">
        <a [routerLink]="['/ad-detail/']" class="ad-btn">
          <h3 class="ad-title">Jobs in IT</h3>
          <p>Jobs in IT How Do You Write a Job Description? Download a job description template. Add the official internal job title. Summarize the role in the opening paragraph. Detail the essential job duties and job responsibilities. Detail the essential requirements and qualifications. Define success in the role. State who the role reports to.</p>
        </a>
      </div> -->
          <button class="view-more-btn" style="color: #f89518;" (click)="NavigateToJobs()">{{ 'HOME.VIEWMORE' | translate }}</button>
        </div>
      </div>
      <div class="col-sm-6 d-none">

        <div class="recent-ads">
          <h2 class="main-title"> {{ 'HOME.RECENTADS' | translate }}</h2>

          <div *ngFor="let adpost of contents; let i = index">
            <a [routerLink]="['/ad-detail/']" [queryParams]="{adId:adpost.AdId}" queryParamsHandling="merge" class="ad-btn">
              <div class="ad-block premium">
                <div class="ad-left-img">
                  <img class="ad-img" [src]="adpost.ImageUrl">
                  <img class="img-responsive premium-icon" src="assets/website/images/premium-icon.png" />
                </div>
                <div class="ad-right-data">
                  <h3 class="ad-title bottom-border">{{adpost.Title}}</h3>
                  <div class="ad-contact-details">
                    <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{adpost.UserName}}</p>
                    <p><i class="fa fa-eye" aria-hidden="true"></i> Viewed: {{adpost.VisitorCount}} </p>
                  </div>

                  <div class="ad-contact-details">
                    <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{adpost.ContactNumber}}</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> {{adpost.Email}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <button class="view-more-btn" style="color: #f89518;" (click)="NavigateToSearch('null')">{{ 'HOME.VIEWMORE' | translate }}</button>
        </div>
      </div>
      <div class="col-sm-6">
        <!--<div class="ribbon ribbon-top-right"  style="right:5px;" ><span>Premium</span></div>-->

        <div class="recent-ads">
          <h2 class="main-title"> {{ 'HOME.CURRENTPROMOTIONS' | translate }}</h2>

          <div *ngFor="let adpost of contents; let i = index">
            
            <a [routerLink]="['/smalladdetails/']" [queryParams]="{smalladId:adpost.SmallAdId}" queryParamsHandling="merge" class="ad-btn">
                <div class="ad-block premium">
                  <div class="ad-left-img">
                    <img class="ad-img" [src]="adpost.ImageUrl">
                    <img class="img-responsive premium-icon" src="assets/website/images/premium-icon.png" />
                  </div>
                  <div class="ad-right-data">
                    <h3 class="ad-title bottom-border">{{adpost.Title}}</h3>
                    <div class="ad-contact-details">
                      <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{adpost.UserName}}</p>
                      <p><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{adpost.VisitorCount}} </p>
                    </div>

                    <div class="ad-contact-details">
                      <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{adpost.ContactNumber}}</p>
                      <p><i class="fa fa-envelope" aria-hidden="true"></i> {{adpost.Email}}</p>
                    </div>
                  </div>
                </div>
              </a>
          </div>

          <button class="view-more-btn" style="color: #f89518;" (click)="NavigateToSmallAdsListing()">{{ 'HOME.VIEWMORE' | translate }}</button>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="ribbon ribbon-top-right"  style="right:5px;" ><span style="background-image: linear-gradient(45deg, #006a4e, #ffcd00);">{{ 'HOME.FEATURED' | translate }}</span></div>
        <div class="banner-ads">
          <h2 class="main-title">{{ 'HOME.FEATUREDADS' | translate }}</h2>
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)" style="height:auto">
            <div class="static-banner">
              <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)" style="height:auto" *ngIf="bannerposts.length">
                <!-- <div ngxSlickItem *ngFor="let Imageurl of Imageurls" class="slide">
                    <img src="{{Imageurl}}" class="img-fluid img-100">
            </div> -->
                <div *ngFor="let bannerpost of bannerposts" >
                  <div ngxSlickItem class="slide">
                    <a [routerLink] ="['/banner-detail']"  [queryParams]="{bannerId:bannerpost.BannerId}"  queryParamsHandling="merge">
                      <img  [src] ="bannerpost.ImageUrl"  class="static-ban-img"   />
                      </a>
                  </div>
                </div>
              </ngx-slick>
            </div>
          </ngx-slick>
          <button class="view-more-btn" style="color: #f89518;" (click)="NavigateToBannerlisting()">{{ 'HOME.VIEWMORE' | translate }}</button>
        </div>
       
      </div>
    </div>
  </div>
</section>

<div class="feedback-form" [ngClass]="status ? 'show-all' : 'show-less'">
  <button class="feedback-btn" (click)="showAll()">{{ 'HOME.FEEDBACK' | translate }}</button>
  <button class="feedback-close-btn" (click)="showAll()"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div class="feedback-block">
    <h2 class="form-title">{{ 'HOME.NEEDMOREHELP' | translate }}</h2>
    <h3 class="form-sub-title">{{ 'HOME.CONTACTARABCHALDOSUPPORT' | translate }}</h3>
    <p class="email-id"><a href="mailto:care@arabchaldo.com"><i class="fa fa-envelope" aria-hidden="true"></i> care@arabchaldo.com</a></p>

    <div class="form-block">
      <p class="form-or">{{ 'HOME.OR' | translate }}</p>
      <form [formGroup]="FeedbackForm" action="">
        <div class="form-group">
          <input type="text" formControlName="Name" name="Name" placeholder="{{ 'HOME.NAME' | translate }}" maxlength="40" minlength="2" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.Name.errors}">
          <div *ngIf="submitted &amp;&amp; FeedbackForm.controls.Name.errors" class="text-danger">
            <div *ngIf="FeedbackForm.controls.Name.errors.required">{{ 'HOME.NAMEISREQUIRED' | translate }}</div>
            <!-- <div *ngIf="FeedbackForm.controls.Name.errors.pattern">{{ 'HOME.ENTERTEXTONLY' | translate }}</div> -->
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="Phone" name="Phone" placeholder="{{ 'HOME.PHONE' | translate }}" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.Phone.errors}">
          <div *ngIf="submitted &amp;&amp; FeedbackForm.controls.Phone.errors" class="text-danger">
            <div *ngIf="FeedbackForm.controls.Phone.errors.required">{{ 'HOME.CONTACTNUMBERISREQUIRED' | translate }}</div>
            <div *ngIf="FeedbackForm.controls.Phone.errors.minlength">{{ 'HOME.ENTER10NUMBER' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" formControlName="Email" name="Email" maxlength="45" placeholder="{{ 'HOME.EMAIL' | translate }}" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.Email.errors}">
          <div *ngIf="submitted &amp;&amp; FeedbackForm.controls.Email.errors" class="text-danger">
            <div *ngIf="FeedbackForm.controls.Email.errors.required">{{ 'HOME.EMAILREQD' | translate }}</div>
            <div *ngIf="FeedbackForm.controls.Email.errors.pattern">{{ 'HOME.VALIDEMAIL' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <ng-select [items]="states"
                              bindLabel="stateName"
                               bindValue="stateId"
                              placeholder=""
                              class="form-control" id="stateId" formControlName="stateId" name="stateId"  [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.stateId.errors}"(change)="FillCityDDL($event);">
                   </ng-select>
          <!--<select class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.stateId.errors}">
    <option value="">{{ 'HOME.SELECTSTATE' | translate }}</option>
    <option *ngFor="let state of _allState | async" [value]="state.stateId">{{state.stateName}}</option>
  </select>-->
          <div *ngIf="submitted &amp;&amp; FeedbackForm.controls.stateId.errors" class="text-danger"><div *ngIf="FeedbackForm.controls.stateId.errors.required">{{ 'HOME.STATEREQD' | translate }}</div></div>
        </div>
        <div class="form-group">
          <!--<ng-select [items]="cities"
                     bindLabel="cityName"
                     bindValue="cityId"
                     placeholder=""
                     class="form-control" id="CityId" formControlName="cityId" name="CityId">

            <span class="ng-arrow-zone">
              <span class="ng-arrow"></span>
            </span>
          </ng-select>-->

          <ng-select [items]="cities"
                     bindLabel="cityName"
                     bindValue="cityId"
                     placeholder=""
                     class="form-control" id="CityId" formControlName="cityId" name="CityId" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.cityId.errors}"(change)="FillCityName($event);">

            <span class="ng-arrow-zone">
              <span class="ng-arrow"></span>
            </span>
          </ng-select>

          <!--<select class="form-control" id="CityId" formControlName="cityId" name="CityId" (change)="FillCityName($event);" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.cityId.errors}">
    <option value="">{{ 'HOME.SELECTCITY' | translate }}</option>
    <option *ngFor="let City of _allCity | async" [value]="City.cityId">{{City.cityName}}</option>
  </select>-->
          <div *ngIf="submitted &amp;&amp; FeedbackForm.controls.cityId.errors" class="text-danger"><div *ngIf="FeedbackForm.controls.cityId.errors.required">{{ 'HOME.CITYREQD' | translate }}</div></div>
        </div>
        <div class="form-group">

          <select class="form-control" for="reason" id="reason" formControlName="reason" name="reason" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.reason.errors}">
            <option value="">-- {{ 'HOME.REASONCONTACT' | translate }} -- </option>
            <option value="App/Site Issues">App/Site Issues</option>
            <option value="Advertise/List on Arabchaldo">Advertise/List on Arabchaldo</option>
            <option value="Customer Service(Property Rentals)">Customer Service(Property Rentals)</option>
            <option value="Media Queries">Media Queries</option>
            <option value="Jobs/Careers">Jobs/Careers</option>
            <option value="Partnership Proposals">Partnership Proposals</option>
            <option value="Others">Others</option>
          </select>

          <div *ngIf="submitted &amp;&amp; FeedbackForm.controls.reason.errors" class="text-danger">
            <div *ngIf="FeedbackForm.controls.reason.errors.required">{{ 'HOME.REASONREQD' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <textarea rows="4" formControlName="Comments" name="Comments" placeholder="{{ 'HOME.COMMENTS' | translate }}" [ngClass]="{ 'is-invalid': submitted && FeedbackForm.controls.Comments.errors}"></textarea>
          <div *ngIf="submitted &amp;&amp; FeedbackForm.controls.Comments.errors" class="text-danger">
            <div *ngIf="FeedbackForm.controls.Comments.errors.required">{{ 'HOME.COMMENTSREQD' | translate }}</div>
          </div>
        </div>
        <button type="submit" (click)="Submit()" class="feedback-submit" data-dismiss="modal"><i class="fa fa-check"></i> {{ 'HOME.SUBMIT' | translate }}</button>
      </form>
    </div>
  </div>
</div>
