.feedback-form {
    width: 400px;
    background: #f5f5f5;
    display: block;
    position: fixed;
    right: -400px;
    height: 100vh;
    top: 0;
    z-index: 50;
    color: #666;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.feedback-form.show-all {
    right: 0;
}
.feedback-form:after {
    position: absolute;
    content: "";
    background-image: -o-linear-gradient(135deg, #ffcd00, #eb2126);
    background-image: linear-gradient(-45deg, #ffcd00, #eb2126);
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    z-index: -1;
}
.feedback-form .feedback-block {
    height: 100%;
    overflow: auto;
    padding: 25px;
}
.feedback-form .form-title {
    font-size: 22px;    
    color: #fff;
}
.feedback-form .form-sub-title {
    margin-bottom:20px;
    font-size: 18px;
    color: #fff;
}
.feedback-form .email-id a {
    color: #fff;
    font-size: 18px;
}
.feedback-form .feedback-btn, .feedback-form .feedback-btn:focus {
  position: absolute;
  top: 150px;
  left: 0;
  height: auto;
  background: #ed3422;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transform: rotate(-90deg) translateX(0) translateY(-77px);
  -ms-transform: rotate(-90deg) translateX(0) translateY(-77px);
  transform: rotate(-90deg) translateX(0) translateY(-77px);
  border-radius: 10px 10px 0 0;
  border: 0;
  outline: none;
}
.feedback-form .feedback-close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    color: #fff;
    opacity: 0.5;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    border: 0;
    background: transparent;
}
.feedback-form .feedback-close-btn:hover {
    opacity: 1;
}
.feedback-form .form-block {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.feedback-form .form-block .form-or {
    background: #f5f5f5;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    margin: -40px auto 15px;
    font-weight: 600;
}
.feedback-form .form-block input, 
.feedback-form .form-block select, 
.feedback-form .form-block textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.feedback-form .form-block .feedback-submit {
    background: #f88a00;
    border: 0;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
}
// .recent-ads .ad-block.job .ad-title {
//   margin-bottom: 0px;
// }
.recent-ads .ad-block.job .ad-btn {
  width: 100%;
}
.view-posted {
  font-size: 12px;
  color: #bfcbde;
  display: flex;
  justify-content:space-between;
}

.ad-right-data .ad-title {
  position: relative;
  color: #ed2d24;
  font-size: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  height: 26px;
}
.buy-sell-sideblock-img {
    width: 100%;
    height: 185px;
    border-radius:8px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.ad-sub-details.buy-sell-sideblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #bfcbde;
}
.buy-sell-home-block {
    background: #f8f8f8;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position:relative;
}
