<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">

  <div class="category-bottom-section">
    <div class="row row-stretch">
   

      <div class="col-sm-8">
        <div class="page-content">
          <input type="hidden" formControlName="mailfor" placeholder="mailfor" name="mailfor" class="form-control" id="mailfor">

          <h2 class="main-title">
            {{adpost.Title}}<br>
            <span><i class="fa fa-calendar"></i> {{ 'HOME.POSTEDON' | translate }} {{adpost.CreatedDate| date:'dd-MMM-yyyy'}}</span>

          </h2>
          <!--Reply for Jobs-->
          <div [ngClass]="showRreplyButton">
            <button data-toggle="modal" data-target="#reply" id="btnReply" class="btn edit-btn"><i class="fa fa-reply"></i> {{ 'HOME.REPLY' | translate }}</button>
          </div>
          <div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{adpost.Title}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


              </div>
            </div>
          </div>
          <div class="ad-img-banner">
          <ngx-slick [ngClasss]="bannerSlickcss" #slickModal="slick-modal" [config]="bannerConfig">
            <div ngxSlickItem *ngFor="let imageurl of imageurls;let i=index" [ngClass]="showImage">
              <img [src]="imageurl" class="img-fluid img-100" style="width:100%; height:28vw; object-fit: cover;">
            </div>
          </ngx-slick>
          </div>
          <br />
          <div class="col-sm-4" *ngIf ="adhidden" [ngClass]="showtagline">
            <div class="form-group">
              <label class="col-form-label" for="Title"><strong>{{'ADDETAILS.TAGLINE'| translate}}  </strong> {{adpost.TagLine}}</label>
            </div>
          </div>
          <br/>
          <div [ngClass]="showDescription">
            <div class="description-box" [ngClass]="readmore ? 'read-all' : 'read-less'">
              <p>
                <!--{{adpost.Description}}-->
                <span [innerHTML]="description"> </span>
              </p>
            </div>
            <p class="read-more" (click)="readMore()" [ngClass]="readmore ? 'read-all' : 'read-less'">{{'ADDETAILS.READ'| translate}} </p>
          </div>
        </div>
        <div class="ribbon ribbon-top-right" *ngIf=PremiumtagAd><span>{{ 'BANNERLIST.PREMIUM' | translate }}</span></div>
      </div>

      <div class="col-sm-4">
        <div class="page-content contact-deail-block">
          <!--<h3><button class="add-btn" (click)="btnPostNew()">+ {{ 'BANNERLIST.POSTNEW' | translate }}</button> </h3>-->
          <h3><button class="add-btn" (click)="btnPostNew()">{{ 'SMALLADS.POSTNEW' | translate }}</button> </h3>
          <br>
          <br>
          <h3 class="sub-title">{{'ADDETAILS.CONTACTDETAILS'| translate}} </h3>
          <ul class="ad-address">
            <li><span><i class="fa fa-phone" aria-hidden="true"></i>{{'ADDETAILS.PHONENUMBER'| translate}} </span>{{adpost.ContactNumber}}</li>
            <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'ADDETAILS.ALTERNATECONTACTNUMBER'| translate}} </span>{{adpost.AlternateContactNumber}}</li>
            <!--<li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'ADDETAILS.EMAILID'| translate}} </span>{{adpost.Email}}</li>-->
            <li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'ADDETAILS.EMAILID'| translate}} </span><u><a [href]="mailto" style="color:#1a73e8;">{{adpost.Email}}</a></u></li>
            <li><span><i class="fa fa-fax" aria-hidden="true"></i> {{'ADDETAILS.FAXNUMBER'| translate}}</span>{{adpost.FaxNumber}}</li>
            <li><span><i class="fa fa-globe" aria-hidden="true"></i> {{'ADDETAILS.WEBSITE'| translate}}</span> {{adpost.Website}}</li>
            <li><span><i class="fa fa-eye" aria-hidden="true"></i> {{'ADDETAILS.VIEWED'| translate}} </span> {{adpost.visitorCount}} Times</li>
          </ul>
          <h3 class="sub-title">{{'ADDETAILS.ADDRESS'| translate}}</h3>
          <div class="address-logo">
            <div *ngFor="let logourl of logourls;let i=index" [ngClass]="showLogo">
              <img [src]="logourl" class="img-responsive ad-logo" height="100" width="100" />
            </div>
            <div *ngIf=showAddress>
              <p>
                {{adpost.AddressStreet1 +" " + adpost.AddressStreet2}}<br>{{adpost.CityName}} {{adpost.StateName}} USA<br>
                {{'ADDETAILS.ZIPCODE'| translate}} {{adpost.ZipCode}}
              </p>
            </div>
          </div>
          <br />
          <div *ngIf=showMap>
            <!--<app-gmap [addressforMap]="addressforMap"></app-gmap>-->
            <div id="map" style="width:100%;height:400px;"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
