<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-users"></i>Sub Category
      <div class="card-head-right-block">
        <div class="input-group">
          <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="text">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="form-bg-section">
        <span class="form-bg-title">Edit Sub Category</span>
        <form [formGroup]="editSubCategoryform">
          <div class="hidden">
            <input type="hidden" formControlName="subCategoryId" placeholder="subCategoryId" class="form-control" id="subCategoryId">
          </div>

          <div class="container-fluid">

            <div class="row">

              <div class="col-md-7">
                <div class="form-group">
                  <label class="col-form-label" for="CategoryId">Category <span class ="asterisk">*</span></label><br>
                  <!--<select class="form-control" formControlName="categoryId" id="categoryId" name="categoryId">
                    <option value="">--Select Category--</option>
    {{Category.categoryName}}</option> -->

                    <!--<option *ngFor="let Category of _allCategory | async" [value]="Category.categoryId">{{Category.categoryName}}</option>
                  </select>-->
                  <ng-select [items]="categories"
                             bindLabel="categoryName"
                             bindValue="categoryId"
                             placeholder=""
                             class="form-control" id="categoryId" formControlName="categoryId" name="categoryId"  [ngClass]="{ 'is-invalid': submitted && FormSubcategoryAdd.controls.categoryId.errors }">
                    <span class="ng-arrow-zone">
                      <span class="ng-arrow"></span>
                    </span>
                  </ng-select>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="subCategoryName">Sub Category Name(English) <span class ="asterisk">*</span></label>
                  <input class="form-control" formControlName="subCategoryName" maxLength="50" id="subCategoryName" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && editSubCategoryform.controls.subCategoryName.errors }">
                  <div *ngIf="submitted &amp;&amp; editSubCategoryform.controls.subCategoryName.errors" class="text-danger">
                    <div *ngIf="editSubCategoryform.controls.subCategoryName.errors.required">Sub Category Name is Required</div>
                    <!-- <div *ngIf="editSubCategoryform.controls.subCategoryName.errors.pattern">Please Enter Characters Only</div> -->

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="arabicName">Sub Category Name(Arabic) <span class ="asterisk">*</span></label>
                  <input class="form-control" formControlName="arabicName" maxLength="50" id="arabicName" placeholder="" type="text"[ngClass]="{ 'is-invalid': submitted && editSubCategoryform.controls.arabicName.errors }">
                  <div *ngIf="submitted &amp;&amp; editSubCategoryform.controls.arabicName.errors" class="text-danger">
                      <div *ngIf="editSubCategoryform .controls.arabicName.errors.required">Arabic Name is Required</div>
                      
                    </div>
                </div>
              </div>


              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label" for="description">Description <span class ="asterisk"></span></label>
                  <textarea class="form-control" formControlName="description" id="description" maxLength="500" name="description" placeholder="" type="text" rows="4" [ngClass]="{ 'is-invalid': submitted && editSubCategoryform.controls.description.errors }"></textarea>
                </div>
                <div *ngIf="submitted &amp;&amp; editSubCategoryform.controls.description.errors" class="text-danger">

                  <div *ngIf="editSubCategoryform.controls.description.errors.required">Description is Required</div>

                </div>

              </div>
            </div>
            <div class="row"></div>
            <div class="btn-section">
              <button type="submit" (click)="onEditSubmit()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Update</button>
           
              <button type="cancel" (click)="onCancelEdit()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
            </div>
          </div>
        </form>
      </div>

      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>


            <th [class.active]="order === 'info.subCategoryName'"
                (click)="setOrder('info.subCategoryName')"
                class="mdl-data-table__cell--non-numeric">
              Sub Category Name(English)<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
            </th>

            <th [class.active]="order === 'info.arabicName'"
                (click)="setOrder('info.arabicName')"
                class="mdl-data-table__cell--non-numeric">
              Sub Category Name(Arabic)<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
            </th>
            <th [class.active]="order === 'info.categoryName'"
                (click)="setOrder('info.categoryName')"
                class="mdl-data-table__cell--non-numeric">
              Category Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
            </th>
            <!--<th [class.active]="order === 'info.description'"
                (click)="setOrder('info.description')"
                class="mdl-data-table__cell--non-numeric">
              Description<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
            </th>-->


            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subcategory of subcategories| filter:filter | orderBy: order:'case-insensitive' | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
         
            <td>{{subcategory.subCategoryName}}</td>
            <td>{{subcategory.arabicName}}</td>
            <td>{{subcategory.categoryName}}</td>
           
            <!--<td>{{subcategory.description}}</td>-->
            <td><button (click)="updateSubCategory(subcategory)" class="btn edit-btn" data-toggle="tooltip" title="Edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
            <td><button (click)="onDelete(subcategory.subCategoryId)" class="btn delete-btn" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></button></td>

            <!-- <td><button (click)="onDelete(user.categoryId)" class="fa fa-trash"></button></td>  -->
          </tr>

          <tr *ngIf="subcategories == null">
            <td colspan="4">No records found!</td>
          </tr>



        </tbody>
      </table>
      <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>
        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
