
<div class="website-sidebar">
    <div class="user-info">
        <div *ngFor="let Profilepicurl of Profilepicurls;let i=index">
      <img alt="" class="img-avatar" [src]="Profilepicurl">
        </div>
      <div class="user-name" >
        <span [innerHTML]='this.userName' ></span>
      </div>
    </div>
    <div class="">
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/budashboard']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-speedometer"></i> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bumanagead']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-doc"></i> Business Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bumanagesmallad']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-docs"></i> Current Promotions Ad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bumanagebanner']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-picture"></i> Top Banner/Featured Ads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bumanageevent']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-calendar"></i> Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bumanagejobs']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-briefcase"></i> Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bumanagebuysell']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-tag"></i> Buy/Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bumanageblog']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-note"></i> Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/buprofile']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-user-follow"></i> Update Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/buresetpassword']" [routerLinkActive]="['is-active']"><i class="nav-icon icon-reload"></i> Reset Password</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
</div>
