<div class="animated fadeIn">

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
         <div class="hidden">
            <input type="hidden" formControlName="userId" placeholder="userId" name="userId" class="form-control" id="userId">
        </div>

        <div class="card">
                <div class="card-header"><i class="fa fa-user-plus"></i> Update User</div>
            
                <div class="card-body">
                    <div class="table-responsive">                    
                        <div class="form-bg-section">
                            <span class="form-bg-title">Primary Details</span>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        
                                            <label class="col-form-label" for="firstName">First Name</label>
                                             <input type="text" formControlName="firstName" placeholder="firstName" name="firstName" class="form-control" id="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                             <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                            </div>
                                          
                                        </div>  
            
                                                <div class="form-group">
                                                    <label class="col-form-label" for="roleName">User Type</label>
                                                    <select class="form-control" formControlName="roleName" id="roleName" name="roleName"  [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }">
                                                            <option value="">--Select User Type--</option>
                                                            <option *ngFor="let role of _allUserRole | async" [value]="role.roleName">{{role.roleName}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f.roleName.errors" class="invalid-feedback">
                                                        <div *ngIf="f.roleName.errors.required">Role is required</div>
                                                    </div>
                                                </div>
                                       
                                    </div> 
            
                                    <div class="col-md-4"> 
                                        <div class="form-group">
                                            <label class="col-form-label" for="lastName">Last Name</label>
                                            <input type="text" formControlName="lastName" placeholder="LastName" name="lastName" class="form-control" id="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                                <div *ngIf="f.lastName.errors.required">First Name is required</div>
                                            </div>
                                        </div>  
                                        <div class="form-group">
                                            <label class="col-form-label" for="gender">Gender</label><br>
                                            <div class="form-check mr-1" id="gender">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="radio" formControlName="gender" placeholder="Male" value="Male"  class="form-check-input" id="Male">
                                                        <label class="form-check-label" for="Male">Male</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                         <input type="radio" formControlName="gender" placeholder="Female" value="Female" name="gender" class="form-check-input" id="Female" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                        <label class="form-check-label" for="Female">Female</label>
                                                    </div>
                                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                                        <div *ngIf="f.gender.errors.required">First Name is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div> 
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                                <label class="col-form-label" for="file-input">Profile Picture upload</label><br>
                                                <theme-upload (onUploadFinished)="uploadFinished($event)" ></theme-upload>
                                                
                                        </div> 
                                    </div>                       
                                </div>  
                            </div>
                        </div>
            
                        <div class="form-bg-section">
                            <span class="form-bg-title">Contact Details</span>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label" for="contactNumber">Contact Number</label>
                                            <input type="text" formControlName="contactNumber" placeholder="contactNumber" name="contactNumber" class="form-control" id="contactNumber">
                                        </div>   
                                    </div>
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label" for="alternateContactNumber">Alternate Contact Number</label>
                                           <input type="text" formControlName="alternateContactNumber" placeholder="alternateContactNumber" name="alternateContactNumber" class="form-control" id="alternateContactNumber">
            
                                        </div>
                                    </div> 
            
                                    <div class="col-md-4"> 
                                        <div class="form-group">
                                            <label class="col-form-label" for="email">Email Id</label>
                                           <input type="email" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
                                     
                                        </div>
                                    </div> 
            
                                    <div class="col-md-4">   
                                        <div class="form-group">
                                            <label class="col-form-label" for="faxNumber">Fax Number</label>
                                         <input type="text" formControlName="faxNumber" placeholder="faxNumber" name="faxNumber" class="form-control" id="faxNumber">
            
                                        
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
            
                        <div class="form-bg-section">
                            <span class="form-bg-title">Address</span>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label" for="addressStreet1">Street 1</label>
                                         <input type="text" formControlName="addressStreet1" placeholder="addressStreet1" name="addressStreet1" class="form-control" id="addressStreet1">
                                        </div>    
                                    </div> 
            
                                    <div class="col-md-4"> 
                                        <div class="form-group">
                                            <label class="col-form-label" for="addressStreet2">Street 2</label>
                                         <input type="text" formControlName="addressStreet2" placeholder="addressStreet2" name="addressStreet2" class="form-control" id="addressStreet2">
                                        </div>
                                    </div> 
                                    <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-form-label" for="CountryId">Country</label><br>
                                                <select class="form-control" formControlName="countryId" id="CountryId" name="CountryId" (change)="FillStateDDL($event);">
                                                <option value="">--Select Country--</option>
                                                <option *ngFor="let ctry of _allCountry | async" [value]="ctry.countryId" >{{ctry.countryName}}</option>
                                                </select>
                                            </div>
                                        </div> 
                                       
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-form-label" for="StateId">State</label><br>
                                                <select class="form-control" formControlName="stateId" id="StateId" name="StateId" (change)="FillCityDDL($event);">
                                                        <option value="">--Select State--</option>
                                                        <option *ngFor="let state of _allState | async" [value]="state.stateId">{{state.stateName}}</option>
                                                </select>
                                            </div>
                                        </div> 
            
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-form-label" for="CityId">City</label><br>
                                                <select class="form-control" formControlName="cityId" id="CityId" name="CityId">
                                                        <option value="">--Select City--</option>
                                                        <option *ngFor="let City of _allCity | async" [value]="City.cityId">{{City.cityName}}</option>
                                                </select>
                                            </div>
                                        </div> 
                                    <!-- <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label" for="countryId">Country</label><br>
                                            <select class="form-control" id="countryId" name="CountryId" formControlName="countryId" >
                                                <option value="1" ng-reflect-value="1">USA</option>
                                                <option value="2" ng-reflect-value="2">India</option>
                                            </select>
                                        </div>
                                    </div> 
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label" for="stateId">State</label><br>
                                            <select class="form-control" id="stateId" name="StateId" formControlName="stateId">
                                                <option value="1" ng-reflect-value="1">Washington</option>
                                                <option value="2" ng-reflect-value="2">India</option>
                                            </select>
                                        </div>
                                    </div> 
            
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label" for="cityId">City</label><br>
                                            <select class="form-control" id="cityId" name="cityId" formControlName="cityId">
                                                <option value="1" ng-reflect-value="1">Option 1</option>
                                                <option value="2" ng-reflect-value="2">Option 2</option>
                                            </select>
                                        </div>
                                    </div>  -->
            
                                    <div class="col-md-4"> 
                                        <div class="form-group">
                                            <label class="col-form-label" for="zipCode">Zip Code</label>
                                            <input class="form-control" id="zipCode" name="zipCode" placeholder="" type="text" formControlName="zipCode">
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
            
                        <div class="btn-section">
                            <button type="submit"  class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>
                        </div>
                    </div>
                </div>
        </div>


  </form>
</div>
