<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">Revenue generation - ${{dashboard.TotalRevenueAmount}}</div>
          <div class="rev-blocks">
            <div>Online - ${{dashboard.OnlineAmount}}</div>
            <div>Offline - ${{dashboard.OfflineAmount}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">Subscribed Users - {{dashboard.UserCount}}</div>
          <div class="rev-blocks">
            <div>Paid - {{dashboard.paidUser}}</div>
            <div>Free - {{dashboard.FreeUser}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">Total Advertisement - {{dashboard.TotalAdvertimentCount}}</div>
          <div class="rev-blocks">
            <div>Paid - {{dashboard.paidAdvertisementCount}}</div>
            <div>Free - {{dashboard.freeAdvertisementCount}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">Blogs</div>
          <div class="rev-blocks">
            <div>Total Blogs - {{dashboard.BlogsCount}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">Events</div>
          <div class="rev-blocks">
            <div>Total Events - {{dashboard.EventCount}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">Banners</div>
          <div class="rev-blocks">
            <div>Total Banners - {{dashboard.BannerCount}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">Jobs</div>
          <div class="rev-blocks">
            <div>Total Jobs-{{dashboard.JobsCount}} </div>
          </div>
        </div>
        <div class="chart-wrapper mt-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3  d-none">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">Message Board</div>
          <div class="rev-blocks">
            <div>Topic Count - {{dashboard.MessageTopicCount}}</div>
            <div>Total Reply - {{dashboard.MessageReplyCount}}</div>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:40px;">
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->


  <div class="row">
    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/managead']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-doc cust-fa blue"> Business Listing</i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.ActiveBusiLitingCount}}</div>
                <div class="text-uppercase text-muted small">Active<span class="asterisk">*</span></div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.PendingBusiLitingCount}}</div>
                <div class="text-uppercase text-muted small">Pending</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/managesmallad']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-docs cust-fa yellow"> Current Promotions Ad</i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.ActiveSmallAdsCount}}</div>
                <div class="text-uppercase text-muted small">Active<span class="asterisk">*</span></div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.PendingSmallAdsCount}}</div>
                <div class="text-uppercase text-muted small">Pending</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/managebanner']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-picture cust-fa dblue"> Top Banner/Featured Ads</i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.ActiveBannerCount}}</div>
                <div class="text-uppercase text-muted small">Active<span class="asterisk">*</span></div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.PendingBannerCount}}</div>
                <div class="text-uppercase text-muted small">Pending</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/manageevent']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-calendar cust-fa red"> Events</i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.ActiveEventCount}}</div>
                <div class="text-uppercase text-muted small">Active<span class="asterisk">*</span></div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.PendingEventCount}}</div>
                <div class="text-uppercase text-muted small">Pending</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!--/.col-->

    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/manageblog']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-note cust-fa blue"> Blogs </i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.ActiveBlogsCount }}</div>
                <div class="text-uppercase text-muted small">Active<span class="asterisk">*</span></div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.PendingBlogsCount}}</div>
                <div class="text-uppercase text-muted small">Pending</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/managejobs']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-briefcase cust-fa yellow"> Jobs</i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.ActiveJobsCount}}</div>
                <div class="text-uppercase text-muted small">Active<span class="asterisk">*</span></div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.PendingJobsCount}}</div>
                <div class="text-uppercase text-muted small">Pending</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/managebuysell']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-tag cust-fa dblue"> Buy/Sell</i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.ActiveBuysellCount}}</div>
                <div class="text-uppercase text-muted small">Active<span class="asterisk">*</span></div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.PendingBuysellCount}}</div>
                <div class="text-uppercase text-muted small">Pending</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <a [routerLink]="['/theme/message-board']">
        <div class="card cust-card-block">
          <div class="card-body p-3 clearfix">
            <i class="nav-icon icon-bubbles cust-fa red"> Message Board</i>
            <div class="brand-card-body">
              <div>
                <div class="text-value active">{{dashboard.MessageTopicCount }}</div>
                <div class="text-uppercase text-muted small">Topic</div>
              </div>
              <div>
                <div class="text-value pending">{{dashboard.MessageReplyCount}}</div>
                <div class="text-uppercase text-muted small">Reply</div>
              </div>
            </div>
            <div class="card-footer px-3 py-2">
              <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--/.col-->
    <div class="col-sm-12"> <span class="asterisk">  * Note:- 'ACTIVE' count is based on number of respective listing active on website.</span></div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Total Revenue
          <div class="card-header-actions">
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">Total Leads Count</div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xs-3">

    </div>
    <div class="col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">Website Advertisement Count</div>
        <div class="card-body">
          <select class="form-control" id="yearId" name="yearId" (change)="FillDataYearWise($event);">
            <option value="">--Select year--</option>
            <option> 2019</option>
            <option> 2020</option>
            <option> 2021</option>
            <option> 2022</option>
            <option> 2023</option>
            <option> 2024</option>
            <option> 2025</option>
          </select>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" id="barchatdatagraph"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

