<div class="animated fadeIn">
    <form [formGroup]="blogForm" autocomplete="off" action="" >
        <input type="hidden" formControlName="blogId" placeholder="blogId" name="blogId" class="form-control" id="blogId">
    <!-- <form [formGroup]="blogForm" action=""> -->
      <!-- <form #f="ngForm" action=""(ngSubmit)="adblog()"></form> -->
      <!-- <input type="hidden" formControlName="blogId" placeholder="blogId" name="blogId" class="form-control" id="blogId"> -->
  
      <div class="card">
        <div class="card-header">
            <!-- <input type="hidden" formControlName="blogId" placeholder="blogId" name="blogId" class="form-control" id="blogId"> -->
          <i class="nav-icon icon-note"></i> {{this.pagedetail}}
          <div class="card-head-right-block">
          </div>
        </div>
   
  
            <div class="card-body">
              <div class="table-responsive">
                <div class="form-bg-section">
                  <span class="form-bg-title">Blog Details</span>
                        <div class="container-fluid">
                              <!-- <form action=""> -->
                              <!-- <form [formGroup]="blogForm" autocomplete="off" action="" > -->
                                                
 <input type="hidden" formControlName="createdBy" placeholder="createdBy" name="createdBy" class="form-control" id="createdBy">

                                    <div class="row">
                                      
                                         <!-- <div class="col-md-4">
                                            
                                            <div class="form-group">
                                                <label class="col-form-label" for="User Type">User<span class="asterisk">*</span></label>
                                                        <select class="form-control" formControlName="postedFor" id="postedFor" name="postedFor" (change)="GetPostedFor($event);" [ngClass]="{ 'is-invalid': submitted && blogForm.controls.postedFor.errors }">
                                                          <option value="">--Select user--</option>
                                                          <option *ngFor="let User of _allUser | async" [value]="User.userId">{{User.firstName+' '+User.lastName}}</option>
                                                        </select>
                                                        <div *ngIf="submitted &amp;&amp; blogForm.controls.postedFor.errors" class="text-danger">
                                                          <div *ngIf="blogForm.controls.postedFor.errors.required">User Type is Required</div>
                                                        </div>
                                              </div> 


                                              
                                              </div> -->
                                              <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="Title">Title <span class="asterisk">*</span></label>
                                                    <input class="form-control" formControlName="Title" id="Title" name="Title" placeholder="" maxlength="50" type="text" [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">
                                                   
                                                        <div *ngIf="submitted && f.Title.errors" class="text-danger">
                                                        <div *ngIf="f.Title.errors.required">Title is required</div>
                                                        <!-- <div *ngIf="f.Title.errors.pattern">Please Enter Text Only.</div> -->
      
                                                    </div>   
                                                  </div>   
                                              </div>
  

<!--                                         
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label class="col-form-label" for="ValidTill">Valid Till <span class="asterisk">*</span></label>
                                                 <input type="date" 
                                                    ng-model="date" 
                                                    id="ValidTill" name="ValidTill" class="form-control"
                                                    value="{{ ValidTill | date: 'dd-mm-yyyy' }}" formControlName="ValidTill" 
                                                    [ngClass]="{ 'is-invalid': submitted && blogForm.controls.ValidTill.errors}"/>
                                              </div>
                                              <div *ngIf="submitted &amp;&amp; blogForm.controls.ValidTill.errors" class="text-danger">                                                            
                                                <div *ngIf="blogForm.controls.ValidTill.errors.required">ValidTill is Required</div>
                                              </div>
                                        </div> -->
  
  
                                          <div class="col-md-4">
                                              <div class="form-group" [ngClass]="displayNewLogo" >
                                                  <label class="col-form-label" for="BlogImageUrl">Upload Image</label><br>
                                                  <div class="dp-block">
                                                  <!-- <input id="file-multiple-input" multiple="" formControlName="categoryId" name="file-multiple-input" type="file"> -->
                                                  <!-- <input #imagefile  accept='image/*' multiple="" formControlName="categoryId" name="file-multiple-input" type="file" (change)="previewimage(imagefile.files);"><br>
                                              
                                                  <img [src]="imgURL" height="100" *ngIf="imgURL"> -->
                                                  <!-- <theme-upload (onUploadFinished)="uploadFinished($event)"></theme-upload> -->
                                                  <theme-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></theme-upload>
                                                  <input type="hidden"  placeholder="imageUrl" name="imageUrl" class="form-control" id="imageUrl"
                                                   [ngClass]="{ 'is-invalid': submitted && blogForm.controls.imageUrl.errors}">
                                              </div> 
                                              <div *ngIf="submitted &amp;&amp; blogForm.controls.imageUrl.errors" class="text-danger">                                                            
                                                <div *ngIf="blogForm.controls.imageUrl.errors.required">Image is Required</div>
                                              </div>
                                            </div>
                                          

                                            <!-- Existing Images section on Edit action -->
                                        <div  [ngClass]="displayExtLogo"  #dvExtUploads> 
                                            <label class="col-form-label" for="existing-img">Existing Uploads <span class="asterisk"></span></label>
                                              <div  [ngClass]="displayExtLogo" #dvExtLogo>
                                                <div class="form-group">
                                                  <!-- <label class="col-form-label" for="file-input">Logo</label><br> -->
                                                  <div *ngFor="let extLogoUrl of extLogoUrls;let i=index">
                                                      <div style="float:left;max-width:100px; margin:10px; text-align: center">
                                                        <img  [src]="extLogoUrl" style="width:100px; height:100px; object-fit: cover;"  ><br><br>
                                                        <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br> 
                                                      </div>
                                                  </div>
                                                  <!-- <input type="hidden" formControlName="adextLogoUrl" placeholder="adextLogoUrl" name="adextLogoUrl" class="form-control" id="adextLogoUrl"> -->
                                                </div>
                                              </div>  
                                          </div>
                                        </div>
                                      
                                     
                                          <div class="col-md-12">
                                              <div class="form-group">
                                                  <label class="col-form-label" for="Description">Description </label>
                                                  <div style="background:#fff">
                                                  <!-- <textarea class="form-control" formControlName="Description" id="Description"  name="Description" placeholder="" rows="4" type="text" [ngClass]="{ 'is-invalid': submitted && blogForm.controls.Description.errors}"></textarea> -->
                                                  <angular-editor id="editor1" formControlName="Description" [config]="config" name="Description" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && blogForm.controls.Description.errors}"></angular-editor>
                                                </div>
                                              <div *ngIf="submitted &amp;&amp; blogForm.controls.Description.errors" class="text-danger">
                                                  <div *ngIf="blogForm.controls.Description.errors.required">Description is Required</div>
                                                  <!-- <div *ngIf="blogForm.controls.Description.errors">Description cannot be only spaces.</div> -->
                                              </div>
                                              </div>
                                          </div>
                                        </div>
                                       
                                      </div>
                                        <div class="btn-section">
                                          <button type="submit" #Save (click)="onSubmit();" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{saveButtonText}}</button>

                                          <button type="cancel" (click)="NavigatetoManageBlog()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                                          <button type="reset"  (click)="reset()" [ngClass]="displayText" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
                                        </div>
                         
                         
                </div>
  
  
              </div>
  
  
            </div>

          </div>


    
  </form>
</div>
