/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #5c6873;
}

.navbar-toggler.d-none.d-md-block {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-100 {
  width: 100%;
}

.table {
  color: #5c6873;
}

a, a:hover {
  color: #eb2326;
}

*, button:focus {
  outline: none;
}

/* Commom css */
.card-head-right-block {
  float: right;
}

.table-box {
  border-radius: 15px;
  overflow: hidden;
  float: left;
  width: 100%;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e4e7ea;
}

.table thead th {
  border-bottom: 2px solid #c8ced3;
  background: #212121;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
}


.table thead th span.sort-icon {
  float: right;
  font-size: 8px;
  margin-top: 4px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 10px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: #c8ced3;
  float: right;
}

.list-profile-pic {
  max-width: 20px;
  border: 1px solid #c8ced3;
}

.category-icon {
  max-width: 30px;
  margin-right: 20px;
}

.form-bg-section {
  border: 1px solid #e4e7ea;
  border-radius: 2px;
  padding: 20px 0;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
}

.grey-bg {
  border: 1px solid #e4e7ea;
  padding: 10px 15px 1px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.grey-bg .form-group .form-check.grey {
  background: #e4e7ea;
  padding: 5px 10px;
  display: inline-block;
  padding-left: 30px;
  border-radius: 4px;
}

.card-body .form-bg-section:last-child {
  margin-bottom: 0;
}

.form-bg-title {
  position: absolute;
  top: -18px;
  left: 18px;
  background: #f5f5f5;
  padding: 5px 10px;
  font-weight: bold;
}

.profile-pic {
  max-width: 150px;
  margin-right: 20px;
}

button.btn.back-btn {
  background-color: #006a4e;
  float: left;
  cursor: pointer;
  border-radius: 4px;
  padding: 2px 8px;
  color: #ffffff;
}

.header-fixed .app-body {
  position: relative;
}

.header-fixed .app-body:before {
  position: fixed;
  content: "";
  background-image: -o-linear-gradient(top, #6b97cc, transparent);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6b97cc), to(transparent));
  background-image: linear-gradient(180deg, #6b97cc, transparent);
  height: 250px;
  top: 0;
  width: 100%;
}

.main .container-fluid {
  padding: 0 15px;
}
/* ===========================================================================================================================
Header CSS
=========================================================================================================================== */
.header-fixed .app-header {
  position: fixed;
  z-index: 1020;
  width: 100%;
  border-bottom: 2px solid #f88900;
}

.app.header-fixed.sidebar-fixed.sidebar-lg-show .navbar-toggler .navbar-toggler-icon,
.app.header-fixed.sidebar-fixed.sidebar-lg-show .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url(assets/img/default/arrow.svg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  height: 15px;
}

.app.header-fixed.sidebar-fixed .navbar-toggler .navbar-toggler-icon,
.app.header-fixed.sidebar-fixed .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url(assets/img/default/arrow.svg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 15px;
}

.app-header .navbar-brand {
  width: 250px;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.app-header .navbar-toggler {
  position: relative;
}

.app-header .navbar-toggler:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0;
  top: -20px;
  bottom: -12px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.navbar-brand-full {
  width: 100px;
  height: auto;
  padding: 10px;
}

.app-header .navbar-nav .dropdown-menu-right {
  -webkit-transform: translateY(8px) !important;
  -ms-transform: translateY(8px) !important;
  transform: translateY(8px) !important;
  background: white;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
  border: 0;
  overflow: hidden;
}

.app-header .navbar-nav .dropdown-menu-right .dropdown-item {
  border-bottom: 1px solid #e4e7ea;
}

.app-header .navbar-nav .dropdown-menu-right .dropdown-item:hover {
  background: transparent;
  color: #f88a00;
}


/* ===========================================================================================================================
Main Page CSS
=========================================================================================================================== */
.app-body .main {
  //background: url(assets/img/default/main-bg.svg) no-repeat;
  background-position: right top;
  background-size: 75vw;
}

.app-body .main .breadcrumb {
  border: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.app-body .main .breadcrumb li:nth-child(2) {
  display: none;
}

.card {
  border: 1px solid #f5f5f5;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card-header {
  background-color: transparent;
  border-bottom: 1px solid #e4e7ea;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.card-header .card-head-right-block #search {
  border-radius: 15px 0 0 15px;
}

.card-header .card-head-right-block .btn-primary {
  background-image: -o-linear-gradient(45deg, #EB2126, #F88A00);
  background-image: linear-gradient(45deg, #EB2126, #F88A00);
  padding: 6px 15px;
  border-radius: 0 15px 15px 0;
}

.card-header .card-head-right-block .btn-primary:hover {
  background: #006a4e;
}

.btn {
  padding: 6px 20px;
  font-size: 14px;
  border-radius: 8px;
  border: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background: #383838;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-success, .btn-success:focus {
  background-color: #006A4E;
}

.btn-danger, .btn-danger:focus {
  background-color: #EB2126;
}

.btn-primary, .btn-primary:focus {
  background-color: #F88A00;
}

.profile-pic {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 8px;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e4e7ea;
  padding: 8px 15px;
}

.ngx-pagination {
  background: #ffffff;
  display: inline-block;
  padding: 0;
  border-radius: 20px;
  margin: 20px 0 0;
  border: 1px solid #c8ced3;
}

.ngx-pagination li {
  display: inline-block;
  padding: 8px 20px !important;
  color: #006a4e;
  cursor: default;
}

.ngx-pagination a,
.ngx-pagination button {
  padding: 0 !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: transparent !important;
  color: #ffffff;
}

.ngx-pagination .current {
  background: #006a4e !important;
  color: #ffffff;
}

.ngx-pagination a, .ngx-pagination button {
  color: #5c6873 !important;
}

span.asterisk {
  color: red;
}

.pagination {
  margin: 0;
}

.pagination .page-item.active .page-link {
  background-color: #006a4e;
  border-color: #006a4e;
}

.pagination .page-link {
  color: #006a4e;
}

.pagination .page-link:hover,
.pagination .page-link:focus {
  color: #ffffff;
  background-color: #006a4e;
  border-color: #006a4e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.page-item:first-child .page-link {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.page-item:last-child .page-link {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.badge-success {
  color: #ffffff;
  letter-spacing: 0.5px;
}

.badge-secondary {
  color: #ffffff;
  letter-spacing: 0.5px;
}

.badge-danger {
  color: #ffffff;
  letter-spacing: 0.5px;
}

.badge-dark {
  color: #ffffff;
  letter-spacing: 0.5px;
}

.card.bg-info {
  border-color: #2eadd3;
  border-radius: 20px;
  background: #63c2de;
  overflow: hidden;
}

.card.bg-primary {
  border-color: #187da0;
  background: #20a8d8;
  border-radius: 20px;
  overflow: hidden;
}

.card.bg-warning {
  border-color: #c69500;
  background: #ffc107;
  border-radius: 20px;
  overflow: hidden;
}

.card.bg-danger {
  border-color: #f5302e;
  background: #f86c6b;
  border-radius: 20px;
  overflow: hidden;
}

.card .text-value {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.card .rev-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}



button.btn.edit-btn {
  background: #006a4e;
  border-radius: 4px;
  padding: 2px 8px;
  color: #fff;
}

button.btn.delete-btn {
  background: #ec2226;
  border-radius: 4px;
  padding: 2px 8px;
  color: #fff;
}

button.btn.gen-btn {
  background: #f88900;
  border-radius: 4px;
  padding: 2px 8px;
  color: #fff;
}

button.btn.dtl-btn {
  background: #17a2b8;
  border-radius: 4px;
  padding: 2px 8px;
  color: #fff;
}

button.btn.edit-btn:hover, button.btn.delete-btn:hover, button.btn.gen-btn:hover, button.btn.dtl-btn:hover {
  background: #383838;
}

.browse-img {
  background: #73818f;
  color: #fff;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.browse-img:hover {
  background: #73818f;
  color: #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ad-logo-img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  background: #ffffff;
}

.table th, .table td {
  vertical-align: middle;
}
/* ===========================================================================================================================
Sidebar CSS
=========================================================================================================================== */
html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer {
  margin-left: 300px;
}

.sidebar-fixed .sidebar {
  width: 285px;
}

.sidebar .sidebar-nav {
  width: 300px;
}

.sidebar .nav {
  width: 285px;
  padding: 15px;
}

.app.header-fixed.sidebar-fixed.sidebar-lg-show .sidebar.sidebar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-left: 15px !important;
  background: #ffffff;
  margin-top: 45px;
  height: calc(100vh - 100px) !important;
  border-radius: 20px 20px 0 0;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
  overflow: hidden;
}

.app.header-fixed.sidebar-fixed .sidebar {
  margin-left: -300px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  background: #ffffff;
  margin-top: 45px;
  height: calc(100vh - 100px) !important;
  border-radius: 20px 20px 0 0;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
  overflow: hidden;
}

.sidebar .nav-title, .badge-info {
  display: none;
}

.sidebar .nav-link {
  display: block;
  color: #383838;
  text-decoration: none;
  background: transparent;
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
  margin-bottom: 4px;
  border-radius: 8px;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
  color: #ffffff;
  background: #f88900;
}

.sidebar .nav-link .nav-icon,
.sidebar .nav-link .fa {
  color: #f88900;
  font-weight: 600;
}

.sidebar .nav-link.active .nav-icon,
.sidebar .nav-link:hover .nav-icon,
.sidebar .nav-link.active .fa,
.sidebar .nav-link:hover .fa {
  color: #fff;
}

.sidebar .sidebar-minimizer, .sidebar .sidebar-minimizer:hover {
  background-color: #212121;
}

.sidebar-minimized .sidebar .nav-link:hover {
  background: #f5f5f5;
  color: #383838;
}

.sidebar-minimized .sidebar .nav-link:hover .nav-icon {
  color: #383838;
}

.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
  background: #f5f5f5;
  color: #383838;
}

.sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
  color: #383838;
}

.sidebar .sidebar-minimizer {
  display: none;
}
/* ===========================================================================================================================
Footer CSS
=========================================================================================================================== */
.app-footer a {
  color: #f5f5f5;
}

.app-footer {
  color: #f5f5f5;
  background: #212121;
}

.grow {
  color: #F88A00 !important;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.grow:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
