// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


.toast-bootstrap-compatibility-fix {
    opacity:1;
  }

  /* TOASTR BUGFIX */
#toast-container > div {
    opacity: 1;
  }
//   .toast {
//     font-size: initial !important;
//     border: initial !important;
//     backdrop-filter: blur(0) !important;
//   }
//   .toast-success {
//     background-color: #51A351 !important;
//   }
//   .toast-error {
//     background-color: #BD362F !important;
//   }
//   .toast-info { 
//     background-color: #2F96B4 !important;
//   }
//   .toast-warning {
//     background-color: #F89406 !important;
//   }
