<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <!-- <div class="col-sm-3">
        <app-popular-category></app-popular-category>
      </div> -->

      <div class="col-sm-12">
        <div class="page-content">
          <h2 class="main-title">{{ 'BLOG.TITLENAME' | translate }} <button class="add-btn" (click)="btnPostNew()">{{ 'BLOG.POSTNEW' | translate }}</button></h2>
          <!-- <div>
            <ul class="event-filter">
              <li><button type="button" (click)="btnPostNew()">Post New</button></li>
            </ul>
          </div> -->
          <div class="row">
            <div class="col-sm-2" *ngFor="let blogpost of blogposts">
              <a href="" [routerLink]="['/blog-detail']" [queryParams]="{blogId:blogpost.blogId}"  queryParamsHandling="merge">
                <div class="blog-block">
                  <div class="img-block">
                    <img [src]="getPicUrl(blogpost.ImageUrl,blogpost.blogId)" class="img-fluid img-100" />
                  </div>
                  <h4 class="blog-title">{{blogpost.title}}</h4>
                  <p class="event-date"><i class="fa fa-calendar" aria-hidden="true"></i>   {{ blogpost.createdDate| date:'dd-MMM-yyyy'}}</p>
                  <div class="event-date"><i class="fa fa-eye" aria-hidden="true"></i>  {{ 'HOME.VIEWED' | translate }} : {{ blogpost.visitorCount}}</div>

                  <!-- <p class="blog-desc">{{ blogpost.description }}</p> -->
                  <!-- <p class="blog-desc"><span [innerHTML]=" blogpost.description "></span></p>  -->

                </div>
              </a>
            </div>
            <div class="col-sm-12"><span [ngClass]="blogNoRecords">{{'BLOG.NOLISTINGFOUND'| translate}} !!!</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
