<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>
<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-busidebar></app-busidebar>
      </div>

      <div class="col-sm-9">
        <div class="dashboard-page-content">
          <div class="animated fadeIn">
            <div class="card">
              <div class="card-header">
                <i class="nav-icon icon-picture"></i> Top Banner/Featured Ads
                <div class="card-head-right-block">
                  <div class="input-group">
                    <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">


                    <span class="input-group-prepend">
                      <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <button [routerLink]="['/bupostbanner']" class="btn edit-btn"> + Post New Banner</button>
                <button [routerLink]="['/bannerlisting']" class="btn btn-sm btn-primary" style="float:right" title="Approved Banners"><i class="fa fa-info-circle" aria-hidden="true"></i> View on Website </button>

                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <!--<th style="width:10%">Image</th>-->
                      <th style="width:25%" [class.active]="order === 'title'"
                          (click)="setOrder('title')">
                        Title <span class="sort-icon" [hidden]="reverse">▼</span>
                        <span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:7.5%" [class.active]="order === 'status'" (click)="setOrder('status')">Type <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>

                      <th style="width:10%" [class.active]="order === 'cityName'"
                          (click)="setOrder('cityName')">
                        City <span class="sort-icon"
                                   [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:7.5%" [class.active]="order === 'status'" (click)="setOrder('status')">Status <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>
                      <th style="width:10%" [class.active]="order === 'createdDate'"
                          (click)="setOrder('createdDate')">
                        Posted On <span class="sort-icon" [hidden]="reverse">▼</span>
                        <span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:10%" [class.active]="order === 'validFromDate'"
                          (click)="setOrder('validFromDate')">
                        Valid From <span class="sort-icon" [hidden]="reverse">▼</span>
                        <span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:10%" [class.active]="order === 'validTillDate'"
                          (click)="setOrder('validTillDate')">
                        Valid Till <span class="sort-icon" [hidden]="reverse">▼</span>
                        <span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>

                      <!-- <th>Posted On <span class="caret"></span></th> -->
                      <th style="width:15%">Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let managebanner of managebanners| orderBy: order:reverse:'case-insensitive' |  filter:filter | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                      <!--<td>
      <a [routerLink] ="['/bubannerdetailsview']"  [queryParams]="{id:managebanner.bannerId}"  queryParamsHandling="merge"  class="ad-btn"  style="cursor:pointer;float:left;width:100%"  >
        <img title ="View Details"  [src]="getPicUrl(managebanner.imageUrl,managebanner.bannerId)"  class="img-responsive ad-logo-img"  height="50"  width="50"   />
       </a>
    </td>-->
                      <!--<td>{{managebanner.title}}</td>-->
                      <td style="padding:0;">
                        <a class="topic-title" (click)="gotoBannerDetails(managebanner)">{{managebanner.title}}</a>
                      </td>
                      <td>
                        <div [ngClass]="getType(managebanner.isFeatured)">
                          <span>{{managebanner.isFeatured}}</span>
                        </div>
                      </td>
                      <td><span [ngClass]="{'btn btn-outline-warning active':managebanner.cityName=='Other'}">{{managebanner.cityName}}</span></td>
                      <td>
                        <div [ngClass]="getStatus(managebanner.isVisible)">
                          <span>{{managebanner.isVisible}}</span>
                        </div>
                      </td>

                      <td>{{managebanner.createdDate| date:'dd-MMM-yyyy'}}</td>
                      <td>{{managebanner.validFromDate| date:'dd-MMM-yyyy'}}</td>
                      <td>{{managebanner.validTillDate| date:'dd-MMM-yyyy'}}</td>

                      <!--<td>

      <span>{{managebanner.isVisible}}</span>
      <button [disabled]=managebanner.Activity data-toggle="modal" (click)="ActionOnApprove(managebanner.bannerId,$event)" class="btn edit-btn" title="Approve" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
      <button [disabled]=managebanner.Activity data-toggle="modal" (click)="ActionOnReject(managebanner.bannerId,$event)" class="btn delete-btn" title="Reject" data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
    </td>-->

                      <td>
                        <button (click)="gotoBannerDetails(managebanner)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button class="btn edit-btn" [routerLink]="['/bupostbanner']"  [queryParams]="{id:managebanner.bannerId}" href="" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o"></i></button>
                        <button class="btn delete-btn" (click)="onDelete(managebanner.bannerId)" data-toggle="modal" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash"></i></button>
                      </td>
                    </tr>

                    <tr *ngIf="managebanner && managebanners.length == 0">
                      <td colspan="6">No records found!</td>
                    </tr>
                    <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="col-form-label" for="remark">{{actionmessage}}</label>
                                </div>
                              </div>
                            </div>
                            <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                            <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tbody>
                </table>
                <div class="col-md-offset-5" style="text-align:right">
                  <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="30">30 items per page</option>
                  </select>


                  <div class="" style="margin-top: -3%; text-align:left">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-mainfooter></app-mainfooter>
