<div class="animated fadeIn">

  <form [formGroup]="FormResetPassword"  autocomplete="off">
    <div class="hidden">
      <input type="hidden" placeholder="userId" name="userId" class="form-control" id="userId">
    </div>
    <div class="card">
      <div class="card-header"><i class="fa fa-user-plus"></i> Reset Password</div>
      <input type="hidden" formControlName="userId" placeholder="userId" name="userId" class="form-control" id="userId">
      <div class="card-body">
        <div class="table-responsive">
          <div class="form-bg-section">
            <span class="form-bg-title"><b>Reset Password</b></span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="email">Email Id<span class ="asterisk">*</span></label>
                    <input class="form-control" id="email" formControlName="email" name="email" placeholder="" type="text" readonly>
                  </div>
                </div>
              </div>
          
              <!--<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="col-form-label" for="password">New Password<span class ="asterisk">*</span></label>
        <input class="form-control" id="password" formControlName="password" name="password" placeholder="" maxlength="20" minlength="6" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="text-danger">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
    </div>
  </div>-->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="password">New Password<span class ="asterisk">*</span></label>
                    <input class="form-control" id="password" formControlName="password" name="password" maxlength="30" minlength="8" placeholder="" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="text-danger">
                      <div *ngIf="f.password.errors.required">Password is Required</div>
                      <div *ngIf="f.password.errors.pattern">Passwords must contain at least 8 characters,one uppercase,one special character and one number</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="confirmpassword">Confirm Password<span class ="asterisk">*</span></label>
                    <input class="form-control" id="confirmpassword" formControlName="confirmpassword" name="confirmpassword" placeholder="" maxlength="20" minlength="6" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                    <div *ngIf="submitted && f.confirmpassword.errors" class="text-danger">
                      <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                    </div>
                  </div>
                </div>
              </div>-->

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="confirmpassword">Confirm Password<span class ="asterisk">*</span></label>
                    <input class="form-control" id="confirmpassword" formControlName="confirmpassword" maxlength="30" minlength="8" name="confirmpassword" placeholder="" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                    <div *ngIf="submitted && f.confirmpassword.errors" class="text-danger">
                      <div *ngIf="f.confirmpassword.errors.required">Confirm Password is Required</div>
                      <div *ngIf="f.password.errors.pattern">Passwords must contain at least 8 characters,one uppercase,one special character and one number</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="btn-section">
            <button type="submit" (click)="ResetPassword()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>    
            <button type="cancel" (click)="Navigatetomanageuser()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
           
          </div>
        </div>
      </div>
    </div>
</form>
</div>

