    <input type="file" #file placeholder="Choose file" (change)="onSelectFile($event)" style="display:none;" multiple>
    <button type="button" class="btn btn-success" (click)="file.click($event)"><i class="fa fa-picture-o" aria-hidden="true"></i> Browse</button>
    <span style="font-size:10px">(Max Size:2 MB/Image)</span>
    <div *ngFor="let url of urls;let i=index">
    <div style="float:left;max-width:100px; margin:10px; text-align: center">
      <img  [src]="url" style="width:100px; height:100px; object-fit: cover;" ><br><br>
      <!-- <img [src]="url" height="100" *ngIf="imgURL">    <br/> -->
      <button type="submit" title="Delete" class="btn delete-btn" (click)="onimagedelete(i)"> <i class="fa fa-trash"></i> Delete</button><br> 
      <!-- <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message"><br>
        {{message}}
      </span> -->
    </div>

   </div> 
