.app-body .main {
    height: 100vh;
  }
  .fa.green-tick {
    background: #006a4e;
    padding: 20px;
    font-size: 50px;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .home-icon {
    background: #fff;
    float: unset;
    width: 180px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 20;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-bottom: 30px;
  }
  .login-container .main-title:after {
    position: absolute;
    content: "";
    background: #006a4e;
    left: 50%;
    transform: translate(-50%, 0px);
    height: 3px;
    width: 100px;
    bottom: -20px;
  }
  .back-to-home {
    padding: 10px 20px;
    display: inline-block;
    background-image: linear-gradient(45deg, #ffcd00, #006a4e);
    color: #fff;
    transition: all 0.2s;
    border-radius: 8px;
  }
  .back-to-home:hover {
    background-image: linear-gradient(45deg, #ffcd00, #eb2126);
    color: #fff;
  }
  
  