<!-- <p>activation works!</p> -->
<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="login-container text-center">
          <a class="home-icon" ng-reflect-router-link="/website"><img class="img-responsive web-logo" src="assets/website/images/logo.svg"></a>
          <!--<i class="fa fa-check green-tick" aria-hidden="true"></i>-->
          <h2 class="main-title">{{confirmedEmailMessage}}</h2>
          <a class="back-to-home" [routerLink]="['/login']"><i class="fa fa-login" aria-hidden="true"></i> Proceed With Login</a>
        </div>
      </div>
    </main>
</div>

