<div class="animated fadeIn">
    
    <form #f="ngForm" action=""></form>
    <div class="card">
        <div class="card-header">
          <i class="nav-icon icon-note"></i> Blogs
          <div class="card-head-right-block">
                 <div class="input-group">
                    <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
                    <span class="input-group-prepend">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div> 
          </div>
        </div>

        <div class="card-body">
            <button  (click)="Adblog()" class="btn edit-btn" > + Add New Blog</button>
            <br><br>
            <div class="table-responsive">
              <div class="table-box">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>

          
              
                      <!--<th style="width:10%">Image</th>-->

                      <th style="width:30%" [class.active]="order === 'title'"
                          (click)="setOrder('title')"
                      >
                        Title <span class="sort-icon" [hidden]="reverse">▼</span>
                        <span class="sort-icon" [hidden]="!reverse">▲</span> 
                      </th>
                      <th style="width:10%" [class.active]="order === 'isVisible'"
                      (click)="setOrder('isVisible')">
                       Status <span class="sort-icon" [hidden]="reverse">▼</span>
                       <span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
               <!-- <th [class.active]="order === 'info.description'"
                          (click)="setOrder('info.description')"
                      >
                      Description <span class="sort-icon" [hidden]="reverse">▼</span>
                        <span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th> -->

                      <!-- <th>Created By <span class="caret"></span></th> -->
                      <!-- <th>Status <span class="caret"></span></th> -->
                      <th style="width:10%" [class.active]="order === 'createdDate'"
                          (click)="setOrder('createdDate')">
                      Posted On <span class="sort-icon" [hidden]="reverse">▼</span>
                      <span class="sort-icon" [hidden]="!reverse">▲</span> 
                      </th>
                      <th style="width:10%" [class.active]="order === 'validFromDate'"
                      (click)="setOrder('validFromDate')"
                      class="mdl-data-table__cell--non-numeric"
                  >
                  Valid From<span class="sort-icon" [hidden]="reverse">▼</span
                    ><span class="sort-icon" [hidden]="!reverse">▲</span>
                  </th>
                  <th style="width:10%" [class.active]="order === 'validTillDate'"
                      (click)="setOrder('validTillDate')"
                      class="mdl-data-table__cell--non-numeric"
                  >
                  Valid Till<span class="sort-icon" [hidden]="reverse">▼</span
                    ><span class="sort-icon" [hidden]="!reverse">▲</span>
                  </th>
             
                     
                      <!-- <th style="width:10%">Status <span class="caret"></span></th>  -->
                      <!-- <th>Posted On <span class="caret"></span></th> -->
                      <th style="width:10%">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                  

                    <tr *ngFor="let manageblog of manageblogs | filter:filter |orderBy: order:reverse:'case-insensitive'   |  paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                      <!-- <td><button  (click)="gotoBlogDetails(manageblog)" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>{{manageblog.blogId}}</td> -->
                      <!-- <td>{{manageblog.blogId}}</td> -->
                      <!-- <td>{{manageblog.imageUrl}}</td>  -->
                      <!--<td>
    <a [routerLink]="['/theme/blogdetailsview']" [queryParams]="{id:manageblog.blogId}" queryParamsHandling="merge" class="ad-btn" style="cursor:pointer;float:left;width:100%" >
        <img title="View Details" [src]="getPicUrl(manageblog.imageUrl,manageblog.blogId)" class="img-responsive ad-logo-img" height="50" width="50" />
    </a>
  </td>-->
                      <td style="padding:0;">
                        <a class="topic-title" [routerLink]="['/theme/blogdetailsview']" [queryParams]="{id:manageblog.blogId}" queryParamsHandling="merge">{{manageblog.title}}</a>
                      </td>

                    
                      <td>


                        <div [ngClass]="getStatus(manageblog.status)">
                          <span>{{manageblog.status}}</span>
                        </div>
                       <div [ngClass]="hideActivity(manageblog.status)">
                        <button [disabled]=manageblog.Activity data-toggle="modal" (click)="ActionOnApprove(manageblog.blogId,$event)" class="btn edit-btn" title="Approve" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        <button [disabled]=manageblog.Activity data-toggle="modal" (click)="ActionOnReject(manageblog.blogId,$event)" class="btn delete-btn" title="Reject" data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                      </div>
                      </td>
                      <td>{{manageblog.createdDate| date:'dd-MMM-yyyy'}}</td>
                      <td>{{manageblog.validFromDate| date:'dd-MMM-yyyy'}}</td>
                      <td>{{manageblog.validTillDate| date:'dd-MMM-yyyy'}}</td>


                      <td>
                        <button (click)="blogDetailsView(manageblog.blogId)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button class="btn edit-btn" (click)="updateBlog(manageblog)" href="" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o"></i></button>
                        <button class="btn delete-btn" (click)="onDelete(manageblog.blogId,$event)" href="" data-toggle="modal" title="Delete" data-target="#DeletePopUp"><i class="fa fa-trash"></i></button>
                      </td>
                      <!-- <td><button  data-toggle="modal" (click)="ActionOnApprove(manageblog.blogId,$event)" class="btn btn-outline-success" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Approve</button></td>
  <td><button  data-toggle="modal" (click)="ActionOnReject(manageblog.blogId,$event)" class="btn btn-outline-danger"  data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Reject</button></td>
    -->
                      
                    </tr>
                              
                          <tr *ngIf = "manageblogs && manageblogs.length == 0">
                              <td colspan = "9">No records found!</td>
                          </tr> 
                          <div class="modal fade" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeBtn">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                  <div class="row">
                                    <!-- <button style="position:relative;z-index: 2;cursor: pointer; float: right;" type="button"  [ngClass]="closepopup" data-dismiss="exitModal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                                    <div [ngClass]="showDates">
                                      <div class="form-group">
                                        <label class="col-form-label" for="validFrom">Valid From <span class="asterisk">*</span></label>
                                        <!--<input type="date" (change)="onvalidFromDateSelect($event)" [min]="minDate" [max]="maxValidFromDate" #modalvalidFrom ng-model="validFrom" [(ngModel)]="validFrom" id="validFrom" name="validFrom" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}">-->
                                        <div class="inp-cal">
                                          <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDateModel" [maxDate]="maxValidFromDate"
                                                 name="d2" #c2="ngModel" [(ngModel)]="modelValidFrom" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onvalidFromDateSelect($event)" readonly>
                                          <!--<div class="input-group-append">-->
                                          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                    <div [ngClass]="showDates">
                                      <div class="form-group">
                                        <label class="col-form-label" for="validTill">Valid Till <span class="asterisk">*</span></label>
                                        <!--<input type="date" (change)="onvalidTillDateSelect($event)" [min]="minValidTillDate" #modalvalidTill [(ngModel)]="validTill" ng-model="validTill" id="validTill" name="validTill" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}">-->
                                        <div class="inp-cal">
                                          <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minValidTillDate"
                                                 name="d3" #c3="ngModel" [(ngModel)]="modelValidTill" ngbDatepicker #d3="ngbDatepicker" (dateSelect)="onvalidTillDateSelect($event)" readonly>
                                          <!--<div class="input-group-append">-->
                                          <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label class="col-form-label" for="remark">Remark <span class="asterisk">*</span></label>
                                        <textarea class="form-control" id="remark" [(ngModel)]="remark" name="remark" maxlength="200" placeholder="" type="text" rows="6"></textarea>
    
                                      </div>
                                    </div>
                                  </div>
                                  <button type="submit" (click)="ActionOnPost(validFrom+','+validTill+','+remark)" [ngClass]="approveButtonStyle" data-dismiss="modalexit"><i class="fa fa-check"></i> {{approveButtonText}}</button>
                                  <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label class="col-form-label" for="DeletePopUp">{{actionMessage}}</label>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                                  <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                                </div>
                              </div>
                            </div>
                          </div>
                  </tbody>
              </table>
                  </div>
                     <div class="col-md-offset-5" style="text-align:right">
                      <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
                         <option [ngValue]="10">10 items per page</option>
                         <option [ngValue]="20">20 items per page</option>
                         <option [ngValue]="30">30 items per page</option>
                      </select>

                      <div class="" style="margin-top: -3%; text-align:left">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>
                    </div> 
            </div>
        </div>
    </div>
</div>
