<div class="category-section" [ngClass]="status ? 'show-all' : 'show-less'">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav category-list" >
        <li class="dropdown"  *ngFor="let Category of categories">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="getSubCategoryList(Category.categoryId)">
          <img class="img-responsive category-icon" [src]="getPicUrl(Category.CategoryImageUrl,Category.categoryId)" [routerLink]="['/ads-categorywise']" [queryParams]="{categoryId:Category.categoryId,categoryName:Category.categoryName}" queryParamsHandling="merge" /><br>{{Category.categoryName}} {{Category.categoryImageUrl}} </a>
          <ul class="dropdown-menu">
            <li *ngFor="let SubCategory of Subcategories" >
              <a [routerLink]="['/ads-categorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubcategoryName:SubCategory.subCategoryName}" queryParamsHandling="merge" >{{SubCategory.subCategoryName}}</a>
            </li>
          </ul>
        </li>    
      </ul>

      <div class="clearfix"></div>
      <button class="show-all" (click)="showAll()">                
           <i class="fa fa-angle-double-down" aria-hidden="true"></i>
      </button>
    </div> 
</div>
