<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
    <div class="category-bottom-section">
      <div class="row row-stretch">
        <div class="col-sm-3">
          <app-busidebar></app-busidebar>
        </div>

        <div class="col-sm-9">
          <div class="dashboard-page-content">
            <div class="animated fadeIn">
              <div class="container-fluid">
                <div class="row d-none">
                  <div class="col-sm-6 col-lg-3">
                    <a [routerLink]="['/bumanagead']">
                      <div class="card text-white bg-info">
                        <div class="card-body">
                          <div class="text-value"><i class="nav-icon icon-doc"></i> Ads</div>
                          <div class="rev-blocks">
                            <div>Paid - {{Dashboard.PaidAds}}</div>
                            <div>Approved -{{Dashboard.ApprovedAds}} </div>
                          </div>
                          <div class="rev-blocks">
                            <div>Free - {{Dashboard.FreeAds}}</div>
                            <div>Rejected - {{Dashboard.RejectedAds}}</div>
                          </div>
                          <div class="rev-blocks">
                            <div> </div>
                            <div>Pending - {{Dashboard.PendingAds}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <a [routerLink]="['/bumanagebanner']">
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <div class="text-value"><i class="nav-icon icon-picture"></i> Banner</div>
                          <div class="rev-blocks">
                            <div>Paid - {{Dashboard.PaidBanner}}</div>
                            <div>Approved - {{Dashboard.ApprovedBanner}}</div>
                          </div>
                          <div class="rev-blocks">
                            <div>Free - {{Dashboard.FreeBanner}}</div>
                            <div>Rejected - {{Dashboard.RejectedBanner}}</div>
                          </div>
                          <div class="rev-blocks">
                            <div> </div>
                            <div>Pending - {{Dashboard.PendingBanner}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <a [routerLink]="['/bumanageevent']">
                      <div class="card text-white bg-warning">
                        <div class="card-body">
                          <div class="text-value"><i class="nav-icon icon-calendar"></i> Events</div>
                          <div class="rev-blocks">
                            <div>Paid - {{Dashboard.PaidEvents}}</div>
                            <div>Approved - {{Dashboard.ApprovedEvents}}</div>
                          </div>
                          <div class="rev-blocks">
                            <div>Free - {{Dashboard.FreeEvents}}</div>
                            <div>Rejected - {{Dashboard.RejectedEvents}}</div>
                          </div>
                          <div class="rev-blocks">
                            <div> </div>
                            <div>Pending - {{Dashboard.PendingEvents}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <a [routerLink]="['/bumanagejobs']">
                      <div class="card text-white bg-danger">
                        <div class="card-body">
                          <div class="text-value"><i class="nav-icon icon-briefcase"></i> Jobs</div>
                          <div class="rev-blocks">
                            <div>Paid - {{Dashboard.PaidJobs}}</div>
                            <div>Approved - {{Dashboard.ApprovedJobs}}</div>
                          </div>
                          <div class="rev-blocks">
                            <div>Free - {{Dashboard.FreeJobs}}</div>
                            <div>Rejected - {{Dashboard.RejectedJobs}}</div>
                          </div>
                          <div class="rev-blocks">
                            <div> </div>
                            <div>Pending - {{Dashboard.PendingJobs}}</div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <br>
                <div class="row">

                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/bumanagead']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-doc cust-fa blue"> <span>Business Listing</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.ActiveBusiLitingCount}}</div>
                            <div class="text-uppercase text-muted small">Active</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.PendingBusiLitingCount}}</div>
                            <div class="text-uppercase text-muted small">Pending</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </a>
                  </div>
              
                  <!--/.col-->
                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/bumanagesmallad']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-docs cust-fa yellow"> <span> Current Promotions Ad</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.ActiveSmallAdsCount}}</div>
                            <div class="text-uppercase text-muted small">Active</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.PendingSmallAdsCount}}</div>
                            <div class="text-uppercase text-muted small">Pending</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </a>
                  </div>
                  <!--/.col-->
                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/bumanagebanner']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-picture cust-fa dblue"> <span>Top Banner/Featured Ads</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.ActiveBannerCount }}</div>
                            <div class="text-uppercase text-muted small">Active</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.PendingBannerCount}}</div>
                            <div class="text-uppercase text-muted small">Pending</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </a>
                  </div>
                  <!--/.col-->
                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/bumanageevent']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-calendar cust-fa red"> <span>Events</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.ActiveEventCount }}</div>
                            <div class="text-uppercase text-muted small">Active</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.PendingEventCount}}</div>
                            <div class="text-uppercase text-muted small">Pending</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  
                  <!--/.col-->
                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/bumanageblog']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-note cust-fa blue"> <span>Blogs</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.ActiveBlogsCount}}</div>
                            <div class="text-uppercase text-muted small">Active</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.PendingBlogsCount}}</div>
                            <div class="text-uppercase text-muted small">Pending</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--/.col-->
                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/bumanagejobs']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-briefcase cust-fa yellow"> <span>Jobs</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.ActiveJobsCount }}</div>
                            <div class="text-uppercase text-muted small">Active</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.PendingJobsCount}}</div>
                            <div class="text-uppercase text-muted small">Pending</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--/.col-->
                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/bumanagebuysell']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-tag cust-fa dblue"> <span>Buy/Sell</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.ActiveBuysellCount}}</div>
                            <div class="text-uppercase text-muted small">Active</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.PendingBuysellCount}}</div>
                            <div class="text-uppercase text-muted small">Pending</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--/.col-->
                  <div class="col-6 col-lg-3">
                    <a [routerLink]="['/messageboard']">
                    <div class="card cust-card-block">
                      <div class="card-body p-3 clearfix">
                        <i class="nav-icon icon-bubbles cust-fa red"> <span>Message Board</span></i>
                        <div class="brand-card-body">
                          <div>
                            <div class="text-value active">{{Dashboard.MessageTopicCount}}</div>
                            <div class="text-uppercase text-muted small">Topic</div>
                          </div>
                          <div>
                            <div class="text-value pending">{{Dashboard.MessageReplyCount}}</div>
                            <div class="text-uppercase text-muted small">Reply</div>
                          </div>
                        </div>
                        <div class="card-footer px-3 py-2">
                          <a class="font-weight-bold font-xs btn-block text-muted" href="#">View More <i class="fa fa-angle-right float-right font-lg"></i></a>
                        </div>
                      </div>
                    </div>
                    </a>
                  </div>
                  <!--/.col-->
                </div>
                <div class="clientele-logos">
                  
                  <div class="clientele-logo-slider">
                    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="logoConfig" (afterChange)="afterChange($event)">

                      <div ngxSlickItem *ngFor="let slide of logos" class="logo logo-img">
                        <a [routerLink]="['/bumanagead']">
                        <div class="info-patch">
                          <i class="nav-icon icon-doc"></i>
                          <div class="right-patch"><p>Business Listing features available for user to post their new business/corporate Advertisement listing on Arabchaldo. </p></div>
                        </div>
                        </a>
                      </div>
                   
                      <div ngxSlickItem *ngFor="let slide of logos" class="logo logo-img">
                        <a [routerLink]="['/bumanagebanner']">
                        <div class="info-patch">
                          <i class="info-icon icon-picture"></i>
                          <div class="right-patch"><p>Banner(Premium/Featured) provision available for user to post their trending business, promo, offer etc. on Arabchaldo.</p></div>
                        </div>
                      </a>
                      </div>
                  
                    
                      <div ngxSlickItem *ngFor="let slide of logos" class="logo logo-img">
                        <a [routerLink]="['/bumanageevent']">
                        <div class="info-patch">
                          <i class="info-icon icon-calendar"></i>
                          <div class="right-patch"><p>User can avail Event feature, to post their info of upcoming events, to view other available events on Arabchaldo. </p></div>
                        </div>
                      </a>
                      </div>
   
                      <div ngxSlickItem *ngFor="let slide of logos" class="logo logo-img">
                        <a [routerLink]="['/bumanagejobs']">
                        <div class="info-patch">
                          <i class="info-icon icon-briefcase"></i>
                          <div class="right-patch"><p>Jobs provide a provision for an Organization employer to post their Job Listing and also Jobs seeker can avail feature to contact & reply on seeking Jobs. </p></div>
                        </div>
                      </a>
                      </div>

                    
                      <div ngxSlickItem *ngFor="let slide of logos" class="logo logo-img">
                        <a [routerLink]="['/bumanageblog']">
                        <div class="info-patch">
                          <i class="info-icon icon-note"></i>
                          <div class="right-patch"><p>Blogs provides a platform for user to post or view blogs on any latest going trend or topic etc.</p></div>
                        </div>
                      </a>
                      </div>

                 
                      <div ngxSlickItem *ngFor="let slide of logos" class="logo logo-img">
                        <a [routerLink]="['/bumanagesmallad']">
                        <div class="info-patch">
                          <i class="nav-icon icon-docs"></i>
                          <div class="right-patch"><p>Advertisement features available for user to post their commercial related Ads on Arabchaldo. </p></div>
                        </div>
                      </a>
                      </div>
                
                    
                      <div ngxSlickItem *ngFor="let slide of logos" class="logo logo-img">
                        <a [routerLink]="['/bumanagebuysell']">
                        <div class="info-patch">
                          <i class="nav-icon icon-tag"></i>
                          <div class="right-patch"><p>
                            Buy/Sell Listing provides feature to user to post or view their stuffs through Arabchaldo. </p></div>
                        </div>
                      </a>
                      </div>
                    </ngx-slick>
                  </div>
                </div>
                <div class="row row-stretch">
                  <div class="col-sm-4 col-xs-12">
                    <div class="card" style="height: calc(100% - 25px);">
                      <div class="card-header">
                        <div class="row">
                          <div class="col-sm-6">
                            Plans List
                          </div>
                          <div class="col-sm-6">
                            <select class="form-control" id="" formControlName="" name="" (change)="subscriptionPlanDetails($event)">
                              <option *ngFor="let plan of _allPlan | async" [value]="plan.planId">{{plan.planName}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="chart-wrapper">
                          <div class="dashboard-plan-content mar15">
                            <ul>
                              <li>Logo <span>{{LogoImageCount}}</span></li>
                              <li>Business Listing <span>{{BusinessListingImageCount}}</span></li>
                              <li>Advertisement <span>{{SmallAdsCount}}</span></li>
                              <li>Buy/Sell <span>{{BuySellCount}}</span></li>
                              <li>Banners <span>{{BannerImageCount}}</span></li>
                              <li>Events <span>{{EventImageCount}}</span></li>
                              <li>Jobs <span>{{JobsAdvCount}}</span></li>
                              <li>Miscellaneous <span> {{Miscellaneous}}</span></li>
                              <li>Valid From <span> {{ValidFrom | date}} </span></li>
                              <li>Valid Till <span> {{ValidTill | date}} </span></li>
                              <li>Final Amount <span>$ {{finalAmount}} </span></li>
                              <li>Payment status <span> {{planPaid}} </span></li>
                            </ul>
                          </div>
                        </div>
                        <div class="row" *ngIf="paymentButton">
                          <button style="margin-top: 5px; width: 100%;" (click)="paymentForPlanAfterSave()" id="checkoutAfterSave" class="btn btn-primary">Pay ${{FinalAmount}}</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8 col-xs-12">
                    <div class="card" style="height: calc(100% - 25px);">
                      <div class="card-header">Total Image Count Chart</div>
                      <div class="card-body">
                        <div class="chart-wrapper">
                          <canvas baseChart class="chart"
                                  [data]="pieChartData"
                                  [labels]="pieChartLabels"
                                  [chartType]="pieChartType"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-section bu-credit" *ngIf="BUStripe">
                    <app-stripe [finalAmount]="finalAmount" [UserEmail]="CustomerEmail" [UserName]="CustomerName" [PlanIdForStripe]="PlanIdForStripe" (stripeResponse)="onlinePaymentResponse($event)"></app-stripe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
