a .card {
	transition: all 0.2s;
}
a .card:hover {
	transform: scale(1.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.card .text-value {
    margin-bottom: 0;
    font-size:14px;
}
.card .rev-blocks {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 0;
    border-right: 0;
}
.card .rev-blocks div {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 5px;
    border-bottom: 0;
} 
