<footer class="footer-section">
    <div class="custom-container">
        <div class="row">
          <!-- <div class="col-sm-3">
            <h2 class="main-title">ArabChaldo</h2>
            <p>{{ 'FOOTER.ADDRESSLINE' | translate }}</p>
            <p>{{ 'FOOTER.PHONE' | translate }}: <a href="tel:248-526-9825">248-526-9825</a></p>
            <p>{{ 'FOOTER.EMAIL' | translate }}: <a href="mailto:info@arabchaldo.com">info@arabchaldo.com</a></p>
          </div> -->
            <div class="col-sm-3">
              <h2 class="main-title t-roboto">{{ 'FOOTER.QUICKLINKS' | translate }}</h2>
                <ul class="quick-links">
                    <li><a [routerLink]="['/website']">{{ 'FOOTER.HOME' | translate }}</a></li> 
                    <li><a [routerLink]="['/about']">{{ 'FOOTER.ABOUTUS' | translate }}</a></li> 
                    <li><a [routerLink]="['/faq']">{{ 'FOOTER.FAQS' | translate }}</a></li> 
                    <li><a [routerLink]="['/contact']">{{ 'FOOTER.CONTACTUS' | translate }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
              <h2 class="main-title t-roboto">{{ 'FOOTER.AUDIENCECARES' | translate }}</h2>
                <ul class="quick-links">
                    <li><a [routerLink]="['/privacy-policy']">{{ 'FOOTER.PRIVACYPOLICY' | translate }}</a></li>
                    <!--<li><a [routerLink]="['/terms-use']">{{ 'FOOTER.TERMSOFUSE' | translate }}</a></li>-->
                    <li><a [routerLink]="['/disclaimer']">{{ 'FOOTER.DISCLAIMER' | translate }}</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
              <h2 class="main-title t-roboto">{{ 'FOOTER.SOCIALLINKS' | translate }}</h2>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/ArabChaldo/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/arabchaldo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/arabchaldo" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/arabchaldo/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="browser-support">
          <p>{{ 'FOOTER.TESTEDSUPPORTEDBROWSERS' | translate }}</p> 
          <p class="for-mobile"><i>Please use desktop browser to avail service for posting any advertisement, business listing, banner, events, jobs on website. </i></p>
        </div>
    </div>
    <div class="copyright">
        <div class="custom-container">
          <p>&copy; {{ 'FOOTER.RIGHTSRESERVED' | translate }}</p>
        </div>
    </div>
</footer>


<div class="custom-popup">
  <!-- Login - Modal -->
  <div class="modal fade" id="login_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="login-container">
            <button style="position:relative;z-index: 2;cursor: pointer;" type="button"  [ngClass]="closepopup" data-dismiss="exitModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="main-title">Login</h2>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="left-block">
                    <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)" style="text-align:left;">
                        <div class="form-group">
                          <input class="form-control" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required placeholder="Email">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required placeholder="Password">
                        </div>
                        <!-- <button type="submit" class="submit-btn" [disabled]="form.invalid">Login <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> -->
                        <button type="submit" class="submit-btn"   >Login <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                      </form> 
                  <p class="login-footer">
                    <span class="forgot-password"><a href="">Forgot password?</a></span>
                    <span class="signup">Don't have an account? <a href="">Sign Up!</a></span>
                  </p>
                </div>
              </div>

              <div class="col-md-2" style="text-align: center;">
                <div class="or"><span>OR</span></div>
              </div>

              <div class="col-md-4">
                <button class="social-btn fb"><i aria-hidden="true" class="fa fa-facebook"></i> Login via Facebook</button>
                <button class="social-btn google"><i aria-hidden="true" class="fa fa-google-plus"></i> Login via Google</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <app-login></app-login> -->
  </div>

  <!-- Register - Modal -->
  <div class="modal fade" id="register_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="login-container">
            <button style="position:relative;z-index: 2;cursor: pointer;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="main-title">Register</h2>
            <div class="left-block">
              <form autocomplete="off" novalidate="" style="text-align:left;" class="ng-untouched ng-pristine ng-invalid">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="FirstName" placeholder="First Name*" required="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="LastName" placeholder="Last Name*" required="">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="ContactNumber" placeholder="Contact Number*" required="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="Email" placeholder="Email*" required="">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="Password" placeholder="Password*" required="" type="password">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="ConfirmPassword" placeholder="Confirm Password*" required="" type="password">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="form-check mr-1" id="Gender" >
                        <div class="row">
                          <div class="col-sm-4">
                            <label class="col-form-label" for="Gender">Gender*</label>
                          </div>
                          <div class="col-sm-4">
                            <!--<input class="form-check-input" formControlName="gender" id="Male" type="radio" value="1">-->
                            <input class="form-check-input" name="gender" id="Male" type="radio" value="1">
                            <label class="form-check-label" for="Male">Male</label>
                          </div>
                          <div class="col-sm-4">
                            <!--<input class="form-check-input" formControlName="gender" id="Female" type="radio" value="2">-->
                            <input class="form-check-input" name="gender" id="Female" type="radio" value="2">
                            <label class="form-check-label" for="Female">Female</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <button class="submit-btn" type="submit" disabled="">Register Now <i aria-hidden="true" class="fa fa-chevron-circle-right"></i></button>
                  </div>
                </div>
              </form>
              <!-- <p class="login-footer">
                <span class="signup">Already have an account? <a href="">Sign In!</a></span>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
