<!--<div class="animated fadeIn">-->
<!--<div class="card">
  <div class="card-header">
    <i class="icon-user-following"></i>
  </div>
  <div class="btn-section">-->
<!--<div class="credit-card">

  <br />


  <input class="form-control" id="paymentname" formControlName="paymentname" type="text" placeholder="Enter Name" />
  <br />
  <br />
  <div id="card-element" class="field"></div>
  <br />
  <br />
  <button type="submit" (click)="pay()">Pay ${{this.finalAmountToPay}}</button>

  <br />
</div>-->

<div class="col-md-12">
  <div class="cell example example5" id="example-5">
    <form [formGroup]="BUstripepaymentForm" action="">

      <fieldset>
        <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay with card</legend>
        <!--<legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card details</legend>-->


        <div class="row">
          <div class="field">
            <input class="input" id="name" formControlName="name" type="text" placeholder="Name*" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="text-danger">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="field">
            <input class="input" id="email" formControlName="email" type="text" placeholder="Email*" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="text-danger">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email"> Please enter valid email id</div>
            </div>
          </div>
          <div class="field">
            <input class="input" id="name" formControlName="phone" type="text" placeholder="Contact Number*" maxlength="10" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
            <div *ngIf="submitted && f.phone.errors" class="text-danger">
              <div *ngIf="f.phone.errors.required">Contact Number is required</div>
              <div *ngIf="f.phone.errors.pattern"> Please enter numbers only</div>
              <div *ngIf="f.phone.errors.maxlegth"> Max 10 digits allowed</div>
              <div *ngIf="f.phone.errors.minlength"> Min 10 digits allowed</div>
            </div>
          </div>
        </div>

        <div data-locale-reversible="">
          <div class="row">
            <div class="field">
              <input class="input" id="name" formControlName="address1" type="text" placeholder="Address1*" [ngClass]="{ 'is-invalid': submitted && f.address1.errors }">
              <div *ngIf="submitted && f.address1.errors" class="text-danger">
                <div *ngIf="f.address1.errors.required">Address is required</div>
              </div>
            </div>
          </div>
          <div class="row" data-locale-reversible="">
            <div class="field">
              <input class="input" id="name" formControlName="address2" type="text" placeholder="Address2*" [ngClass]="{ 'is-invalid': submitted && f.address2.errors }">
              <div *ngIf="submitted && f.address2.errors" class="text-danger">
                <div *ngIf="f.address2.errors.required">Address is required</div>
              </div>
            </div>
            <div class="field">
              <input class="input" id="name" formControlName="state" type="text" placeholder="State*" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
              <div *ngIf="submitted && f.state.errors" class="text-danger">
                <div *ngIf="f.state.errors.required">State is required</div>
              </div>
            </div>
            <div class="field">
              <input class="input" id="name" formControlName="zip" type="text" placeholder="ZIP*" maxlength="6" minlength="6" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
              <div *ngIf="submitted && f.zip.errors" class="text-danger">
                <div *ngIf="f.zip.errors.required">Zip code is required</div>
                <!--<div *ngIf="f.zip.errors.pattern"> Please enter numbers only</div>
                <div *ngIf="f.zip.errors.maxlength"> Max 6 digits allowed</div>
                <div *ngIf="f.zip.errors.minlength"> Min 6 digits allowed</div>-->
              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="field">
            <div class="col-md-6">
              <div id="card-element" class="field">
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-3">
          <button type="submit" (click)="pay()">Pay ${{this.finalAmountToPay}}</button>
        </div>


      </fieldset>

    </form>

  </div>
</div>
