<div class="animated fadeIn">
    <form>
        <div class="card">
            <div class="card-header"><i class="fa fa-bullhorn"></i> User Details</div>
            <div class="card-body">
                    <button  (click)=manageAdsback() class="btn btn-primary back-btn" type="button"><i class="fa fa-arrow-left"></i> Back</button>
                <div class="table-responsive">                    
                    <div class="form-bg-section">
                        <span class="form-bg-title"><b>Primary Details</b></span>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">  
                                    <div class="form-group">
                                      <label class="col-form-label" for="FirstName"><strong>FirstName:  </strong>    {{user.FirstName}}</label>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">  
                                    <div class="form-group">
                                        <label class="col-form-label" for="LastName" ><strong>LastName:  </strong>    {{user.LastName}}</label>
                                    </div>
                                </div>

                                <div class="col-md-4">  
                                    <div class="form-group">
                                      <label class="col-form-label" for="UserType"><strong>UserType:  </strong>    {{user.roleName}}</label>
                                    </div>
                                </div> 

                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label class="col-form-label" for="gender"><strong>Gender:  </strong>   {{user.gender}}</label>
                                    </div>   
                                </div> 
    
                                </div> 
                            </div>  
                        </div>
                        <div class="form-bg-section">
                            <span class="form-bg-title"><b>Contact Details</b></span>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4"> 
                                        <div class="form-group">
                                            <label class="col-form-label" for="Email"><strong>Email Id:  </strong>   {{user.Email}}</label> 
                                        </div>   
                                    </div> 
                                    <div class="col-md-4"> 
                                         
                                        <div class="form-group">
                                            <label class="col-form-label" for="ContactNumber"><strong>Contact Number: </strong>   {{user.CountryCode+' '+user.ContactNumber}}</label>
                                          </div>
                                    </div> 
    
                                    <div class="col-md-4"> 
                                        <div class="form-group">
                                            <label class="col-form-label" for="alternateContactNumber"><strong>Alternate Contact Number:  </strong>  {{user.alternateContactNumber}}</label> 
                                        </div>   
                                    </div> 
    
                                    <div class="col-md-4"> 
                                        <div class="form-group"> 
                                            <label class="col-form-label" for="FaxNumber"><strong>Fax Number:  </strong>{{user.FaxNumber}}</label>
                                        </div>   
                                    </div>                            
                                </div>  
                            </div>
                        </div>
                    <div class="form-bg-section">
                        <span class="form-bg-title"><b>Address Details</b></span>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="AddressStreet1"><strong>Street 1:  </strong> {{user.AddressStreet1}}</label>
                                    </div>    
                                </div> 

                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label class="col-form-label" for="AddressStreet2"><strong>Street 2:  </strong> {{user.AddressStreet2}}</label>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="CountryId"><strong>Country:  </strong> {{user.CountryName}}</label>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="StateId"><strong>State:  </strong> {{user.StateName}}</label>
                                    </div>
                                </div> 

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="CityId"><strong>City:  </strong> {{user.cityName}}</label>
                                    </div>
                                </div> 

                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label class="col-form-label" for="ZipCode"><strong>Zip Code: </strong> {{user.ZipCode}}</label>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                     
                    <div class="form-bg-section">
                        <span class="form-bg-title"><b>Additional Information</b></span>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group">
                                                <label class="displayProfilePicTitle" for="file-input"><strong class="displayProfilePicTitle">Profile Picture: </strong></label><br>
                                                <div *ngFor="let Profilepicurl of Profilepicurls;let i=index">
                                                <img [src]="Profilepicurl" class="img-responsive ad-logo-img" style="float:left; margin-right:10px;height:100px;width:100px;object-fit: cover" />
                                            </div>
                                            </div>
                                </div>
                                <div class="col-md-6"> 
                                        <div class="form-group">
                                            <label class="col-form-label" for="description"><strong>Comments: </strong> {{user.description}}</label>
                                        </div>
                                    </div>
                            </div>  
                        </div>
                    </div>  
                 
                </div>
            </div>
        </div>
    </form>
</div>
