<div class="animated fadeIn">
  <div class="card">
      <div class="card-header">
          <i class="nav-icon icon-people"></i> Users
          <div class="card-head-right-block">
            <div class="input-group">
              <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
              <span class="input-group-prepend">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
      </div>

      <div class="card-body">
        <button (click)="AddUser( )" class="btn edit-btn">+ Add New User</button><br><br>
        <div class="table-box">
          <table class="table table-bordered table-striped table-sm" id="uesrtable">
            <thead>
              <tr>
                <!-- <th [class.active]="order === 'info.userId'"
                    (click)="setOrder('info.userId')"
                    class="mdl-data-table__cell--non-numeric">
                User ID <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                </th> -->
                <!--<th style="width:10%">Profile Picture</th>-->

                <th style="width:20%" [class.active]="order === 'firstName'"
                    (click)="setOrder('firstName')"
                    class="mdl-data-table__cell--non-numeric">
                  Name <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:15%" [class.active]="order === 'roleName'"
                    (click)="setOrder('roleName')">
                  User Type <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:20%" [class.active]="order === 'email'"
                    (click)="setOrder('email')">
                  Email <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:15%" [class.active]="order === 'cityName'"
                    (click)="setOrder('cityName')">
                  City<span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:10%">Reset Password</th>
                <th style="width:10%">Action</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let user of users | filter:filter | orderBy: order:reverse:'case-sensitive'  | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                <!-- <td><button (click)="gotouserDetails(user)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>{{user.userId}}</td> -->
                <!--<td>
        <a [routerLink]="['/theme/userdetailsview']" [queryParams]="{userId: user.userId}" queryParamsHandling="merge" class="ad-btn" style="cursor:pointer;float:left;width:100%" >
        <img title="View Details" [src]="getPicUrl(user.profilePicUrl,user.userId)" class="img-responsive ad-logo-img" height="50" width="50" />
      </a>
    </td>-->
                <td style="padding:0;">
                  <a class="topic-title" (click)="userDetailsView(user.userId)">{{user.firstName +' '+ user.lastName}}</a>
                </td>
                <!--<td>{{user.firstName +' '+ user.lastName}}</td>-->
                <td>{{user.roleName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.cityName}}</td>
                <td><button (click)="ResetPassword(user)" class="btn edit-btn" data-toggle="tooltip" title="Reset"> <i class="fa fa-refresh" aria-hidden="true"></i></button></td>
                <td>
                  <button (click)="userDetailsView(user.userId)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button (click)="updateUser(user)" class="btn edit-btn" data-toggle="tooltip" title="Edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                  <button (click)="onDelete(user.userId,user.firstName,user.lastName,$event)" data-toggle="modal" class="btn delete-btn" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
                
              </tr>

              <tr *ngIf="user && users.length == 0">
                <td colspan="6">No user found.</td>
              </tr>


              <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-form-label" for="remark">{{actionmessage}}</label>
                          </div>
                        </div>
                      </div>
                      <button type="submit" (click)="ActionOn()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                      <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                    </div>
                  </div>
                </div>
              </div>
            </tbody>
          </table>
        </div>
        <div class="col-md-offset-5" style="text-align:right">
          <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="30">30 items per page</option>
          </select>


          <div class="" style="margin-top: -3%; text-align:left">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
      
  </div>
</div>
