<app-header
  [navbarBrandRouterLink]="['/website']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', alt: 'Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/icon.svg',  height: 30, alt: 'Logo Icon'}"
  [sidebarToggler]="'lg'">

  <!-- [navbarBrandMinimized]="{src: 'assets/img/brand/icon.svg', width: auto, height: 30, alt: 'Logo Icon'}" -->
 
  <ul class="nav navbar-nav ml-auto">
      <!-- <li> <b><span [innerHTML]='currentLocation' style="color:orange"></span></b></li> -->
    <!--<li> <b><span [innerHTML]='welcomeuser' style="color:#f88900;"></span></b></li>-->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img [src]="profileImage" class="img-avatar" [title]="welcomeuser"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <!--<a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>-->
        <button class ="dropdown-item" (click)="navigatetouserdetails()">  <i class="fa fa-user"></i> Profile</button>
          <!-- <a class="dropdown-item" href=""><i class="fa fa-lock" (click)="onLogout();"></i> Logout</a> -->
          <button class ="dropdown-item" (click)="onLogout()"><i class="fa fa-lock"></i> Logout</button>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
       <!-- <shared-loader></shared-loader>  -->
  <app-sidebar [fixed]="true" [display]="'lg'">    
      <div class="user-info">
        <div>
          <img [src]="profileImage" class="img-avatar" />
        </div>
        <div class="user-name">
          <span>{{welcomeuser}}</span>
        </div>
      </div>  
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>

  <main class="main">
  
    <br/> <br/> 
    <div class="container-fluid">     
 
<shared-loader></shared-loader> 

      <router-outlet></router-outlet>
    
    </div>
  </main> 
</div> 

<app-footer>
  <span>Copyright &copy; 2019 ArabChaldo.</span>
  <!--<span class="ml-auto">Powered by ArabChaldo</span>-->
</app-footer>
