<div class="animated fadeIn">

  <form [formGroup]="bannerForm" autocomplete="off" action="">
    <div class="card">
      <div class="card-header">
        <i class="nav-icon icon-picture"></i> Banner Details
      </div>




      <div class="card-body">
        <button [routerLink]="['/theme/managebanner']" class="btn btn-primary back-btn" type="button"><i class="fa fa-arrow-left"></i> Back</button><br /><br />
        <div class="table-responsive">

          <div class="form-bg-section">
            <span class="form-bg-title">Banner Content</span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label"><strong>Title: </strong>{{bannerpost.Title}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="validFromDate"><strong>Valid From: </strong>{{bannerpost.ValidFromDate | date:'dd-MMM-yyyy'}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="validTillDate"><strong>Valid Till: </strong>{{bannerpost.ValidTillDate | date:'dd-MMM-yyyy'}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Type"><strong>Type: </strong> {{type}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Status"><strong>Status: </strong> {{ statusMessage}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                   <label class="col-form-label" for="Title"><strong>Website: </strong> {{ bannerpost.Website}}</label>
                   </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-form-label" for="TagLine">
                      <strong>Description: </strong>
                      <p>
                        <span [innerHTML]="description"> </span>
                      </p>
                      <!--{{bannerpost.Description}}-->
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="form-bg-section">
            <span class="form-bg-title">Banner Image</span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <!--<label class="col-form-label" for="file-input"><strong>Image: </strong></label><br>-->
                    <div *ngFor="let logourl of logourls;let i=index">
                      <img [src]="logourl" class="img-responsive " style="float:left; margin-right:200px;height:300px;width:300px;object-fit: cover" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-bg-section">
            <span class="form-bg-title">Contact</span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="User"><strong>User: </strong>{{bannerpost.PostedForName}}</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="CcontactPersonName"><strong>Contact Person Name: </strong> {{bannerpost.ContactPersonName}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Email"><strong>Contact Email Id: </strong> {{bannerpost.Email}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="ContactNumber"><strong>Contact Number: </strong> {{bannerpost.ContactNumber}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="AlternateContactNumber"><strong>Alternate Contact Number: </strong> {{bannerpost.AlternateContactNumber}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="Website"><strong>Fax number: </strong> {{bannerpost.FaxNumber}}</label>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="form-bg-section">
            <span class="form-bg-title">Address</span>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="AddressStreet1"><strong>Street 1: </strong> {{bannerpost.AddressStreet1}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="AddressStreet2"><strong>Street 2: </strong> {{bannerpost.AddressStreet2}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="CountryId"><strong>Country: </strong> USA</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="StateId"><strong>State: </strong> {{bannerpost.StateName}}</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="CityId"><strong>City: </strong> {{bannerpost.CityName}}</label>
                  </div>
                </div>
                <div [ngClass]="showOtherCity">
                  <div class="form-group">
                    <label class="col-form-label" for="CityId"><strong>Other City: </strong> {{bannerpost.OtherCity}}</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label class="col-form-label" for="ZipCode"><strong>Zip Code: </strong> {{bannerpost.ZipCode}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <theme-workflowdetails [workflow]="workflow"></theme-workflowdetails>
        </div>
      </div>

    </div>
  </form>
</div>
