<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>
<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">

            <div class="col-sm-8">
                <div class="page-content">
                    <h2 class="main-title">{{buysellpost.Title}}<br>
                        <span> <i class="fa fa-calendar"></i> {{ 'HOME.POSTEDON' | translate }} {{buysellpost.CreatedDate | date:'dd-MMM-yyyy'}}</span>
                    </h2>
                    <!-- <div *ngFor="let imageurl of Imageurls;let i=index">
                        <img [src]="imageurl" style="max-width: 100%;" />
                      </div> -->
                      <div class="ad-img-banner">
                      <ngx-slick [ngClasss]="bannerSlickcss" #slickModal="slick-modal" [config]="bannerConfig">
                        <div ngxSlickItem *ngFor="let imageurl of Imageurls;let i=index" [ngClass]="showImage">
                          <img [src]="imageurl" class="img-fluid img-100" style="width:100%; height:28vw; object-fit: cover;">
                        </div>
                      </ngx-slick>
                    </div>
                      <br />
                    <div class="description-box" [ngClass]="readmore ? 'read-all' : 'read-less'" >
                        <br>
                        <br>
                        <p> <span [innerHTML]="description"> </span></p> 
                        </div>   
                    <p class="read-more" (click)="readMore()" [ngClass]="readmore ? 'read-all' : 'read-less'">{{'BUYSELLDETAILVIEW.READMORE'|translate }} </p>              
                </div>
                <div class="ribbon ribbon-top-right" *ngIf=PremiumtagAd><span>{{'BUYSELLDETAILVIEW.PREMIUM'|translate }}</span></div>
            </div>  

            <div class="col-sm-4">
              
              <div class="page-content contact-deail-block">
                <!--<h3><button class="add-btn" (click)="btnPostNew()">+ {{ 'BANNERLIST.POSTNEW' | translate }}</button> </h3>-->
                <h3><button class="add-btn" (click)="btnPostNew()">{{ 'BUYSELL.POSTNEW' | translate }}</button> </h3>
                <br>
                <br>

                <h3 class="sub-title">{{'BUYSELLDETAILVIEW.CONTACTDETAILS'|translate }}</h3>
                <ul class="ad-address">
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'BUYSELLDETAILVIEW.PHONENUMBER'|translate }} </span>{{buysellpost.ContactNumber}}</li>
                  <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{'BUYSELLDETAILVIEW.ALTERNATECONTACTNUMBER'|translate }}  </span>{{buysellpost.AlternateContactNumber}}</li>
                  <!--<li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'BUYSELLDETAILVIEW.EMAILID'|translate }} </span>{{buysellpost.Email}}</li>-->
                  <li><span><i class="fa fa-envelope" aria-hidden="true"></i>{{'BUYSELLDETAILVIEW.EMAILID'| translate}} </span><u><a [href]="mailto" style="color:#1a73e8;">{{buysellpost.Email}}</a></u></li>
                  <li><span><i class="fa fa-fax" aria-hidden="true"></i>{{'BUYSELLDETAILVIEW.FAXNUMBER'|translate }}</span>{{buysellpost.FaxNumber}}</li>
                  <li><span><i class="fa fa-globe" aria-hidden="true"></i>{{'BUYSELLDETAILVIEW.EXPECTEDPRICE'|translate }}</span> {{buysellpost.ExpectedPrice}}</li>
                  <li><span><i class="fa fa-eye" aria-hidden="true"></i> {{'BUYSELLDETAILVIEW.VIEWED'|translate }} </span> {{buysellpost.VisitorCount}} {{'BUYSELLDETAILVIEW.TIMES'|translate }}</li>
                </ul>
                <h3 class="sub-title">{{'BUYSELLDETAILVIEW.ADDRESS'|translate }}</h3>
                <div class="address-logo">
                  <div *ngFor="let logourl of logourls;let i=index">
                    <img [src]="logourl" class="img-responsive ad-logo" height="100" width="100" />
                  </div>
                  <div *ngIf=showAddress>
                    <p>
                      {{buysellpost.AddressStreet1 +" " + buysellpost.AddressStreet2}}<br>{{buysellpost.CityName}} {{buysellpost.StateName}} USA<br>
                      {{'BUYSELLDETAILVIEW.ZIPCODE'| translate}} {{buysellpost.ZipCode}}
                    </p>
                  </div>
                </div>
                <br />
                <div *ngIf=showMap>
                  <!--<app-gmap [addressforMap]="addressforMap"></app-gmap>-->
                  <div id="map" style="width:100%;height:400px;"></div>
                </div>
              </div>
            </div>             
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
