<section class="banner-section">
    <div class="container-fluid">
        <div class="row row-bottom">
            <div class="col-lg-6">
                <div class="banner-search-filter">
                  <h1 class="ban-caption">{{ 'HOME.NEWCLASSIFIEDSEVERYDAY' | translate }}</h1>
                    <div class="search-box">
                        <form action="">
                          <div class="row">
                            <div class="col-sm-9 custom-padding">
                              <input type="text" name="keyword" id="keyword" placeholder="{{ 'HOME.ENTERKEYWORD' | translate }}" [(ngModel)]="keyword">
                            </div>
                            <div class="col-sm-3 custom-padding">
                              <button class="filter-submit" (click)="getSearchCriteria(keyword);" type="submit"><i class="fa fa-search"></i> {{ 'HOME.SEARCH' | translate }}</button>
                            </div>



                           <div class="col-sm-6 custom-padding">
                                <!--<select class="form-control" id="City"  name="City" (change)="FillCity($event);">
      <option value="">{{ 'HOME.SELECTLOCATION' | translate }}</option>
        <option  *ngFor="let City of _allCity | async" [value]="City.cityId">{{City.cityName}}</option>
      </select>-->
                             <ng-select [items]="cities"
                                        bindLabel="cityName"
                                        bindValue="cityId"
                                        placeholder=""
                                        class="form-control" id="CityId" formControlName="cityId" name="CityId" (change)="FillCity($event);">
                              
                               <span class="ng-arrow-zone">
                                 <span class="ng-arrow"></span>
                               </span>
                             </ng-select>
                              </div>
                         

                            <div class="col-sm-6 custom-padding">

                              <!-- <label class="col-form-label" for="CategoryId">Category <span class="asterisk">*</span></label><br> -->
                              <!--<select class="form-control" id="Category" name="Category" (change)="FillCategory($event);">
      <option value="">{{ 'HOME.SELECTCATEGORY' | translate }}</option>
      <option *ngFor="let Category of _allCategory | async" [value]="Category.categoryId">{{Category.categoryName}}</option>
    </select>-->

                              <ng-select [items]="categories"
                                         bindLabel="categoryName"
                                         bindValue="categoryId"
                                         placeholder=""
                                         class="form-control" id="CategoryId" formControlName="categoryId" name="CategoryId" (change)="FillCategory($event);">
                                <span class="ng-arrow-zone">
                                  <span class="ng-arrow"></span>
                                </span>
                              </ng-select>
                            </div>
                          </div>
                        </form> 
                    </div>
                </div>          
            </div> 

            <div class="col-lg-6">
                <div class="slider-section">
                    <div class="banner-slider">
                        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="bannerConfig" *ngIf="bannerposts.length">
                            <!-- <div ngxSlickItem *ngFor="let slide of banners" class="">
                                  <a  [routerLink]="['/banner-detail']">
                                    <img src="{{ slide.img }}" class="img-fluid img-100">
                                    <div class="banner-text">
                                        <h1>Static Banner Title</h1>
                                        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups..</p>
                                    </div>
                                  </a>
                            </div> -->
                            <div ngxSlickItem *ngFor="let bannerpost of bannerposts"  class="">
                                <a [routerLink]="['/banner-detail']" [queryParams]="{bannerId:bannerpost.BannerId}" queryParamsHandling="merge">
                                    <img title="View Details" [src]="bannerpost.ImageUrl" class="img-fluid" />
                                </a>   
                            </div>
                        </ngx-slick>
                    </div>           
                </div>       
            </div>          
        </div>          
    </div>          
</section>
