<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="login-container">
        <a style="margin-right:100px;" ng-reflect-router-link="/website" [routerLink]="['/website']" class="home-icon"><img _ngcontent-vxj-c1="" class="img-responsive web-logo" src="assets/website/images/logo.svg"></a>
        <!--<a ng-reflect-router-link="/website" href="#/website"><div class="close" style="font-size: 30px;color: #444;opacity: 1;position: relative;z-index: 1" title="Home"><i aria-hidden="true" class="fa fa-home"></i></div></a>-->
        <h2 class="main-title">{{ 'LOGIN.LOGINWITHARABCHALDO' | translate }}</h2>
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="left-block">
              
                <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)" style="text-align:left;">
                  <div class="form-group">
                    <input class="form-control" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required placeholder="{{ 'LOGIN.EMAIL' | translate }}">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required placeholder="{{ 'LOGIN.PASSWORD' | translate }}">
                  </div>
                  <!-- <button type="submit" class="submit-btn" [disabled]="form.invalid">Login <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> -->
                  <button type="submit" class="submit-btn">{{ 'LOGIN.LOGINTITLE' | translate }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                </form>
                <p class="login-footer">
                  <span class="forgot-password"><a href="" [routerLink]="['/forgotpassword']">{{ 'LOGIN.FORGOTPASSWORD' | translate }}</a></span>
                  <span class="signup"> {{ 'LOGIN.DONTHAVEANACCOUNT' | translate }} <a href="" [routerLink]="['/register']"> {{ 'LOGIN.SIGNUP' | translate }}  </a></span>
                </p>
            </div>
          </div>

          <div class="col-md-2" style="text-align: center;">
            <div class="or"><span>OR</span></div>
          </div>

          <div class="col-md-4">
            <button (click)="facebooklogin()" class="social-btn fb"><i class="fa fa-facebook" aria-hidden="true"></i>   {{ 'LOGIN.LOGINFACEBOOK' | translate }}</button>
            <button (click)="Googlelogin()" class="social-btn google"><i class="fa fa-google-plus" aria-hidden="true"></i>  {{ 'LOGIN.LOGINGOOGLE' | translate }}</button>
            <button style="background-color:#0077B5;" (click)="Linkdenlogin()" class="social-btn google"><i class="fa fa-linkedin" aria-hidden="true"></i>  {{ 'LOGIN.LOGINLINKEDIN' | translate }}</button>
            <button style="background-color:#1DA1F2;"(click)="Twitterlogin()" class="social-btn google"><i class="fa fa-twitter" aria-hidden="true"></i>  {{ 'LOGIN.LOGINTWITTER' | translate }}</button>
          </div>
          <ng-template #proData>
            <h4 class="marginBottom">My {{user.provider}} profile</h4>
            <br />
            <img src="{{user.image}}" class="marginBottom">
            <div class="marginBottom">
              <h4>{{user.name}}</h4>
              <p>{{user.email}}</p>
            </div>
            <button class="btn btn-danger" (click)="signOut()">Sign out</button>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
</div>
