
<div class="popular-categories d-none">
  <h2 class="main-title">{{ 'HOME.POPULARCATEGORIES' | translate }}</h2>
    <div class="">
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="popular-category-list" >
              <ul class="nav navbar-nav category-list" *ngFor="let Category of categories">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="getSubCategoryList(Category.categoryId,Category.categoryName)" >{{Category.categoryName}}</a>
                  <ul class="dropdown-menu">
                    <li *ngFor="let SubCategory of Subcategories">
                      <a href="#" [routerLink]="['/ads-subcategorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubCategory:SubCategory.subCategoryName}" queryParamsHandling="merge" >{{SubCategory.subCategoryName}}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </nav>
    </div>
</div>
