<div class="animated fadeIn">
  
  <div class="card">
    <div class="card-header">
      <i class="nav-icon icon-doc"></i> Business Listing
      <div class="card-head-right-block">
        <div class="input-group">
          <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <button (click)="NavigateToAddPost()" class="btn edit-btn"> + Post New Business Listing</button>
      <br><br>
      <!--<input type="text" readonly class="form-control" [minDate]="minDate" [maxDate]="maxValidFromDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDateValue">-->
      <div class="table-box">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <!-- <th [class.active]="order === 'info.adLogoUrl'"
                (click)="setOrder('info.adLogoUrl')"
                class="mdl-data-table__cell--non-numeric">
              Ad Logo <span [hidden]="reverse"></span><span [hidden]="!reverse"></span>
            </th> -->
              <!--<th style="width:7%">Logo <span class=""></span></th>-->
              <!-- <th>View Ad</th> -->
              <!-- <th [class.active]="order === 'adId'"(click)="setOrder('userId')">Add Id <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th> -->
              <th style="width:25%" [class.active]="order === 'title'"
                  (click)="setOrder('title')">
                Business Name <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

              <th style="width:7%" [class.active]="order === 'isPremium'"
                  (click)="setOrder('isPremium')"
                  class="mdl-data-table__cell--non-numeric">
                Type  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:10%" [class.active]="order === 'categoryName'"
                  (click)="setOrder('categoryName')"
                  class="mdl-data-table__cell--non-numeric">
                Category  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

              <th style="width:10%" [class.active]="order === 'cityName'" (click)="setOrder('cityName')">City <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>
              <th style="width:7%">Status <span class="sort-icon" class=""></span></th>
              <!-- <th style="width:10%">Type <span class="sort-icon" class=""></span></th> -->
              <!-- <th [class.active]="order === 'info.Activity'"
                (click)="setOrder('info.Activity')"
                class="mdl-data-table__cell--non-numeric">
              Status  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
            </th> -->
              <th style="width:8%" [class.active]="order === 'createdDate'"
                  (click)="setOrder('createdDate')"
                  class="mdl-data-table__cell--non-numeric">
                Posted On  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:8%" [class.active]="order === 'validFromDate'"
                  (click)="setOrder('validFromDate')"
                  class="mdl-data-table__cell--non-numeric">
                Valid From<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <th style="width:8%" [class.active]="order === 'validTillDate'"
                  (click)="setOrder('validTillDate')"
                  class="mdl-data-table__cell--non-numeric">
                Valid Till<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <!-- <th>Posted On <span class="caret"></span></th> -->
              <th style="width:10%">Action</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let adpost of adposts | filter:filter | orderBy: order:reverse:'case-insensitive'  | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
              <!-- <td><button  (click)="gotoAdDetails(adpost)" class="btn gen-btn" title="View"> <i class="fa fa-eye" aria-hidden="true"></i></button></td> -->
              <!-- <td>{{adpost.adId}}</td> -->
              <!-- <td>{{adpost.adId}}</td> -->
              <!--<td>
              <a [routerLink]="['/theme/addetailsview']" [queryParams]="{adId:adpost.adId}" queryParamsHandling="merge" class="ad-btn" style="cursor:pointer;float:left;width:100%">
                <img title="View Details" [src]="getPicUrl(adpost.adLogoUrl,adpost.adId)" class="img-responsive ad-logo-img" height="50" width="50" />
              </a>
            </td>-->

              <td style="padding:0;">
                <a class="topic-title" (click)="adDetailsView(adpost.adId)">{{adpost.title}}</a>
              </td>
              <!--<td>{{adpost.title}}</td>-->
              <td>{{adpost.isPremium}}</td>
              <td>{{adpost.categoryName}}</td>

              <td><span [ngClass]="{'btn btn-outline-warning active':adpost.cityName=='Other'}">{{adpost.cityName}}</span></td>
              <!--<td>{{adpost.cityName}}</td>-->
              <td>


                <div [ngClass]="getStatus(adpost.status)">
                  <span>{{adpost.status}}</span>
                </div>
                <div [ngClass]="hideActivity(adpost.status)">
                  <button data-toggle="modal" (click)="ActionOnApprove(adpost.adId,adpost.isFeatured,$event)" class="btn edit-btn" title="Approve" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                  <button data-toggle="modal" (click)="ActionOnReject(adpost.adId,$event)" class="btn delete-btn" title="Reject" data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                </div>
                <br>

                <!--<div [ngClass]="getType(adpost.isFeatured)">
                <span>{{adpost.isFeatured}}</span>
              </div>-->
              </td>



              <!--<td>{{adpost.createdDate| date:'dd-MMM-yyyy'}}</td>
            <td>{{adpost.validFromDate| date:'dd-MMM-yyyy'}}</td>
            <td>{{adpost.validTillDate| date:'dd-MMM-yyyy'}}</td>-->
              <td>{{adpost.createdDate}}</td>
              <td>{{adpost.validFromDate}}</td>
              <td>{{adpost.validTillDate}}</td>
              <td>
                <button (click)="adDetailsView(adpost.adId)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button (click)="updatePost(adpost)" class="btn edit-btn" title="Edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button data-toggle="modal" (click)="DeleteAd(adpost.adId,adpost.isVisible,$event)" data-target="#DeletePopUp" class="btn delete-btn" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>

                <!--<a [routerLink]="['/theme/addetailsview']" [queryParams]="{adId:adpost.adId}" queryParamsHandling="merge" class="btn edit-btn" style="cursor:pointer;float:left;width:100%">
                <i class="fa fa-eye" aria-hidden="true"></i>

              </a>-->
              </td>
              
            </tr>
            <tr *ngIf="adpost && adposts.length == 0">
              <td colspan="9">No business listing found.</td>
            </tr>

<div class="modal fade" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <!--<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">-->
                      <!--<button style="position:relative;z-index: 2;cursor: pointer; float: right;" type="button" [ngClass]="closepopup" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>-->

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeBtn">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="row">
                        <div [ngClass]="showDates">
                          <div class="form-group">
                            <label class="col-form-label" for="validFrom">Valid From <span class="asterisk">*</span></label>
                            <!--<input type="date" (change)="onvalidFromDateSelect($event)" [min]="minDate" [max]="maxValidFromDate" #modalvalidFrom ng-model="validFrom" [(ngModel)]="validFrom" id="validFrom" name="validFrom" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}">-->
                            <div class="inp-cal">
                              <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDateModel" [maxDate]="maxValidFromDate"
                                     name="d2" #c2="ngModel" [(ngModel)]="modelValidFrom" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onvalidFromDateSelect($event)" readonly>
                              <!--<div class="input-group-append">-->
                              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                            <!--</div>-->
                          </div>
                        </div>
                        <div [ngClass]="showDates">
                          <div class="form-group">
                            <label class="col-form-label" for="validTill">Valid Till <span class="asterisk">*</span></label>
                            <!--<input type="date" (change)="onvalidTillDateSelect($event)" [min]="minValidTillDate" #modalvalidTill [(ngModel)]="validTill" ng-model="validTill" id="validTill" name="validTill" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}">-->
                            <div class="inp-cal">
                              <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minValidTillDate"
                                     name="d3" #c3="ngModel" [(ngModel)]="modelValidTill" ngbDatepicker #d3="ngbDatepicker" (dateSelect)="onvalidTillDateSelect($event)" readonly>
                              <!--<div class="input-group-append">-->
                              <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                            <!--</div>-->
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-form-label" for="remark">Remark <span class="asterisk">*</span></label>
                            <!--<textarea class="form-control" #box (keyup)="onKeyUp(box)"  id="remark" [(ngModel)]="remark" name="remark" maxlength="200" placeholder="" type="text" rows="6"></textarea>-->
                            <textarea rows="6" class="form-control" id="remark" [(ngModel)]="remark" name="remark" maxlength="200" placeholder="" type="text"></textarea>

                          </div>
                        </div>
                        <!--<div [ngClass]="showPremium">
                        <div class="form-group" style="display: flex;align-items: center;flex-direction: row-reverse;">
                          <label class="col-form-label" for="Ispremium">Premium</label>
                          <input  type="checkbox" [(ngModel)]="Ispremium" data-md-icheck (change)="toggleVisibility($event)" style="margin:0;float:left" />

                        </div>
                      </div>-->
                      </div>
                      <button type="submit" (click)="ActionOnPost(validFrom+','+validTill+','+remark + ','+Ispremium)" [ngClass]="approveButtonStyle" data-dismiss="modalexit"><i class="fa fa-check"></i> {{approveButtonText}}</button>
                      <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>



                      <!--<label *ngIf="form.errors">{{ form.errors?.dates | json }}</label>-->
                      <!--</form>-->



                    </div>




                  </div>
                </div>
              </div>
              <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-form-label" for="remark">{{actionmessage}}</label>
                          </div>
                        </div>
                      </div>
                      <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                      <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                    </div>
                  </div>
                </div>
              </div>
          </tbody>
        </table>
      </div>
      <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>


        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>

    </div>
  </div>


