<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="login-container"  style="max-width: 600px;">
        <a ng-reflect-router-link="/website" href="#/website" class="home-icon"><img _ngcontent-vxj-c1="" class="img-responsive web-logo" src="assets/website/images/logo.svg"></a>
        <!--<a ng-reflect-router-link="/website" href="#/website"><div class="close" style="font-size: 30px;color: #444;opacity: 1;position: relative;z-index: 1" title="Home"><i aria-hidden="true" class="fa fa-home"></i></div></a>-->
        <h2 class="main-title">{{ 'FORGOTPASSWORD.TITLEFORGOTPASSWORD' | translate }} </h2>
        <div class="left-block">
          <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)" style="text-align:left;">
            <div class="form-group">
              <input type="email" class="form-control" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required placeholder="{{ 'FORGOTPASSWORD.EMAIL' | translate }}">
              <input type="hidden" class="form-control" #Name="ngModel" name="Name" [(ngModel)]="formModel.Name" >
              <input type="hidden" class="form-control" #activationCode="ngModel" name="activationCode" [(ngModel)]="formModel.activationCode" >
              <input type="hidden" class="form-control" #mailFor="ngModel" name="mailFor" [(ngModel)]="formModel.mailFor" >
            </div>               
            <!-- <button type="submit" class="submit-btn" [disabled]="form.invalid">Login <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button> -->
            <button type="submit" class="submit-btn" [disabled]="form.invalid">{{ 'FORGOTPASSWORD.SUBMIT' | translate }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
