<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>
<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-busidebar></app-busidebar>
      </div>

      <div class="col-sm-9">
        <div class="dashboard-page-content">
          <div class="animated fadeIn">
            <div class="card">
              <div class="card-header">
                <i class="nav-icon icon-calendar"></i> Events
                <div class="card-head-right-block">
                  <div class="input-group">
                    <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
                    <span class="input-group-prepend">
                      <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button> 
                    </span>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <button [routerLink]="['/bupostevent']" class="btn edit-btn"> + Post New Event</button>
                <button [routerLink]="['/events']" class="btn btn-sm btn-primary" style="float:right" title="Approved Events"><i class="fa fa-info-circle" aria-hidden="true"></i> View on Website </button>
                <br><br>
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <!--<th style="width:7%">Image<span class=""></span></th>-->
                      <th style="width:25%" [class.active]="order === 'title'"
                          (click)="setOrder('title')">
                        Title <span class="sort-icon" [hidden]="reverse">▼</span>
                        <span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:7%" [class.active]="order === 'isPremium'"
                          (click)="setOrder('isPremium')"
                          class="mdl-data-table__cell--non-numeric">
                        Type  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:10%" [class.active]="order === 'cityName'" (click)="setOrder('cityName')">City <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>
                      <th style="width:7%" [class.active]="order === 'status'" (click)="setOrder('status')">Status <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>
                      <th style="width:10%" [class.active]="order === 'createdDate'"
                          (click)="setOrder('createdDate')"
                          class="mdl-data-table__cell--non-numeric">
                        Posted On  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                     
                      <th style="width:10%" [class.active]="order === 'eventDate'"
                          (click)="setOrder('eventDate')"
                          class="mdl-data-table__cell--non-numeric">
                        Event Date <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:10%" [class.active]="order === 'validFromDate'"
                      (click)="setOrder('validFromDate')"
                      class="mdl-data-table__cell--non-numeric">
                    Valid From<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                  </th>
                      <th style="width:10%" [class.active]="order === 'validTillDate'"
                          (click)="setOrder('validTillDate')"
                          class="mdl-data-table__cell--non-numeric">
                        Valid Till<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                      </th>
                      <th style="width:11%">Action</th>
                      <!-- <th class="mdl-data-table__cell--non-numeric">Event Logo</th>
  <th>Title <span class="sort-icon">▼</span><span class="sort-icon" hidden="">▲</span></th>
  <th>Status</th>
  <th>Posted On <span class="sort-icon">▼</span><span class="sort-icon" hidden="">▲</span></th>
  <th>Action</th> -->
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let adevent of adevents | filter:filter | orderBy: order:reverse:'case-insensitive'   | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                      <!-- <td><button  (click)="gotoAdDetails(adpost)" class="btn gen-btn" title="View"> <i class="fa fa-eye" aria-hidden="true"></i></button></td> -->
                      <!-- <td>{{adpost.adId}}</td> -->
                      <!-- <td>{{adpost.adId}}</td> -->
                      <!--<td>
    <a [routerLink]="['/bueventdetailview']" [queryParams]="{id:adevent.eventId}" queryParamsHandling="merge" class="ad-btn" style="cursor:pointer;float:left;width:100%">
      <img title="View Details" [src]="getPicUrl(adevent.imageUrl,adevent.eventId)" class="img-responsive ad-logo-img" height="50" width="50" />
    </a>
  </td>-->

                   
                      <td style="padding:0;">
                        <a class="topic-title" (click)="eventDetailsView(adevent.eventId)">{{adevent.title}}</a>
                      </td>
                      <td>{{adevent.isPremium}}</td>
                      <td><span [ngClass]="{'btn btn-outline-warning active':adevent.cityName=='Other'}">{{adevent.cityName}}</span></td>
                      <!--<td>{{adevent.cityName}}</td>-->
                      <td>
                        <div [ngClass]="getStatus(adevent.status)">
                          <span>{{statusText}}</span>
                        </div>
                      </td>
                      <!--<td>{{adevent.IsVisible}}</td>-->
                      <!--<td>

    <span>{{adevent.IsVisible}}</span>
    <button [disabled]=adevent.Activity data-toggle="modal" (click)="ActionOnApprove(adevent.eventId,$event)" class="btn edit-btn" title="Approve" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    <button [disabled]=adevent.Activity data-toggle="modal" (click)="ActionOnReject(adevent.eventId,$event)" class="btn delete-btn" title="Reject" data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>

  </td>-->
                      <td>{{adevent.createdDate| date:'dd-MMM-yyyy'}}</td>
                      <td>{{adevent.eventDate| date:'dd-MMM-yyyy'}}</td>
                      <td>{{adevent.validFromDate| date:'dd-MMM-yyyy'}}</td>
                      <td>{{adevent.validTillDate | date:'dd-MMM-yyyy'}}</td>

                      <td>

                        <!-- <span >{{adevent.isVisible}}</span> -->
                        <button (click)="eventDetailsView(adevent.eventId)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <button [routerLink]="['/bupostevent']" [queryParams]="{id:adevent.eventId}" class="btn edit-btn" title="Edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button (click)="onDelete(adevent.eventId,$event)" class="btn delete-btn" data-toggle="modal" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>

                      </td>


                    
                    </tr>
                    <tr *ngIf="adevent && adevents.length == 0">
                      <td colspan="9">No events found.</td>
                    </tr>


                  </tbody>
                </table>
                <div class="modal fade custom-modal" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="form-group">
                          <label class="col-form-label" for="remark">Remark</label>
                          <textarea class="form-control" #modalRemarkText id="remark" [(ngModel)]="remark" name="remark" placeholder="" type="text" rows="4"></textarea>
                        </div>
                        
                        <button type="submit" (click)="ActionOnPost(remark)" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Save</button>
                        <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label" for="remark">{{actionMessage}}</label>
                            </div>
                          </div>
                        </div>

                        <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                        <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-offset-5" style="text-align:right">
                  <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="30">30 items per page</option>
                  </select>


                  <div class="" style="margin-top: -3%; text-align:left">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-mainfooter></app-mainfooter>
