<div class="animated fadeIn">
    <form>
        <div class="card">
            <div class="card-header"><i [ngClass]="detailsViewTitleCss"></i>{{detailsViewName}}</div>

            <div class="card-body">
              <button  (click)=manageAdsback() class="btn btn-primary back-btn" type="button"><i class="fa fa-arrow-left"></i> Back</button>
              <br><br>
                  <div class="table-responsive">


                    <div class="form-bg-section">
                      <span class="form-bg-title">Content</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label"><strong>Category: </strong>{{buysellpost.CategoryName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="subCategoryId"><strong>Sub Category: </strong>{{buysellpost.SubCategoryName}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title"><strong>Title: </strong> {{ buysellpost.Title}}</label>
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ValidFromDate"><strong>Valid From Date: </strong> {{buysellpost.ValidFromDate|date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ValidTillDate"><strong>Valid Till Date: </strong> {{buysellpost.ValidTillDate|date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Website"><strong>Expected Price: </strong> {{buysellpost.ExpectedPrice}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Website"><strong>Type: </strong> {{AdType}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AdStatusForDetailsView"><strong>Status: </strong> {{buysellpost.buySelllStatusForDetailsView}}</label>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label" for="Description"><strong>Description: </strong></label>
                              <p> <span [innerHTML]="description"> </span></p> 
                            </div>
                          </div>

                            <div [ngClass]="showImages" class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label" for="file-multiple-input"><strong>Images: </strong></label><br>
                                    <div *ngFor="let imageurl of imageurls;let i=index" style="float:left; margin-right:10px;height:100px;width:100px;object-fit: cover">
                                      <img [src]="imageurl" style="width:100%" />
                                    </div>
                                  </div>
                                </div>
                          <!--<div class="col-md-4">
        <div class="form-group">
            <label class="col-form-label" for="Description"><strong>Ad Id: </strong> {{adpost.adId}}</label>
        </div>
    </div>-->
                        </div>
                      </div>
                    </div>
                  

                    <div class="form-bg-section">
                      <span class="form-bg-title">Contact</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="User"><strong>User: </strong>{{buysellpost.PostedForName}}</label>
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CcontactPersonName"><strong>Contact Person Name: </strong> {{buysellpost.ContactPersonName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Email"><strong>Contact Email Id: </strong> {{buysellpost.Email}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ContactNumber"><strong>Contact Number: </strong> {{buysellpost.CountryCodeContact+' '+buysellpost.ContactNumber}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AlternateContactNumber"><strong>Alternate Contact Number: </strong> {{buysellpost.AlternateContactNumber}}</label>
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="FaxNumber"><strong>Fax Number: </strong>{{buysellpost.FaxNumber}}</label>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>


                    <div class="form-bg-section">
                      <span class="form-bg-title">Address</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet1"><strong>Street 1: </strong> {{buysellpost.AddressStreet1}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet2"><strong>Street 2: </strong> {{buysellpost.AddressStreet2}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ZipCode"><strong>Zip Code: </strong> {{buysellpost.ZipCode}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CountryId"><strong>Country: </strong> {{buysellpost.CountryName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="StateId"><strong>State: </strong> {{buysellpost.StateName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CityId"><strong>City: </strong> {{buysellpost.CityName}}</label>
                            </div>
                          </div>
                          <div [ngClass]="showOtherCity">
                            <div class="form-group">
                              <label class="col-form-label" for="OtherCity"><strong>Other City: </strong> {{buysellpost.OtherCity}}</label>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                    <!--<div class="form-bg-section">
<span class="form-bg-title">Workflow Details</span>
<div class="container-fluid">
    <div class="col-md-12">-->
                    <theme-workflowdetails [workflow]="workflow"></theme-workflowdetails>
                    <!--</div>
</div>
</div>-->
                  </div>
            </div>
        </div>
    </form>
</div>
