<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-busidebar></app-busidebar>
      </div>
      <div class="col-sm-9">
        <div class="dashboard-page-content">
          <div class="animated fadeIn">
            <form>
              <div class="card">
                <div class="card-header"><i [ngClass]="detailsViewTitleCss"></i>{{detailsViewName}}</div>

                <div class="card-body">
                  <button (click)=manageAdsback() class="btn btn-primary back-btn" type="button"><i class="fa fa-arrow-left"></i> Back</button>
                  <br><br>
                  <div class="table-responsive">
                    <div class="form-bg-section" *ngIf=addivshow>
                      <span class="form-bg-title">Content</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label"><strong>Category: </strong>{{adpost.CategoryName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="subCategoryId"><strong>Sub Category: </strong>{{adpost.SubCategoryName}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title"><strong>Business Name: </strong> {{ adpost.Title}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="TagLine"><strong>Tag Line: </strong> {{adpost.TagLine}}</label>
                            </div>
                          </div>
                          <!--<div [ngClass]="showAdType">-->
                          <div [ngClass]="showAdType">
                            <div class="form-group">
                              <label class="col-form-label" for="Type"><strong>Type: </strong> {{adType}}</label>
                            </div>
                          </div>
                          <!--</div>-->
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Website"><strong>Website: </strong> {{adpost.Website}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ValidFromDate"><strong>Valid From Date: </strong> {{adpost.ValidFromDate|date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ValidTillDate"><strong>Valid Till Date: </strong> {{adpost.ValidTillDate|date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AdStatusForDetailsView"><strong>Status: </strong> {{adpost.AdStatusForDetailsView}}</label>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <!--<label class="col-form-label" for="Description"><strong>Description: </strong> {{adpost.Description}}</label>-->
                              <label class="col-form-label" for="Description"><strong>Description: </strong><p><span [innerHTML]="description"> </span></p></label>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label" for="ServicesOffered"><strong>Services Offered: </strong> {{adpost.ServicesOffered}}</label>
                            </div>
                          </div>
                          <div [ngClass]="showLogo">
                            <div class="form-group">
                              <label class="col-form-label" for="file-input"><strong>Logo: </strong></label><br>
                              <div *ngFor="let logourl of logourls;let i=index">
                                <img [src]="logourl" class="img-responsive ad-logo-img" style="float:left; margin-right:10px;height:100px;width:100px;object-fit: cover" />
                              </div>
                            </div>
                          </div>
                          <div [ngClass]="showImages">
                            <div class="form-group">
                              <label class="col-form-label" for="file-multiple-input"><strong>Images: </strong></label><br>
                              <div *ngFor="let imageurl of imageurls;let i=index">
                                <img [src]="imageurl" class="img-responsive ad-gallery-img" style="float:left; margin-right:10px;height:100px;width:100px;object-fit: cover" />
                              </div>
                            </div>
                          </div>
                          <!--<div class="col-md-4">
                              <div class="form-group">
                                  <label class="col-form-label" for="Description"><strong>Ad Id: </strong> {{adpost.adId}}</label>
                              </div>
                          </div>-->
                        </div>
                      </div>
                    </div>
                    <div class="form-bg-section" *ngIf=jobdivshow>
                      <span class="form-bg-title">Content</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label"><strong>Category: </strong>{{adpost.CategoryName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="subCategoryId"><strong>Sub Category: </strong>{{adpost.SubCategoryName}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title"><strong>Title: </strong> {{ adpost.Title}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="TagLine"><strong>Company Name: </strong> {{adpost.TagLine}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ValidFromDate"><strong>Valid From Date: </strong> {{adpost.ValidFromDate|date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ValidTillDate"><strong>Valid Till Date: </strong> {{adpost.ValidTillDate|date:'dd-MMM-yyyy'}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Website"><strong>Website: </strong> {{adpost.Website}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AdStatusForDetailsView"><strong>Status: </strong> {{adpost.AdStatusForDetailsView}}</label>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <!--<label class="col-form-label" for="Description"><strong>Description: </strong> {{adpost.Description}}</label>-->
                              <label class="col-form-label" for="Description"><strong>Description: </strong><p><span [innerHTML]="description"> </span></p></label>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label" for="ServicesOffered"><strong>Position Offered: </strong> {{adpost.ServicesOffered}}</label>
                            </div>
                          </div>
                          <div [ngClass]="showLogo">
                            <div class="form-group">
                              <label class="col-form-label" for="file-input"><strong>Logo: </strong></label><br>
                              <div *ngFor="let logourl of logourls;let i=index">
                                <img [src]="logourl" class="img-responsive ad-logo-img" style="float:left; margin-right:10px;height:100px;width:100px;object-fit: cover" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-bg-section">
                      <span class="form-bg-title">Contact</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="User"><strong>User: </strong>{{adpost.PostedForName}}</label>
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CcontactPersonName"><strong>Contact Person Name: </strong> {{adpost.ContactPersonName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Email"><strong>Contact Email Id: </strong> {{adpost.Email}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ContactNumber"><strong>Contact Number: </strong> {{adpost.CountryCode+' '+adpost.ContactNumber}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AlternateContactNumber"><strong>Alternate Contact Number: </strong> {{adpost.AlternateContactNumber}}</label>
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="FaxNumber"><strong>Fax Number: </strong>{{adpost.FaxNumber}}</label>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>


                    <div class="form-bg-section">
                      <span class="form-bg-title">Address</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet1"><strong>Street 1: </strong> {{adpost.AddressStreet1}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet2"><strong>Street 2: </strong> {{adpost.AddressStreet2}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ZipCode"><strong>Zip Code: </strong> {{adpost.ZipCode}}</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CountryId"><strong>Country: </strong> {{adpost.CountryName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="StateId"><strong>State: </strong> {{adpost.StateName}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CityId"><strong>City: </strong> {{adpost.CityName}}</label>
                            </div>
                          </div>
                          <div [ngClass]="showOtherCity">
                            <div class="form-group">
                              <label class="col-form-label" for="OtherCity"><strong>Other City: </strong> {{adpost.OtherCity}}</label>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="form-bg-section">

                <app-workflowdetails [workflow]="workflow"></app-workflowdetails>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>	
<app-mainfooter></app-mainfooter>
