<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="login-container text-center">
        <a class="home-icon" [routerLink]="['/website']" ng-reflect-router-link="/website"><img class="img-responsive web-logo" src="assets/website/images/logo.svg"></a>
        <!--<i class="fa fa-check green-tick" aria-hidden="true"></i>-->
        <h2 class="main-title">{{ 'USERLOGOUT.YOUHAVEBEENSUCCESSFULLYLOGGEDOUT' | translate }}</h2>
        <a class="back-to-home" [routerLink]="['/website']"><i class="fa fa-home" aria-hidden="true"></i> {{ 'USERLOGOUT.GOBACKTOHOMEPAGE' | translate }}  </a>
        <a class="back-to-home" [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'USERLOGOUT.GOBACKTOLOGINPAGE' | translate }}</a>
        <!--DatePicker Start-->
        <div class="d-none">
          <p>Simple datepicker</p>
          <input type="text" id="Datesample" />
          <ngb-datepicker #dp [(ngModel)]="model" (click)="selectDate($event)" (navigate)="date = $event.next"></ngb-datepicker>
        </div>
        <div class="d-none">
          <span>
            Datepicker Demo
          </span>
          <div>
            <input type="text" id="validFrom"
                   class="form-control"
                   [minDate]="minDate"
                   [maxDate]="maxValidFromDate" ng-model="validFrom" [(ngModel)]="validFrom" #modalvalidFrom
                   #dp="bsDatepicker" (change)="onvalidFromDateSelect($event)"
                   bsDatepicker [(bsValue)]="myDateValue">

            <input type="text" id="validTill"
                   class="form-control"
                   [minDate]="minValidTillDate" [(ngModel)]="validTill" ng-model="validTill" #modalvalidTill
                   #dp="bsDatepicker" (change)="onvalidTillDateSelect($event)"
                   bsDatepicker [(bsValue)]="myDateValue">
          </div>
        </div>
        <!--DatePicker End-->
      </div>


    </div>
   
  </main>
  
</div>

