
<div [ngClass]="displayWFSection">
  <span class="form-bg-title">Workflow Details</span>
  <div class="container-fluid">
    <div class="col-md-12">
      <div [ngClass]="displayTableSection">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Created By</th>
              <th>Created Date</th>
              <th>Status</th>
              <th>Remark</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of workflowDetails">
              <td>{{item.createdBy}}</td>
              <td>{{item.createdDate}}</td>
              <td>{{item.status}}</td>
              <td>{{item.remark}}</td>
            </tr>
            <tr *ngIf="workflowDetails == null">
              <td colspan="4">No records found!</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
