<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-busidebar></app-busidebar>
      </div>


      <div class="col-sm-9">
        <div class="dashboard-page-content">
          <div class="animated fadeIn">
            <!-- Please dont mess with above divs -->


            <form [formGroup]="FormPostBanner" action="">
              <div class="card">
                <div class="card-header"><i class="nav-icon icon-picture"></i>{{this.pagedetail}}</div>
                <input type="hidden" formControlName="bannerId" placeholder="bannerId" name="bannerId" class="form-control" id="bannerId">
                <div class="card-body">
                  <div class="table-responsive">
                    <div>
                      <span> To avail featured/premium service please buy a subscription plan. For more information on buying a subscription plan,contact us on below details:
                        <br/>
                       <strong> e-mail: info@arabchaldo.com</strong>
                        <br/>
                        <strong> Phone: 248-559-2971  </strong>                          
                      </span> 
                      <br/> 
                      OR

                        <a style="color:#ff0000" (click)="navigatetocontactus()">Click here to contact us</a>
                        <br/>
                        <br/>
                      </div>
                    <div class="form-bg-section">
                      <span class="form-bg-title">Banner Content</span>
                      <div class="container-fluid">
                        <div class="row">

                          <div class="col-md-12">
                            <div><strong>Select Listing Type</strong></div>
                            <div class="form-group">
                              <div class="form-check mr-1" id="postplan">
                                <!--<div><strong>Select Type of Banner Here</strong></div>-->
                                <div _ngcontent-sgb-c3="" class="row free-paid-listing">
                                  <div _ngcontent-sgb-c3="" class="col-md-4">
                                    <div _ngcontent-sgb-c3="" class="free-paid-btn">
                                      <input _ngcontent-sgb-c3="" class="form-check-input" id="Vertical" name="postplan" type="radio" value="Vertical" [checked]="VerticalView" (change)="WebsiteLocation($event)" [disabled]="Vertical">
                                      <span class="option-bg"></span>
                                      <span class="option-label"><i class="fa fa-check" aria-hidden="true"></i></span>
                                      <label _ngcontent-sgb-c3="" class="form-check-label" for="Free">Featured</label>
                                    </div>
                                    <span class="info-text">Banner will be displayed within vertical section on website home page. </span>
                                  </div>
                                  <div _ngcontent-sgb-c3="" class="col-md-4">
                                    <div _ngcontent-sgb-c3="" class="free-paid-btn">
                                      <input _ngcontent-sgb-c3="" class="form-check-input" id="Horizontal" name="postplan" type="radio" value="Horizontal" [checked]="HorizontalView" (change)="WebsiteLocation($event)" [disabled]="Horizontal">
                                      <span class="option-bg"></span>
                                      <span class="option-label"><i class="fa fa-check" aria-hidden="true"></i></span>
                                      <label _ngcontent-sgb-c3="" class="form-check-label" for="Paid">Premium</label>
                                    </div>
                                    <span class="info-text">Banner will be displayed within horizontal section on top of website home page.</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="">Subscription Plan <span class="asterisk">*</span></label><br>
                              <select class="form-control" id="" formControlName="" name="" (change)="subscriptionPlanDetails($event)">
                                <option *ngFor="let plan of _allPlan | async" [value]="plan.planId">{{plan.planName}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="bannerImageCount">Remaining Banner Images</label>
                              <input class="form-control" id="bannerImageCount" formControlName="bannerImageCount" name="bannerImageCount" placeholder="" type="text" readonly>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="title">Banner Title<span class="asterisk">*</span></label>
                              <input class="form-control" formControlName="title" id="title" name="title" maxlength="50" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors}">
                              <div *ngIf="submitted && f.title.errors" class="text-danger">
                                <div *ngIf="f.title.errors.required">Banner Title is Required</div>
                                <!-- <div *ngIf="f.title.errors.pattern">Please enter only alphanumeric value.</div> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="website">Website</label>
                              <input class="form-control" formControlName="website" maxlength="20" id="website" name="website" placeholder="" type="text">
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label" for="description">Description</label>
                              <textarea class="form-control" id="description" formControlName="description" name="description" placeholder="" type="text" rows="8"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <!--For new picture-->
                        <div class="form-group" [ngClass]="displayNewLogo">
                          <label class="col-form-label" for="BannerImageUrl">Image</label>
                          <div class="dp-block">
                            <app-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></app-upload>
                            <input type="hidden" formControlName="imageUrl" placeholder="imageUrl" name="imageUrl" class="form-control" id="imageUrl">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <!-- Existing Images section on Edit action -->
                        <div [ngClass]="displayExtLogo" #dvExtUploads>
                          <span class="form-bg-title">Existing Uploads</span>
                          <div [ngClass]="displayExtLogo" #dvExtLogo>
                            <div class="form-group">
                              <!--<label class="col-form-label" for="BannerImageUrl">Existing Image</label>-->
                              <div *ngFor="let extLogoUrl of extLogoUrls;let i=index">
                                <div style="float:left;max-width:100px; margin:10px; text-align: center">
                                  <img [src]="extLogoUrl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                                  <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>
                                </div>

                              </div>
                              <!-- <input type="hidden" formControlName="adextLogoUrl" placeholder="adextLogoUrl" name="adextLogoUrl" class="form-control" id="adextLogoUrl"> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="form-bg-section">
                      <span class="form-bg-title">Contact</span>
                      <div class="container-fluid">
                        <div class="row">

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="postedFor">User <span class="asterisk">*</span></label><br>
                              <select class="form-control" id="postedFor" formControlName="postedFor" disabled="true" name="postedFor" (change)="GetUserDetails($event);" [ngClass]="{ 'is-invalid': submitted && f.postedFor.errors }">
                                <option value="">--Select User--</option>
                                <option *ngFor="let User of _allUser | async" [value]="User.userId">{{User.firstName+' '+User.lastName}}</option>
                              </select>
                              <div *ngIf="submitted && f.postedFor.errors" class="text-danger"><div *ngIf="f.postedFor.errors.required">Selection of User is required</div></div>
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ContactPersonName">Contact Person Name <span class="asterisk">*</span></label>
                              <input class="form-control" id="ContactPersonName" formControlName="contactPersonName" maxlength="45" minlength="2" name="ContactPersonName" placeholder="" type="text" [ngClass]="{'is-invalid': submitted && f.contactPersonName.errors }">
                              <div *ngIf="submitted && f.contactPersonName.errors" class="text-danger">
                                <div *ngIf="f.contactPersonName.errors.required">Contact Person Name is required</div>
                                <!-- <div *ngIf="f.contactPersonName.errors.pattern">Enter text only</div> -->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Email">Email Id <span class="asterisk">*</span></label>
                              <input class="form-control" id="Email" formControlName="email" name="Email" maxlength="50" placeholder="" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                              <div *ngIf="submitted && f.email.errors" class="text-danger">
                                <div *ngIf="f.email.errors.required">Email Id is required</div>
                                <div *ngIf="f.email.errors.pattern">Enter Valid Format of Email</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-md-6">
                                  <label class="col-form-label" for="countryCodeContact">Country Code <span class="asterisk"></span></label><br>
                                  <ng-select [items]="countrycode"
                                             bindLabel="name"
                                             bindValue="countryCodeContact"
                                             placeholder=""
                                             class="form-control" id="countryCodeContact" formControlName="countryCodeContact" name="countryCodeContact">
                                    <span class="ng-arrow-zone">
                                      <span class="ng-arrow"></span>
                                    </span>
                                  </ng-select>
                                  <!-- <div *ngIf="submitted && f.countryCodeContact.errors" class="text-danger">
                                  <div *ngIf="f.countryCodeContact.errors.required">Country Code is required</div>
                                </div> -->
                                </div>

                                <div class="col-md-6">
                                  <label class="col-form-label" for="ContactNumber">Contact Number <span class="asterisk">*</span></label>
                                  <input class="form-control" id="ContactNumber" formControlName="contactNumber" name="ContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                                  <div *ngIf="submitted && f.contactNumber.errors" class="text-danger">
                                    <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                                    <!-- <div *ngIf="f.contactNumber.errors.pattern"> Please Enter numbers only</div> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AlternateContactNumber">Alternate Contact Number</label>
                              <input class="form-control" id="AlternateContactNumber" formControlName="alternateContactNumber" name="AlternateContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.alternateContactNumber.errors }">
                              <!-- <div *ngIf="submitted && f.alternateContactNumber.errors" class="text-danger">
                                <div *ngIf="f.alternateContactNumber.errors.pattern"> Please Enter numbers only</div>
                              </div> -->
                            </div>
                          </div>

                          <!-- <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-form-label" for="FaxNumber">Fax Number</label>
                            <input class="form-control" id="FaxNumber" formControlName="faxNumber" name="FaxNumber" placeholder="" type="text" maxlength="10" minlength="10">
                          </div>
                        </div> -->


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="FaxNumber">Fax Number</label>
                              <input class="form-control" id="FaxNumber" formControlName="faxNumber" name="FaxNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.faxNumber.errors }">
                              <!-- <div *ngIf="submitted && f.faxNumber.errors" class="text-danger">
                                <div *ngIf="f.faxNumber.errors.pattern"> Please Enter numbers only</div>

                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-bg-section">
                      <span class="form-bg-title">Address</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet1">Street 1 <span class="asterisk"></span></label>
                              <input class="form-control" id="AddressStreet1" formControlName="addressStreet1" name="AddressStreet1" placeholder="" type="text">
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet2">Street 2</label>
                              <input class="form-control" id="AddressStreet2" formControlName="addressStreet2" name="AddressStreet2" placeholder="" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ZipCode">Zip Code <span class="asterisk"></span></label>
                              <input class="form-control" id="ZipCode" formControlName="zipCode" name="ZipCode" maxlength="6" placeholder="" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="countryId">Country <span class="asterisk"></span></label><br>
                              <!-- <ng-select #myselect
                                    [items]="countries"
                                       bindLabel="countryName"
                                        bindValue="countryId"
                                        placeholder= ""
                                      class="form-control"  id="countryId" formControlName="countryId"  name="countryId" (change)="FillStateDDL($event);" >

                            </ng-select> -->
                              <select class="form-control" id="countryId" formControlName="countryId" name="CountryId" (change)="FillStateDDL($event);">
                                <option value="">--Select Country--</option>
                                <option *ngFor="let ctry of _allCountry | async" [value]="ctry.countryId">{{ctry.countryName}}</option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="stateId">State <span class="asterisk"></span></label><br>
                              <ng-select [items]="states"
                                         bindLabel="stateName"
                                         bindValue="stateId"
                                         placeholder=""
                                         class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);">
                              </ng-select>
                              <!--<select class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);">
                              <option value="">--Select State--</option>
                              <option *ngFor="let state of _allState | async" [value]="state.stateId">{{state.stateName}}</option>
                            </select>-->
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CityId">City <span class="asterisk"></span></label><br>
                              <ng-select [items]="cities"
                                         bindLabel="cityName"
                                         bindValue="cityId"
                                         appendTo="body"
                                         placeholder=""
                                         class="form-control" id="CityId" formControlName="cityId" name="CityId" (change)="FillCityName($event);">

                                <span class="ng-arrow-zone">
                                  <span class="ng-arrow"></span>
                                </span>
                              </ng-select>
                              <!--<select class="form-control" id="CityId" formControlName="cityId" name="CityId" (change)="FillCityName($event);">
                              <option value="">--Select City--</option>
                              <option *ngFor="let City of _allCity | async" [value]="City.cityId">{{City.cityName}}</option>
                            </select>-->
                              <div style="font-size: 12px; color: #eb2126;margin-top:5px">
                                *Select 'Other' if city not found.
                              </div>
                            </div>
                          </div>

                          <div [ngClass]="showOtherCity">
                            <div class="form-group">
                              <label class="col-form-label" for="OtherCity">Other City</label>
                              <input class="form-control" id="OtherCity" formControlName="OtherCity" name="OtherCity" maxlength="20" minlength="2" placeholder="" type="text">

                            </div>
                          </div>


                        </div>
                      </div>
                    </div>


                    <div class="btn-section">
                      <!-- <button type="submit" (click)="adpost($event)" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button> -->
                      <button type="submit" (click)="postEvent()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{saveButtonText}}</button>
                      <button type="cancel" (click)="NavigatetoManageEvent()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                      <!-- <button type="reset"   class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button> -->
                      <button type="reset" (click)="reset()" [ngClass]="displayText"><i class="fa fa-refresh"></i> Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>


            <!-- Please dont mess with below divs -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
