<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">
            <div class="col-sm-3">
              <app-busidebar></app-busidebar>     
            </div>


            <div class="col-sm-9">
                <div class="dashboard-page-content"> 
                    <div class="animated fadeIn">
                        <form [formGroup]="editBUProfile" (ngSubmit)="onSubmit()">
                            <div class="card">
                                <div class="card-header"><i class="nav-icon icon-user-follow"></i> Update Profile</div>

                                <div class="card-body">
                                    <div class="table-responsive">   
                                        <div class="form-bg-section">
                                            <span class="form-bg-title">Primary Details</span>
                                            <div class="container-fluid">
                                              <div class="row">
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="FirstName">First Name<span class="asterisk">*</span></label>
                                                    <input formControlName="firstName" class="form-control" id="FirstName" name="FirstName" maxlength="40" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                                    <div *ngIf="submitted && f.firstName.errors" class="text-danger">
                                                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                                      <!-- <div *ngIf="f.firstName.errors.pattern">Enter text only</div> -->
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="Gender">Gender<span class="asterisk">*</span></label><br>
                                                    <div class="form-check mr-1" id="Gender">
                                                      <div class="row">
                                                        <div class="col-sm-6">
                                                          <input formControlName="gender" class="form-check-input" id="Male" value="Male" name="Gender" type="radio" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                          <label class="form-check-label" for="Male">Male</label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                          <input formControlName="gender" class="form-check-input" id="Female" value="Female" name="Gender" type="radio" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                                          <label class="form-check-label" for="Female">Female</label>
                                                        </div>
                                                        <div *ngIf="submitted && f.gender.errors" class="text-danger">
                                                          <div *ngIf="f.gender.errors.required">Gender is Required</div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="LastName">Last Name<span class="asterisk">*</span></label>
                                                    <input formControlName="lastName" class="form-control" id="LastName" name="LastName" maxlength="40" type="text" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                                    <div *ngIf="submitted && f.lastName.errors" class="text-danger">
                                                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                                      <!-- <div *ngIf="f.lastName.errors.pattern">Enter text only</div> -->
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="col-md-4">
                                                  <div [ngClass]="displayNewLogo" #dvNewupload>

                                                    <app-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></app-upload>
                                                    <input type="hidden" formControlName="profilePicUrl" placeholder="profilePicUrl" name="profilePicUrl" class="form-control" id="profilePicUrl">
                                                  </div>
                                                  <div [ngClass]="displayExtLogo" #dvExtLogo>
                                                    <div class="form-group">
                                                      <div *ngFor="let extLogoUrl of extLogoUrls;let i=index">
                                                        <div style="float:left;max-width:100px; margin:10px; text-align: center">
                                                          <img [src]="extLogoUrl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                                                          <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>
                                                        </div>

                                                      </div>

                                                    </div>
                                                  </div>
                                                  <footer style="font-size: 12px; color: #eb2126;margin-top:5px">Note: To upload new image. Please delete the existing image and upload a new image.</footer> 
                                                </div>

                                              </div>  
                                            </div>
                                        </div>

                                        <div class="form-bg-section">
                                            <span class="form-bg-title">Contact Details</span>
                                            <div class="container-fluid">
                                              <div class="row">
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="ContactNumber">Contact Number<span class="asterisk">*</span></label>
                                                    <input formControlName="contactNumber" class="form-control" id="ContactNumber" name="ContactNumber" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                                                    <div *ngIf="submitted && f.contactNumber.errors" class="text-danger">
                                                      <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                                                      <!-- <div *ngIf="f.contactNumber.errors.pattern"> Please Enter numbers only</div> -->
                                                      <div *ngIf="f.contactNumber.errors.minlength">Please Enter minimum 10 Numbers</div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <!--<div class="col-md-4">
    <div class="form-group">
      <label class="col-form-label" for="AlternateContactNumber">Alternate Contact Number</label>
      <input formControlName="alternateContactNumber" class="form-control" id="AlternateContactNumber" name="AlternateContactNumber" type="text" maxlength="10" minlength="10">
    </div>
  </div>-->

                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="AlternateContactNumber">Alternate Contact Number</label>
                                                    <input class="form-control" id="AlternateContactNumber" formControlName="alternateContactNumber" name="AlternateContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.alternateContactNumber.errors }">
                                                    <!-- <div *ngIf="submitted && f.alternateContactNumber.errors" class="text-danger">
                                                      <div *ngIf="f.alternateContactNumber.errors.pattern"> Please Enter 10 Numbers Only</div>

                                                    </div> -->
                                                  </div>
                                                </div>
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="Email">Email Id</label>
                                                    <input formControlName="email" class="form-control" id="Email" name="Email" type="Email" readonly>
                                                  </div>
                                                </div>
                                                <!--<div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="FaxNumber">Fax Number<span class="asterisk"></span></label>
                                                    <input formControlName="faxNumber" class="form-control" id="FaxNumber" name="FaxNumber" type="text" maxlength="10" minlength="10">
                                                    <div *ngIf="submitted && f.faxNumber.errors" class="text-danger">
        <div *ngIf="f.faxNumber.errors.pattern"> Please Enter numbers only</div>
        <div *ngIf="f.faxNumber.errors.minlength">Please Enter minimum 10 Numbers</div>
      </div> 
                                                  </div>
                                                </div>-->

                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    <label class="col-form-label" for="FaxNumber">Fax Number</label>
                                                    <input class="form-control" id="FaxNumber" formControlName="faxNumber" name="FaxNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.faxNumber.errors }">
                                                    <!-- <div *ngIf="submitted && f.faxNumber.errors" class="text-danger">
                                                      <div *ngIf="f.faxNumber.errors.pattern"> Please Enter Numbers Only</div>
                                                    </div> -->
                                                  </div>
                                                </div>

                                              </div>  
                                            </div>
                                        </div>

                                        <div class="form-bg-section">
                                            <span class="form-bg-title">Address</span>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="AddressStreet1">Street 1<span class="asterisk"></span></label>
                                                            <input formControlName="addressStreet1" class="form-control" id="AddressStreet1" name="AddressStreet1" type="text">
                                                             <div *ngIf="submitted && f.addressStreet1.errors" class="text-danger">
                                                                    <div *ngIf="f.addressStreet1.errors">Multiple blank space not allowed.</div>
                                                                  </div> 
                                                        </div>    
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="AddressStreet2">Street 2</label>
                                                            <input formControlName="addressStreet2" class="form-control" id="AddressStreet2" name="AddressStreet2"  type="text">
                                                        </div>
                                                    </div> 
                                                    <div class="col-md-4"> 
                                                      <div class="form-group">
                                                          <label class="col-form-label" for="ZipCode">Zip Code<span class="asterisk"></span></label>
                                                          <input formControlName="zipCode" class="form-control" id="ZipCode" name="ZipCode"  maxlength="6" minlength="5" type="text" >
                                                          <!-- <div *ngIf="submitted &amp;&amp; f.zipCode.errors" class="text-danger">
                                                                  <div *ngIf="f.zipCode.errors.required">Zipcode is required</div>  
                                                                  <div *ngIf="f.zipCode.errors.pattern">Please Enter numbers Only</div>  
                                                          </div> -->
                                                      </div>
                                                  </div>
                                                    <div class="col-md-4">
                                                      <div class="form-group">
                                                        <label class="col-form-label" for="countryId">Country <span class="asterisk"></span></label><br>
                                                        <select class="form-control" id="countryId" formControlName="countryId" name="CountryId" (change)="FillStateDDL($event);">
                                                          <option value="">--Select Country--</option>
                                                          <option *ngFor="let ctry of _allCountry | async" [value]="ctry.countryId">{{ctry.countryName}}</option>
                                                        </select>
                                                        <!-- <ng-select #myselect
                                 [items]="countries"
                                 bindLabel="countryName"
                                 bindValue="countryId"
                                 placeholder=""
                                 class="form-control" id="countryId" formControlName="countryId" name="countryId" (change)="FillStateDDL($event);">
                
                      </ng-select> -->
                                                        <!--<div *ngIf="submitted && f.countryId.errors" class="text-danger"><div *ngIf="f.countryId.errors.required">Selection of Country is required</div></div>-->
                                                      </div>
                                                    </div> 

                                                    <div class="col-md-4">
                                                      <div class="form-group">
                                                        <label class="col-form-label" for="StateId">State<span class="asterisk"></span></label><br>

                                                        <ng-select [items]="states"
                                                                   bindLabel="stateName"
                                                                   bindValue="stateId"
                                                                   placeholder=""
                                                                   class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);">
                                                        </ng-select>
                                                        <!--<select class="form-control" formControlName="stateId" id="StateId" name="StateId" (change)="FillCityDDL($event);" >
          <option value="">--Select State--</option>
          <option *ngFor="let state of _allState | async" [value]="state.stateId">{{state.stateName}}</option>
  </select>-->
                                                        <!-- <div *ngIf="submitted && f.stateId.errors" class="text-danger"><div *ngIf="f.stateId.errors.required">Selection of State is required</div></div>  -->
                                                      </div>
                                                    </div> 

                                                    <div class="col-md-4">
                                                      <div class="form-group">
                                                        <label class="col-form-label" for="CityId">City<span class="asterisk"></span></label><br>
                                                        <!--<select class="form-control" formControlName="cityId" id="CityId" name="CityId" >
          <option value="">--Select City--</option>
          <option *ngFor="let City of _allCity | async" [value]="City.cityId">{{City.cityName}}</option>
  </select>-->
                                                        <ng-select [items]="cities"
                                                                   bindLabel="cityName"
                                                                   bindValue="cityId"
                                                                   appendTo="body"
                                                                   placeholder=""
                                                                   class="form-control" id="CityId" formControlName="cityId" name="CityId" (change)="FillCityName($event);">

                                                          <span class="ng-arrow-zone">
                                                            <span class="ng-arrow"></span>
                                                          </span>
                                                        </ng-select>
                                                        <!-- <div *ngIf="submitted && f.cityId.errors" class="text-danger"><div *ngIf="f.cityId.errors.required">Selection of City is required</div></div>  -->
                                                      </div>
                                                    </div> 

                                                  
                                                </div>  
                                            </div>
                                        </div>

                                        <div class="btn-section">
                                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Update</button>
                                            <button type="cancel" (click)="Navigatetoprofile()" class="btn btn-sm btn-danger" ><i class="fa fa-ban"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>            
    </div>
</section>	

<app-mainfooter></app-mainfooter>
