<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row" [ngClass]="showAddTopic">

     
      <div class="col-sm-4">
        <div class="page-content">
          <h2 class="main-title">{{'MESSAGEBOARD.pageTitle' | translate }}</h2>
          <div class="contact-form">
            <form [formGroup]="FormMessageBoard" action="">
              <div class="row">
                <input type="hidden" formControlName="MessageBoardId"
                       holder="MessageBoardId" name="MessageBoardId" class="form-control" id="MessageBoardId">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" formControlName="Topic" id="Topic" name="Topic" placeholder="{{ 'MESSAGEBOARD.TOPIC' | translate }}" maxlength="100" minlength="5" [ngClass]="{ 'is-invalid': submitted && FormMessageBoard.controls.Topic.errors}">
                    <div *ngIf="submitted &amp;&amp; FormMessageBoard.controls.Topic.errors" class="text-danger">
                      <div *ngIf="FormMessageBoard.controls.Topic.errors.required">{{ 'MESSAGEBOARD.TOPICREQUIRED' | translate }}</div>
                      <div *ngIf="FormMessageBoard.controls.Topic.errors.pattern">{{ 'MESSAGEBOARD.ENTERTEXTONLY' | translate }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea rows="4" id="Description" formControlName="Description" name="Description" maxlength="1500" minlength="5" placeholder="{{ 'MESSAGEBOARD.DESCRIPTION' | translate }}" [ngClass]="{ 'is-invalid': submitted && FormMessageBoard.controls.Description.errors}"></textarea>
                    <div *ngIf="submitted &amp;&amp; FormMessageBoard.controls.Description.errors" class="text-danger">
                      <div *ngIf="FormMessageBoard.controls.Description.errors.required">{{ 'MESSAGEBOARD.DESCRIPTIONREQUIRED' | translate }}</div>
                      <div *ngIf="FormMessageBoard.controls.Description.errors.pattern">{{ 'MESSAGEBOARD.ENTERTEXTONLY' | translate }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" id="Name" formControlName="Name" name="Name" placeholder="{{ 'MESSAGEBOARD.NAME' | translate }}" [ngClass]="{ 'is-invalid': submitted && FormMessageBoard.controls.Name.errors}">
                    <div *ngIf="submitted &amp;&amp; FormMessageBoard.controls.Name.errors" class="text-danger">
                      <div *ngIf="FormMessageBoard.controls.Name.errors.required">{{ 'MESSAGEBOARD.NAMEREQUIRED' | translate }}</div>
                      <div *ngIf="FormMessageBoard.controls.Name.errors.pattern">{{ 'MESSAGEBOARD.ENTERTEXTONLY' | translate }}</div>
                    </div>
                  </div>
                </div>
                <!--<div [ngClass]="showCategory">
                                <div class="form-group">
                                  <select class="form-control" id="CategoryId" formControlName="categoryId" name="CategoryId">
                                    <option value="">{{ 'MESSAGEBOARD.SELECTCATEGORY' | translate }}</option>
                                    <option *ngFor="let Category of _allCategory | async" [value]="Category.categoryId">
                                      {{
              Category.categoryName
                                      }}
                                    </option>
                                  </select>
                                </div>
                              </div>-->

                <div [ngClass]="showCategory">
                  <div class="form-group">
                    <div class="ng-control">
                      <ng-select [items]="categories"
                                 bindLabel="categoryName"
                                 bindValue="categoryId"
                                 placeholder=""
                                 class="form-control" id="CategoryId" formControlName="categoryId" name="CategoryId">
                        <span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                      </ng-select>



                      <!--<select class="form-control" id="CategoryId" formControlName="categoryId" name="CategoryId">
                                          <option value="">{{ 'MESSAGEBOARD.SELECTCATEGORY' | translate }}</option>
                                          <option *ngFor="let Category of _allCategory | async" [value]="Category.categoryId">
                                            {{
                    Category.categoryName
                                            }}
                                          </option>
                                        </select>-->

                    </div>
                  </div>
                </div>


                <div class="col-sm-12">
                  <div class="form-group">
                    <input class="form-check-input" id="postMessageCheckbox" (change)="CheckBoxClicked($event);" formControlName="postMessageCheckbox" type="checkbox" value="" [ngClass]="{ 'is-invalid': submitted && FormMessageBoard.controls.postMessageCheckbox.errors}">

                    &nbsp; &nbsp; &nbsp;
                    <label class="form-check-label" style="color:black" for="postMessageCheckbox"> {{ 'MESSAGEBOARD.TERMSCONDITION' | translate }}</label>
                    <div *ngIf="submitted &amp;&amp; FormMessageBoard.controls.postMessageCheckbox.errors" class="text-danger">
                      <div *ngIf="FormMessageBoard.controls.postMessageCheckbox.errors.required">{{ 'MESSAGEBOARD.TERMSANDCONDITIONS' | translate }}</div>

                    </div>
                  </div>
                </div>

                <!--<div class="col-sm-12">
                      <div class="form-group" >
                      <input class="form-check-input" id="postMessageCheckbox" (change)="CheckBoxClicked($event);" formControlName="postMessageCheckbox" type="checkbox" value="" >
                      <label class="form-check-label" for="postMessageCheckbox"> {{ 'MESSAGEBOARD.TERMSCONDITION' | translate }}</label>
                  </div>
              </div>-->
              </div>



              <!--<button type="submit" id="postMessage" disabled="disabled" (click)="postTopic()" class="contact-submit"><i class="fa fa-check"></i> {{ 'MESSAGEBOARD.SUBMITBUTTON' | translate }}</button>-->
              <button type="submit" id="postMessage" (click)="postTopic()" class="contact-submit"><i class="fa fa-check"></i> {{ 'MESSAGEBOARD.SUBMITBUTTON' | translate }}</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-content">
         
          <!--<h2 class="main-title">{{ 'MESSAGEBOARD.MESSAGEBOARDTERMSANDCONDITION' | translate }}</h2>-->
          <button (click)="ShowGridPanel()" class="btn btn-primary back-btn"><i class="fa fa-arrow-left"></i>  {{ 'MESSAGEBOARD.BACK' | translate }}</button>
          <br><br>
          <span>{{ 'MESSAGEBOARD.MESSAGEBOARDTERMSANDCONDITION' | translate }}</span>
          <p style="color: red;font-size:14px">
            {{ 'MESSAGEBOARD.IMPORTANT' | translate }}
            <br>{{ 'MESSAGEBOARD.PERSONALINFORMATION' | translate }}
          </p>
          <ul style="font-size:14px">
            <li>{{ 'MESSAGEBOARD.LIST1' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST2' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST3' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST4' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST5' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST6' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST7' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST8' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST9' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST10' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST11' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST12' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST13' | translate }}</li>
            <li>{{ 'MESSAGEBOARD.LIST14' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-content" [ngClass]="showGrid">
      <!--<div class="card-header">
      <i class="nav-icon icon-bubbles"></i> Message Board
    </div>-->
      <h2 class="main-title">{{'MESSAGEBOARD.pageTitle' | translate }}</h2>
      <!--<br />-->
      <button (click)="ShowAddTopic()" class="btn edit-btn">  {{ 'MESSAGEBOARD.POSTNEWTOPIC' | translate }}</button>
      <br><br>
      <p style="color: red">{{ 'MESSAGEBOARD.MESSAGEBOARDTITLE' | translate }}</p>
      <div class="table-box">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>

              <th style="width:50%;" [class.active]="order === 'topic'"
                  (click)="setOrder('topic')">
                {{ 'MESSAGEBOARD.TOPICHEADER' | translate }}<span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>
              <!-- <th style="width:7%" [class.active]="order === 'replies'"
                (click)="setOrder('replies')"
            >
            Replies <span class="sort-icon" [hidden]="reverse">▼</span>
              <span class="sort-icon" [hidden]="!reverse">▲</span>
            </th> -->
              <th style="width:7%" [class.active]="order === 'views'"
                  (click)="setOrder('views')">
                {{ 'MESSAGEBOARD.VIEWS' | translate }} <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

              <th style="width:10%" [class.active]="order === 'name'"
                  (click)="setOrder('name')"
                  class="mdl-data-table__cell--non-numeric">
                {{ 'MESSAGEBOARD.POSTEDBY' | translate }} <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

              <th style="width:10%" [class.active]="order === 'createdDate'"
                  (click)="setOrder('createdDate')"
                  class="mdl-data-table__cell--non-numeric">
                {{ 'MESSAGEBOARD.POSTEDON' | translate }} <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let messageboard of messageboards | filter:filter | orderBy: order:reverse:'case-insensitive'  | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
              <td style="padding:0;overflow: hidden;display: -webkit-box;height: 26px;border: 0;">
                <a class="topic-title" (click)="getMessageBoardReplyList(messageboard.messageBoardId,messageboard.topic)">{{messageboard.topic}}</a>
              </td>
              <!-- <td>{{messageboard.replies}}</td> -->
              <td>
                {{messageboard.views}}
              </td>
              <td>{{messageboard.name}}</td>

              <!--<td>{{messageboard.createdDate| date:'dd-MMM-yyyy   HH:mm'}}</td>-->
              <td>{{messageboard.createdDate| date:'dd-MMM-yyyy '}}</td>
            </tr>
            <tr *ngIf="messageboards && messageboards.length == 0">
              <td colspan="8">{{ 'MESSAGEBOARD.NOTOPICFOUND' | translate }}!</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 {{ 'MESSAGEBOARD.ItemsPerPage' | translate }}</option>
          <option [ngValue]="20">20 {{ 'MESSAGEBOARD.ItemsPerPage' | translate }}</option>
          <option [ngValue]="30">30 {{ 'MESSAGEBOARD.ItemsPerPage' | translate }}</option>
        </select>
        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="page-content" [ngClass]="showReply">
      <!--<div class="card-header">
      <i class="nav-icon icon-bubbles"></i> Message Board
    </div>-->
      <h2 class="main-title">{{'MESSAGEBOARD.pageTitle' | translate }}</h2>
      <!--<br />-->
      <div class="top-btn">
        <button (click)=ShowGridPanel() class="btn btn-primary back-btn" type="button"><i class="fa fa-arrow-left"></i>  {{ 'MESSAGEBOARD.BACK' | translate }}</button>
        <button (click)="ShowPostReply()" class="btn edit-btn"><i class="fa fa-reply"></i>  {{ 'MESSAGEBOARD.POSTREPLY' | translate }} </button>
      </div>
      <ul class="comment-box">
        <li *ngFor="let messageboardsdetail of messageboardsdetails">
          <!--<img [src]="getPicUrl(messageboardsdetail.createdBy,messageboardsdetail.profilePicUrl)" class="img-avatar" style="max-width: 35%">-->
          <div class="comment-text">

            <h2>{{messageboardsdetail.Topic}}</h2>
            <label class="posted-by">{{messageboardsdetail.Name}} </label><span class="posted-on">{{   messageboardsdetail.CreatedDate}}</span>
            <br />
            <span>{{messageboardsdetail.Description}}</span>
          </div>
          <div class="comment-icon">
            <!-- <i class="fa fa-user" aria-hidden="true"></i><br> -->
            <img [src]="getPicUrl(messageboardsdetail.createdBy,messageboardsdetail.profilePicUrl)" class="img-avatar" style="max-width: 35%"><br>
            <span class="user-comment">{{messageboardsdetail.Name}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<app-mainfooter></app-mainfooter>
