<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-12">
          <div class="recent-ads buy-sell-tabs">
            <h2 class="main-title" #mainTitle>{{ 'BUYSELL.TITLENAME' | translate }} <button class="add-btn" (click)="btnPostNew()"> {{ 'BUYSELL.POSTNEW' | translate }}</button> </h2>
            <!-- <div>
              <ul class="event-filter">
                <li><button type="button" (click)="btnPostNew()">Post New</button></li>
              </ul>
            </div> -->
              <div class="btn-group right-switch right-btn" role="group" aria-label="Basic example">
                <button id="all" type="button" (click)="btnchanged($event,'all')">{{ 'BUYSELL.ALL' | translate }}</button>
                <button id="premium" type="button" (click)="btnchanged($event,'premium')">{{ 'BUYSELL.PREMIUM' | translate }} </button>
                </div>
                <div></div>

                <tabset class="buy-sell-custom">
                  <tab heading="{{'BUYSELL.BUY'| translate}}">
                    <div class="row" *ngIf=PremiumList>
                      <div class="col-sm-12"><h4 class="ad-sub-title">{{'BUYSELL.PREMIUMBUYLISTING'| translate}}</h4></div>
                      <div class="col-sm-6" *ngFor="let Premiumpost of Premiumbuyposts; let i = index">
                        <a [routerLink]="['/buyselldetails/']" [queryParams]="{buysellId:Premiumpost.BuySellId}" queryParamsHandling="merge" class="ad-btn">
                          <div class="ad-block" [ngClass]="getpremiumtag(Premiumpost.IsPremium)">
                            <div class="ad-left-img">
                              <img class="ad-img" [src]="Premiumpost.ImageUrl">
                            </div>
                            <div class="ad-right-data">
                              <h3 class="ad-title bottom-border">{{Premiumpost.Title}}</h3>
                              <div class="ad-sub-details">
                                <div class=""><i class="fa fa-eye" aria-hidden="true"></i>  {{ 'HOME.VIEWED' | translate }}: {{Premiumpost.VisitorCount}}</div>
                                <div class="verified-icon" *ngIf=Verifiedtag ><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                              </div>
                              <div class="ad-contact-details">
                                <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{Premiumpost.UserName}}</p>
                                <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{Premiumpost.ContactNumber}}</p>
                              </div>
                              <div class="ad-contact-details">
                                <p><i class="fa fa-envelope" aria-hidden="true"></i> {{Premiumpost.Email}}</p>
                              </div>
                              <!-- <div class="ribbon ribbon-top-right"  *ngIf=PremiumtagList ><span>Premium</span></div> -->
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12"><span [ngClass]="premiumBuyNoRecords">{{'BUYSELL.NOLISTINGFOUND'| translate}} !!!</span></div>
                    </div>
                  
                  <div class="row" *ngIf=FreeList>
                    <div class="col-sm-12"><h4 class="ad-sub-title">{{'BUYSELL.FREEBUYLISTING'| translate}}</h4></div>
                    <div class="col-sm-4" *ngFor="let Freeadpost of Freebuyposts; let i = index">
                      <a [routerLink]="['/buyselldetails/']" [queryParams]="{buysellId:Freeadpost.BuySellId}" queryParamsHandling="merge" class="ad-btn">
                        <div class="ad-block">
                          <div class="ad-left-img">
                            <img class="ad-img" [src]="Freeadpost.ImageUrl">
                          </div>
                          <div class="ad-right-data">
                            <h3 class="ad-title bottom-border">{{Freeadpost.Title}}</h3>
                            <div class="ad-sub-details">
                              <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{Freeadpost.VisitorCount}}</div>
                              <div class="verified-icon"><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                            </div>
                            <div class="ad-contact-details">
                              <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{Freeadpost.UserName}}</p>
                              <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{Freeadpost.ContactNumber}}</p>
                            </div>
                            <div class="ad-contact-details">
                              <p><i class="fa fa-envelope" aria-hidden="true"></i> {{Freeadpost.Email}}</p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-sm-12"><span [ngClass]="freeBuyNoRecords">{{'BUYSELL.NOLISTINGFOUND'| translate}} !!! </span></div>
                  </div>
                  </tab>
                  <tab heading="{{'BUYSELL.SELL'| translate}}">
                    <div class="row" *ngIf=PremiumList>
                      <div class="col-sm-12"><h4 class="ad-sub-title">{{'BUYSELL.PREMIUMSELLLISTING'| translate}}</h4></div>
                      <div class="col-sm-6" *ngFor="let Premiumpost of Premiumsellposts; let i = index">
                        <a [routerLink]="['/buyselldetails/']" [queryParams]="{buysellId:Premiumpost.BuySellId}" queryParamsHandling="merge" class="ad-btn">
                          <div class="ad-block" [ngClass]="getpremiumtag(Premiumpost.IsPremium)">
                            <div class="ad-left-img">
                              <img class="ad-img" [src]="Premiumpost.ImageUrl">
                            </div>
                            <div class="ad-right-data">
                              <h3 class="ad-title bottom-border">{{Premiumpost.Title}}</h3>
                              <div class="ad-sub-details">
                                <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{Premiumpost.VisitorCount}}</div>
                                <div class="verified-icon" *ngIf=Verifiedtag ><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                              </div>
                              <div class="ad-contact-details">
                                <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{Premiumpost.UserName}}</p>
                                <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{Premiumpost.ContactNumber}}</p>
                              </div>
                              <div class="ad-contact-details">
                                <p><i class="fa fa-envelope" aria-hidden="true"></i> {{Premiumpost.Email}}</p>
                              </div>
                              <!-- <div class="ribbon ribbon-top-right"  *ngIf=PremiumtagList ><span>Premium</span></div> -->
                            </div>   
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-12"><span [ngClass]="premiumSellNoRecords">{{'BUYSELL.NOLISTINGFOUND'| translate}} !!!</span></div>
                    </div>
                  
                  <div class="row" *ngIf=FreeList>
                    <div class="col-sm-12"><h4 class="ad-sub-title">{{'BUYSELL.FREESELLLISTING'| translate}}</h4></div>
                    <div class="col-sm-4" *ngFor="let Freeadpost of Freesellposts; let i = index">
                      <a [routerLink]="['/buyselldetails/']" [queryParams]="{buysellId:Freeadpost.BuySellId}" queryParamsHandling="merge" class="ad-btn">
                        <div class="ad-block">
                          <div class="ad-left-img">
                            <img class="ad-img" [src]="Freeadpost.ImageUrl">
                          </div>
                          <div class="ad-right-data">
                            <h3 class="ad-title bottom-border">{{Freeadpost.Title}}</h3>
                            <div class="ad-sub-details">
                              <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{Freeadpost.VisitorCount}}</div>
                              <div class="verified-icon"><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                            </div>
                            <div class="ad-contact-details">
                              <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{Freeadpost.UserName}}</p>
                              <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{Freeadpost.ContactNumber}}</p>
                            </div>
                            <div class="ad-contact-details">
                              <p><i class="fa fa-envelope" aria-hidden="true"></i> {{Freeadpost.Email}}</p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-sm-12"><span [ngClass]="freeSellNoRecords">{{'BUYSELL.NOLISTINGFOUND'| translate}} !!!</span></div>
                  </div>
                  </tab>
                </tabset>
                


                
          </div>
        </div>
    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
