<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="login-container">
                    <input type="hidden" formControlName="mailfor" placeholder="mailfor" name="mailfor" class="form-control" id="mailfor">
                    <h2 class="main-title">{{ 'BUYPLAN.TITLENAME' | translate }}</h2>
             
                    <div class="left-block">
                      <form [formGroup]="buyplanForm" action="">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input class="form-control" id="Name" formControlName="Name" name="Name" placeholder="{{ 'BUYPLAN.NAME' | translate }}" maxlength="30" minlength="3" type="text" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.Name.errors}">
                              <div *ngIf="submitted &amp;&amp; buyplanForm.controls.Name.errors" class="text-danger">
                                <div *ngIf="buyplanForm.controls.Name.errors.required">{{ 'BUYPLAN.NAMEISREQUIRED' | translate }}</div>
                                <!-- <div *ngIf="buyplanForm.controls.Name.errors.pattern">{{ 'BUYPLAN.ENTERTEXTONLY' | translate }}</div> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input class="form-control" id="Phone" formControlName="Phone" name="Phone" placeholder="{{ 'BUYPLAN.PHONE' | translate }}" maxlength="12" minlength="10" type="text" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.Phone.errors}">
                              <div *ngIf="submitted &amp;&amp; buyplanForm.controls.Phone.errors" class="text-danger">
                                <div *ngIf="buyplanForm.controls.Phone.errors.required">{{ 'BUYPLAN.PHONENUMBERISREQUIRED' | translate }}</div>
                                <div *ngIf="buyplanForm.controls.Phone.errors.minlength">{{ 'BUYPLAN.ENTER10NUMBER' | translate }}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input class="form-control" id="Email" formControlName="Email" maxlength="45" name="Email" placeholder="{{ 'BUYPLAN.EMAIL' | translate }}" type="text" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.Email.errors}">
                              <div *ngIf="submitted &amp;&amp; buyplanForm.controls.Email.errors" class="text-danger">
                                <div *ngIf="buyplanForm.controls.Email.errors.required"> {{ 'BUYPLAN.EMAILREQD' | translate }}</div>
                                <div *ngIf="buyplanForm.controls.Email.errors.pattern"> {{ 'BUYPLAN.VALIDEMAIL' | translate }}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input class="form-control" id="BusinessName" formControlName="BusinessName" name="BusinessName" maxlength="20" minlength="2" placeholder="{{ 'BUYPLAN.BUSINESSNAME' | translate }}" type="text" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.BusinessName.errors}">
                              <div *ngIf="submitted &amp;&amp; buyplanForm.controls.BusinessName.errors" class="text-danger">
                                <div *ngIf="buyplanForm.controls.BusinessName.errors.required">{{ 'BUYPLAN.BUSINESSNAMEREQUIRED' | translate }}</div>
                                <!-- <div *ngIf="buyplanForm.controls.BusinessName.errors.pattern">{{ 'BUYPLAN.ENTERTEXTONLY' | translate }}</div> -->

                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <input class="form-control" id="City" formControlName="City" name="City" placeholder="{{ 'BUYPLAN.CITY' | translate }}" maxlength="15" minlength="2" type="text" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.City.errors}">
                              <div *ngIf="submitted &amp;&amp; buyplanForm.controls.City.errors" class="text-danger">
                                <div *ngIf="buyplanForm.controls.City.errors.required"> {{ 'BUYPLAN.CITYREQUIRED' | translate }}</div>
                                <!-- <div *ngIf="buyplanForm.controls.City.errors.pattern">{{ 'BUYPLAN.ENTERTEXTONLY' | translate }}</div> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input class="form-control" id="PinCode" formControlName="PinCode" maxlength="6" minlength="5" name="PinCode" placeholder="{{ 'BUYPLAN.PINCODE' | translate }}" type="text" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.PinCode.errors}">
                              <div *ngIf="submitted &amp;&amp; buyplanForm.controls.PinCode.errors" class="text-danger">
                                <div *ngIf="buyplanForm.controls.PinCode.errors.required"> {{ 'BUYPLAN.ZIPCODE' | translate }}</div>
                                <div *ngIf="buyplanForm.controls.PinCode.errors.pattern">{{ 'BUYPLAN.PLEASEENTERVALIDZIPCODE' | translate }}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                                <div class="form-group">
                                  <label class="col-form-label" for="CategoryId">{{ 'BUYPLAN.CATEGORY' | translate }} <span class="asterisk">*</span></label><br />
                                  <!--<select class="form-control" id="CategoryId" formControlName="categoryId" name="CategoryId" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.categoryId.errors}"(change)="FillSubCategoryDDL($event);" >
          <option value="">{{ 'BUYPLAN.SELECTCATEGORY' | translate }}</option>
          <option *ngFor="let Category of _allCategory | async" [value]="Category.categoryId">{{Category.categoryName}}</option>
        </select>-->
                                  <ng-select [items]="categories"
                                             bindLabel="categoryName"
                                             bindValue="categoryId"
                                             placeholder=""
                                             class="form-control" id="CategoryId" formControlName="categoryId" (change)="FillSubCategoryDDL($event);" name="CategoryId" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.categoryId.errors}">
                                    <span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                                  </ng-select>

                                  <div *ngIf="submitted &amp;&amp; buyplanForm.controls.categoryId.errors" class="text-danger">
                                    <div *ngIf="buyplanForm.controls.categoryId.errors.required">{{ 'BUYPLAN.CATEGORYSELECTIONREQUIRED' | translate }}</div>

                                  </div>

                                </div>
                              </div>



                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="col-form-label" for="SubCategoryId">{{ 'BUYPLAN.SUBCATEGORY' | translate }}</label><br>
                                  <ng-select [items]="subcategories"
                                             bindLabel="subCategoryName"
                                             bindValue="subCategoryId"
                                             placeholder=""
                                             class="form-control" id="SubCategoryId" formControlName="subCategoryId" name="SubCategoryId" (change)="FillSubCategoryName($event)">

                                    <span class="ng-arrow-wrapper"><span class="ng-arrow"></span></span>
                                  </ng-select>

                                  <!--<select class="form-control" id="SubCategoryId" formControlName="subCategoryId" name="subCategoryId" (change)="FillSubCategoryName($event)">
          <option value="">{{ 'BUYPLAN.SELECTSUBCATEGORY' | translate }}</option>
          <option *ngFor="let SubCategory of _allSubCategory | async" [value]="SubCategory.subCategoryId">{{SubCategory.subCategoryName}}</option>
        </select>-->
                                </div>
                              </div>
                              <div class="col-md-12">
                               
                                <div class="form-group">
                                  <textarea rows="4" class="form-control" #box (keyup)="onKeyUp(box)" id="BusinessPurpose" formControlName="BusinessPurpose" name="BusinessPurpose" maxlength="400" placeholder="{{ 'BUYPLAN.BUSINESSPURPOSE' | translate }}" type="text" [ngClass]="{ 'is-invalid': submitted && buyplanForm.controls.BusinessPurpose.errors}"></textarea>
                                  <!--<input class="form-control" #box (keyup)="onKeyUp(box)" id="BusinessPurpose" formControlName="BusinessPurpose" name="BusinessPurpose" placeholder="Business Purpose" type="text">-->
                                  <p>{{charLength}}</p>
                                  <div *ngIf="submitted &amp;&amp; buyplanForm.controls.BusinessPurpose.errors" class="text-danger">
                                    <div *ngIf="buyplanForm.controls.BusinessPurpose.errors.required">{{ 'BUYPLAN.BUSINESSPURPOSEREQUIRED' | translate }}</div>
                                    <!-- <div *ngIf="buyplanForm.controls.BusinessPurpose.errors.pattern">{{ 'BUYPLAN.ENTERTEXTONLY' | translate }}</div> -->
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="btn-section">
                                  <button type="submit" (click)="Submit()" class="submit-btn">{{ 'BUYPLAN.SUBMIT' | translate }}</button>
                                </div>
                              </div>
                              <div class="col-md-12" *ngIf="showmessgage">
                                  <p>
                                    <br><br><br>
                                    <span> Thank you For reaching us. Our Suport team will contact you shortly </span>
                                  </p>
                                </div>
                              <div class="col-md-12" *ngIf="showlogin">
                                <p class="login-footer">
                                  <span [ngClass]="showsignup"> {{ 'BUYPLAN.ALREADYHAVEACCOUNT' | translate }}<a href="#/login" ng-reflect-router-link="/login"> {{ 'BUYPLAN.SIGNIN' | translate }}</a></span>
                                  <span class="signup"> {{ 'BUYPLAN.FOROREDETAILS' | translate }}</span>
                                </p>
                              </div>

                            </div>
</form>
                    </div>
                </div>
            </div>            
        </div>            
    </div>            
</section>  

<app-mainfooter></app-mainfooter>
