<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
    <div class="category-bottom-section">
      <div class="row row-stretch">
        <div class="col-sm-12">
          <div class="page-content">
            <h2 class="main-title">{{ 'BANNERLIST.BANNERLISTING' | translate }} <button class="add-btn" (click)="btnPostNew()">+ {{ 'BANNERLIST.POSTNEW' | translate }}</button></h2>

            <!-- <div>
              <ul class="event-filter">
                <li><button type="button" (click)="btnPostNew()">Post New</button></li>
              </ul>
            </div> -->

            <div class="btn-group right-switch right-btn" role="group" aria-label="Basic example">
              <button id="all" type="button" (click)="btnchanged($event,'all')">{{ 'BANNERLIST.ALL' | translate }}</button>
              <button id="premium" type="button" (click)="btnchanged($event,'premium')">{{ 'BANNERLIST.PREMIUM' | translate }}</button>
              <button id="featured" type="button" (click)="btnchanged($event,'featured')">{{ 'BANNERLIST.FEATURED' | translate }}</button>
            </div>
  
            <div class="row" *ngIf=PremiumList>
              <div class="col-sm-12"><h4 class="ad-sub-title">{{ 'BANNERLIST.PREMIUMBANNER' | translate }}</h4></div>
              <div class="col-sm-3" *ngFor="let premiumbannerpost of Premiumbanners; let i = index">
                <a [routerLink]="['/banner-detail']" [queryParams]="{bannerId:premiumbannerpost.BannerId}" queryParamsHandling="merge" class="ad-btn">
                  <!-- <div class="ad-block" [ngClass]="getpremiumtag(bannerpost.isPremium)"> -->
                    <div class="event-block">
                      <img [src]="premiumbannerpost.ImageUrl" class="img-fluid img-100" />
                      <br />
                    </div>
                  <!-- </div>  -->
                </a>
  
              </div>
              <div class="col-sm-4"><span [ngClass]="premiumNoRecords">{{'BANNERLIST.NOPREMIUMLISTINGFOUND'| translate}} !!!</span></div>
            </div>
        
  
  
            <div class="row" *ngIf=FeaturedList>
              <div class="col-sm-12"><h4 class="ad-sub-title">{{ 'BANNERLIST.FEATUREDBANNER' | translate }}</h4></div>
              <div class="col-sm-3" *ngFor="let bannerpost of bannerposts; let i = index">
                <a [routerLink]="['/banner-detail']" [queryParams]="{bannerId:bannerpost.BannerId}" queryParamsHandling="merge" class="ad-btn">
                  <!-- <div class="ad-block" [ngClass]="getpremiumtag(bannerpost.isPremium)"> -->
                    <div class="event-block">
                      <img [src]="bannerpost.ImageUrl" class="img-fluid img-100" />
                      <br />
                    </div>
                  <!-- </div>  -->
                </a>
              </div>
              <div class="col-sm-4"><span [ngClass]="featuredNoRecords">{{'BANNERLIST.NOFEATUREDLISTINGFOUND'| translate}} !!!</span></div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>

<app-mainfooter></app-mainfooter>

