<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-popular-category></app-popular-category>
      </div>
      <div class="col-sm-12">
        
        <div class="page-content">
          <div class="col-sm-12">
            <h3><button class="add-btn" (click)="btnPostNew()">{{ 'BLOG.POSTNEW' | translate }}</button> </h3>
            <br>
            <br>
          </div>

          <h2 class="main-title"> {{ blogpost.Title }} 
          <br>
            <!-- <span>{{blogpost.createdDate}}, {{blogpost.CreatedBy}}</span> -->
            <span> <i class="fa fa-calendar"></i> {{ 'HOME.POSTEDON' | translate }} {{blogpost.CreatedDate| date:'dd-MMM-yyyy'}}</span>
          </h2>
          <div *ngFor="let imageurl of Imageurls;let i=index" style="float:left; margin-right:20px;margin-bottom:30px;">
            <img [src]="imageurl" style="max-width: 100%;" />
          </div>

          <span [innerHTML]="desciption"> </span>




        </div>
      </div>

      <!-- <div class="col-sm-3">
        <div class="page-content contact-deail-block">
          <h3 class="sub-title">Contact Details:</h3>
          <ul class="ad-address">
            <li><span><i class="fa fa-phone" aria-hidden="true"></i> Phone Numer: </span></li>
            <li><span><i class="fa fa-phone" aria-hidden="true"></i> Alertnate Phone Number: </span></li>
            <li><span><i class="fa fa-envelope" aria-hidden="true"></i> Email Id: </span></li>
            <li><span><i class="fa fa-fax" aria-hidden="true"></i> Fax Number: </span></li>
            <li><span><i class="fa fa-globe" aria-hidden="true"></i> Website: </span> </li>
            <li><span><i class="fa fa-eye" aria-hidden="true"></i> Viewed: </span> 0 Times</li>
          </ul>
          <h3 class="sub-title">Address:</h3>
          <div class="address-logo">
            <div *ngFor="let logourl of logourls;let i=index">
              <img [src]="logourl" class="img-responsive ad-logo-img" height="100" width="100" />
            </div>
            <p></p>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
