<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">
            <div class="col-sm-3">
              <app-busidebar></app-busidebar>     
            </div>


            <div class="col-sm-9">
                <div class="dashboard-page-content">  
                    <div class="animated fadeIn"> <!-- Please dont mess with above divs -->
                        <form action="">
                            <div class="card">
                                <div class="card-header"><i class="fa fa-bullhorn"></i> Post Ad 
                                    <button type="submit" class="btn btn-sm btn-success manage-btn" [routerLink]="['/bumanagead']"><i class="fa fa-tasks"></i> Manage Ads</button>
                                </div>

                                <div class="card-body">                                    
                                    <div class="container-fluid">
                                      <div class="row">
                                        <!--<div><strong>Select Type of Listing Here</strong></div>-->
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <div class="form-check mr-1" id="postplan">
                                              <div class="row">
                                                <div class="col-sm-6" [routerLink]="['/bupostad']">
                                                  <input class="form-check-input" id="Free" name="postplan" type="radio" value="Free">
                                                  <label class="form-check-label" for="Free">Post ad without images</label>
                                                </div>
                                                <div class="col-sm-6" [routerLink]="['/bupostpaidad']">
                                                  <input class="form-check-input" id="Paid" name="postplan" type="radio" value="Paid" checked>
                                                  <label class="form-check-label" for="Paid">Post ad with images</label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>  
                                    </div>
                                    
                                    <div class="table-responsive"> 
                                        <div class="form-bg-section">
                                            <span class="form-bg-title">Contact Details</span>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">  
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="User">User</label><br>
                                                            <select class="form-control" id="User" name="User">
                                                                <option value="1" ng-reflect-value="1">Select User</option>
                                                            </select>
                                                        </div>
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="ContactPersonName">Contact Person Name</label>
                                                            <input class="form-control" id="ContactPersonName" name="ContactPersonName" placeholder="" type="text"> 
                                                        </div>   
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="Email">Contact Email Id</label>
                                                            <input class="form-control" id="Email" name="Email" placeholder="" type="email"> 
                                                        </div>   
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="ContactNumber">Contact Number</label>
                                                            <input class="form-control" id="ContactNumber" name="ContactNumber" placeholder="" type="text"> 
                                                        </div>   
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="AlternateContactNumber">Alternate Contact Number</label>
                                                            <input class="form-control" id="AlternateContactNumber" name="AlternateContactNumber" placeholder="" type="text"> 
                                                        </div>   
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="FaxNumber">Fax Number</label>
                                                            <input class="form-control" id="FaxNumber" name="FaxNumber" placeholder="" type="text"> 
                                                        </div>   
                                                    </div> 
                                                </div>  
                                            </div>
                                        </div>   

                                        <div class="form-bg-section">
                                            <span class="form-bg-title">Address</span>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="AddressStreet1">Street 1</label>
                                                            <input class="form-control" id="AddressStreet1" name="AddressStreet1" placeholder="" type="text">
                                                        </div>    
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="AddressStreet2">Street 2</label>
                                                            <input class="form-control" id="AddressStreet2" name="AddressStreet2" placeholder="" type="text">
                                                        </div>
                                                    </div> 

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="CountryId">Country</label><br>
                                                            <select class="form-control" id="CountryId" name="CountryId">
                                                                <option value="1" ng-reflect-value="1">Select Country</option>
                                                                <option value="1" ng-reflect-value="1">USA</option>
                                                                <option value="2" ng-reflect-value="2">India</option>
                                                            </select>
                                                        </div>
                                                    </div> 

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="StateId">State</label><br>
                                                            <select class="form-control" id="StateId" name="StateId">
                                                                <option value="1" ng-reflect-value="1">Select State</option>
                                                                <option value="1" ng-reflect-value="1">Washington</option>
                                                                <option value="2" ng-reflect-value="2">India</option>
                                                            </select>
                                                        </div>
                                                    </div> 

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="CityId">City</label><br>
                                                            <select class="form-control" id="CityId" name="CityId">
                                                                <option value="1" ng-reflect-value="1">Select City</option>
                                                                <option value="1" ng-reflect-value="1">Option 1</option>
                                                                <option value="2" ng-reflect-value="2">Option 2</option>
                                                            </select>
                                                        </div>
                                                    </div> 

                                                    <div class="col-md-4"> 
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="ZipCode">Zip Code</label>
                                                            <input class="form-control" id="ZipCode" name="ZipCode" placeholder="" type="text">
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>

                                        <div class="form-bg-section">
                                            <span class="form-bg-title">Ad Content</span>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-8">  
	                                                    <div class="row">  
		                                                    <div class="col-md-6">  
		                                                        <div class="form-group">
		                                                            <label class="col-form-label" for="CategoryId">Category</label><br>
		                                                            <select class="form-control" id="CategoryId" name="CategoryId">
		                                                                <option value="1" ng-reflect-value="1">Select Category</option>
		                                                                <option value="1" ng-reflect-value="1">Job</option>
		                                                                <option value="2" ng-reflect-value="2">Travel</option>
		                                                                <option value="3" ng-reflect-value="3">Real Estate</option>
		                                                            </select>
		                                                        </div>

		                                                        <div class="form-group">
		                                                            <label class="col-form-label" for="Title">Ad Title</label>
		                                                            <input class="form-control" id="Title" name="Title" placeholder="" type="text">
		                                                        </div> 

		                                                        <div class="form-group">
		                                                            <label class="col-form-label" for="Website">Website</label>
		                                                            <input class="form-control" id="Website" name="Website" placeholder="" type="text"> 
		                                                        </div> 
		                                                    </div>
		                                                    <div class="col-md-6">  
		                                                        <div class="form-group">
		                                                            <label class="col-form-label" for="SubCategoryId">Sub Category</label><br>
		                                                            <select class="form-control" id="SubCategoryId" name="SubCategoryId">
		                                                                <option value="1" ng-reflect-value="1">Select Sub Category</option>
		                                                                <option value="1" ng-reflect-value="1">IT</option>
		                                                                <option value="2" ng-reflect-value="2">Air Travel</option>
		                                                                <option value="3" ng-reflect-value="3">Buy or Sell</option>
		                                                            </select>
		                                                        </div>

		                                                        <div class="form-group">
		                                                            <label class="col-form-label" for="TagLine">Tag Line</label>
		                                                            <input class="form-control" id="TagLine" name="TagLine" placeholder="" type="text"> 
		                                                        </div> 

		                                                        <div class="form-group">
		                                                            <label class="col-form-label" for="ServicesOffered">Services Offered</label>
		                                                            <input class="form-control" id="ServicesOffered" name="ServicesOffered" placeholder="" type="text"> 
		                                                        </div>
		                                                    </div>
		                                                    <div class="col-md-12"> 
		                                                        <div class="form-group">
		                                                            <label class="col-form-label" for="Description">Description</label>
		                                                            <textarea class="form-control" id="Description" name="Description" placeholder="" type="text" rows="4"></textarea>
		                                                        </div>
		                                                    </div>
	                                                    </div>	                                                    
					                                    <div class="row">
					                                        <div class="col-md-6" #dvLogo>
					                                            <div class="form-group">
					                                                <label class="col-form-label" for="file-input">Logo</label><br>
		                                           					<button class="btn btn-sm btn-success">Browse</button>
					                                            </div>
					                                        </div>
					    
					                                        <div class="col-md-6" >
					                                            <div class="form-group">
					                                                <label class="col-form-label" for="file-multiple-input">Image</label><br>
		                                           					<button class="btn btn-sm btn-success">Browse</button>
					                                            </div>
					                                        </div>
					                                    </div> 
                                                    </div> 

                                                    <div class="col-md-4">  
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="SelectPlan">Select Plan</label><br>
                                                            <select class="form-control" id="SelectPlan" name="SelectPlan">
                                                                <option value="1" ng-reflect-value="1">Select Plan</option>
                                                                <option value="1" ng-reflect-value="1">Silver</option>
                                                                <option value="2" ng-reflect-value="2">Gold</option>
                                                                <option value="3" ng-reflect-value="3">Platinum</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label" for="PlanDetails">Plan Details</label>
                                                            <div class="plan-details">
                                                            	<ul>
	                                                            	<li>Plan Name: Silver Plan</li>
	                                                        		<li>Plan Validity: 01/08/2019 - 30-08/2019</li>
	                                                        		<li>Logo: 0/1</li>
	                                                        		<li>Ad Images Available: 18/20</li>
	                                                        		<li>Banner Images Available: 7/10</li>
	                                                        		<li>Event Images Available: 9/10</li>
	                                                        	</ul>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="btn-section">
                                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>
                                            <button type="cancel" class="btn btn-sm btn-danger" ><i class="fa fa-ban"></i> Cancel</button>
                                            <button type="reset" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Please dont mess with below divs -->
                    </div>
                </div>
            </div>            
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
