<app-mainhead  (changeLanguage)="changeContactUSData()"></app-mainhead>
<app-inner-banner></app-inner-banner>
<section class="content-section">
    <div class="category-bottom-section">
      <div class="row row-stretch">
        <div class="col-sm-8">
          <div class="page-content">
            <input type="hidden" formControlName="mailfor" placeholder="mailfor" name="mailfor" class="form-control" id="mailfor">
            <h2 class="main-title">{{ 'CONTACTUS.ADVERTISEHERE' | translate }}</h2>

            <span [ngClass]="showEng" [innerHTML]="ContactUsData"> </span>
            <span [ngClass]="showArb" [innerHTML]="ContactUsArabicData"> </span>
            <!--<span [innerHTML]= "'CONTACTUS.CONTACTUSDATA' | translate" ></span>-->
          </div>
        </div>
        <div class="col-sm-4" >
            <div class="page-content">
              <h2 class="main-title">{{ 'CONTACTUS.CONTACT' | translate }}</h2>
              <ul>
                <li>{{ 'CONTACTUS.EmailId' | translate}} info@arabchaldo.com</li>
                <li>{{ 'CONTACTUS.PHONENO' | translate}} 248-559-2971</li>
                <li>{{ 'CONTACTUS.YOUMAYEMAILUSORFILLOUTTHEFORMBELOW' | translate }}</li>
                <li>{{ 'CONTACTUS.IFYOUARESENDINGUSANATTACHMENT' | translate }} info@arabchaldo.com</li>
                <li>{{ 'CONTACTUS.EMAILIDACCURATE' | translate }}</li>
              </ul>
              <div class="contact-form">
                <form [formGroup]="ContactForm" action="">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input type="text" formControlName="Name" name="Name" placeholder="{{ 'CONTACTUS.NAME' | translate }}" maxlength="40" minlength="2" [ngClass]="{ 'is-invalid': submitted && ContactForm.controls.Name.errors}">
                        <div *ngIf="submitted &amp;&amp; ContactForm.controls.Name.errors" class="text-danger">
                          <div *ngIf="ContactForm.controls.Name.errors.required">{{ 'CONTACTUS.NAMEISREQUIRED' | translate }}</div>
                          <!-- <div *ngIf="ContactForm.controls.Name.errors.pattern">{{ 'CONTACTUS.ENTERTEXTONLY' | translate }}</div> -->
                        </div>
                      </div>
                    </div>
  
  
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input type="text" formControlName="Phone" name="Phone" placeholder="{{ 'CONTACTUS.PHONE' | translate }}" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && ContactForm.controls.Phone.errors}">
                        <div *ngIf="submitted &amp;&amp; ContactForm.controls.Phone.errors" class="text-danger">
                          <div *ngIf="ContactForm.controls.Phone.errors.required">{{ 'CONTACTUS.CONTACTNUMBERISREQUIRED' | translate }}</div>
                          <div *ngIf="ContactForm.controls.Phone.errors.minlength">{{ 'CONTACTUS.ENTER10NUMBER' | translate }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input type="email" formControlName="Email" name="Email" placeholder="{{ 'CONTACTUS.EMAIL' | translate }}" [ngClass]="{ 'is-invalid': submitted && ContactForm.controls.Email.errors}">
                        <div *ngIf="submitted &amp;&amp; ContactForm.controls.Email.errors" class="text-danger">
                          <div *ngIf="ContactForm.controls.Email.errors.required">{{ 'CONTACTUS.EMAILREQD' | translate }}</div>
                          <div *ngIf="ContactForm.controls.Email.errors.pattern">{{ 'CONTACTUS.VALIDEMAIL' | translate }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
  
                        <select for="reason" for="reason" id="reason" formControlName="reason" name="reason" [ngClass]="{ 'is-invalid': submitted && ContactForm.controls.reason.errors}">
  
                          <option value="">{{ 'CONTACTUS.REASON' | translate }} </option>
                          <option value="I want to add my business to yellow pages">{{ 'CONTACTUS.IWANTTOADDMYBUSINESSTOYELLOWPAGES' | translate }}</option>
                          <option value="I want to add my event in community events">{{ 'CONTACTUS.IWANTTOADDMYEVENTINCOMMUNITYEVENTS' | translate }}</option>
                          <option value="I want to report an error in this site">{{ 'CONTACTUS.IWANTTOREPORTANERRORINTHISSITE' | translate }}</option>
                          <option value="Problem with my user name">{{ 'CONTACTUS.PROBLEMWITHMYUSERNAME' | translate }}</option>
                          <option value="Miscellaneous">{{ 'CONTACTUS.MISCELLANEOUS' | translate }}</option>
                        </select>
                        <div *ngIf="submitted &amp;&amp; ContactForm.controls.reason.errors" class="text-danger">
                          <div *ngIf="ContactForm.controls.reason.errors.required">{{ 'CONTACTUS.SUBJECTREQUIRED' | translate }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <textarea rows="4" formControlName="Comments" name="Comments" placeholder="{{ 'CONTACTUS.DESCRIPTION' | translate }}"></textarea>
                      </div>
                    </div>
                  </div>
                  <button type="submit" (click)="Submit()" class="contact-submit" data-dismiss="modal"><i class="fa fa-check"></i> {{ 'CONTACTUS.SUBMIT' | translate }}</button>
                </form>
              </div>
            </div>
          </div>
      </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>

