.contact-form {
    background: #f5f5f5;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
  }
  
  .contact-form .contact-submit {
    background: #f88a00;
    border: 0;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
  }
  