<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">
            <div class="col-sm-3">
              <app-busidebar></app-busidebar>     
            </div>

            <div class="col-sm-9">
                <div class="dashboard-page-content">  
                    <div class="animated fadeIn">
                        <div class="card">
                            <div class="card-header">
                              <i class="nav-icon icon-tag"></i> Buy/Sell
                              <div class="card-head-right-block">
                                <div class="input-group">
                                   <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search"> 
                         
                            
                                  <span class="input-group-prepend">
                                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <button [routerLink]="['/buaddbuysell']" class="btn edit-btn"> + Post New Buy/Sell Ad</button>
                              <button [routerLink]="['/buysell']" class="btn btn-sm btn-primary" style="float:right" title="Approved Ads"><i class="fa fa-info-circle" aria-hidden="true"></i> View on Website </button>
                              <br><br>
                              <table class="table table-bordered table-striped table-sm">
                                <thead>
                                  <tr>
                                    <!-- <th>Ad ID <span class="caret"></span></th> -->
                                   
                                    <th style="width:25%" [class.active]="order === 'title'"
                                        (click)="setOrder('title')">
                                      Title <span class="sort-icon" [hidden]="reverse">▼</span>
                                      <span class="sort-icon" [hidden]="!reverse">▲</span>
                                    </th>
                                    <th style="width:7%" [class.active]="order === 'type'"
                                        (click)="setOrder('type')">
                                      Type <span class="sort-icon" [hidden]="reverse">▼</span>
                                      <span class="sort-icon" [hidden]="!reverse">▲</span>
                                    </th>
                                    <th style="width:10%" [class.active]="order === 'subCategoryName'"
                                    (click)="setOrder('subCategoryName')"
                                    class="mdl-data-table__cell--non-numeric">
                                  SubCategory  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                                </th>

                                    <th style="width:10%" [class.active]="order === 'cityName'" (click)="setOrder('cityName')">City <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>
                                    <th style="width:8%" [class.active]="order === 'status'" (click)="setOrder('status')">Status <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>
                                    <!--<th style="width:7%" [class.active]="order === 'status'" (click)="setOrder('status')">Type <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span></th>-->

                                    <th style="width:10%" [class.active]="order === 'createdDate'"
                                        (click)="setOrder('createdDate')"
                                        class="mdl-data-table__cell--non-numeric">
                                      Posted On  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                                    </th>
                                    <th style="width:10%" [class.active]="order === 'validFromDate'"
                                    (click)="setOrder('validFromDate')"
                                    class="mdl-data-table__cell--non-numeric">
                                  Valid From<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                                </th>
                                    <th style="width:10%" [class.active]="order === 'validTillDate'"
                                        (click)="setOrder('validTillDate')"
                                        class="mdl-data-table__cell--non-numeric">
                                      Valid Till<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                                    </th>
                                    <th style="width:10%">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let buysellpost of buysellposts | filter:filter |orderBy: order:reverse:'case-insensitive'   |  paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                                    <td style="padding:0;">
                                      <a class="topic-title" (click)="buysellDetailsView(buysellpost.BuySellId)">{{buysellpost.title}}</a>
                                    </td>
                                    <td>{{buysellpost.isPremium}}</td>
                                    <td>{{buysellpost.subCategoryName}}</td>

                                    <td><span [ngClass]="{'btn btn-outline-warning active':buysellpost.cityName=='Other'}">{{buysellpost.cityName}}</span></td>
                                    <!--<td>{{adpost.cityName}}</td>-->
                                    <td>
                                      <div [ngClass]="getStatus(buysellpost.status)">
                                        <span>{{statusText}}</span>
                                      </div>
                                      <br>
                                      <!-- <div>
        <span [ngClass]="{'badge badge-warning':buysellpost.isPremium=='Premium'}">{{buysellpost.isPremium}}</span>
      </div> -->
                                    </td>
                                    <!--<td>{{adpost.createdDate| date:'dd-MMM-yyyy'}}</td>
      <td>{{adpost.validFromDate| date:'dd-MMM-yyyy'}}</td>
      <td>{{adpost.validTillDate| date:'dd-MMM-yyyy'}}</td>-->
                                    <td>{{buysellpost.createdDate}}</td>
                                    <td>{{buysellpost.validFromDate}}</td>
                                    <td>{{buysellpost.validTillDate}}</td>
                                    <td>
                                      <button (click)="buysellDetailsView(buysellpost.BuySellId)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                      <button (click)="updatePost(buysellpost)" class="btn edit-btn" title="Edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                      <button (click)="DeleteAd(buysellpost.BuySellId,buysellpost.isVisible,$event)" class="btn delete-btn" data-toggle="modal" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>

                                  </tr>
                                  <tr *ngIf="buysellpost && buysellposts.length == 0">
                                    <td colspan="9">No buy/sell listing found!</td>
                                  </tr>
                                  <div class="modal fade custom-modal" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-body">
                                          <div class="form-group">
                                            <label class="col-form-label" for="remark">Remark</label>
                                            <textarea class="form-control" #modalRemarkText id="remark" [(ngModel)]="remark" name="remark" placeholder="" type="text" rows="4"></textarea>
                                          </div>
                                          <button type="submit" (click)="ActionOnPost(remark)" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Save</button>
                                          <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-body">
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="form-group">
                                                <label class="col-form-label" for="remark">{{actionmessage}}</label>
                                              </div>
                                            </div>
                                          </div>
                                          <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                                          <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </tbody>
                              </table>
                              <div class="col-md-offset-5" style="text-align:right">
                                <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
                                  <option [ngValue]="10">10 items per page</option>
                                  <option [ngValue]="20">20 items per page</option>
                                  <option [ngValue]="30">30 items per page</option>
                                </select>


                                <div class="" style="margin-top: -3%; text-align:left">
                                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
