<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="login-container">
          <a ng-reflect-router-link="/website" href="#/website" class="home-icon"><img _ngcontent-vxj-c1="" class="img-responsive web-logo" src="assets/website/images/logo.svg"></a>
          <!--<a ng-reflect-router-link="/website" href="#/website"><div class="close" style="font-size: 30px;color: #444;opacity: 1;position: relative;z-index: 1" title="Home"><i aria-hidden="true" class="fa fa-home"></i></div></a>-->
          <!--<button style="position:relative;z-index: 2;cursor: pointer;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->

          <h2 class="main-title">{{ 'REGISTER.REGISTERWITHARABCHALDO' | translate }}</h2>
          <div class="left-block">
            <form [formGroup]="registerForm" autocomplete="off" novalidate="" style="text-align:left;" class="ng-untouched ng-pristine ng-invalid">
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="activationUrl" formControlName="activationUrl" hidden>
                    <input type="text" class="form-control" name="firstName" placeholder="{{ 'REGISTER.FIRSTNAME' | translate }}" maxlength="30" required formControlName="firstName"
                           [ngClass]="{ 'is-invalid': submitted && fun.firstName.errors }">
                    <div *ngIf="submitted && fun.firstName.errors" class="text-danger">
                      <div *ngIf="fun.firstName.errors.required">{{ 'REGISTER.NAMEISREQUIRED' | translate }}</div>
                      <div *ngIf="fun.firstName.errors.pattern">{{ 'REGISTER.ENTERTEXTONLY' | translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="lastName" placeholder="{{ 'REGISTER.LASTNAME' | translate }}" required="" maxlength="30" formControlName="lastName"
                           [ngClass]="{ 'is-invalid': submitted && fun.lastName.errors }">
                    <div *ngIf="submitted && fun.lastName.errors" class="text-danger">
                      <div *ngIf="fun.lastName.errors.required">{{ 'REGISTER.LASTNAMISREQUIRED' | translate }} </div>
                      <div *ngIf="fun.lastName.errors.pattern">{{ 'REGISTER.ENTERTEXTONLY' | translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <!--<input class="form-control" name="Email" placeholder="Email*" required="">-->
                    <input type="text" class="form-control" maxlength="50" placeholder="{{ 'REGISTER.EMAIL' | translate }}" formControlName="email" autocomplete="off" required
                           [ngClass]="{ 'is-invalid': submitted && fun.email.errors }">
                    <div *ngIf="submitted && fun.email.errors" class="text-danger">
                      <div *ngIf="fun.email.errors.required">{{ 'REGISTER.EMAILREQD' | translate }}</div>
                      <div *ngIf="fun.email.errors.email"> {{ 'REGISTER.VALIDEMAIL' | translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control" name="contactNumber" placeholder="{{ 'REGISTER.CONTACTNUMBER' | translate }}" required="" minlength="10" maxlength="10" formControlName="contactNumber"
                           [ngClass]="{ 'is-invalid': submitted && fun.contactNumber.errors }">
                    <div *ngIf="submitted && fun.contactNumber.errors" class="text-danger">
                      <div *ngIf="fun.contactNumber.errors.required">{{ 'REGISTER.CONTACTNUMBERISREQUIRED' | translate }}</div>
                      <div *ngIf="fun.contactNumber.errors.minlength">{{ 'REGISTER.ENTER10NUMBER' | translate }}</div>
                    </div>
                  </div>
                </div>



                <div class="col-sm-6">
                  <div class="form-group">
                    <!--<input class="form-control" name="

              " placeholder="Password*" required="" type="password">-->
                    <input type="password" class="form-control" placeholder="{{ 'REGISTER.PASSWORD' | translate }}" minlength="8" maxlength="30" formControlName="password" autocomplete="off" required
                           [ngClass]="{ 'is-invalid': submitted && fun.password.errors }">
                    <div *ngIf="submitted && fun.password.errors" class="text-danger">
                      <div *ngIf="fun.password.errors.required"> {{ 'REGISTER.PASSWORDREQUIRED' | translate }}</div>
                      <div *ngIf="fun.password.errors.minlength">{{ 'REGISTER.PLEASEENTERATLEAST8DIGIT' | translate }}</div>
                      <div *ngIf="fun.password.errors.pattern">  {{ 'REGISTER.PASSWORDPATTERN' | translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <!--<input class="form-control" name="ConfirmPassword" placeholder="Confirm Password*" required="" type="password">-->
                    <input type="password" class="form-control" placeholder="{{ 'REGISTER.CONFIRMPASSWORD' | translate }}" formControlName="confirmPassword" autocomplete="off" required
                           [ngClass]="{ 'is-invalid': submitted && fun.confirmPassword.errors }">
                    <div *ngIf="submitted && fun.confirmPassword.errors" class="text-danger">
                      <div *ngIf="fun.confirmPassword.errors.required"> {{ 'REGISTER.CONFIRMPASSWORDREQUIRED' | translate }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="form-check mr-1" id="Gender">
                      <div class="row row-center">
                        <div class="col-sm-4">
                          <label class="col-form-label" for="Gender">{{ 'REGISTER.GENDER' | translate }}</label>
                        </div>
                        <div class="col-sm-4">
                          <!--<input class="form-check-input" formControlName="gender" id="Male" type="radio" value="1">
                <label class="form-check-label" for="Male">Male</label>-->
                          <input class="form-check-input" formControlName="gender" id="Male" type="radio" value="1">
                          <label class="form-check-label" for="Male">{{ 'REGISTER.MALE' | translate }}</label>
                        </div>
                        <div class="col-sm-4">
                          <!--<input class="form-check-input" formControlName="gender" id="Female" type="radio" value="2">
                <label class="form-check-label" for="Female">Female</label>-->
                          <input class="form-check-input" formControlName="gender" id="Female" type="radio" value="2">
                          <label class="form-check-label" for="Female">{{ 'REGISTER.FEMALE' | translate }}</label>
                        </div>
                        <div *ngIf="submitted && fun.gender.errors" class="text-danger">
                          <div *ngIf="fun.gender.errors.required">{{ 'REGISTER.GENDERREQUIRED' | translate }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <!--<button class="submit-btn" type="submit" disabled="">Register Now <i aria-hidden="true" class="fa fa-chevron-circle-right"></i></button>-->
                  <button class="submit-btn" type="submit" (click)="onSubmit()">{{ 'REGISTER.REGISTERNOW' | translate }}<i aria-hidden="true" class="fa fa-chevron-circle-right"></i></button>
                  <!--<br>
        <br>
        <button type="button" [routerLink]="['/website']" class="submit-btn">Cancel <i aria-hidden="true" class="fa fa-chevron-circle-right"></i></button>-->
                </div>
              </div>
            </form>
            <p class="login-footer">
              <span class="signup">{{ 'REGISTER.ALREADYHAVEANACCOUNT' | translate }}<a href="" [routerLink]="['/login']">{{ 'REGISTER.SIGNIN' | translate }}</a></span>
            </p>
            <div class=""><span>OR</span></div>
            <p>
              <button style="color:#3c579a;font-size:2em;overflow:visible;transform:scale(1);" (click)="facebooklogin()" class="" title=" {{ 'LOGIN.LOGINFACEBOOK' | translate }}"><i class="fa fa-facebook-square fa-3" aria-hidden="true"></i></button>
              <button style="color:#de4b39;font-size:2em;" (click)="Googlelogin()" class="" title="{{ 'LOGIN.LOGINGOOGLE' | translate }}"><i class="fa fa-google-plus-square fa-3" aria-hidden="true"></i></button>
              <button style="color:#0077B5;font-size:2em;" (click)="Linkdenlogin()" class="" title="{{ 'LOGIN.LOGINLINKEDIN' | translate }}"><i class="fa fa-linkedin-square fa-3" aria-hidden="true"></i></button>
              <button style="color:#1DA1F2;font-size:2em;" (click)="Twitterlogin()" class="" title="{{ 'LOGIN.LOGINTWITTER' | translate }}"><i class="fa fa-twitter-square fa-3" aria-hidden="true"></i></button>
            </p>
          </div>
        </div>
        
        <!--<div class="row">                 
        </div>-->
      </div>
    </main>
  </div>
