.multi-upload {
	float:left;
	margin:10px; 
}
.multi-upload ul.list {
    padding: 10px;
    list-style: none;
    box-shadow: 0px 1px 8px #dedede;
    border-radius: 8px;
}
.multi-upload ul.list li {
    display: flex;
}
.multi-upload ul.list li span {
    overflow: hidden;
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    orient: vertical;
    word-break: break-word;
    margin-right: 5px;
}
