<input type="file" #file placeholder="Choose file" (change)="onSelectFile($event)" style="display:none;"  multiple>
<button type="button" class="btn btn-success" (click)="file.click($event)" ><i class="fa fa-upload" aria-hidden="true"></i> Upload </button>
<span style="font-size:10px">(Max Size:2 MB/File)</span>
<br>
<div *ngFor="let url of urls;let i=index">
  <div class="multi-upload">
    <ul class="list">
      <li><span [innerHTML]="url">{{url}}</span> 
      <button type="submit" title="Delete" class="btn delete-btn" (click)="onfiledelete(i)"> <i class="fa fa-trash"></i> </button></li>
      <!-- <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message"><br>
        {{message}}
      </span> -->
    </ul>
  </div>
</div>
