// .loadWrapper {
//   background: rgba(255, 0, 0, 0.945);
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   z-index: 99999;
// }

.loadWrapper {
  background: rgba(255,255,255,0.9) url(../../../../assets/website/images/loader/loader3.svg) no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  background-image: ''
}
