<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
          <i class="icon-tag"></i> Create Plan</div>
        <div class="card-body">
          <form action="">
            <div class="form-bg-section">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-5 col-md-6">
                          <div class="form-group">
                              <label class="col-form-label" for="PlanName">Plan Name</label>
                              <input class="form-control" id="PlanName" required name="PlanName"  placeholder="" type="text">
                          </div>

                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" id="Adcheckbox" type="checkbox" value="">
                              <label class="form-check-label" for="Adcheckbox"> Ad Images</label>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <label class="col-form-label" for="AdImageCount">Image Count</label>
                                <div class="input-prepend input-group">
                                  <input class="form-control" id="AdImageCount" type="text">
                                </div>
                              </div>

                              <div class="col-md-4">
                                <label class="col-form-label" for="AdImagePrice">Price Per Image</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="AdImagePrice" type="text">
                                </div>
                              </div>
                              
                              <div class="col-md-4">
                                <label class="col-form-label" for="AdImageTotal">Calculated Price</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="AdImageTotal" type="text">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" id="Bannercheckbox" type="checkbox" value="">
                              <label class="form-check-label" for="Bannercheckbox"> Banner Images</label>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <label class="col-form-label" for="BannerImageCount">Image Count</label>
                                <div class="input-prepend input-group">
                                  <input class="form-control" id="BannerImageCount" type="text">
                                </div>
                              </div>

                              <div class="col-md-4">
                                <label class="col-form-label" for="BannerImagePrice">Price Per Image</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="BannerImagePrice" type="text">
                                </div>
                              </div>
                              
                              <div class="col-md-4">
                                <label class="col-form-label" for="BannerImageTotal">Calculated Price</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="BannerImageTotal" type="text">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" id="Eventcheckbox" type="checkbox" value="">
                              <label class="form-check-label" for="Eventcheckbox"> Event Images</label>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <label class="col-form-label" for="EventImageCount">Image Count</label>
                                <div class="input-prepend input-group">
                                  <input class="form-control" id="EventImageCount" type="text">
                                </div>
                              </div>

                              <div class="col-md-4">
                                <label class="col-form-label" for="EventImagePrice">Price Per Image</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="EventImagePrice" type="text">
                                </div>
                              </div>
                              
                              <div class="col-md-4">
                                <label class="col-form-label" for="EventImageTotal">Calculated Price</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="EventImageTotal" type="text">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" id="Logocheckbox" type="checkbox" value="">
                              <label class="form-check-label" for="Logocheckbox"> Logo Images</label>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <label class="col-form-label" for="LogoImageCount">Image Count</label>
                                <div class="input-prepend input-group">
                                  <input class="form-control" id="LogoImageCount" type="text">
                                </div>
                              </div>

                              <div class="col-md-4">
                                <label class="col-form-label" for="LogoImagePrice">Price Per Image</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="LogoImagePrice" type="text">
                                </div>
                              </div>
                              
                              <div class="col-md-4">
                                <label class="col-form-label" for="LogoImageTotal">Calculated Price</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="LogoImageTotal" type="text">
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="row">                              
                              <div class="col-md-12">
                                <label class="col-form-label" for="LogoImageTotal">Total Amount</label>
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                  </div>
                                  <input class="form-control" id="LogoImageTotal" type="text">
                                </div>
                              </div>
                            </div>
                          </div>

                      </div>
                      <div class="col-lg-7 col-md-6">
                          <div class="form-group">
                              <label class="col-form-label" for="PlanDescription">Description / Special Instructions</label>
                              <textarea class="form-control" id="PlanDescription" required name="PlanDescription"  placeholder="" type="text" rows="25"></textarea>
                          </div>
                      </div> 
                  </div>  
              </div>
            </div>
            <div class="btn-section">
                <button type="submit" (click)="addbanner($event);" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>
                <button type="cancel" class="btn btn-sm btn-danger" ><i class="fa fa-ban"></i> Cancel</button>
                <button type="reset" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
            </div>
          </form>
        </div>
    </div>
</div>

<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
          <i class="fa fa-file-text"></i> Existing Plans
          <div class="card-head-right-block">
                <div class="input-group">
                    <input class="form-control" id="search" name="search" placeholder="Search" type="text">
                    <span class="input-group-prepend">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
          </div>
        </div>
        <div class="card-body">
	        <div class="table-box">
	          <table class="table table-bordered table-striped table-sm">
	            <thead>
	              <tr>
	                <th>Plan</th>
	                <th>Description</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr>
	                <td style="width:20%">Silver Plan</td>
	                <td style="width:80%">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem ipsum is placeholder text commonly used in the graphic, print, and </td>
	              </tr>
	              <tr>
	                <td style="width:20%">Gold Plan</td>
	                <td style="width:80%">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem ipsum is placeholder text commonly used in the graphic, print, and </td>
	              </tr>
	              <tr>
	                <td style="width:20%">Platinum Plan</td>
	                <td style="width:80%">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups Lorem ipsum is placeholder text commonly used in the graphic, print, and </td>
	              </tr>
	            </tbody>
	          </table>
	      </div>
	      <div class="clearfix"></div>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
    </div>
</div>