<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>
<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-busidebar></app-busidebar>
      </div>
      <div class="col-sm-9">
        <div class="dashboard-page-content">

          <div class="animated fadeIn">
            <form [formGroup]="blogForm" autocomplete="off" action="">
              <div class="card">
                <div class="card-header">
                  <i class="nav-icon icon-picture"></i> Blog Details
                </div>


                <div class="card-body">
                  <button (click)=manageblogback() class="btn back-btn" type="button"><i class="fa fa-arrow-left"></i> Back</button>
                  <br>
                  <div class="table-responsive">
                    <div class="form-bg-section">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="file-input"><strong></strong></label><br>
                              <div *ngFor="let logourl of logourls;let i=index">
                                <img [src]="logourl" class="img-responsive img-100" />
                              </div>
                            </div>
                          </div>

                          <div class="col-md-8">
                            <div class="form-bg-section">
                              <span class="form-bg-title"><b>Blog Details</b></span>
                              <div class="container-fluid">
                                <div class="row">

                                  <div class="col-md-12">
                                    <p><strong>Title: </strong> {{blogpost.Title}}</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><strong>Valid From: </strong>{{blogpost.validFromDate| date:'dd-MMM-yyyy'}}</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><strong>Valid Till: </strong>{{blogpost.validTillDate| date:'dd-MMM-yyyy'}}</p>
                                  </div>
                                  <div class="col-md-12">

                                    <p><strong>Description: </strong><span [innerHTML]="desciption"> </span></p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-bg-section">
                              <span class="form-bg-title"><b>Personal Details</b></span>
                              <div class="container-fluid">
                                <div class="row">

                                  <div class="col-md-6">
                                    <label class="col-form-label"><strong>Email Address: </strong>{{userDetails.Email}} </label>
                                  </div>

                                  <div class="col-md-6">
                                    <label class="col-form-label"><strong>Phone Number: </strong>{{ContactDetails}}</label>
                                  </div>

                                  <div class="col-md-6">
                                    <label class="col-form-label"><strong>Fax Number: </strong>{{userDetails.FaxNumber}}</label>
                                  </div>

                                  <div class="col-md-12">
                                    <label class="col-form-label"><strong>Address: </strong>{{Address}}</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="form-bg-section">
                      <app-workflowdetails [workflow]="workflow"></app-workflowdetails>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-mainfooter></app-mainfooter>
