<header class="header-container">
  <div class="header-top">
    <div class="container-fluid">
      <div class="right-block-links">
        <p>
          <!--<a href="" data-toggle="modal" data-target="#login_popup" [routerLink]="['/login']" [routerLinkActive]="['is-active']">Login</a> <span>|</span>-->
          <a href="" [ngClass]="loginshow" [routerLink]="['/login']">{{ 'HOME.LOGIN' | translate }}</a> <span [ngClass]="loginshow">|</span>
          <!--<a href="" [ngClass]="loginshow" (click)="navigateToLogin()">Login</a> <span [ngClass]="loginshow">|</span>-->
          <!-- <a href=""  [ngClass]="loginshow" #login data-toggle="modal" data-target="#login_popup">Login</a> <span [ngClass]="loginshow" >|</span>  -->
          <!--<a href="" [ngClass]="loginshow" #Register data-toggle="modal" data-target="#register_popup">Register</a><span [ngClass]="loginshow">|</span>-->
          <a href="" [ngClass]="loginshow" [routerLink]="['/register']">{{ 'HOME.REGISTER' | translate }}</a> <span [ngClass]="loginshow">|</span>
          <!--<a href="" [ngClass]="loginshow" (click)="navigateToRegister()">Register</a> <span [ngClass]="loginshow">|</span>-->
          <a [ngClass]="logoutshow" (click)="navigateToDashboard()"><i class="fa fa-tachometer" aria-hidden="true"></i> {{ 'HOME.DASHBOARD' | translate }}</a><span [ngClass]="logoutshow">|</span>
          <!-- <a href="" [ngClass]="logoutshow" #login data-toggle="modal" (click)="onLogout()">logout &nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i> </a><span [ngClass]="logoutshow">|</span> -->
        </p>
        <form action="" class="language-option">
          <select #langSelect id="langSelect" name="language" (change)="switchLanguage($event)" [(ngModel)]='langselected'>
            <option value="English">English</option>
            <option value="Arabic">عربى</option>
          </select>
        </form>
        <div [ngClass]="logoutshow">
          <ul class="nav navbar-nav user-icon">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <img class="img-fluid user-dp" [src]="userpic" [title]="userName" />
              </a>
              <ul class="dropdown-menu">
                <li><a (click)="navigateToProfile()"><i class="fa fa-user" aria-hidden="true"></i> {{ 'HOME.PROFILE' | translate }}</a></li>
                <li><a (click)="onLogout()"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'HOME.LOGOUT' | translate }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="logo-container">
      <a [routerLink]="['/website']"><img src="assets/website/images/logo.svg" class="img-responsive web-logo" /></a>
    </div>
    <div class="menu-container">
      <nav class="navbar navbar-expand-lg pull-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav mr-auto">
            <li class="nav-item"><a [routerLink]="['/website']" [routerLinkActive]="['is-active']">{{ 'HOME.HOME' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/buysell']" [routerLinkActive]="['is-active']">{{ 'HOME.BUYSELL' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/jobs']" [routerLinkActive]="['is-active']">{{ 'HOME.JOBS' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/events']" [routerLinkActive]="['is-active']">{{ 'HOME.EVENTS' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/blog']" [routerLinkActive]="['is-active']">{{ 'HOME.BLOGS' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/messageboard']" [routerLinkActive]="['is-active']">{{ 'HOME.MESSAGEBOARD' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/faq']" [routerLinkActive]="['is-active']">{{ 'HOME.FAQS' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/advertiseus']" [routerLinkActive]="['is-active']">{{ 'HOME.ADVERTISEWITHUS' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/contact']" [routerLinkActive]="['is-active']">{{ 'HOME.CONTACTUS' | translate }}</a></li>
            <li class="nav-item"><a [routerLink]="['/buyplan']" class="post-ad-btn" [routerLinkActive]="['is-active']">{{ 'HOME.LISTYOURADS' | translate }}</a></li>
            <li class="for-mobile">
              <form action="" class="language-option">
                <select #langSelect id="langSelect" name="language" (change)="switchLanguage($event)" [(ngModel)]='langselected'>
                  <option value="English">English</option>
                  <option value="Arabic">عربى</option>
                </select>
              </form>
            </li>
            <!--<li class="nav-item"><a (click)="navigateToPostAd()" class="post-ad-btn">{{ 'HOME.POSTNEWADVERTISEMENT' | translate }}</a></li>-->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!--<app-category #category></app-category>
<app-popular-category #popcategory></app-popular-category>-->


