.hidebutton{
    display: none;
    float: left;
}
.showbutton{
    display: block;
    float: left;
}
.menu-container .nav>li>a.post-ad-btn {
    color: #fff !important;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-image: -o-linear-gradient(45deg, #ffcd00, #eb2126);
    background-image: linear-gradient(45deg, #ffcd00, #eb2126);
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 8px;
}
.menu-container .nav>li>a.post-ad-btn:hover {    
	background-image: -o-linear-gradient(45deg, #ffcd00, #006a4e);
    background-image: linear-gradient(45deg, #ffcd00, #006a4e);
} 
