<app-mainhead></app-mainhead>
<app-dashboard-banner></app-dashboard-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-3">
        <app-busidebar></app-busidebar>
      </div>


      <div class="col-sm-9">
        <div class="dashboard-page-content">
          <div class="animated fadeIn">
            <!-- Please dont mess with above divs -->

            <div>
              <span>
                To avail premium event service please buy a subscription plan. For more information on buying a subscription plan,contact us on below details:
                <br />
                <strong> e-mail: info@arabchaldo.com</strong>
                <br />
                <strong> Phone: 248-559-2971  </strong>
              </span>
              <br />
              OR

              <a style="color:#ff0000" (click)="navigatetocontactus()">Click here to contact us</a>
              <br />
              <br />
            </div>
            <form [formGroup]="FormPostEvent" action="">
              <div class="card">
                <div class="card-header">
                  <i class="nav-icon icon-calendar"></i> {{this.pagedetail}}
                </div>
                <input type="hidden" formControlName="eventId" placeholder="eventId" name="eventId" class="form-control" id="eventId">
                <input type="hidden" formControlName="createdBy" placeholder="createdBy" name="createdBy" class="form-control" id="createdBy">
                <input type="hidden" formControlName="isPaidAd" placeholder="isPaidAd" name="isPaidAd" class="form-control" id="isPaidAd">
                <div class="card-body">
                  <div class="table-responsive">
                    <div class="form-bg-section">
                      <span class="form-bg-title">Event Content</span>
                      <div class="container-fluid">
                        <div class="row">


                          <!--<div class="col-md-4">
                          <div class="form-group">
                            <label class="col-form-label" for="">Subscription Plan</label><br>
                            <select class="form-control" id="" formControlName="" name="" (change)="subscriptionPlanDetails($event)">
                              <option *ngFor="let plan of _allPlan | async" [value]="plan.planId">{{plan.planName}}</option>
                            </select>
                          </div>
                        </div>-->
                          <div><strong>Select Listing Type</strong></div>
                          <div class="col-md-12">
                            <!--<div><strong>Select Type of Event Here</strong></div>-->
                            <div class="form-group">
                              <div class="form-check mr-1" id="postplan">
                                <div _ngcontent-sgb-c3="" class="row free-paid-listing">
                                  <div _ngcontent-sgb-c3="" class="col-md-4">
                                    <div _ngcontent-sgb-c3="" class="free-paid-btn">


                                      <input _ngcontent-sgb-c3="" class="form-check-input" id="Free" name="postplan" type="radio" value="Free" [checked]="adTypeFree" (change)="selected('Free')" [disabled]="RadioFree">
                                      <span class="option-bg"></span>
                                      <span class="option-label"><i class="fa fa-check" aria-hidden="true"></i></span>
                                      <label _ngcontent-sgb-c3="" class="form-check-label" for="Free">Free Event</label>
                                    </div>
                                    <span class="info-text">No image allowed</span>
                                  </div>
                                  <div _ngcontent-sgb-c3="" class="col-md-4">
                                    <div _ngcontent-sgb-c3="" class="free-paid-btn">
                                      <input _ngcontent-sgb-c3="" class="form-check-input" id="Paid" name="postplan" type="radio" value="Paid" [checked]="adTypePaid" (change)="selected('Paid')" [disabled]="RadioPaid">
                                      <span class="option-bg"></span>
                                      <span class="option-label"><i class="fa fa-check" aria-hidden="true"></i></span>
                                      <label _ngcontent-sgb-c3="" class="form-check-label" for="Paid">Premium Event</label>
                                    </div>
                                    <span class="info-text">Only one image is allowed</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="postedFor">User <span class="asterisk">*</span></label><br>
                              <select class="form-control" id="postedFor" formControlName="postedFor" disabled="true" name="postedFor" (change)="GetUserDetails($event);" [ngClass]="{ 'is-invalid': submitted && f.postedFor.errors }">
                                <option value="">--Select User--</option>
                                <option *ngFor="let User of _allUser | async" [value]="User.userId">
                                  {{User.firstName+' '+User.lastName}}
                                </option>
                              </select>
                              <div *ngIf="submitted && f.postedFor.errors" class="text-danger"><div *ngIf="f.postedFor.errors.required">Selection of User is required</div></div>
                            </div>
                          </div>


                          <!--<div class="col-md-4">
                          <div class="form-group">
                            <label class="col-form-label" for="eventImageCount">Remaining event Images</label>
                            <input class="form-control" id="eventImageCount" formControlName="eventImageCount" name="eventImageCount" placeholder="" type="text" readonly>
                          </div>
                        </div>-->


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Title">Event Title <span class="asterisk">*</span></label>
                              <input class="form-control" id="Title" formControlName="title" name="Title" placeholder="" type="text" maxlength="50" minlength="5" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                              <div *ngIf="submitted && f.title.errors" class="text-danger">
                                <div *ngIf="f.title.errors.required">Title is Required</div>
                                <!-- <div *ngIf="f.title.errors.pattern"> Please Enter Text only</div> -->
                              </div>
                            </div>
                          </div>


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CategoryId">Category <span class="asterisk">*</span></label><br>
                              <!--<select class="form-control" id="CategoryId" formControlName="categoryId" name="CategoryId" (change)="FillSubCategoryDDL($event);" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                              <option value="">--Select Category--</option>
                              <option *ngFor="let Category of _allCategory | async" [value]="Category.categoryId">{{Category.categoryName}}</option>
                            </select>-->
                              <ng-select [items]="categories"
                                         bindLabel="categoryName"
                                         bindValue="categoryId"
                                         placeholder=""
                                         class="form-control" id="CategoryId" formControlName="categoryId" name="CategoryId" (change)="FillSubCategoryDDL($event);" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                                <span class="ng-arrow-zone">
                                  <span class="ng-arrow"></span>
                                </span>
                              </ng-select>
                              <div *ngIf="submitted && f.categoryId.errors" class="text-danger"><div *ngIf="f.categoryId.errors.required">Selection of Category is Required</div></div>
                            </div>
                          </div>



                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Website">Website</label>
                              <input class="form-control" id="Website" maxlength="20" formControlName="website" name="Website" placeholder="" type="text">
                              <!-- <div *ngIf="submitted && f.website.errors" class="text-danger">
                              <div *ngIf="f.website.errors.required">Website is Required</div>
                            </div> -->
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="validTillDate">Event Date <span class="asterisk">*</span></label>

                              <!--<input type="date" #EventDate ng-model="eventDate" id="eventDate" name="eventDate" class="form-control"  formControlName="eventDate" [ngClass]="{ 'is-invalid': submitted && f.eventDate.errors }">-->
                              <!-- <input type="date" #EventDate ng-model="eventDate" id="eventDate" name="eventDate" class="form-control" value="{{ date | date: 'dd-MMM-yyyy' }}" formControlName="eventDate" [ngClass]="{ 'is-invalid': submitted && f.eventDate.errors }"> -->
                              <!-- <input type="date" #validTill id="validTillDate" class="form-control" name="validTillDate" placeholder="" formControlName="validTillDate" [ngClass]="{ 'is-invalid': submitted && f.validTillDate.errors }"> -->
                              <div class="inp-cal">
                                <input class="form-control" placeholder="{{datePlaceholder}}" [minDate]="minDateModel" (dateSelect)="onvalidFromDateSelect($event)" id="eventDate"
                                       formControlName="eventDate" [(ngModel)]="modelValidFrom" ngbDatepicker #d2="ngbDatepicker" readonly [ngClass]="{ 'is-invalid': submitted && f.eventDate.errors }">
                                <!--<div class="input-group-append">-->
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                              </div>
                              <div *ngIf="submitted && f.eventDate.errors" class="text-danger">
                                <div *ngIf="f.eventDate.errors.required">Event Date is Required</div>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="col-form-label" for="Description">Event Description</label>
                              <!-- <input class="form-control" id="Description" formControlName="description" name="Description" placeholder="" type="text"> -->
                              <textarea class="form-control" id="Description" formControlName="description" name="Description" placeholder="" type="text" rows="4"></textarea>
                              <div *ngIf="submitted && f.description.errors" class="text-danger">
                                <!-- <div *ngIf="f.description.errors.required">Event Date is Required</div> -->
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>


                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <div class="form-check mr-1" id="postplan">
                                <!--<div class="row">
                                <div class="col-sm-4">
                                  <label class="form-check-label" for="AdType">Ad Type</label>
                                </div>
                                <div class="col-sm-4" [routerLink]="['/bupostevent']">

                                  <input class="form-check-input" [disabled]="RadioFree" id="Free" name="postplan" type="radio" value="Free" [checked]="adTypeFree" (change)="selected('Free')">
                                  <label class="form-check-label" for="Free">Free</label>
                                </div>
                                <div class="col-sm-4" [routerLink]="['/bupostevent']">
                                  <input class="form-check-input" [disabled]="RadioPaid" id="Paid" name="postplan" type="radio" value="Paid" [checked]="adTypePaid" (change)="selected('Paid')">
                                  <label class="form-check-label" for="Paid">Paid</label>
                                </div>
                              </div>-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div #dvPaidSection [ngClass]="displayPaidSection">

                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="col-form-label" for="">Subscription Plan <span class="asterisk">*</span></label><br>
                                <select class="form-control" id="" formControlName="" name="" (change)="subscriptionPlanDetails($event)">
                                  <option *ngFor="let plan of _allPlan | async" [value]="plan.planId">{{plan.planName}}</option>
                                </select>

                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="col-form-label" for="eventImageCount">Remaining event Image</label>
                                <input class="form-control" id="eventImageCount" formControlName="eventImageCount" name="eventImageCount" placeholder="" type="text" readonly>
                              </div>

                            </div>



                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="col-form-label" for="file-input">Image</label><br>
                                <app-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></app-upload>
                                <!-- <input type="hidden" formControlName="imageUrl" placeholder="imageUrl" name="imageUrl" class="form-control" id="imageUrl"> -->
                                <input type="hidden" formControlName="imageUrl" placeholder="imageUrl" name="imageUrl" class="form-control" id="imageUrl">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <!--For new picture-->
                          <!--<div class="form-group" [ngClass]="displayNewLogo">
                          <label class="col-form-label" for="BannerImageUrl">Upload Image</label>
                          <div class="dp-block">

                            <app-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></app-upload>
                            <input type="hidden" formControlName="imageUrl" placeholder="imageUrl" name="imageUrl" class="form-control" id="imageUrl">

                          </div>
                        </div>-->
                          <br />
                          <!-- Existing Images section on Edit action -->
                          <div [ngClass]="displayExtUploads" #dvExtUploads>
                            <span class="form-bg-title">Existing Uploads</span>
                            <div class="container-fluid">
                              <div class="row">
                                <div [ngClass]="displayExtLogo" #dvExtLogo>
                                  <div class="form-group">
                                    <!-- <label class="col-form-label" for="file-input">Logo</label><br> -->
                                    <div *ngFor="let extLogoUrl of extLogoUrls;let i=index">
                                      <div style="float:left;max-width:100px; margin:10px; text-align: center">
                                        <img [src]="extLogoUrl" style="width:100px; height:100px; object-fit: cover;"><br><br>
                                        <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br>
                                      </div>

                                    </div>
                                    <!--<input type="hidden" formControlName="adextLogoUrl" placeholder="adextLogoUrl" name="adextLogoUrl" class="form-control" id="adextLogoUrl"> -->
                                  </div>
                                </div>


                              </div>
                            </div>
                          </div>


                        </div>


                      </div>
                    </div>


                    <div class="form-bg-section">
                      <span class="form-bg-title">Contact</span>
                      <div class="container-fluid">
                        <div class="row">




                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ContactPersonName">Contact Person Name <span class="asterisk">*</span></label>
                              <input class="form-control" id="ContactPersonName" formControlName="contactPersonName" name="ContactPersonName" placeholder="" type="text" maxlength="40" minlength="2" [ngClass]="{'is-invalid': submitted && f.contactPersonName.errors }">
                              <div *ngIf="submitted && f.contactPersonName.errors" class="text-danger">
                                <div *ngIf="f.contactPersonName.errors.required">Contact Person Name is Required</div>
                                <!-- <div *ngIf="f.contactPersonName.errors.pattern">Enter text only</div> -->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="Email">Email Id <span class="asterisk">*</span></label>
                              <input class="form-control" id="Email" formControlName="email" name="Email" maxlength="50" placeholder="" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                              <div *ngIf="submitted && f.email.errors" class="text-danger">
                                <div *ngIf="f.email.errors.required">Email Id is Required</div>
                                <div *ngIf="f.email.errors.pattern">Enter Valid Format of Email</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <div class="row">
                                <div class="col-md-6">
                                  <label class="col-form-label" for="countryCodeContact">Country Code <span class="asterisk"></span></label><br>
                                  <ng-select [items]="countrycode"
                                             bindLabel="name"
                                             bindValue="countryCodeContact"
                                             placeholder=""
                                             class="form-control" id="countryCodeContact" formControlName="countryCodeContact" name="countryCodeContact">
                                    <span class="ng-arrow-zone">
                                      <span class="ng-arrow"></span>
                                    </span>
                                  </ng-select>
                                  <!-- <div *ngIf="submitted && f.countryCodeContact.errors" class="text-danger">
                                  <div *ngIf="f.countryCodeContact.errors.required">Country Code is Required</div>
                                </div> -->
                                </div>

                                <div class="col-md-6">
                                  <label class="col-form-label" for="ContactNumber">Contact Number <span class="asterisk">*</span></label>
                                  <input class="form-control" id="ContactNumber" formControlName="contactNumber" name="ContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }">
                                  <div *ngIf="submitted && f.contactNumber.errors" class="text-danger">
                                    <div *ngIf="f.contactNumber.errors.required">Contact Number is Required</div>
                                    <!-- <div *ngIf="f.contactNumber.errors.pattern"> Please Enter numbers only</div> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AlternateContactNumber">Alternate Contact Number</label>
                              <input class="form-control" id="AlternateContactNumber" formControlName="alternateContactNumber" name="AlternateContactNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.alternateContactNumber.errors }">
                              <!-- <div *ngIf="submitted && f.alternateContactNumber.errors" class="text-danger">
                              <div *ngIf="f.alternateContactNumber.errors.pattern"> Please Enter numbers only</div>

                            </div> -->
                            </div>
                          </div>

                          <!-- <div class="col-md-4">
                          <div class="form-group">
                            <label class="col-form-label" for="FaxNumber">Fax Number</label>
                            <input class="form-control" id="FaxNumber" formControlName="faxNumber" name="FaxNumber" placeholder="" type="text" maxlength="10" minlength="10">

                          </div>
                        </div> -->


                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="FaxNumber">Fax Number</label>
                              <input class="form-control" id="FaxNumber" formControlName="faxNumber" name="FaxNumber" placeholder="" type="text" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.faxNumber.errors }">
                              <!-- <div *ngIf="submitted && f.faxNumber.errors" class="text-danger">
                              <div *ngIf="f.faxNumber.errors.pattern"> Please Enter 10 numbers only</div>

                            </div> -->
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>

                    <div class="form-bg-section">
                      <span class="form-bg-title">Address</span>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet1">Street 1 <span class="asterisk"></span></label>
                              <input class="form-control" id="AddressStreet1" formControlName="addressStreet1" name="AddressStreet1" placeholder="" type="text">
                              <!-- <div *ngIf="submitted && f.addressStreet1.errors" class="text-danger">
                              <div *ngIf="f.addressStreet1.errors.required">Address Street1 is Required</div>
                              <div *ngIf="f.addressStreet1.errors.pattern"> Please Enter Text only</div>
                            </div> -->
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="AddressStreet2">Street 2</label>
                              <input class="form-control" id="AddressStreet2" formControlName="addressStreet2" name="AddressStreet2" placeholder="" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="ZipCode">Zip Code <span class="asterisk"></span></label>
                              <input class="form-control" id="ZipCode" formControlName="zipCode" name="ZipCode" maxlength="6" placeholder="" type="text">
                              <!-- <div *ngIf="submitted &amp;&amp; f.zipCode.errors" class="text-danger">
                              <div *ngIf="f.zipCode.errors.required">Zip Code is Required</div>
                              <div *ngIf="f.zipCode.errors.pattern">Please Enter Numbers Only</div>
                            </div> -->
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="countryId">Country <span class="asterisk"></span></label><br>
                              <select class="form-control" id="countryId" formControlName="countryId" name="CountryId" (change)="FillStateDDL($event);">
                                <option value="">--Select Country--</option>
                                <option *ngFor="let ctry of _allCountry | async" [value]="ctry.countryId">{{ctry.countryName}}</option>
                              </select>
                              <!-- <div *ngIf="submitted && f.countryId.errors" class="text-danger"><div *ngIf="f.countryId.errors.required">Selection of Country is required</div></div> -->
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="stateId">State <span class="asterisk"></span></label><br>
                              <!--<select class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);">
                              <option value="">--Select State--</option>
                              <option *ngFor="let state of _allState | async" [value]="state.stateId">{{state.stateName}}</option>
                            </select>-->
                              <ng-select [items]="states"
                                         bindLabel="stateName"
                                         bindValue="stateId"
                                         placeholder=""
                                         class="form-control" id="stateId" formControlName="stateId" name="stateId" (change)="FillCityDDL($event);">
                              </ng-select>

                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="col-form-label" for="CityId">City <span class="asterisk"></span></label><br>
                              <!--<select class="form-control" id="CityId" formControlName="cityId" name="CityId" (change)="FillCityName($event);">
                              <option value="">--Select City--</option>
                              <option *ngFor="let City of _allCity | async" [value]="City.cityId">{{City.cityName}}</option>
                            </select>-->

                              <ng-select [items]="cities"
                                         bindLabel="cityName"
                                         bindValue="cityId"
                                         appendTo="body"
                                         placeholder=""
                                         class="form-control" id="CityId" formControlName="cityId" name="CityId" (change)="FillCityName($event);">

                                <span class="ng-arrow-zone">
                                  <span class="ng-arrow"></span>
                                </span>
                              </ng-select>
                              <div style="font-size: 12px; color: #eb2126;margin-top:5px">
                                *Select 'Other' if city not found.
                              </div>
                              <!-- <div *ngIf="submitted && f.cityId.errors" class="text-danger"><div *ngIf="f.cityId.errors.required">Selection of City is required</div></div> -->
                            </div>
                          </div>

                          <div [ngClass]="showOtherCity">
                            <div class="form-group">
                              <label class="col-form-label" for="OtherCity">Other City</label>
                              <input class="form-control" id="OtherCity" formControlName="OtherCity" name="OtherCity" maxlength="20" minlength="2" placeholder="" type="text">

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>



                    <div class="btn-section">
                      <!-- <button type="submit" (click)="adpost($event)" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button> -->
                      <button type="submit" #SaveEvent (click)="postEvent()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{saveButtonText}}</button>
                      <button type="cancel" [routerLink]="['/bumanageevent']" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                      <button type="reset" (click)="reset()" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
                      <!--<button type="reset" [ngClass]="displayText"><i class="fa fa-refresh"></i> Reset</button>-->
                    </div>
                  </div>
                </div>
              </div>
            </form>


            <!-- Please dont mess with below divs -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
