<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="nav-icon icon-grid"></i>Category
      <div class="card-head-right-block">
        <div class="input-group">
          <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-bg-section">
        <span class="form-bg-title">Add Category</span>
        <div class="container-fluid">
          <form [formGroup]="FormCategoryname" autocomplete="off">
            <div class="hidden">
              <input type="hidden" placeholder="categoryId" name="categoryId" class="form-control" id="categoryId">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="categoryName">Name(English) <span class="asterisk">*</span></label>
                  <input class="form-control" id="categoryName" formControlName="categoryName" name="categoryName" maxLength="50" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && FormCategoryname.controls.categoryName.errors }">
                  <div *ngIf="submitted &amp;&amp; FormCategoryname.controls.categoryName.errors" class="text-danger">
                    <div *ngIf="FormCategoryname .controls.categoryName.errors.required">Category Name is Required</div>
                   
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="arabicName">Name(Arabic) <span class="asterisk">*</span></label>
                  <input class="form-control" id="arabicName" formControlName="arabicName" name="arabicName" maxLength="50" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && FormCategoryname.controls.arabicName.errors }">
                  <div *ngIf="submitted &amp;&amp; FormCategoryname.controls.arabicName.errors" class="text-danger">
                      <div *ngIf="FormCategoryname .controls.arabicName.errors.required">Arabic Name is Required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="CategoryIcon">Upload Image <span class ="asterisk">*</span></label><br>
                  <!-- <input id="file-multiple-input" multiple="" name="file-multiple-input" type="file"> -->
                  <!-- <theme-upload (onUploadFinished)="uploadFinished($event)"></theme-upload> -->
                  <theme-upload #uploadLogo class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></theme-upload>
                   <input type="hidden" formControlName="CategoryImageUrl" placeholder="CategoryImageUrl" name="CategoryImageUrl" class="form-control" id="CategoryImageUrl">
                  <!-- <img [src]="imgURL" height="100" *ngIf="imgURL"> -->
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-form-label" for="description">Description</label>
                  <textarea class="form-control" id="description" formControlName="description" maxLength="500" name="description" placeholder="" rows="4" type="text"></textarea>
                </div>
              </div>
            </div>
      
            <div class="btn-section">
              <button type="submit" (click)="addCategory()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>
              <button type="cancel" (click)="cancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
              <button type="reset" (click)="reset()"(click)="resetFields()"  class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
            </div>
          </form>
        </div>
      </div>
      <div class="table-box">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th style="width:20%" [class.active]="order === 'categoryName'"
                (click)="setOrder('categoryName')"
                class="mdl-data-table__cell--non-numeric">
               Name(English) <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
            </th>

            <th style="width:20%" [class.active]="order === 'arabicName'"
                (click)="setOrder('arabicName')"
                class="mdl-data-table__cell--non-numeric">
                Name(Arabic) <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
            </th>
            <!-- <th style="width:50%" [class.active]="order === 'description'"
                (click)="setOrder('description')"
                class="mdl-data-table__cell--non-numeric">
              Description<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
            </th> -->
            <th style="width:10%">Action</th>
            <!-- <th>Delete</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | filter:filter | orderBy: order:'case-insensitive'  | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
            <td>{{user.CategoryName}}</td>
            <td>{{user.ArabicName}}</td>
            <!-- <td>{{user.Description}}</td> -->
            <!-- <td><button  (click)="updateCategory(user.categoryId)" class="btn btn-sm btn-success" > Edit</button></td>
                        -->
            <td><button (click)="updateCategory(user)" class="btn edit-btn" data-toggle="tooltip" title="Edit"> <i class="fa fa-pencil-square-o"></i></button>
            <button (click)="onDelete(user.CategoryId,user.CategoryName,$event)" class="btn delete-btn" data-toggle="modal" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash"></i></button></td>
          </tr>
          <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">              
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="col-form-label" for="DeletePopUp">{{actionMessage}}</label>                      
                        </div>
                      </div>
                    </div>
                    <button type="submit"  (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                    <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>               
                  </div>
                </div>
              </div>
            </div>
          <tr *ngIf="user == null">
            <td colspan="4">No records found!</td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>
        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
