<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="nav-icon icon-bubbles"></i> Message Board
      <div class="card-head-right-block">
        <div class="input-group">
          <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="page-content" [ngClass]="showGrid">
      <div class="card-body">
        <div class="table-box">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <!-- <th>View Ad</th> -->
                <!-- <th [class.active]="order === 'adId'"(click)="setOrder('userId')">Add Id <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th> -->
                <th style="width:20%" [class.active]="order === 'title'"
                    (click)="setOrder('title')">
                  Topic <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:5%" [class.active]="order === 'views'"
                    (click)="setOrder('views')">
                  Views <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:12%" [class.active]="order === 'name'"
                    (click)="setOrder('name')"
                    class="mdl-data-table__cell--non-numeric">
                  Posted By  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:10%" [class.active]="order === 'createdDate'"
                    (click)="setOrder('createdDate')"
                    class="mdl-data-table__cell--non-numeric">
                  Posted On  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:40%" [class.active]="order === 'description'"
                    (click)="setOrder('description')"
                    class="mdl-data-table__cell--non-numeric">
                  Description  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:5%">Action</th>
              </tr>
            </thead>
            <tbody>



              <tr *ngFor="let messageboard of messageboards | filter:filter | orderBy: order:reverse:'case-insensitive'  | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                <!-- <td>
    <a [routerLink]="['/theme/addetailsview']" [queryParams]="{messageBoardId:messageboard.messageBoardId'}" queryParamsHandling="merge" class="ad-btn" style="cursor:pointer;float:left;width:100%">
    </a>
  </td> -->
                <td style="padding:0;overflow: hidden;display: -webkit-box;height: 26px;border: 0;">
                  <a class="topic-title" (click)="getMessageBoardReplyList(messageboard.messageBoardId,messageboard.topic)">{{messageboard.topic}}</a>
                </td>
                <td>{{messageboard.views}}</td>
                <td>{{messageboard.name}}</td>
                <td>{{messageboard.createdDate| date:'dd-MMM-yyyy'}}</td>
                <!--<td>{{messageboard.createdDate| date:'dd-MMM-yyyy   HH:mm'}}</td>-->
                <td style="overflow: hidden;display: -webkit-box;height: 26px;border: 0;">{{messageboard.description}}</td>
                <td>  <button class="btn delete-btn" (click)="DeleteMessgae(messageboard.messageBoardId)" title="Delete" data-toggle="modal" data-target="#DeletePopUp"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
              </tr>
              <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-form-label" for="DeletePopUp">{{actionmessage}}</label>
                          </div>
                        </div>
                      </div>

                      <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                      <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                    </div>

                  </div>
                </div>
              </div>

              <tr *ngIf="messageboards== null">
                <td colspan="4">No records found!</td>
              </tr>


            </tbody>
          </table>
        </div>
        <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>


        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>

      </div>
    </div>

   

    <div class="page-content" [ngClass]="showReply">
      <button (click)=ShowGridPanel() class="btn btn-primary back-btn" type="button"><i class="fa fa-arrow-left"></i> Back</button>
      <br /><br />
      <!--<ul class="comment-text" [ngClass]="showReply">
        <content *ngFor="let messageboardsdetail of ArrMB">
          <h3>{{messageboardsdetail.Topic}}</h3>
          <h6>{{messageboardsdetail.Description}}</h6>
        </content>
       
      </ul>-->
      <ul class="comment-box">
        <li *ngFor="let messageboardsdetail of ArrMB">
          <div class="comment-text">

            <h2>{{messageboardsdetail.Topic}}</h2>
            <i class="fa-fa-user-circle" aria-hidden="true"></i><span class="posted-on">{{messageboardsdetail.Name}}    {{messageboardsdetail.CreatedDate}}</span><br />
            <!--<span >{{messageboardsdetail.Name}}</span>
            <br />-->
            <span>{{messageboardsdetail.Description}}</span>
          </div>
        </li>
      </ul>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <!-- <th>View Ad</th> -->
            <!-- <th [class.active]="order === 'adId'"(click)="setOrder('userId')">Add Id <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th> -->
            <th style="width:20%" [class.active]="order === 'Description'"
                (click)="setOrder('Description')">
              Reply <span class="sort-icon" [hidden]="reverse">▼</span>
              <span class="sort-icon" [hidden]="!reverse">▲</span>
            </th>

            <th style="width:12%" [class.active]="order === 'Name'"
                (click)="setOrder('Name')"
                class="mdl-data-table__cell--non-numeric">
              Posted By  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
            </th>
            <th style="width:10%" [class.active]="order === 'CreatedDate'"
                (click)="setOrder('CreatedDate')"
                class="mdl-data-table__cell--non-numeric">
              Posted On  <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
            </th>

            <th style="width:5%">Action</th>
          </tr>
        </thead>
        <tbody>



          <tr *ngFor="let messageboardsdetail of ArrMBD | filter:filter | orderBy: order:reverse:'case-insensitive'">



            <!-- <td>
          <a [routerLink]="['/theme/addetailsview']" [queryParams]="{messageBoardId:messageboard.messageBoardId'}" queryParamsHandling="merge" class="ad-btn" style="cursor:pointer;float:left;width:100%">
          </a>
        </td> -->

            <td style="overflow: hidden;display: -webkit-box;height: 26px;border: 0;">{{messageboardsdetail.Description}}</td>
            <td>{{messageboardsdetail.Name}}</td>
            <td>{{messageboardsdetail.CreatedDate}}</td>
            <td>  <button class="btn delete-btn" (click)="DeleteMessgaeReply(messageboardsdetail.MessageBoardId)" data-toggle="modal" data-target="#DeletePopUp1"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
          <div class="modal fade custom-modal" id="DeletePopUp1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-form-label" for="DeletePopUp1">{{actionmessage}}</label>
                      </div>
                    </div>
                  </div>

                  <button type="submit" (click)="ActionDeleteReply()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                  <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                </div>

              </div>
            </div>
          </div>

          <tr *ngIf="this.MBData.length-1== 0">
            <td colspan="4">No reply found!</td>
          </tr>


        </tbody>
      </table>
    </div>
      <!--<div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>
        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>-->
  </div>
  </div>
