ul.comment-box {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

ul.comment-box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

ul.comment-box li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-right: 160px;
}

ul.comment-box li:nth-child(odd) {
  margin-left: 160px;
}

ul.comment-box li .comment-text {
  background: #f5f5f5;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;
  position: relative;
}

ul.comment-box li:first-child .comment-text h2 {
  border-bottom: 1px solid #eae8e8;
  padding-bottom: 10px;
  font-size: 20px;
}

ul.comment-box li:nth-child(odd) .comment-text {
  background: #ffffff;
  border: 2px solid #f5f5f5;
}

ul.comment-box li:first-child .comment-text {
  border: 1px solid #f5f5f5;
  background-image: -o-linear-gradient(bottom, #f5f5f5, #ffffff);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#ffffff));
  background-image: linear-gradient(0deg, #f5f5f5, #ffffff);
}

ul.comment-box li .comment-text:after {
  content: "";
  position: absolute;
  border-top: 20px solid;
  border-right: 10px solid transparent;
  border-bottom: 0;
  border-left: 10px solid transparent;
  left: -18px;
  bottom: 15px;
  margin-top: -10px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: whitesmoke;
}

ul.comment-box li:nth-child(odd) .comment-text:after {
  left: 100%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: whitesmoke;
}

ul.comment-box li:first-child .comment-text:after {
  display: none;
}

span.posted-on {
  font-size: 14px;
  color: #949494;
  position: absolute;
  top: 10px;
  right: 20px;
}

.comment-icon {
  width: 150px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px;
  padding: 5px 0 0;
  border-radius: 8px;
}

.comment-icon .user-comment {
  color: #666;
  font-size: 12px;
}

.comment-icon .fa {
  background: #f5f5f5;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 27px;
  color: #a5a5a5;
}

ul.comment-box li:first-child .comment-icon {
  display: none;
}

ul.comment-box li:first-child {
  margin: 0;
}
