<div class="animated fadeIn">
  <form [formGroup]="FormConfiguration" autocomplete="off">
    <div class="hidden">
      <input type="hidden" formControlName="configurationId" placeholder="configurationId" name="configurationId" class="form-control" id="configurationId">
    </div>
    <div class="card">
      <div class="card-header"><i class="icon-settings"></i> Settings</div>
      <div class="card-body">
        <div class="form-bg-section">
          <span class="form-bg-title">Mail Settings Section</span>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="smtp">SMTP</label>
                  <input class="form-control" id="Smtp" formControlName="Smtp" name="Smtp" placeholder="" type="text">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="port">Port</label>
                  <input class="form-control" id="port" formControlName="Port" name="port" placeholder="" type="text">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="form-mail-id">From Mail ID</label>
                  <input class="form-control" id="form-mail-id" formControlName="FromMailId" name="form-mail-id" placeholder="" type="text">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="password">Password</label>
                  <input class="form-control" id="password" formControlName="Password" name="password" placeholder="" type="text">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="password">Domain</label>
                  <input class="form-control" id="domain" formControlName="Domain" name="domain" placeholder="" type="domain">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="RegistrationMailTemplate"><b>Registration Mail Template</b></label><br>
                      <angular-editor id="editor1" formControlName="RegistrationMailTemplate" [config]="config" name="RegistrationMailTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="ContactMailTemplate"><b>Contact Mail Templates</b></label><br>
                      <angular-editor id="editor2" formControlName="ContactMailTemplate" [config]="config" name="ContactMailTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="FeedbackMailTemplate"><b>Feedback Mail Templates</b></label><br>
                      <angular-editor id="editor3" formControlName="FeedbackMailTemplate" [config]="config" name="FeedbackMailTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="JobsMailTemplate"><b>Jobs Mail Templates</b></label><br>
                      <angular-editor id="editor4" formControlName="JobsMailTemplate" [config]="config" name="JobsMailTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="AboutUstemplate"><b>About US Templates</b></label><br>
                      <angular-editor id="editor3" formControlName="AboutUstemplate" [config]="config" name="AboutUstemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="AboutUstemplateArabic"><b>About US Templates(Arabic) </b></label><br>
                      <angular-editor id="editor3" formControlName="AboutUstemplateArabic" [config]="config" name="AboutUstemplateArabic" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="ContactUSTemplate"><b>Contact US Templates</b></label><br>
                      <angular-editor id="editor4" formControlName="ContactUSTemplate" [config]="config" name="ContactUSTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="ContactUSTemplateArabic"><b>Contact US Templates(Arabic)</b></label><br>
                      <angular-editor id="editor4" formControlName="ContactUSTemplateArabic" [config]="config" name="ContactUSTemplateArabic" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="TermsOfUseTemplate"><b>TermsOfUse Templates</b></label><br>
                      <angular-editor id="editor3" formControlName="TermsOfUseTemplate" [config]="config" name="TermsOfUseTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="TermsOfUseTemplateArabic"><b>TermsOfUse Templates(Arabic)</b></label><br>
                      <angular-editor id="editor3" formControlName="TermsOfUseTemplateArabic" [config]="config" name="TermsOfUseTemplateArabic" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="PrivacyPolicyTemplate"><b>Privacy Policy Templates</b></label><br>
                      <angular-editor id="editor4" formControlName="PrivacyPolicyTemplate" [config]="config" name="PrivacyPolicyTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="PrivacyPolicyTemplateArabic"><b>Privacy Policy Templates(Arabic) </b></label><br>
                      <angular-editor id="editor4" formControlName="PrivacyPolicyTemplateArabic" [config]="config" name="PrivacyPolicyTemplateArabic" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="DisclaimerTemplate"><b>Disclaimer Templates</b></label><br>
                      <angular-editor id="editor3" formControlName="DisclaimerTemplate" [config]="config" name="DisclaimerTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="DisclaimerTemplateArabic"><b>Disclaimer Templates(Arabic)</b></label><br>
                      <angular-editor id="editor3" formControlName="DisclaimerTemplateArabic" [config]="config" name="DisclaimerTemplateArabic" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="FAQTemplate"><b>F&Q Templates</b></label><br>
                      <angular-editor id="editor4" formControlName="FAQTemplate" [config]="config" name="FAQTemplate" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="form-bg-section">
                  <div class="container-fluid">
                    <div class="form-group">
                        <div style="background:#fff">
                      <label class="col-form-label" for="FAQTemplateArabic"><b>F&Q Templates(Arabic)</b></label><br>
                      <angular-editor id="editor4" formControlName="FAQTemplateArabic" [config]="config" name="FAQTemplateArabic" placeholder="" type="text"></angular-editor>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br><br>
            <div class="btn-section">
              <button type="submit" (click)="updateConfiguration()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button>
              <button type="cancel" (click)="cancelsettingchange()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
