.inbox-messaging input, .inbox-messaging .multiselect-dropdown .dropdown-btn, .inbox-messaging .angular-editor-textarea {
    width: 100% !important;
    padding: 6px 12px !important;
    height: auto !important;
    border-radius: 4px !important;
    border: 1px solid #adadad !important;
    background: #fff !important;
}
