<div class="animated fadeIn">
    <div class="card">
        <div class="card-header"><i class="icon-envelope-letter"></i> Post Message</div>
        
          <div class="card-body inbox-messaging"> 
              <input type="hidden" formControlName="mailfor" placeholder="mailfor" name="mailfor" class="form-control" id="mailfor">
              <form [formGroup]="form" action="">
                  <div class="row" [ngClass]="showAddTopic">
                    <div class="col-sm-6">
                      <ng-multiselect-dropdown #multiSelect [placeholder]="'To'" [data]="data" [formControl]="form.controls['ToUserMessage']" [ngClass]="{ 'is-invalid': submitted && form.controls.ToUserMessage.errors} " [settings]="settings" [disabled]="false" (onFilterChange)="onFilterChange($event)" (onDropDownClose)="onDropDownClose($event)" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                      </ng-multiselect-dropdown>
                      <div *ngIf="submitted &amp;&amp; form.controls.ToUserMessage.errors" class="text-danger">
                          <div *ngIf="form.controls.ToUserMessage.errors.required">Selection of Email is Required</div>
                      </div>
                    </div>                        
                    <div class="col-sm-6">
                      <div class="form-group">
                          <input type="text" rows="2" formControlName="subject" name="subject" placeholder="Subject*" [ngClass]="{ 'is-invalid': submitted && form.controls.subject.errors}">
                          <div *ngIf="submitted &amp;&amp; form.controls.subject.errors" class="text-danger">
                              <div *ngIf="form.controls.subject.errors.required">Subject is Required</div>
                              <div *ngIf="form.controls.subject.errors.pattern">Enter text only</div>
                          </div>
                      </div>
                    </div>                                 
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div style="background:#fff">
                          <!-- <label class="col-form-label" for="content">Content*</label><br> -->
                          <angular-editor id="editor3" formControlName="content" [config]="config" name="content" id="content" placeholder="Enter Your Content Here*" type="text" [ngClass]="{ 'is-invalid': submitted && form.controls.content.errors}"></angular-editor>
                          <div *ngIf="submitted &amp;&amp; form.controls.content.errors" class="text-danger">
                            <div *ngIf="form.controls.content.errors.required">Content is Required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <theme-multifileupload (onuploadFinishedFile)="uploadFinishedFile($event)"> </theme-multifileupload>
                        <input type="hidden" formControlName="fileUrl" placeholder="fileUrl" name="fileUrl" class="form-control" id="fileUrl">
                      </div>
                      <!--<div class="form-group">
                        <app-fileupload class="" (onuploadFinishedFile)="uploadFinishedFile($event)"></app-fileupload>
                        <input type="hidden" formControlName="fileUrl" placeholder="fileUrl" name="fileUrl" class="form-control" id="fileUrl">

                      </div>-->
                    </div>                    
                    <div class="col-sm-12">
                      <button type="submit" (click)="save()" value="Send" class="btn btn-sm btn-success"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send Email</button>
                      <button type="cancel" (click)="Navigatetodashboard()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                    
                      <button type="reset" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i> Reset</button>
                    </div>
                  </div>                    
              </form>
        </div>   
    </div>
  </div>
