<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-users"></i> Manage Category
    </div>
    <div class="card-body">
      <div class="form-bg-section">
        <span class="form-bg-title">Edit Category</span>
        <form [formGroup]="editCategoryForm">
          <div class="hidden">
            <input type="hidden" formControlName="categoryId" placeholder="categoryId" class="form-control" id="categoryId">
          </div>
          <div class="container-fluid">

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="categoryName">Name(English) <span class="asterisk">*</span></label>
                  <input class="form-control" formControlName="categoryName" maxLength="50" id="categoryName" placeholder="" type="text" [ngClass]="{ 'is-invalid': submitted && editCategoryForm.controls.categoryName.errors }">
                  <div *ngIf="submitted &amp;&amp; editCategoryForm.controls.categoryName.errors" class="text-danger">
                    <div *ngIf="editCategoryForm .controls.categoryName.errors.required">Category Name is Required</div>
                    <!-- <div *ngIf="editCategoryForm .controls.categoryName.errors.pattern">Please Enter Characters Only</div> -->

                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-form-label" for="arabicName"> Name(Arabic) <span class ="asterisk">*</span></label>
                  <input class="form-control" formControlName="arabicName" maxLength="50" id="arabicName" placeholder="" type="text"[ngClass]="{ 'is-invalid': submitted && editCategoryForm.controls.arabicName.errors }">
                  <div *ngIf="submitted &amp;&amp; editCategoryForm.controls.arabicName.errors" class="text-danger">
                    <div *ngIf="editCategoryForm .controls.arabicName.errors.required">Arabic Name is Required</div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-form-label" for="description">Description <span class="asterisk"></span></label>
                    <textarea class="form-control" id="description" formControlName="description" maxLength="500" name="description" placeholder="" type="text" ></textarea>
  
                   
                  </div>
                </div>

                
              <div class="col-md-6">
                <!--For new picture-->
                <div class="form-group" [ngClass]="displayNewLogo" >
                  <label class="col-form-label" for="CategoryIcon">Category Icon  <span class ="asterisk">*</span></label><br>
                  <!-- <input id="file-multiple-input" multiple="" name="file-multiple-input" type="file"> -->
                  <theme-upload class="" (onuploadFinishedLogo)="uploadFinishedLogo($event)"></theme-upload>
                   <input type="hidden" formControlName="CategoryImageUrl" placeholder="CategoryImageUrl" name="CategoryImageUrl" class="form-control" id="CategoryImageUrl">

                  <!-- <img [src]="imgURL" height="100" *ngIf="imgURL"> -->
                </div>
                <!-- Existing Images section on Edit action -->
               <div  [ngClass]="displayExtUploads" #dvExtUploads> 
                  <span class="form-bg-title">Existing Uploads</span>
                  <div class="container-fluid">
                    <div class="row">
                      <div  [ngClass]="displayExtLogo" #dvExtLogo>
                        <div class="form-group">
                          <!-- <label class="col-form-label" for="file-input">Logo</label><br> -->
                          <div *ngFor="let extLogoUrl of extLogoUrls;let i=index">
                              <div style="float:left;max-width:100px; margin:10px; text-align: center">
                                <img  [src]="extLogoUrl" style="width:100px; height:100px; object-fit: cover;"  ><br><br>
                                <button type="submit" title="Delete" class="btn delete-btn" (click)="onextLogoUrldelete(i)"> <i class="fa fa-trash"></i> Delete</button><br> 
                              </div>
                              
                              </div>
                          <input type="hidden" formControlName="adextLogoUrl" placeholder="adextLogoUrl" name="adextLogoUrl" class="form-control" id="adextLogoUrl">
                        </div>
                      </div>                  
                    </div>
                  </div>
                </div>
              </div>
                                           
            </div>
         <br>
            <div class="btn-section">
              <button type="submit" (click)="onEditSubmit()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Update</button>
            
              <button type="cancel" (click)="OnCancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Name(English)</th>
            <th>Name(Arabic)</th>
            <!--<th>Description <span class="caret"></span></th>-->
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users| filter:filter | orderBy: order:'case-insensitive'  | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
            <td>{{user.CategoryName}}</td>
            <td>{{user.ArabicName}}</td>
            <!--<td>{{user.Description}}</td>-->
            <!-- <td><button  (click)="updateCategory(user.categoryId)" class="btn btn-sm btn-success" > Edit</button></td>
                        -->
            <td><button (click)="updateCategory(user)" class="btn edit-btn" disabled="true" data-toggle="tooltip" title="Edit"> <i class="fa fa-pencil-square-o"></i></button></td>
            <td><button (click)="onDelete(user.categoryId)" class="btn delete-btn" disabled="true" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></button></td>

          </tr>

          <tr *ngIf="users == null">
            <td colspan="4">No records found!</td>
          </tr>



        </tbody>
      </table>
      <div class="col-md-offset-5" style="text-align:right">
        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="30">30 items per page</option>
        </select>
        <div class="" style="margin-top: -3%; text-align:left">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
