<div class="animated fadeIn">

  <form #f="ngForm" action=""></form>
  <div class="card">
    <div class="card-header">
      <i class="nav-icon icon-picture"></i> Top Banner/Featured Ads
      <div class="card-head-right-block">
        <div class="input-group">
          <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>


    <div class="card-body">
      <button (click)="Addbanner()" class="btn edit-btn"> + Post New Banner</button>
      <br><br>
      <div class="table-responsive">
        <div class="table-box">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <!-- <th [class.active]="order === 'bannerId'"
                    (click)="setOrder('bannerId')"
                >
                  ID <span [hidden]="reverse">▼</span
                  ><span [hidden]="!reverse">▲</span>
                </th>  -->
                <!--<th style="width:10%">Image</th>-->
                <!--<th style="width:20%" [class.active]="order === 'postedForName'"
                    (click)="setOrder('postedForName')"
                >
                Posted For <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>-->
                <th style="width:20%" [class.active]="order === 'title'"
                    (click)="setOrder('title')">
                  Title <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>

                </th>
                <th style="width:7.5%" [class.active]="order === 'status'"
                    (click)="setOrder('status')">
                Type <span class="sort-icon" [hidden]="reverse">▼</span>
                <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>


                <!-- <th [class.active]="order === 'info.description'"
                    (click)="setOrder('info.description')"
                >
                Description <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th> -->
                <!-- <th>Created By <span class="caret"></span></th> -->
                <!-- <th>Status <span class="caret"></span></th> -->
                <th style="width:10%" [class.active]="order === 'cityName'"
                    (click)="setOrder('cityName')">
                  City <span class="sort-icon"
                             [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:10%" [class.active]="order === 'isVisible'"
                    (click)="setOrder('isVisible')">
                  Status <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <!-- <th style="width:10%" [class.active]="order === 'isVisible'"
                (click)="setOrder('isVisible')">
                 Type <span class="sort-icon" [hidden]="reverse">▼</span>
                 <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th> -->
                <th style="width:10%" [class.active]="order === 'createdDate'"
                    (click)="setOrder('createdDate')">
                  Posted On <span class="sort-icon" [hidden]="reverse">▼</span>
                  <span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:10%" [class.active]="order === 'validFromDate'"
                    (click)="setOrder('validFromDate')"
                    class="mdl-data-table__cell--non-numeric">
                  Valid From<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>
                <th style="width:10%" [class.active]="order === 'validTillDate'"
                    (click)="setOrder('validTillDate')"
                    class="mdl-data-table__cell--non-numeric">
                  Valid Till<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                </th>

                <!-- <th>Posted On <span class="caret"></span></th> -->
                <th style="width:10%">Action</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let managebanner of managebanners| orderBy: order:reverse:'case-insensitive'   |  filter:filter | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                <!-- <td><button  (click)="gotoBannerDetails(managebanner)" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>{{managebanner.bannerId}}</td> -->
                <!-- <td>{{managebanner.bannerId}}</td> -->
                <!-- <td>{{managebanner.imageUrl}}</td> -->
                <!--<td>
    <a [routerLink] ="['/theme/bannerdetailsview']"  [queryParams]="{id:managebanner.bannerId}"  queryParamsHandling="merge"  class="ad-btn"  style="cursor:pointer;float:left;width:100%"  >
      <img title ="View Details"  [src]="getPicUrl(managebanner.imageUrl,managebanner.bannerId)"  class="img-responsive ad-logo-img"  height="50"  width="50"   />
      </a>
  </td>-->
                <!--<td>{{managebanner.title}}</td>-->
                <td style="padding:0;">
                  <a class="topic-title" (click)="gotoBannerDetails(managebanner)">{{managebanner.title}}</a>
                </td>

                <td>
                  <div [ngClass]="getType(managebanner.isFeatured)">
                    <span>{{managebanner.isFeatured}}</span>
                  </div>
                </td>
                <td><span [ngClass]="{'btn btn-outline-warning active':managebanner.cityName=='Other'}">{{managebanner.cityName}}</span></td>

                <td>

                  <div [ngClass]="getStatus(managebanner.isVisible)">
                    <span>{{managebanner.isVisible}}</span>
                  </div>
                  <button [disabled]=managebanner.Activity data-toggle="modal" (click)="ActionOnApprove(managebanner.bannerId,managebanner.isFeatured,$event)" class="btn edit-btn" title="Approve" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                  <button [disabled]=managebanner.Activity data-toggle="modal" (click)="ActionOnReject(managebanner.bannerId,$event)" class="btn delete-btn" title="Reject" data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>

                  <!--<div [ngClass]="getType(managebanner.isFeatured)">
      <span>{{managebanner.isFeatured}}</span>
    </div>-->
                </td>

                <td>{{managebanner.createdDate| date:'dd-MMM-yyyy'}}</td>
                <td>{{managebanner.validFromDate| date:'dd-MMM-yyyy'}}</td>
                <td>{{managebanner.validTillDate| date:'dd-MMM-yyyy'}}</td>

                <td>
                  <button (click)="gotoBannerDetails(managebanner)" class="btn dtl-btn" title="Details"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button class="btn edit-btn" (click)="updateBanner(managebanner)" href="" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o"></i></button>
                  <!-- <button class="btn delete-btn"  data-toggle="model" title="Delete" data-target="#DeletePopUp"><i class="fa fa-trash"></i></button> -->
                  <button class="btn delete-btn" data-toggle="modal" (click)="onDelete(managebanner.bannerId,$event)" data-target="#DeletePopUp"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
                <!-- <td><button  data-toggle="modal" (click)="ActionOnApprove(managebanner.bannerId,$event)" class="btn btn-outline-success" data-target="#remark"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Approve</button></td>
  <td><button  data-toggle="modal" (click)="ActionOnReject(managebanner.bannerId,$event)" class="btn btn-outline-danger"  data-target="#remark"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Reject</button></td>
    -->
                
              </tr>

              <tr *ngIf="managebanners == null">
                <td colspan="9">No records found!</td>
              </tr>
              <div class="modal fade" id="remark" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeBtn">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="row">
                        <!-- <button style="position:relative;z-index: 2;cursor: pointer; float: right;" type="button"  [ngClass]="closepopup" data-dismiss="exitModal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                        <div [ngClass]="showDates">
                          <div class="form-group">
                            <label class="col-form-label" for="validFrom">Valid From <span class="asterisk">*</span></label>
                            <!--<input type="date" (change)="onvalidFromDateSelect($event)" [min]="minDate" [max]="maxValidFromDate" #modalvalidFrom ng-model="validFrom" [(ngModel)]="validFrom" id="validFrom" name="validFrom" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}">-->
                            <div class="inp-cal">
                              <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDateModel" [maxDate]="maxValidFromDate"
                                     name="d2" #c2="ngModel" [(ngModel)]="modelValidFrom" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onvalidFromDateSelect($event)" readonly>
                              <!--<div class="input-group-append">-->
                              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
                        <div [ngClass]="showDates">
                          <div class="form-group">
                            <label class="col-form-label" for="validTill">Valid Till <span class="asterisk">*</span></label>
                            <!--<input type="date" (change)="onvalidTillDateSelect($event)" [min]="minValidTillDate" #modalvalidTill [(ngModel)]="validTill" ng-model="validTill" id="validTill" name="validTill" class="form-control" value="{{ validTillDate | date: 'MM-dd-yyyy' }}">-->
                            <div class="inp-cal">
                              <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minValidTillDate"
                                     name="d3" #c3="ngModel" [(ngModel)]="modelValidTill" ngbDatepicker #d3="ngbDatepicker" (dateSelect)="onvalidTillDateSelect($event)" readonly>
                              <!--<div class="input-group-append">-->
                              <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-form-label" for="remark">Remark <span class="asterisk">*</span></label>
                            <textarea class="form-control" id="remark" [(ngModel)]="remark" name="remark" maxlength="200" placeholder="" type="text" rows="6"></textarea>

                          </div>
                        </div>
                        <!--<div [ngClass]="showPremium">
            <div class="form-group" style="display: flex;align-items: center;flex-direction: row-reverse;">
              <label class="col-form-label" for="Ispremium">Premium</label>
              <input type="checkbox" [(ngModel)]="Ispremium" (change)="toggleVisibility($event)" style="margin:0" />
            </div>
          </div>-->
                      </div>
                      <button type="submit" (click)="ActionOnPost(validFrom+','+validTill+','+remark + ','+Ispremium)" [ngClass]="approveButtonStyle" data-dismiss="modalexit"><i class="fa fa-check"></i> {{approveButtonText}}</button>
                      <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="col-form-label" for="DeletePopUp">{{actionMessage}}</label>
                          </div>
                        </div>
                      </div>
                      <button type="submit" (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                      <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
                    </div>
                  </div>
                </div>
              </div>
            </tbody>
          </table>
        </div>
        <div class="col-md-offset-5" style="text-align:right">
          <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="30">30 items per page</option>
          </select>
          <div class="" style="margin-top: -3%; text-align:left">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
