<app-mainhead (changeLanguage)="changeTermsOfUseData()"></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
    <div class="category-bottom-section">
        <div class="row row-stretch">
            <!-- <div class="col-sm-3">
              <app-popular-category></app-popular-category>     
            </div> -->


            <div class="col-sm-12">
              <div class="page-content">
                <h2 class="main-title">{{ 'TERMSOFUSE.TERMSOFUSETITLE' | translate }}</h2>
                <span [ngClass]="showEng"  [innerHTML]="TermsofUsedata"> </span>
                <span [ngClass]="showArb" [innerHTML]="TermsofUseArabicdata"> </span>
              </div>
            </div>            
        </div>            
    </div>            
</section>	

<app-mainfooter></app-mainfooter>
