<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
          <i class="fa fa-map-marker"></i>City
          <div class="card-head-right-block">
                <div class="input-group">
                    <input class="form-control" id="search" name="searchTerm" placeholder="Search" [(ngModel)]="filter" type="search">
                    <span class="input-group-prepend">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
          </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">                    
                <div class="form-bg-section">
                    <!-- <span class="form-bg-title">City Details</span> -->
                    <div class="form-bg-title" #AddCity>{{AddCityText}}</div>
                    <div class="container-fluid">
                                <form [formGroup]="FormCityAdd">
                                        <input type="hidden" formControlName="cityId" placeholder="cityId" name="cityId" class="form-control" id="cityId">
                            <div class="row">
                                <div class="col-md-4">  
                                    <div class="form-group">
                                        <label class="col-form-label" for="countryId">Country <span class="asterisk">*</span>  </label><br>
                                        <select class="form-control" id="countryId" formControlName="countryId"  name="countryId" (change)="FillStateDDL($event);"[ngClass]="{ 'is-invalid': submitted && FormCityAdd.controls.countryId.errors}">
                                                <option value="">--Select Country--</option>
                                                <option *ngFor="let ctry of _allCountry | async" [value]="ctry.countryId">{{ctry.countryName}}</option>
                                        </select>  

                                        <!--<ng-select  
                                        [items]="countries"
                                           bindLabel="countryName" 
                                            bindValue="countryId"
                                            placeholder= ""
                                          class="form-control"  id="countryId" formControlName="countryId"  name="countryId" [ngClass]="{ 'is-invalid': submitted && FormCityAdd.controls.countryId.errors}" (change)="FillStateDDL($event);" >
                                          
                                </ng-select>--> 
                          
                                        <div *ngIf="submitted &amp;&amp; FormCityAdd .controls.countryId.errors" class="text-danger">
                                            <div *ngIf="FormCityAdd.controls.countryId.errors.required">Selection of Country is Required</div>

                                            </div>
                                    </div> 
                                </div>
                              
                                <div class="col-md-4">
                                    <div class="form-group">
                                            <label class="col-form-label" for="stateId">State <span class="asterisk">*</span>  </label><br>
                                             <!--<select class="form-control" id="stateId" formControlName="stateId" name="stateId" [ngClass]="{ 'is-invalid': submitted && FormCityAdd.controls.stateId.errors}" (change)="FillCityDDL($event);">
                                                    <option value="">--Select State--</option>
                                                    <option *ngFor="let state of _allState | async" [value]="state.stateId">{{state.stateName}}</option>
                                            </select>--> 
                                            <ng-select [items]="states"
                                           bindLabel="stateName"
                                            bindValue="stateId"
                                           placeholder=""
                                           class="form-control" id="stateId" formControlName="stateId" name="stateId"  [ngClass]="{ 'is-invalid': submitted && FormCityAdd.controls.stateId.errors}"(change)="FillCityDDL($event);">
                                </ng-select>

                                            <div *ngIf="submitted &amp;&amp; FormCityAdd .controls.stateId.errors" class="text-danger">
                                                <div *ngIf="FormCityAdd.controls.stateId.errors.required">Selection of State is Required</div>
                                                </div>
                                           
                                        </div>
                                  </div>
                                  
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-form-label" for="cityName">City <span class="asterisk">*</span> </label>
                                        
                                        <input class="form-control" id="cityName" name="cityName" formControlName="cityName" maxlength="20" placeholder="" type="text"[ngClass]="{ 'is-invalid': submitted && FormCityAdd.controls.cityName.errors}" (change)="FillCityDDL($event);">
                                        <div *ngIf="submitted &amp;&amp; FormCityAdd .controls.cityName.errors" class="text-danger">
                                            <div *ngIf="FormCityAdd.controls.cityName.errors.required">City is Required</div>
                                            <!-- <div *ngIf="FormCityAdd.controls.cityName.errors.pattern">Please Enter Text Only </div> -->
                                            </div>
                                      </div>  
                                </div>  


                           
                              
                                
                                
                            </div> 
                            <div class="btn-section">
                                <button type="submit" #SaveAd (click)="addcity()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{saveButtonText}}</button>
                                <button type="cancel"(click)="ngOnInit()"  class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
                                <!-- <button type="submit" (click)="addcity()" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Save</button> -->
                                <button type="reset"  class="btn btn-sm btn-primary" [ngClass]='displayText'><i class="fa fa-refresh"></i> Reset</button> 
                            </div> 

                            
                        </form>
                    </div>
                </div>   

                <div class="container-fluid1">
                    <div class="table-box">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                          <tr>
                            <th style="width:45%" [class.active]="order === 'stateId'"
                                (click)="setOrder('stateId')"
                                class="mdl-data-table__cell--non-numeric">
                              State <span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                            </th>              
                            <th style="width:45%" [class.active]="order === 'cityName'"
                                (click)="setOrder('cityName')"
                                class="mdl-data-table__cell--non-numeric">
                              City<span class="sort-icon" [hidden]="reverse">▼</span><span class="sort-icon" [hidden]="!reverse">▲</span>
                            </th>                           
                            <th style="width:10%">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let city of cities | filter:filter | orderBy: order:'case-sensitive'  |  paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                            <td>{{city.stateName}}</td>
                            <td>{{city.cityName}}</td>
                            
                            <td><button (click)="getCityById(city.cityId)" class="btn edit-btn" data-toggle="tooltip" title="Edit"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <button (click)="onDelete(city.cityId,city.cityName,$event)" class="btn delete-btn" data-toggle="modal" data-target="#DeletePopUp" title="Delete"><i class="fa fa-trash"></i></button></td>
                            <div class="modal fade custom-modal" id="DeletePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <div class="row">              
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label class="col-form-label" for="DeletePopUp">{{actionMessage}}</label>                      
                                        </div>
                                      </div>
                                    </div>
                                    <button type="submit"  (click)="ActionDelete()" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                                    <button type="cancel" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>               
                                  </div>
                                </div>
                              </div>
                            </div>
                          </tr>
                
                          <tr *ngIf="city==null">
                            <td colspan="4">No records found!</td>
                          </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="col-md-offset-5" style="text-align:right">
                        <select class="custom-select" style="width: auto; text-align:right" [(ngModel)]="pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="30">30 items per page</option>
                      </select>              
              
                      <div class="" style="margin-top: -3%; text-align:left">
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </div>              
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
