<div class="app-body" style="min-height:100vh">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="login-container" style="max-width: 600px;">
                <a ng-reflect-router-link="/website" href="#/website" class="home-icon"><img _ngcontent-vxj-c1="" class="img-responsive web-logo" src="assets/website/images/logo.svg"></a>
                <h2 class="main-title">Reset Password</h2>

                <div class="left-block">
                    <form [formGroup]="FormResetPassword" autocomplete="off">
                        <div class="hidden">
                            <input type="hidden" placeholder="userId" name="userId" class="form-control" id="userId">
                        </div>

                        <input type="hidden" formControlName="userId" placeholder="userId" name="userId" class="form-control" id="userId">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group"><!-- 
                                        <label class="col-form-label" for="email">
                                            <span class="asterisk">*</span>
                                        </label> -->
                                        <input class="form-control" id="email" formControlName="email" name="email" placeholder="" type="text" readonly>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><!-- 
                                        <label class="col-form-label" for="password">
                                            <span class="asterisk">*</span>
                                        </label> -->
                                        <input class="form-control" id="password" formControlName="password" name="password" placeholder="New Password"  maxlength="30" minlength="8"  type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                        <div *ngIf="submitted && f.password.errors" class="text-danger">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                            <div *ngIf="f.password.errors.pattern">Passwords must contain at least 8 characters,one uppercase,one special character and one number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><!-- 
                                        <label class="col-form-label" for="confirmpassword">Confirm Password
                                            <span class="asterisk">*</span>
                                        </label> -->
                                        <input class="form-control" id="confirmpassword" formControlName="confirmpassword" name="confirmpassword"  maxlength="30" minlength="8" placeholder="Confirm Password" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                                        <div *ngIf="submitted && f.confirmpassword.errors" class="text-danger">
                                            <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                                            <div *ngIf="f.password.errors.pattern">Passwords must contain at least 8 characters,one uppercase,one special character and one number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="btn-section">
                                      <button type="submit" (click)="ResetPassword()" class="submit-btn">Reset Password</button>

                                  </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
