<app-mainhead></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <!-- <div class="col-sm-3">
       <app-popular-category></app-popular-category>
        <div class="popular-categories">
          <h2 class="main-title">{{ 'HOME.POPULARCATEGORIES' | translate }}</h2>
          <div class="">
            <nav class="navbar">
              <div class="collapse navbar-collapse" id="popular-category-list">
                <ul class="nav navbar-nav category-list" *ngFor="let Category of categories">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="getSubCategoryList(Category.categoryId,Category.categoryName)">{{Category.categoryName}}</a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let SubCategory of Subcategories">
                        <a href="#" [routerLink]="['/ads-subcategorywise']" [queryParams]="{SubcategoryId:SubCategory.subCategoryId,SubCategory:SubCategory.subCategoryName}"  queryParamsHandling="merge">{{SubCategory.subCategoryName}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div> -->

      <div class="col-sm-12">
        <div class="recent-ads">
          <h2 class="main-title" #mainTitle>{{'SMALLADS.ADVERTISEMENTLISTING' | translate }} <button class="add-btn" (click)="btnPostNew()">{{ 'SMALLADS.POSTNEW' | translate }}</button></h2>
          <!-- <div>
            <ul class="event-filter">
              <li><button type="button" (click)="btnPostNew()">Post New</button></li>
            </ul>
          </div> -->
          <!-- <div class="right-switch"> {{'HOME.SHOWFREELISTING' | translate }}<label class="switch switch-3d switch-success">
            <input class="switch-input" type="checkbox" [(ngModel)]="isChecked" (ngModelChange)="changed($event)"><span class="switch-slider"></span></label></div> -->
          <div [ngClass]="Showbuttongroup">
            <!-- <div class="btn-group right-switch right-btn" role="group" aria-label="Basic example">
                <button id="paid" type="button" (click)="btnchanged($event,'paid')">Paid</button>
              <button id="free" type="button" (click)="btnchanged($event,'free')">Free</button>
              <button id="all" type="button" (click)="btnchanged($event,'all')">All</button>

            </div> -->
            <div class="btn-group right-switch right-btn" role="group" aria-label="Basic example">
              <button id="all" type="button" (click)="btnchanged($event,'all')">{{ 'SMALLADS.ALL' | translate }}</button>
              <button id="premium" type="button" (click)="btnchanged($event,'premium')">{{ 'SMALLADS.PREMIUM' | translate }}</button>
              <!--<button id="free" type="button" (click)="btnchanged($event,'free')">{{ 'ADSCATEGORYWISE.FREE' | translate }}</button>-->

            </div>
          </div>
          <div></div>
          <div class="row" *ngIf=PremiumList>
            <div class="col-sm-12"><h4 class="ad-sub-title">{{'SMALLADS.PREMIUMADVT' | translate }}</h4></div>
            <div class="col-sm-6" *ngFor="let adpost of Premiumposts; let i = index">
              <a [routerLink]="['/smalladdetails/']" [queryParams]="{smalladId:adpost.SmallAdId}" queryParamsHandling="merge" class="ad-btn">
                <div class="ad-block" [ngClass]="getpremiumtag(adpost.IsPremium)">
                  <div class="ad-left-img">
                    <img class="ad-img" [src]="adpost.ImageUrl">
                  </div>
                  <div class="ad-right-data">
                    <h3 class="ad-title bottom-border">{{adpost.Title}}</h3>
                    <div class="ad-sub-details">
                      <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{adpost.VisitorCount}}</div>
                      <div class="verified-icon" *ngIf=Verifiedtag><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                    </div>
                    <div class="ad-contact-details">
                      <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{adpost.UserName}}</p>
                      <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{adpost.ContactNumber}}</p>
                    </div>
                    <div class="ad-contact-details">
                      <p><i class="fa fa-envelope" aria-hidden="true"></i> {{adpost.Email}}</p>
                    </div>
                    <!--<div class="ribbon ribbon-top-right" *ngIf=PremiumtagList><span>Premium</span></div>-->
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-12"><span [ngClass]="premiumNoRecords">{{'SMALLADS.NOADVERTISEMENTLISTINGFOUND' | translate }} !!!</span></div>
          </div>
          <div class="row d-none" *ngIf=PaidList>
            <div class="col-sm-12"><h4 class="ad-sub-title">Paid Business Listing</h4></div>
            <div class="col-sm-6" *ngFor="let adpost of Paidadposts; let i = index">
              <a [routerLink]="['/smalladdetails/']" [queryParams]="{smalladId:adpost.SmallAdId}" queryParamsHandling="merge" class="ad-btn">
                <div class="ad-block" [ngClass]="getpremiumtag(adpost.IsPremium)">
                  <div class="ad-left-img">
                    <img class="ad-img" [src]="adpost.ImageURL">
                  </div>
                  <div class="ad-right-data">
                    <h3 class="ad-title bottom-border">{{adpost.Title}}</h3>
                    <div class="ad-sub-details">
                      <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{adpost.VisitorCount}}</div>
                      <div class="verified-icon" *ngIf=Verifiedtag><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                    </div>
                    <div class="ad-contact-details">
                      <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{adpost.UserName}}</p>
                      <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{adpost.ContactNumber}}</p>
                    </div>
                    <div class="ad-contact-details">
                      <p><i class="fa fa-envelope" aria-hidden="true"></i> {{adpost.Email}}</p>
                    </div>
                    <!--<div class="ribbon ribbon-top-right" *ngIf=PremiumtagList><span>Premium</span></div>-->
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-12"><span [ngClass]="paidNoRecords">{{'SMALLADS.NOADVERTISEMENTLISTINGFOUND' | translate }} !!!</span></div>
          </div>

          <div class="row" *ngIf=FreeList>
            <div class="col-sm-12"><h4 class="ad-sub-title">{{'SMALLADS.FREEADVT' | translate }}</h4></div>
            <div class="col-sm-4" *ngFor="let Freeadpost of Freeadposts; let i = index">
              <a [routerLink]="['/smalladdetails/']" [queryParams]="{smalladId:Freeadpost.SmallAdId}" queryParamsHandling="merge" class="ad-btn">
                <div class="ad-block">
                  <div class="ad-right-data">
                    <h3 class="ad-title bottom-border">{{Freeadpost.Title}}</h3>
                    <div class="ad-sub-details">
                      <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{Freeadpost.VisitorCount}}</div>
                      <div class="verified-icon"><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                    </div>
                    <div class="ad-contact-details">
                      <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{Freeadpost.UserName}}</p>
                      <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{Freeadpost.ContactNumber}}</p>
                    </div>
                    <div class="ad-contact-details">
                      <p><i class="fa fa-envelope" aria-hidden="true"></i> {{Freeadpost.Email}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-12"><span [ngClass]="freeNoRecords">{{'SMALLADS.NOADVERTISEMENTLISTINGFOUND' | translate }} !!!</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-mainfooter></app-mainfooter>
