<app-mainhead (changeLanguage)="changeCategoryContent()"></app-mainhead>
<app-inner-banner></app-inner-banner>

<section class="content-section">
  <div class="category-bottom-section">
    <div class="row row-stretch">
      <div class="col-sm-12">
        
          <div class="recent-ads">
            <h2 class="main-title">{{ 'JOB.JOBTITLE' | translate }} <button class="add-btn" (click)="btnPostNew()">{{ 'JOB.POSTNEW' | translate }}</button></h2>
            <!-- <div>
              <ul class="event-filter">
                <li><button type="button" (click)="btnPostNew()">Post New</button></li>
              </ul>
            </div> -->
            <div [ngClass]="showCatEng">
              <ul class="event-filter">
                <li><button id="0" (click)="getJobListBysubCategory(0)">{{ 'JOB.ALL' | translate }}</button></li>
                <li *ngFor="let subcategory of subcategories" (click)="getJobListBysubCategory(subcategory.subcategoryId)"><button >{{subcategory.subcategoryName}}</button> <br></li>
              </ul>
            </div>
            <div [ngClass]="showCatArb">
              <ul class="event-filter">
                <li><button id="0" (click)="getJobListBysubCategory(0)">الكل</button></li>
                <li *ngFor="let subcategory of subcategories" (click)="getJobListBysubCategory(subcategory.subcategoryId)"><button id="subcategory.subcategoryId">{{subcategory.arabicName}}</button> <br></li>
              </ul>
            </div>

            <div class="row"> 

              <!--<div class="col-sm-3" *ngFor="let jobpost of jobcontents">
    <a [routerLink]="['/ad-detail/']" [queryParams]="{adId:jobpost.AdId}" queryParamsHandling="merge">
      <div class="event-block">
        <img  [src] ="getPicUrl(jobpost.imageUrl,jobpost.AdId)"  class="img-fluid img-100"   />
        <h3 class="event-title">{{jobpost.Title}}</h3>
        <p class="event-date">Job Date : <i class="fa fa-calendar" aria-hidden="true"></i>   {{jobpost.jobDate| date:'dd-MMM-yyyy'}}</p>
      </div>
    </a>
  </div>-->
           
  <div class="col-sm-12"></div>
              <div class="col-sm-4" *ngFor="let jobpost of jobposts; let i = index">
                <a [routerLink]="['/ad-detail/']" [queryParams]="{adId:jobpost.AdId}" queryParamsHandling="merge" class="ad-btn">
                  <div class="ad-block">
                    <div class="ad-right-data">
                      <h3 class="ad-title bottom-border">{{jobpost.Title}}</h3>
                      <div class="ad-sub-details">
                        <div class=""><i class="fa fa-eye" aria-hidden="true"></i> {{ 'HOME.VIEWED' | translate }}: {{jobpost.VisitorCount}}</div>
                        <div class="verified-icon"><i class="fa fa-check" aria-hidden="true"></i> {{ 'JOB.VERIFIED' | translate }}</div>
                      </div>
                      <div class="ad-contact-details">
                        <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{jobpost.UserName}}</p>
                        <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{jobpost.ContactNumber}}</p>
                      </div>
                      <div class="ad-contact-details">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> {{jobpost.Email}}</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-4"><span [ngClass]="jobsNoRecords">{{ 'JOB.NOJOBRECORDFOUND' | translate }} !!!</span></div>
            </div>




          </div>
        </div>
    </div>
  </div>

</section>

<app-mainfooter></app-mainfooter>
